<template>
    <lightning-record-edit-form record-id={targetrecord} object-api-name="Request_Item_Area__c">
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_x-small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                        alternative-text="close">
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Requests Requirements Mapping</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                    <lightning-messages>
                    </lightning-messages>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Select Compliance Framework Requirement</strong></p>
                        <p class="slds-text-body_small">Select the relevant Compliance Framework Requirement using the lookup field below</p>
                    </div>
                    <div>
                        <lightning-input-field field-name="Area_Requirement__c"></lightning-input-field>
                    </div>
                    <div>
                        <p class="slds-text-body_small">Note that if you don't see any requirements listed, reach out to the ICD team to 
                            have the Compliance Framework requirements uploaded into KARL.</p>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Evidence Record</strong></p>
                        <p class="slds-text-body_small">You're currently mapping a new Compliance Framework Requirement to the 
                            following Evidence Request</p>
                    </div>
                    <div>
                        <lightning-input-field field-name="Request_Master_Data__c" value={parentrecord}></lightning-input-field>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </lightning-record-edit-form>
</template>