<template>
        <div if:false={isHidden} style="height: 4rem;">
            <div class="slds-notify_container slds-is-relative">
                <div class="slds-notify slds-notify_toast slds-theme_error" role="status">
                    <span class="slds-assistive-text">{type}</span>
                    <span class="slds-icon_container slds-icon-utility-error slds-m-right_small slds-no-flex slds-align-top">
                        <lightning-icon icon-name="utility:error" alternative-text={type}></lightning-icon>
                    </span>
                    <div class="slds-notify__content">
                        <h2 class="slds-text-heading_small ">{message}</h2>
                    </div>
                    <div class="slds-notify__close">
                            <lightning-button-icon variant="bare" icon-name="utility:close"  alternative-text={label.close} onclick={hide}></lightning-button-icon>
                    </div>
                </div>
            </div>
        </div>
</template>