<template>
    <li class="karlTile">
        <div class="slds-grid slds-has-flexi-truncate slds-var-p-around_x-small">
            <div class="slds-tile slds-col slds-medium-size--5-of-6" onclick={handleOpenRecordClick}>
                <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux">{controlitem.Full_Control_Scope__c}: {controlitem.KARL_Control_Name__c}</span></p>
                <div class="slds-tile__detail slds-text-body--small">
                    <!-- <p class="slds-truncate">{controlitem.Full_Control_Scope__c}</p> -->
                    <ul class="slds-text-body--small slds-wrap">
                        <li class="slds-truncate slds-list__item">{controlitem.KARL_Control_Scope_Label__c}</li>
                        <li class="slds-truncate slds-list__item"><strong>Test:</strong>&nbsp;{controlitem.Control_Test_Name__c}</li>
                        <li if:true={controlitem.Control_Test_Group__c} class="slds-truncate slds-list__item"><strong>Walkthrough:</strong>&nbsp;{controlitem.Control_Test_Group__c}</li>
                    </ul>
                </div>
                <!-- Labels Bar -->
                <div class="karl-labels_bar">
                    <template if:true={controlitem.Test__r.Control_Scope__r.KARL_Inactive__c}>
                        <span class="slds-badge slds-theme_warning">Inactive Control</span>
                    </template>
                </div>
            </div>
            <div class="slds-tile__detail slds-col slds-medium-size--1-of-6">
                <div class="slds-float--right" style="width: 96px;">
                    <lightning-button-group>
                        <lightning-button-icon icon-name="utility:new_window" alternative-text="New Window" title="New Window" onclick={handleOpenRecord}></lightning-button-icon>
                        <lightning-button-icon icon-name="utility:settings" alternative-text="Settings" title="Settings" disabled={notKarlStandardUser} onclick={handleEditClick}></lightning-button-icon>
                        <lightning-button-icon icon-name="utility:delete" alternative-text="Delete" title="Delete" disabled={notKarlStandardUser} onclick={handleDeleteClick}></lightning-button-icon>
                    </lightning-button-group>
                </div>
            </div>
        </div>
    </li>
</template>