.THIS .slds-chat-message__text{
    max-width: unset;
}
.THIS .slds-chat-message{
    display:unset;
    width:80%;
}
.THIS .slds-chat-message__text_outbound{
    margin-left:unset;
}
.THIS .slds-chat-message__text_inbound{
    margin-right: unset;
}