<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name="standard:file" alternative-text="Files" title="Files" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">Evidence Upload</h2>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
			<template if:true={records}>
                <ul class="slds-has-dividers_around">
                    <template for:each={wireData} for:item="evidItem">
                        <div key={evidItem.Id} class="slds-item">
                            <c-karl_evw_tile evwitem={evidItem} onkarlrecordview={handleRecordView} onkarlcommunityview={handleCommunityView}></c-karl_evw_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:false={records}>
				<div class="slds-text-color_weak">
					This request does not have any evidence upload portal requests configured.
				</div>
			</template>
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the Evidence Upload component.
				</div>
			</template>
			<!-- Scenario error -->
			<template if:true={karlError}>
				<div class="slds-text-color_error">
					An unexpected error resulted in multiple evidence workflow requests. Please consult the ICD team.
				</div>
			</template>
        </div>
    </article>
</template>