<template>
    <lightning-card title="Risk Control Matrix" icon-name="custom:custom63">
        <div class="slds-button-group" role="group" slot="actions">
            <span class="slds-badge">{totalRows}</span>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <lightning-combobox 
            name="requestFamily"
            value={toggleFamily}
            placeholder="Filter by Control Family"
            options={controlFamilyOptions}
            onchange={handleFamilyChange}
            variant="label-hidden" 
            class="karl-dt-type" ></lightning-combobox>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="activeReq" onclick={handleActive}>Active</button>
            <button class="slds-button slds-button_neutral" value="inactiveReq" onclick={handleActive}>Inactive</button>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <template if:true={records}>
                <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" 
                    class="slds-m-left_x-small" onclick={handleRefresh}></lightning-button-icon>
            </template>
        </div>
        <div class="slds-grid slds-m-around_medium slds-p-bottom_small slds-border_bottom">
            <div class="slds-grid slds-size--1-of-4">
                <div class="slds-col--padded">
                    <lightning-combobox
                    name="auditscope"
                    label="Audit Scope"
                    value={auditScope}
                    placeholder="Select Audit Scope"
                    options={auditScopeOptions}
                    onchange={handleAuditScopeChange}></lightning-combobox>
                </div>
            </div>
            <div class="slds-grid slds-grid_align-end slds-size--3-of-4 slds-gutters_xxx-small">
                <div class="slds-col slds-size--2-of-12">
                    <lightning-input name="searchName" data-field="searchname" type="search" label="Search Control Name" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size--2-of-12">
                    <lightning-input name="searchControl" data-field="searchcontrol" type="search" label="Search Control" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col slds-size--2-of-12">
                    <lightning-input name="searchDesc" data-field="searchdesc" type="search" label="Search Description" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <template if:true={records}>
                    <div class="slds-col slds-size--2-of-12" data-toggle="buttons" role="group">
                        <div class="slds-float_right">
                            <lightning-combobox 
                            name="rowCount"
                            value={pageSize}
                            label="Rows per page"
                            placeholder="Rows"
                            options={pageSizeOptions}
                            onchange={handlePageSizeChange}
                            variant="label-stacked" 
                            class="karl-dt-rowsize" ></lightning-combobox>
                        </div>
                    </div>
                </template>
            </div>
        </div>
        <!-- Start Pagination -->
        <template if:false={searching}>
            <template if:true={records}>
                <div class="slds-m-around_medium">
                    <p class="slds-m-vertical_medium content">
                        Displaying {startingRecord} to {endingRecord} of {totalRows} records.
                        Page {page} of {totalPages}. 
                    </p>
                    <c-karl_paginator 
                        onprevious={previousHandler} 
                        onnext={nextHandler} 
                        onpage={handlePage} 
                        onfirst={firstHandler}
                        onlast={lastHandler}
                        page={page} 
                        pagelinks={pageLinks} 
                        lastpage={totalPages}></c-karl_paginator>
                </div>
            </template>
        </template>
        <!-- End Pagination -->
        <!-- Start Search Summary -->
        <template if:true={searching}>
            <template if:true={records}>
                <div class="slds-m-around_medium">
                    <p class="slds-m-vertical_medium content">
                        Your search/filter resulted in {searchRows} records.
                    </p>
                </div>
            </template>
        </template>
        <!-- End Search Summary -->
        <div class="slds-card__body">
            <template if:true={saveButton}>
                <div class="slds-box slds-box_small karl-save_hover">
                    <lightning-button onclick={handleCancel} label="Cancel" title="Cancel" class="slds-m-left_x-small"></lightning-button>
                    <lightning-button onclick={handleSave} variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                </div>
            </template>
            <template if:true={records}>
                <c-karl_datatable_picklist
                    key-field="Id"
                    data={filteredData}
                    columns={columns} 
                    onheaderaction={handleHeaderAction}
                    onsave={handleSave}
                    oncancel={handleCancel}
                    draft-values={draftValues}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={doSorting}
                    oncellchange={handleCellChange}
                    onpicklistchanged={handlePicklistChange}
                    onrowaction={handleRowAction}
                    show-row-number-column	
                    row-number-offset={rowOffset}
                    class="karl-datatable_zoom">
                </c-karl_datatable_picklist>
                <!--<div class="slds-m-around_medium slds-align_absolute-center">
                    <lightning-badge class="karl-badge_standard" label="End of ARL List"></lightning-badge>
                </div>-->
            </template>
            <!-- There is no data for this configuration -->
            <template if:false={records}>
                 <!-- Scope Parameters Not Set -->
                <template if:false={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_default slds-m-around_medium">
                        <p>Select an Audit Scope to populate the Request Master Data data table.</p>
                    </div>
                </template>
                 <!-- Scope Parameters Not Set -->
                <template if:true={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_weak slds-m-around_medium">
                        <p>There are no records for the selected Audit Scope based on your selected filters. This could be due to the following reasons:</p>
                        <ul class="slds-list_dotted">
                            <li>There are no records that match the selected filters</li>
                            <li>An error has occurred. If you believe an error has occurred, please reach out to the GRC ICD team for support.</li>
                        </ul>
                    </div>
                </template>
            </template>
            <template if:true={error}>
				<div class="slds-text-heading_small slds-text-color_error slds-m-around_medium">
					<p>An error occurred while loading the data table component. Please reach out to the GRC ICD team for support.</p>
				</div>
            </template>
            <template if:true={isLoading}>
                <div class="slds-spinner_container">
                    <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
                    </lightning-spinner>
                </div>
            </template>
        </div>
        <!-- Start Pagination -->
        <template if:false={searching}>
            <template if:true={records}>
                <div class="slds-m-around_medium">
                    <p class="slds-m-vertical_medium content">
                        Displaying {startingRecord} to {endingRecord} of {totalRows} records.
                        Page {page} of {totalPages}. 
                    </p>
                    <c-karl_paginator 
                        onprevious={previousHandler} 
                        onnext={nextHandler} 
                        onpage={handlePage} 
                        onfirst={firstHandler}
                        onlast={lastHandler}
                        page={page} 
                        pagelinks={pageLinks} 
                        lastpage={totalPages}></c-karl_paginator>
                </div>
            </template>
        </template>
        <!-- End Pagination -->
    </lightning-card>
    <!-- Edit Record -->
    <c-karl_req_datatable_modal if:true={modalEditDetails} onclose={closeModals} onsuccess={handleModalSubmit}
        targetrecord={recordTarget}></c-karl_req_datatable_modal>
    
</template>