<!--
  @File Name          : iEM_GroupsAndPermissionSetAssignment.html
  @Description        : 
  @Author             : Banshi
  @Group              : 
  @Last Modified By   : Banshi
  @Last Modified On   : 11/18/2019, 11:08:32 AM
  @Modification Log   : 
  Ver       Date            Author      		    Modification
  1.0    11/11/2019   Banshi     Initial Version
-->
<template>
    <!-- Spinner -->
    <div if:true={showLoadingSpinner}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </div>
    <lightning-card>
      <lightning-tabset>
          <lightning-tab label="Groups">
              <div class="slds-m-around_medium">
                  <lightning-datatable show-row-number-column hide-checkbox-column key-field="id" data={publicGroups}
                      columns={columnsPubGroups} onrowaction={handleRowActions}>
                  </lightning-datatable>
              </div>
          </lightning-tab>
          <lightning-tab label="Permission Sets">
                  <div class="slds-m-around_medium">
                          <lightning-datatable show-row-number-column hide-checkbox-column key-field="id" data={premissionSets}
                              columns={columnsPermSets} onrowaction={handlePermissionSetRowActions}>
                          </lightning-datatable>
                      </div>
          </lightning-tab>
          <lightning-tab label="Permission Set Groups">
                  <div class="slds-m-around_medium">
                          <lightning-datatable show-row-number-column hide-checkbox-column key-field="id" data={premissionSetGroups}
                              columns={columnsPermSetGroups} onrowaction={handlePermissionSetGroupRowActions}>
                          </lightning-datatable>
                      </div>
          </lightning-tab>
      </lightning-tabset>
  </lightning-card>
    <!-- Detail view modal -->
    <template if:true={showModel}>
        
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
            aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
            <div if:true={showLoadingSpinner}>
                    <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
                </div>
            <div class="slds-modal__container">
                <!-- modal header -->
                <header class="slds-modal__header">
                    <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
                        title="Close" onclick={closeModal}>
                        <lightning-icon icon-name="utility:close" alternative-text="close" variant="inverse"
                            size="small"></lightning-icon>
                    </button>
                    <h2 id="modal-heading-02" class="slds-text-heading_medium slds-hyphenate">
                        {modelTitle}</h2>
                </header>
                <!-- modal body -->
                <div class="slds-modal__content slds-p-around_medium slds-text-align_center" id="modal-content-id-1">
                    <h1 class="slds-text-heading_small slds-p-bottom_large">{modelSubTitle}
                        <span class="slds-text-title_bold">{modalRecordName}</span></h1>
                          <div>
                              <div if:true={errorMsg} style="margin-left: 3%;">
                                <p style="color: red;">{errorMsg}</p>
                              </div> 
                              <lightning-layout multiple-rows="true" vertical-align="end">
                                  <lightning-layout-item size="12" small-device-size="10" medium-device-size="8" large-device-size="6" padding="around-small">
                                    <div class="slds-form-element">
                                      <div class="slds-form-element__control">
                                        <lightning-input type="text" 
                                                          label="Enter User Name" 
                                                          onchange={handleUserName} 
                                                          ></lightning-input>
                                      </div>
                                    </div> 
                                  </lightning-layout-item>
                                  <lightning-layout-item size="12" small-device-size="2" medium-device-size="2" large-device-size="2" padding="around-small">
                                    <lightning-button label="Search" 
                                                      variant="brand" 
                                                      onclick={handleSearch}></lightning-button>
                                  </lightning-layout-item>
                              </lightning-layout><br/>
                          </div>
                          <!--Available values-->
                          <div class="slds-form-element" role="group" aria-labelledby="picklist-group-label">
                              <span id="picklist-group-label" class="slds-form-element__label slds-form-element__legend">Select Options</span>
                              <div class="slds-form-element__control">
                                <div class="slds-dueling-list">
                                  <div class="slds-assistive-text" id="drag-live-region" aria-live="assertive"></div>
                                  <div class="slds-assistive-text" id="option-drag-label">Press space bar when on an item, to move it within the list. CMD plus left and right arrow keys, to move items between lists.</div>
                                  <div class="slds-dueling-list__column">
                                    <span class="slds-form-element__label" id="label-111">Available Users</span>
                                                                                      
                                    <div class="slds-dueling-list__options">
                                      <template if:true={onSearchValues}>
                                        <template if:true={options}>
                                          <template for:each={options} for:item="option">
                                            <ul aria-describedby="option-drag-label" aria-labelledby="label-111" aria-multiselectable="true" class="slds-listbox slds-listbox_vertical" role="listbox" key={option.value}>
                                              <li role="presentation" class="slds-listbox__item">
                                                <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="-1" id={option.value} onclick={selectUser}>
                                                    
                                                <!---  <span class="slds-media__body">
                                                    <span class="slds-truncate" title="selectedUsers">{option.Name}</span>
                                                  </span>-->
                                                  {option.label}
                                                </div>
                                              </li>
                                            </ul>
                                          </template>
                                        </template>
                                      </template>
                                    </div>
                                  </div>
                          
                                  <!--Buttons to shift right and left-->
                                  <div class="slds-dueling-list__column">
                                    <button class="slds-button slds-button_icon slds-button_icon-container" title="Move Selection to Selected Users" onclick={handleRight}>
                                      <div aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action mouse-hand" data-index={index} onclick={openMethod}>
                                        <lightning-icon icon-name="utility:chevronright" size="xx-small" alternative-text="Indicates approval" ></lightning-icon>
                                      </div>
                                    </button>
                                    <button class="slds-button slds-button_icon slds-button_icon-container" title="Move Selection to Available Users" onclick={handleLeft}>
                                      <lightning-icon icon-name="utility:chevronleft" size="xx-small" alternative-text="Indicates approval"  ></lightning-icon>
                                    </button>
                                  </div>
                          
                                  <!--Move to selected Options-->
                                  <div class="slds-dueling-list__column">
                                    <span class="slds-form-element__label" id="label-112">Existing/Selected Users</span>
                                    
                                    <div class="slds-dueling-list__options">
                                      <template if:true={displayValues}>
                                        <template if:true={values}>
                                          <template for:each={values} for:item="val">
                                            <ul aria-describedby="option-drag-label" aria-labelledby="label-112" aria-multiselectable="true" class="slds-listbox slds-listbox_vertical" role="listbox" key={val.MemberId} >
                                              <li role="presentation" class="slds-listbox__item">
                                                <div class="slds-listbox__option slds-listbox__option_plain slds-media slds-media_small slds-media_inline" aria-selected="false" draggable="true" role="option" tabindex="0"  id={val.MemberId} onclick={selectUser}>       
                                                {val.Name}
                                                </div>
                                              </li>
                                            </ul>
                                          </template>
                                        </template>
                                      </template>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- Existing User Box -->
                            <div if:true={onSearchValues} class="slds-box slds-theme_shade slds-box_x-small slds-m-top_small">
                              <p class="slds-text-heading_small"><strong>Users with existing access</strong></p>
                              <p class="slds-text-body_small">The following users already have access to {modelSubTitle}: {modalRecordName}</p>
                            </div>
                            <template if:true={onSearchValues}>
                              <div>
                                <template if:true={existingOptions}>
                                  <template for:each={existingOptions} for:item="option">
                                    <ul key={option.value}>
                                      <li role="presentation">
                                        <div>
                                          {option.label}
                                        </div>
                                      </li>
                                    </ul>
                                  </template>
                                </template>
                              </div>
                            </template>
                </div>
                <!-- modal footer start-->
                <footer class="slds-modal__footer">
                    <lightning-button class="slds-p-left_small" variant="natural" label="Close" title="Close"
                        onclick={closeModal}>
                    </lightning-button>
                    <lightning-button class="slds-p-left_small" variant="brand" label="Update" title="Update"
                        onclick={updateMembers}>
                    </lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>

    </template>

</template>