.THIS {
    overflow: hidden;
}

.THIS .esa-content {
    height: inherit;
}

.THIS.esa-truncate-trigger {
    width: 100%;
}

.THIS.esa-truncate-trigger.esa-truncated {
    position: absolute;
    bottom: 0;
    left: 0;
    background:linear-gradient(transparent, #f3f2f2 60%);
}