<template>
    <template if:true={typeAttributes.wrapText}>
        <lightning-formatted-rich-text value={typeAttributes.value} style={typeAttributes.backgroundclass} class="slds-truncate">
        </lightning-formatted-rich-text>
    </template>
    <template if:false={typeAttributes.wrapText}>
        <lightning-formatted-rich-text value={typeAttributes.value} style={typeAttributes.backgroundclass}>
        </lightning-formatted-rich-text>
    </template>
</template>