<template>
    <div if:true={isLoading} class="slds-spinner_container">
        <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
        </lightning-spinner>
    </div>
    <template if:true={filteredData}>        
        <c-karl_datatable_picklist
            key-field="Id"
            data={filteredData}
            columns={columns} 
            sorted-by={sortBy}
            sorted-direction={sortDirection}
            onsort={doSorting}
            hide-checkbox-column>
        </c-karl_datatable_picklist>
    </template>

    <template if:true={error}>
        <div class="slds-text-heading_small slds-text-color_error slds-m-around_medium">
            <p>An error occurred while loading the data table component. Please reach out to the GRC ICD team for support.</p>
        </div>
    </template>
    
</template>