/* .THIS .slds-leftpad{
	padding-left: 2rem;
} */
.THIS .iconMargin{
    top: 60%;
    left: 1%;
    right: 1%;
}
.THIS .iconheight{
    top: 65%;
}
.THIS.exampleHolder{
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
}