<template>
    <li class="karlTile" onclick={handleOpenRecordClick}>
        <div class="slds-media slds-tile">
            <div class="slds-media__figure">
                <lightning-icon slot="media" icon-name={iconFullStatus} variant={iconShortStatus} alternative-text={record.Issue_Status__c} title={record.Issue_Status__c} size="small"></lightning-icon>
            </div>
            <div class="slds-media__body">
                <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux">{record.KARL_KAI_Issue_Title__c}</span></p>
                <div class="slds-tile__detail slds-text-body--small">
                    <p class="slds-truncate">{record.KARL_Control_ID__c}</p>
                    <!--<p class="slds-truncate">{managementResponse}</p>-->
                </div>
                <!-- Labels Bar -->
                <div class="karl-labels_bar">
                    <template if:true={managementResponseBoolean}>
                        <span class="slds-badge slds-theme_success">Approved</span>
                    </template>
                    <template if:false={managementResponseBoolean}>
                        <span class="slds-badge slds-theme_warning">Not Approved</span>
                    </template>
                    <template if:true={iemCaseBoolean}>
                        <span class="slds-badge slds-theme_success">IEM Case Linked</span>
                    </template>
                    <template if:false={iemCaseBoolean}>
                        <span class="slds-badge slds-theme_warning">No IEM Case</span>
                    </template>
                    <template if:true={record.KARL_High_Impact__c}>
                        <span class="slds-badge slds-theme_error">Qualification</span>
                    </template>
                </div>
            </div>
        </div>
    </li>
</template>