.bcolor {
    background-color: rgb(14, 185, 14, 0.1);
    border: 1px solid rgb(14, 185, 14);
  }
  .rcolor {
    background-color: rgba(185, 40, 14, 0.1);
    border: 1px solid rgb(185, 34, 14);
  }
  .tcolor {
    /* color: white; */
  }
  
  .slds-card,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Helvetica Neue !important;
  }
  h2 {
    font-size: 2.5rem;
    font-weight: 600;
  }