<template>
    <div class="backdrop slds-spinner_container" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <article class="slds-card">
        <div class="slds-align_absolute-center">
            <div if:true={isDisabled} style="margin:0.3rem 0rem;width: 100%;" class="slds-box slds-theme_success">
                {bannerText}
            </div>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <div class="slds-table_edit_container slds-is-relative" style="z-index: 90;">
                <!-- Files List Start Here  -->
                <table aria-multiselectable="true" class="slds-table slds-no-cell-focus slds-table_bordered slds-table_edit slds-table_fixed-layout
                    slds-table_resizable-cols slds-max-medium-table_stacked-horizontal" role="grid"
                    style="width: 100%;">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <template for:each={columnConfiguration} for:item="column">
                                <th key={column.fieldApiName} scope="col" style={column.style}>
                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                        <div class="slds-text-body_medium slds-p-around_xx-small column-padding" style="word-break: break-word;
                                            white-space: initial;">
                                            {column.heading}</div>
                                    </div>
                                </th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={data} for:item='item' for:index="index">
                            <tr class="slds-hint-parent" key={item.Id}>
                                <td data-label="ATTACHMENT" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="" if:false={item.showNameEdit}>
                                        <a class="slds-form-element__control" data-id={item.contentDocId}
                                            onclick={handleDownloadFile}>
                                            {item.docName}
                                        </a>
                                        <lightning-button-icon icon-name="utility:edit" variant="bare"
                                            alternative-text="Edit File Name" class="slds-m-left_xx-small"
                                            title="Edit File Name" data-index={index} onclick={handleEditFileName}
                                            disabled={isDisabled}>
                                        </lightning-button-icon>
                                        <lightning-button-icon icon-name="utility:delete" variant="bare"
                                            alternative-text="Delete File" class="slds-m-left_xx-small"
                                            title="Delete File" data-index={index} onclick={openDeleteModal}
                                            disabled={isDisabled} data-id={item.contentDocId}
                                            if:true={item.showDeleteIcon}>
                                        </lightning-button-icon>
                                    </div>
                                    <div class="" if:true={item.showNameEdit}>
                                        <lightning-input type="text" name="docName" onblur={handleChange}
                                            value={item.docName} data-index={index}>
                                        </lightning-input>
                                    </div>
                                </td>
                                <td data-label="EVIDENCE NOTES" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        {item.evidenceNotes}
                                    </div>
                                </td>
                                <td data-label="GRC NOTES" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        <lightning-textarea name="assigneeNotes" value={item.assigneeNotes}
                                            onchange={handleChange} data-index={index} disabled={isDisabled}>
                                        </lightning-textarea>
                                    </div>
                                </td>
                                <td data-label="STATUS" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        <lightning-combobox class="status-field" data-recid={item.Id} name="status"
                                            dropdown-alignment="auto" value={item.status} options={statusOptions}
                                            onchange={handleChange} data-index={index} variant="label-hidden"
                                            disabled={isDisabled}>
                                        </lightning-combobox>
                                    </div>
                                </td>
                                <td data-label="UPLOADED BY" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class=""> {item.uploadedBy} </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div if:true={isTableEmpty} class="slds-p-top_small slds-text-align_center slds-align_absolute-center">
                    <span class="slds-m-around_small status slds-text-color_error">No Records Found!</span>
                </div>
                <!-- Files List End Here  -->
            </div>
            <div class="slds-m-top_medium slds-clearfix">
                <lightning-button variant="brand" label="Revoke Evidence" onclick={openRevokeFromAudModal}
                    class="slds-m-left_x-small slds-float_right" if:true={providedToAuditor}>
                </lightning-button>
                <lightning-button variant="brand" label="Provide to Auditor" onclick={openProvideToAudModal}
                    class="slds-m-left_x-small slds-float_right" disabled={isDisabled}>
                </lightning-button>
                <lightning-button variant="brand" label="Return to Engineers" onclick={openReturnEngineerModal}
                    class="slds-m-left_x-small slds-float_right" disabled={isDisabled}>
                </lightning-button>
                <lightning-button variant="brand" label="Save" onclick={handleSaveClick}
                    class="slds-m-left_x-small slds-float_right" disabled={isDisabled}>
                </lightning-button>
            </div>
        </div>

    </article>
    <!-- Provide To Auditor -->
    <c-karl_modal if:true={showProvideToAudModal} onclose={closeProvideToAudModal} onyes={handleProvidedToAuditor}
        confirmation-message={provideToAuditorConfirmationMsg} is-disabled={isDisabled}></c-karl_modal>

    <!-- Return To Engineer Modal -->
    <c-karl_modal if:true={showReturnEngineerModal} onclose={closeReturnEngineerModal} onyes={handleReturnToEngineer}
        confirmation-message={returnToEngineerConfirmationMsg} is-disabled={isDisabled}></c-karl_modal>

    <!-- Revoke From Auditor Modal -->
    <c-karl_modal if:true={showRevokeFromAudModal} onclose={closeRevokeFromAudModal} onyes={handleRevokeFromAuditor}
        confirmation-message={revokeFromAuditorConfirmationMsg}></c-karl_modal>

    <!-- Delete File -->
    <c-karl_modal if:true={showDeleteModal} onclose={closeDeleteModal} onyes={deleteFile}
        confirmation-message={deleteFileConfirmationMsg}></c-karl_modal>
</template>