<template>
    <li class="karlTile">
        <div class="slds-grid slds-has-flexi-truncate slds-var-p-around_x-small">
            <div class="slds-tile__detail slds-col slds-medium-size--3-of-6" onclick={handleOpenRecordClick}>
                <div class="slds-grid">
                    <div class="slds-col slds-text-body--small slds-medium-size--1-of-6">
                        <lightning-icon slot="media" icon-name={iconFullStatus} variant={iconShortStatus} alternative-text={evwitem.Evidence_Status__c} title={evwitem.Evidence_Status__c} size="small"></lightning-icon>
                    </div>
                    <div class="slds-col slds-text-body--small slds-medium-size--5-of-6">
                        <ul>
                            <li class="slds-truncate"><span class="karl-faux_link slds-text-link_faux">{evwitem.Name}</span></li>
                            <li class="slds-truncate">{evwitem.Evidence_Status__c}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="slds-tile__detail slds-col slds-medium-size--3-of-6">
                <div class="slds-float--right">
                    <lightning-button icon-name="utility:upload" label="Upload Portal" alternative-text="Open Upload Portal" class="slds-m-left_xx-small" title="Open" onclick={handleUploadClick}></lightning-button>
                </div>
            </div>
        </div>
    </li>
</template>