.clocks
{
    position:relative;
    padding-top: 0px;
}

.clockgap{
    padding: 50px;
    position:absolute;
}

.clock{
    /*width:370px;
    padding:40px;
    margin:200px auto 60px;*/
    padding: 15px;
    position:absolute;
}
 
.clock:after{
    content:'';
    position:absolute;
    width:400px;
    height:20px;
    border-radius:100%;
    left:50%;
    /*margin-left:-200px;*/
    bottom:2px;
    z-index:-1;
}
 
 
.clock .display{
    /*text-align:center;
    padding: 40px 20px 20px;
    border-radius:6px;
    position:relative;
    height: 54px;*/
}

.clock .TimeZone
{
    padding: 10px;
    padding-left: 0px;
    color: white;
    text-align: center;
    font-family: Helvetica;
    font-weight: bolt;
    font-size: 2em;
}
 
 
/*-------------------------
    Light color theme
--------------------------*/
 
 
.clock :after{
    /*box-shadow:0 4px 10px rgba(0,0,0,0.15);*/
}
 
.clock .digits div span{
    background-color:green;
    border-color:green;  
    /*box-shadow: 0px 0px 8px #F0BDBD;*/
    box-shadow: 0px 0px 8px #C2F0BD;
}
 
 
.clock .digits div.redDots:before,
.clock .digits div.redDots:after{
    background-color:red;
}

.clock .digits div.greenDots:before,
.clock .digits div.greenDots:after{
    background-color: #66FF33;
}


.clock .alarm{
    background:url('../img/alarm_light.jpg');
}
 
.clock .display{
    background-color:green;
    /*box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #fafafa;*/
}

.offlineRed {
    background-color:red;
    border-color:red;  
    box-shadow: 0px 0px 8px #F0BDBD;
}
 
 
/*-------------------------
    Dark color theme
--------------------------*/
 
 
.clock.dark{
    background-color:#272e38;
    color:#cacaca;
}
 
.clock.dark:after{
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
}
 
.clock.dark .digits div span{
    background-color:#cacaca;
    border-color:#cacaca;  
}
 
.clock.dark .alarm{
    background:url('../img/alarm_dark.jpg');
}
 
.clock.dark .display{
    background-color:#0f1620;
    box-shadow:0 1px 1px rgba(0,0,0,0.08) inset, 0 1px 1px #2d3642;
}
 
.clock.dark .digits div.dots:before,
.clock.dark .digits div.dots:after{
    background-color:#cacaca;
}
 
 
/*-------------------------
    The Digits
--------------------------*/
 
 
.clock .digits div{
    text-align:left;
    position:relative;
    width: 28px;
    height:50px;
    display:inline-block;
    margin:0 4px;
}
 
.clock .digits div span{
    opacity:0;
    position:absolute;
 
    -webkit-transition:0.25s;
    -moz-transition:0.25s;
    transition:0.25s;
}
 
.clock .digits div span:before,
.clock .digits div span:after{
    content:'';
    position:absolute;
    width:0;
    height:0;
    border:5px solid transparent;
}
 
.clock .digits .d1{         height:5px;width:16px;top:0;left:6px;}
.clock .digits .d1:before{  border-width:0 5px 5px 0;border-right-color:inherit;left:-5px;}
.clock .digits .d1:after{   border-width:0 0 5px 5px;border-left-color:inherit;right:-5px;}
 
.clock .digits .d2{         height:5px;width:16px;top:24px;left:6px;}
.clock .digits .d2:before{  border-width:3px 4px 2px;border-right-color:inherit;left:-8px;}
.clock .digits .d2:after{   border-width:3px 4px 2px;border-left-color:inherit;right:-8px;}
 
.clock .digits .d3{         height:5px;width:16px;top:48px;left:6px;}
.clock .digits .d3:before{  border-width:5px 5px 0 0;border-right-color:inherit;left:-5px;}
.clock .digits .d3:after{   border-width:5px 0 0 5px;border-left-color:inherit;right:-5px;}
 
.clock .digits .d4{         width:5px;height:14px;top:7px;left:0;}
.clock .digits .d4:before{  border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.clock .digits .d4:after{   border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}
 
.clock .digits .d5{         width:5px;height:14px;top:7px;right:0;}
.clock .digits .d5:before{  border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.clock .digits .d5:after{   border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}
 
.clock .digits .d6{         width:5px;height:14px;top:32px;left:0;}
.clock .digits .d6:before{  border-width:0 5px 5px 0;border-bottom-color:inherit;top:-5px;}
.clock .digits .d6:after{   border-width:0 0 5px 5px;border-left-color:inherit;bottom:-5px;}
 
.clock .digits .d7{         width:5px;height:14px;top:32px;right:0;}
.clock .digits .d7:before{  border-width:0 0 5px 5px;border-bottom-color:inherit;top:-5px;}
.clock .digits .d7:after{   border-width:5px 0 0 5px;border-top-color:inherit;bottom:-5px;}
 
 
/* 1 */
 
.clock .digits div.one .d5,
.clock .digits div.one .d7{
    opacity:1;
}
 
/* 2 */
 
.clock .digits div.two .d1,
.clock .digits div.two .d5,
.clock .digits div.two .d2,
.clock .digits div.two .d6,
.clock .digits div.two .d3{
    opacity:1;
}
 
/* 3 */
 
.clock .digits div.three .d1,
.clock .digits div.three .d5,
.clock .digits div.three .d2,
.clock .digits div.three .d7,
.clock .digits div.three .d3{
    opacity:1;
}
 
/* 4 */
 
.clock .digits div.four .d5,
.clock .digits div.four .d2,
.clock .digits div.four .d4,
.clock .digits div.four .d7{
    opacity:1;
}
 
/* 5 */
 
.clock .digits div.five .d1,
.clock .digits div.five .d2,
.clock .digits div.five .d4,
.clock .digits div.five .d3,
.clock .digits div.five .d7{
    opacity:1;
}
 
/* 6 */
 
.clock .digits div.six .d1,
.clock .digits div.six .d2,
.clock .digits div.six .d4,
.clock .digits div.six .d3,
.clock .digits div.six .d6,
.clock .digits div.six .d7{
    opacity:1;
}
 
 
/* 7 */
 
.clock .digits div.seven .d1,
.clock .digits div.seven .d5,
.clock .digits div.seven .d7{
    opacity:1;
}
 
/* 8 */
 
.clock .digits div.eight .d1,
.clock .digits div.eight .d2,
.clock .digits div.eight .d3,
.clock .digits div.eight .d4,
.clock .digits div.eight .d5,
.clock .digits div.eight .d6,
.clock .digits div.eight .d7{
    opacity:1;
}
 
/* 9 */
 
.clock .digits div.nine .d1,
.clock .digits div.nine .d2,
.clock .digits div.nine .d3,
.clock .digits div.nine .d4,
.clock .digits div.nine .d5,
.clock .digits div.nine .d7{
    opacity:1;
}
 
/* 0 */
 
.clock .digits div.zero .d1,
.clock .digits div.zero .d3,
.clock .digits div.zero .d4,
.clock .digits div.zero .d5,
.clock .digits div.zero .d6,
.clock .digits div.zero .d7{
    opacity:1;
}
 
 
/* The dots */
 
.clock .digits div.redDots{
    width:5px;
}
 
.clock .digits div.redDots:before,
.clock .digits div.redDots:after{
    width:5px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    top:14px;
}
 
.clock .digits div.redDots:after{
    top:34px;
}

.clock .digits div.greenDots{
    width:5px;
}
 
.clock .digits div.greenDots:before,
.clock .digits div.greenDots:after{
    width:5px;
    height:5px;
    content:'';
    position:absolute;
    left:0;
    top:14px;
}
 
.clock .digits div.greenDots:after{
    top:34px;
}
 
 
/*-------------------------
    The Alarm
--------------------------*/
 
 
.clock .alarm{
    width:16px;
    height:16px;
    bottom:20px;
    background:url('../img/alarm_light.jpg');
    position:absolute;
    opacity:0.2;
}
 
.clock .alarm.active{
    opacity:1;
}
 
 
/*-------------------------
    Weekdays
--------------------------*/
 
 
.clock .weekdays{
    font-size:12px;
    position:absolute;
    width:100%;
    top:10px;
    left:0;
    text-align:center;
}
 
 
.clock .weekdays span{
    opacity:0.2;
    padding:0 10px;
}
 
.clock .weekdays span.active{
    opacity:1;
}
 
 
/*-------------------------
        AM/PM
--------------------------*/
 
 
.clock .ampm{
    position:absolute;
    bottom:20px;
    right:20px;
    font-size:12px;
}