<template>
    <li class="karlTile">
        <div class="slds-media slds-tile">
            <div class="slds-media__figure">
            </div>
            <div class="slds-media__body">
                <a style="color:blue" target="_blank" href={record.serviceDeskLink}>{record.serviceDeskName}</a>
                <div class="slds-tile__detail slds-text-body--small">
                    <p class="slds-truncate">{record.requestName}</p>
                    <p class="slds-truncate">{record.status}</p>
                    <p class="slds-truncate">{record.grcAssigneeName}</p>
                </div>
            </div>
        </div>
    </li>
</template>