.THIS {
}
.THIS .q-form_box{
    padding: 40px;
    background-color : white;
    border-radius:0.25rem;
}
.THIS .q-question_box{    
    margin-top: 2vh; 
}
.THIS .q-label {
    font-weight: bold;
    padding: 1vh;
    display:table-cell;
}
.THIS .q-header {
    font-weight: bold;
    color: #393986;
    font-size: larger;
    margin-bottom: 3vh;
    margin-top: 3vh;
}
.THIS .textWithHelp lightning-helptext {
    position: absolute;
    right: 0;
    top: -28px;
}
.THIS .compensatingHelp lightning-helptext{
    left: 330px !important;
    top: -31px;
}
.THIS .ddHelp lightning-helptext{
    left: 198px !important;
    top: -31px;
}
.THIS .slds-lookup__search-input {
    text-transform: capitalize;
}
.THIS .slds-dueling-list__column_responsive {
    flex: 0 1 38rem;
}
.THIS .subQuestion{
    border: 0.5px solid #dedbda;
    padding: 3vh;
    margin-top: 4vh;
    border-radius: 0.25rem;
}
.THIS .q-input_field{
    margin-left:2vw;
}
.THIS .q-serial{
    font-weight: bold;
    margin-top: 2vh;
    min-width:1vw;
    display:table-cell;
}
.THIS.help-icon{
    margin: 20px 55px;
    position: fixed;
    right: 0px;
    bottom: 60px;
}
.THIS.help-icon lightning-primitive-icon{
    margin: 0 auto;
}
.THIS .required-q{
    color: red;
}
.THIS .required-fields-highlight{
    border-color: rgb(194, 57, 52);
    box-shadow: rgb(194, 57, 52) 0 0 0 1px inset;
}
.THIS .slds-spinner_container{
    position: fixed;
}
.THIS .afterErrorMsg{
    color: red;
}