/*
 * @author Ben Harvie
 * @email ben.harvie@salesforce.com
 * @desc CSS File for KARL LWC Component
 */

/* Import Standard KARL CSS */
@import 'c/karl_css';

/* Unique KARL LWC CSS */
.karl-save_hover {
    position: fixed; 
    bottom: 5px; 
    right: 5px; 
    z-index: 50;
    background-color: #F3F2F2;
    border: 1px solid #1489EE;
    border-radius: 5px;
    box-shadow: 0 0 5px #9AC4ED;
}

.karl-buttonmenu_selected {
    background-color: var(--lwc-brandAccessible);
    border: 1px solid #1489EE;
    border-radius: 5px;
    box-shadow: 0 0 5px #9AC4ED;
}

.karl-datatable_zoom {
    zoom: 90%;
}

.karl-dt-type {
    width: 140px;
}