<template>
    <template if:false={auditorsView}>
        <c-karl_arl_datatable_extension
            if:true={records}
            auditcycle={auditcycle}
            auditscope={auditscope}
            areaofcompliance={areaofcompliance}
            assignedtome={assignedtome}
            typefilter={typefilter}></c-karl_arl_datatable_extension>
    </template>
    <lightning-card title="Audit Request List (ARL)" icon-name="custom:custom63">
        <div class="slds-button-group" role="group" slot="actions">
            <span class="slds-badge">{totalRows}</span>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <lightning-combobox 
            name="requestType"
            value={typefilter}
            placeholder="Filter by Type"
            options={typeOptions}
            onchange={handleTypeChange}
            variant="label-hidden" 
            class="karl-dt-type" ></lightning-combobox>
        </div>
        <div if:false={auditorsView} class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="All_Assigned" onclick={handleAssigned}>All</button>
            <button class="slds-button slds-button_neutral" value="AssignedToMe" onclick={handleAssigned}>Assigned To Me</button>
        </div>
        <div if:false={auditorsView} class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="All" onclick={handleOpenClosed}>All</button>
            <button class="slds-button slds-button_neutral" value="Open" onclick={handleOpenClosed}>Open</button>
            <button class="slds-button slds-button_neutral" value="Provided" onclick={handleOpenClosed}>Provided</button>
            <button class="slds-button slds-button_neutral" value="FollowUp" onclick={handleOpenClosed}>Follow-up</button>
            <button class="slds-button slds-button_neutral" value="Closed" onclick={handleOpenClosed}>Closed</button>
            <button class="slds-button slds-button_neutral" value="NA" onclick={handleOpenClosed}>N/A</button>
        </div>
        <div if:true={auditorsView} class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="All_A" onclick={handleOpenClosed}>All</button>
            <button class="slds-button slds-button_neutral" value="Pending_A" onclick={handleOpenClosed}>Pending</button>
            <button class="slds-button slds-button_neutral" value="Open_A" onclick={handleOpenClosed}>Open</button>
            <button class="slds-button slds-button_neutral" value="NotStarted_A" onclick={handleOpenClosed}>Not Started</button>
            <button class="slds-button slds-button_neutral" value="InProgress_A" onclick={handleOpenClosed}>In Progress</button>
            <button class="slds-button slds-button_neutral" value="FollowUp_A" onclick={handleOpenClosed}>Follow-up</button>
            <button class="slds-button slds-button_neutral" value="Closed_A" onclick={handleOpenClosed}>Completed</button>
            <button class="slds-button slds-button_neutral" value="NA_A" onclick={handleOpenClosed}>N/A</button>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="All_Aoc" onclick={handleAreaClick}>All</button>
            <button class="slds-button slds-button_neutral" value="SOC" onclick={handleAreaClick}>SOC</button>
            <button class="slds-button slds-button_neutral" value="FedRAMP" onclick={handleAreaClick}>FedRAMP</button>
            <button class="slds-button slds-button_neutral" value="PCI DSS" onclick={handleAreaClick}>PCI DSS</button>
            <button class="slds-button slds-button_neutral" value="iRAP" onclick={handleAreaClick}>iRAP</button>
            <lightning-button-menu if:false={auditorsView} alternative-text="Show More" data-id="showMore" variant="border-filled" menu-alignment="right" class="slds-m-left_xxx-small" onclick={handleAreaButtonClick}>
                <lightning-menu-subheader label="Internal Controls Testing"></lightning-menu-subheader>
                <lightning-menu-item label="SFDC ICT" data-id="ICT" value="ICT" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="SFDC ICT Unique Only" data-id="ICTUnique" value="ICTUnique" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="SFDC ICT Unique Excluded" data-id="ICTExclude" value="ICTExclude" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-divider variant="compact"></lightning-menu-divider>
                <lightning-menu-subheader label="ISO-Related"></lightning-menu-subheader>
                <lightning-menu-item label="All ISO-Related" data-id="ISO_All" value="ISO_All" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="ISO 27001" data-id="ISO 27001" value="ISO 27001" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="ISO 27017" data-id="ISO 27017" value="ISO 27017" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="ISO 27018" data-id="ISO 27018" value="ISO 27018" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="NEN7510" data-id="NEN7510" value="NEN7510" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="ASIP Sante HDS" data-id="ASIP Sante HDS" value="ASIP Sante HDS" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="ENS" data-id="ENS" value="ENS" onclick={handleAreaButtonClick}></lightning-menu-item>
                <lightning-menu-divider variant="compact"></lightning-menu-divider>
                <lightning-menu-subheader label="Other"></lightning-menu-subheader>
                <lightning-menu-item label="HITRUST" data-id="HITRUST" value="HITRUST" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="ISMAP" data-id="METI" value="METI" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="SOX" data-id="SOX" value="SOX" onclick={handleAreaClick}></lightning-menu-item>
                <lightning-menu-item label="Salesforce Public Sector Baseline v3.2" data-id="SPSCBv3_2" value="SPSCBv3_2" onclick={handleAreaClick}></lightning-menu-item>
            </lightning-button-menu>
            <lightning-button-icon if:true={records} icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" class="slds-m-left_x-small" onclick={handleRefresh}></lightning-button-icon>
        </div>
        <div class="slds-grid slds-m-around_medium slds-p-bottom_small slds-border_bottom">
            <div class="slds-grid slds-size--1-of-3">
                <div class="slds-col--padded">
                    <lightning-combobox
                    name="auditcycle"
                    label="Audit Cycle"
                    value={auditcycle}
                    placeholder="Select Audit Cycle"
                    options={auditCycleOptions}
                    onchange={handleAuditCycleChange}></lightning-combobox>
                </div>
                <div class="slds-col--padded">
                    <lightning-combobox
                    name="auditscope"
                    label="Audit Scope"
                    value={auditscope}
                    placeholder="Select Audit Scope"
                    options={auditScopeOptions}
                    onchange={handleAuditScopeChange}></lightning-combobox>
                </div>
                <div if:true={auditorsView} class="slds-col--padded">
                    <lightning-combobox
                    name="auditteam"
                    label="Audit Team"
                    value={auditteam}
                    placeholder="Select Audit Team"
                    options={auditTeamOptions}
                    onchange={handleAuditTeamChange}></lightning-combobox>
                </div>
            </div>
            <div class="slds-grid slds-size--2-of-3">
                <div class="slds-col--padded slds-size--1-of-4">
                    <lightning-input name="searchRequest" data-field="searchreq" type="search" label="Search REQ" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col--padded slds-size--1-of-4">
                    <lightning-input name="searchControl" data-field="searchcontrol" type="search" label="Search Control/Requirement" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col--padded slds-size--1-of-4">
                    <lightning-input name="searchWalkthrough" data-field="searchwt" type="search" label="Search Walkthrough" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col--padded slds-size--1-of-4">
                    <lightning-input name="searchDesc" data-field="searchdesc" type="search" label="Search Description" onchange={handleSearch}>
                    </lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-card__body">
            <div if:true={saveButton} class="slds-box slds-box_small karl-save_hover">
                <lightning-button onclick={handleCancel} label="Cancel" title="Cancel" class="slds-m-left_x-small"></lightning-button>
                <lightning-button onclick={handleSave} variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
            </div>
            <template if:true={records}>
                <c-karl_datatable_picklist
                    key-field="Id"
                    data={filteredEvidenceData}
                    columns={columns} 
                    onheaderaction={handleHeaderAction}
                    onsave={handleSave}
                    oncancel={handleCancel}
                    draft-values={draftValues}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={doSorting}
                    oncellchange={handleCellChange}
                    onpicklistchanged={handlePicklistChange}
                    onrowaction={handleRowAction}
                    class="karl-datatable_zoom"
                    hide-checkbox-column>
                </c-karl_datatable_picklist>
                <div class="slds-m-around_medium slds-align_absolute-center">
                    <lightning-badge class="karl-badge_standard" label="End of ARL List"></lightning-badge>
                </div>
            </template>
            <!-- There is no data for this configuration -->
			<template if:false={records}>
                 <!-- Cycle and Scope Parameters Not Set -->
                <template if:false={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_default slds-m-around_medium">
                        <p>Select an Audit Cycle and Audit Scope configuration to populate the ARL data table.</p>
                    </div>
                </template>
                 <!-- Cycle and Scope Parameters Not Set -->
                <template if:true={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_weak slds-m-around_medium">
                        <p>There are no ARL records for the selected Audit Cycle and Scope based on your selected filters. This could be due to the following reasons:</p>
                        <ul class="slds-list_dotted">
                            <li>There are no records that match the selected filters</li>
                            <li>You do not have access to records associated with these filters</li>
                            <li>An error has occurred. If you believe an error has occurred, please reach out to the GRC ICD team for support.</li>
                        </ul>
                    </div>
                </template>
            </template>
            <template if:true={error}>
				<div class="slds-text-heading_small slds-text-color_error slds-m-around_medium">
					<p>An error occurred while loading the data table component. Please reach out to the GRC ICD team for support.</p>
				</div>
            </template>
            <div if:true={isLoading} class="slds-spinner_container">
                <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
                </lightning-spinner>
            </div>
        </div>
    </lightning-card>
</template>