body {
  padding: 5px;
}

.display-none {
  display: none;
}

.inline {
  display: inline;
}

.tmm-feed-container {
  height: 100%;
}

.tmm-feed {
  height: 80vh;
  width: 100%;
  border: none;
}

.tmm-header {
  padding: 5px;
  padding-top: 10px;
  margin-bottom: 10px;
}

.tmm-header h2 {
  margin-top: 0;
  margin-bottom: 5px;
}

.tmm-view-controls {
  border-radius: 5px;
  z-index: 100;
}

.tmm-view-controls .btn-group {
  vertical-align: inherit;
  margin-right: 5px;
}

.tmm-view-controls .dropdown-menu .selected a {
  font-weight: bold;
}

.tmm-view-controls .scrollable-menu {
  max-height: 500px; /* To handle older browsers */
  max-height: 90vh;
  overflow: auto;
  overflow-x:hidden;
}

.tmm-search {
  display: inline-block;
  clear: none;
}

.tmm-search .input-group-btn {
  width: inherit !important;
}

.helpbutton {
  clear: none;
  display: inline-block;
  margin-left: 5px;
  vertical-align: top;
}

.tmm-level {
}

.tmm-level > .panel-heading {
  padding: 0;
}
.tmm-level > .panel-heading > .panel-title {
  padding: 10px 15px 10px 15px;
}

.tmm-level > .panel-collapse > .panel-body {
  padding: 4px;
}

.tmm-level.panel {
  margin-bottom: 10px;
}

.tmm-orphans {
  display: none;
}

.tmm-category {
  float: left;
  min-width: 200px;
  max-width: 15%;
}
.tmm-category.wide, .tmm-category.expand {
  float: inherit;
  max-width: 100%;
}
.tmm-category.wide > .panel {
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.tmm-category .panel-body {
  padding: 2px;
}

.tmm-category .panel {
  margin: 2.5px;
}

.tmm-obj {
  margin: 2px;
  /* padding: 1px 1px 1px 1px; */
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 4px;
  overflow: hidden; /* clip long lines in multiline-text */
}

.tmm-obj-title {
  padding: 1px 2px 1px 2px;
}
.tmm-category.wide .tmm-obj-title {
  display: inline-block;
}

.tmm-obj-badge-bar {
  background: #e8e8e8;
  padding: 1px;
  width: 100%;
}
.tmm-category.wide .tmm-obj-badge-bar {
  display: block;
}
.tmm-category.wide .tmm-obj .tmm-obj-badge-bar {
  display: inline-block;
  width: inherit;
}

.tmm-obj-badge-bar.grouped {
  background: white;
  margin-bottom: 3px;
  border-bottom: 1px solid #ddd;
}

.tmm-L .tmm-obj-badge-bar.grouped { /* in level header */
  display: inline;
  font-size: 90%;
  margin-left: 15px;
  background: transparent;
  border: none;
}

.tmm-badge {
  border-radius: 4px;
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e0e0e0;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d0d0d0;
  padding-left: 1px;
  padding-right: 1px;
  margin: 1px;
  background: #f8f8f8;
  text-align: center;
  display: inline-block;
}

.tmm-badge .glyphicon {
  padding-left: 1px;
  padding-right: 0.15em;
}

.tmm-badge.wide .glyphicon {
  padding-right: 0.3em;
}

.tmm-badge.wide {
  text-align: center;
  width: 100%;
}

.tmm-badge.not-started, .tmm-badge.not-done {
  background: #F8F8F8;
}
.tmm-badge.working-in-progress, .tmm-badge.working {
  background: #FAB571;
}
.tmm-badge.working-ready {
  background: #FEDB82;
}
.tmm-badge.working-validating {
  background: #FFFF98;
}
.tmm-badge.working-needs-reval {
  background: #72FF6D;
}
.tmm-badge.completed, .tmm-badge.done {
  background: #72FF6D;
}
.tmm-badge.failed {
  background: #FC686F;
}
.tmm-badge.not-applicable {
  background: #8F8F8F;
}


.tmm-obj-place { /* multiclass */
  display: inline-block;
  border: none;
  padding: 0.4em 0 0.4em 0;
  margin: 0.1em;
  color: black;
  line-height: 1;
  font-size: 95%;
  font-weight: 400;
  white-space: nowrap;
}

.tmm-obj-place .level {
  margin: 0;
  border: 1px solid #777;

  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-weight: 700;
}

.tmm-obj-place .category {
  margin: 0;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;

  padding: 0.2em 0.4em 0.2em 0.4em;
  font-weight: 200;
}

.tmm-obj-place .environment {
  margin: 0;
  border: 1px solid #777;

  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-weight: 500;
}

.tmm-L1 {
  background-color: #F4CCCC !important;
}
.tmm-L2 {
  background-color: #FCE5CD !important;
}
.tmm-L3 {
  background-color: #FFF2CC !important;
}
.tmm-L4 {
  background-color: #D9EAD3 !important;
}
.tmm-L5 {
  background-color: #CFE2F3 !important;
}

.tmm-obj-tag.label { /* multiclass */
  display: inline-block;
  margin: 2px;
  font-size: 95%;
}

.tmm-obj-zoom-placeholder {
  display: none;
}

.tmm-zoom-obj-modal .table {
  margin-bottom: 0;
}

.tmm-zoom-obj-modal {
  width: inherit;
  max-width: 90vw;
}

.tmm-zoom-obj-modal.expand {
  width: inherit;
}

.tmm-zoom-obj-modal-body {
  width: inherit;
  max-height:80vh;
  overflow: auto;
}

.tmm-uuid-footer {
  color: #ddd;
  padding-right: 2em;
  float: left;
}

.tmm-c-table {
  width: inherit !important;
}

.tmm-c.tmm-c-not-started .status {
  /* no background */
}
.tmm-c.tmm-c-working-in-progress .status {
  background: #FAB571;
}
.tmm-c.tmm-c-working-ready .status {
  background: #FEDB82;
}
.tmm-c.tmm-c-working-validating .status {
  background: #FFFF98;
}
.tmm-c.tmm-c-working-needs-reval .status {
  background: #72FF6D;
}
.tmm-c.tmm-c-completed .status {
  background: #72FF6D;
}
.tmm-c.tmm-c-failed .status {
  background: #FC686F;
}
.tmm-c.tmm-c-not-applicable .status {
  background: #8F8F8F;
}

.tmm-c .status {
  border: 1px solid #aaa;
  border-radius: 0.4em;
  padding: 0 0.4em 0 0.4em;
  text-align: center;
}

.tmm-c .links {
  width: 100px;
}

.tmm-c .links a, .tmm-c .links span {
  padding-left: 5px;
}
.tmm-c .links a:first-child {
  padding-left: 0;
}
.tmm-c .links .glyphicon {
  font-size: large;
}

.tmm-user img {
  max-width: 24px;
  max-height: 24px;
  margin-right: 5px;
  border: none;
}

.tmm-user a {
  color: none;
}

dl.glossary dt {
  margin: 0;
  padding: 0;
}
dl.glossary dd {
  margin: 0;
  padding-left: 5px;
  padding-bottom: 7px;
  padding-right: 0;
  padding-top: 0;
}
dl.glossary dl { /* embedded dl */
  margin: 0;
  padding-top: 5px;
  padding-left: 10px;
  font-size: 90%;
}
dl.glossary p {
  margin: 0;
}
