.THIS {
}

.THIS.container {
    margin-left: 7rem;
    margin-right: 7rem;
    margin: 0;
}

.THIS .hide-label .slds-form-element__label {
    display : none;
}

.THIS .max-w-60 {
    max-width: 70px;
}

.THIS .slds-table thead th {    
    background-color: #f3f2f2;
    color: rgb(81, 79, 77);
    padding: .25rem .25rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 1rem 0px;
}

.THIS .email-status-count {
    overflow: hidden;
    margin-top: 15px;
    float: right;
    right: 0;
    position: absolute;
    bottom: -50px;
}
.THIS .relative {
    position: relative;
}
.THIS .email-status-count span{
    min-width: 90px;
    text-align: left;
    border: 1px solid #dedbda;
    padding: 6px 20px;
    background: #f3f2f2;
    margin-right: 0;
    border-right: 0;
    font-weight: bold;
}

.THIS .email-status-count span.notsent{
    color: #09F;
}
.THIS .email-status-count span.pending{
    color: #ff6d00;
}
.THIS .email-status-count span.sent{
    color: green;
}
.THIS .email-status-count span.failed{
    color: red;
    border-right: 1px solid #dedbda;
}
.THIS .email-status-count span.status{
    background: white;
    border: 1px solid white;
    text-align: left;
    padding-left: 0;
}

.THIS .slds-table tbody td {
    padding : .5rem 0rem;
}

.THIS .slds-table tbody td,
	.THIS .slds-table tbody th{
    	text-align: center; 	
}

.THIS .slds-table tbody td div:first-child {
    margin: 0%;
}

.THIS .margin-between {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.THIS h3 {
    font-size: large;
    font-weight: 700;
}

.THIS .slds-has-error .slds-form-element__help {
    text-align: left;
    margin: 0% 2%;
}

.THIS .min-w-5 {
    min-width : 5rem;
}

.THIS table {
    border: 1px solid rgb(217, 219, 221);
}

.THIS .float-to-right {
    float : right;
}

.THIS .position-fixed {
    position : fixed;
}

.THIS .green {
    color : green;
    font-weight: 700;
}

.THIS .red {
    color : red;
    font-weight: 700;
}

.THIS .table-limiter {
    height: 400px;
    overflow-y: scroll;
    display: block;
}

.THIS .refreshButton {
   	width: 100%;
    height: 2.5rem;
    text-align: end;
}
.THIS .record-count {
    font-size: 15px;
}
.THIS .x-scroll {
    overflow-x: auto !important;
}
.THIS .error {
    font-size: 1.2rem;
    color : rgb(194, 57, 52);
}

.THIS .slds-page-header {
    padding: 1rem;
    border-bottom: 1px solid #dddbda;
    border-radius: .25rem;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #dddbda;
}
.THIS .status-record-table .slds-form-element__control {
    margin: 0.5rem;
}
.THIS .slds-table td p {
    width: 18rem;
    word-break: break-word;
    white-space: initial;
    text-align: left;
    padding-left: 10px;
}

.THIS .fix-width {
    width: 7%;
}

.THIS .w-40 {
    width: 40%;
}

.THIS .w-12 {
    width : 8%;
}

.THIS .wrapping {
    white-space: normal;
    overflow-wrap: break-word;
}

.THIS .w-p-18 {
    max-width: 18rem;
}