<template>
    <div class="slds-m-top_x-small">
        <article class="slds-card slds-card_boundary">
            <div class="slds-card__header slds-grid" style="background-color: rgb(215, 218, 233, 1); padding-bottom: 10px;">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                  <h2 class="slds-card__header-title">
                    <a href="javascript:void(0);" class="slds-card__header-link slds-truncate" title="Accounts">
                      <span>SLA Metric Entry</span>
                    </a>
                  </h2>
                </div>
                <div class="slds-no-flex">
                    <lightning-button label="Save" onclick={handleCreate}></lightning-button>
                </div>
              </header>
            </div>
            <div class="slds-card__body" style="margin-bottom: 0px">
              <template if:true={data}>
                <template for:each={data} for:item='item'>
                    <ul key={item.Id}>
                        <lightning-layout horizontal-align="space">
                            <lightning-layout-item size="3" padding="horizontal-small">
                                <lightning-input type="text" label="SLA" placeholder="Enter SLA Name..." disabled value={item.SLA__r.Name} oncommit={slaChange}></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="3" padding="horizontal-small">
                                <lightning-input type="date" name="DueDate" label="Due Date" disabled value={item.Due_Date__c}></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="2" padding="horizontal-small">
                                <lightning-input type="number" name="valueInput" data-id={item.Id} label="Value" placeholder="Ex: 23" value={valueInput} oncommit={valueChange}></lightning-input>
                            </lightning-layout-item>
                            <lightning-layout-item size="4" class="slds-p-left_small slds-p-right_small slds-p-bottom_small">
                                <lightning-textarea name="commentInput" label="Comments" data-id={item.Id} placeholder="Type comment here..." value={commentInput} onchange={commentChange}></lightning-textarea>
                            </lightning-layout-item>
                        </lightning-layout>
                    </ul>
                </template>
            </template>
            </div>
        </article>
    </div>
    <div class="slds-m-top_medium">
        <article class="slds-card slds-card_boundary" style="background-color: rgb(215, 218, 233, 1);">
            <div class="slds-card__header slds-grid">
              <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">
                      <a href="/lightning/o/SLA_Metric__c/list" class="slds-card__header-link slds-truncate" title="SLA Metric">
                        <template if:false={slaMetricData}>
                            <span>SLA Metric Records</span>
                        </template>
                        <template if:true={slaMetricData}>
                            <span>SLA Metric Records - #{metricDataLength}</span>
                        </template>
                      </a>
                    </h2>
                </div>
                <template if:true={slaMetricData}>
                  <div class="slds-no-flex">
                      <lightning-button-icon  icon-name="utility:refresh" alternative-text="Refresh" class="slds-p-around_xx-small" onclick={refreshTable}></lightning-button-icon>
                  </div>
                </template>
              </header>
            </div> 
            <div class="slds-card__body" style="margin-bottom: 0px">
                <lightning-datatable data={slaMetricData} 
                                    columns={slaMetricColumns} 
                                    show-row-number-column
                                    row-number-offset={rowOffset}
                                    hide-checkbox-column
                                    key-field="Id">
                </lightning-datatable>
            </div>
        </article>
    </div>
</template>