<template>
    <div if:true={isSticky} onmouseover={show} class="slds-p-left_xx-small slds-p-right_xx-small"><slot name="trigger"></slot></div>
    <div if:false={isSticky} onmouseover={show} onmouseout={hide} class="slds-p-left_xx-small slds-p-right_xx-small"><slot name="trigger"></slot></div>
    <div class="slds-is-relative c-popover-container">
        <section if:false={isHidden} aria-describedby={htmlId} aria-label="Details" class="slds-is-absolute slds-popover slds-nubbin_top-left" role="dialog">
            <lightning-button-icon if:true={isSticky} variant="bare" class="slds-float_right slds-popover__close" icon-name="utility:close"  alternative-text="Close" onclick={hide}></lightning-button-icon>
            <div class="slds-popover__body" id={htmlId}>
                <p>
                    <lightning-formatted-rich-text value={content}></lightning-formatted-rich-text>
                </p>
            </div>
        </section>
    </div>
</template>