<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name="standard:task2" title="readiness" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">Management Response Approval</h2>
                </div>
                <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                    <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" onclick={handleRefresh} class="slds-m-left_x-small"></lightning-button-icon>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <!-- Show Readiness Data  -->
            <template if:true={records}>
                <ul class="slds-has-dividers_around">
                    <div class="slds-item">
                        <li class="karlCompletionTile">
                            <div class="slds-media slds-tile">
                                <div class="slds-media__figure">
                                    <lightning-icon slot="media" icon-name={grcltApproval} variant={grcltApprovalVariant} size="small"></lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <p class="slds-tile__title slds-truncate">GRC LT Approval ({grcltApprover})</p>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="slds-item">
                        <li class="karlCompletionTile">
                            <div class="slds-media slds-tile">
                                <div class="slds-media__figure">
                                    <lightning-icon slot="media" icon-name={sccsApproval} variant={sccsApprovalVariant} size="small"></lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <p class="slds-tile__title slds-truncate">SCCS Approval ({sccsApprover})</p>
                                </div>
                            </div>
                        </li>
                    </div>
                    <div class="slds-item">
                        <li class="karlCompletionTile">
                            <div class="slds-media slds-tile">
                                <div class="slds-media__figure">
                                    <lightning-icon slot="media" icon-name={grcvpApproval} variant={grcvpApprovalVariant} size="small"></lightning-icon>
                                </div>
                                <div class="slds-media__body">
                                    <p class="slds-tile__title slds-truncate">GRC VP Approval ({grcvpApprover})</p>
                                </div>
                            </div>
                        </li>
                    </div>
                </ul>
            </template>
        </div>
    </article>
</template>