body {
  padding: 5px;
}

.display-none {
  display: none;
}

.tmm-view-controls {
  position: fixed;
  top: 0;
  right: 0;
  margin: 5px;
  border-radius: 5px;
}

.tmm-level {
}

.tmm-level > .panel-heading {
  padding: 0;
}
.tmm-level > .panel-heading > .panel-title {
  padding: 10px 15px 10px 15px;
}

.tmm-level > .panel-collapse > .panel-body {
  padding: 4px;
}

.tmm-category {
  margin: 0.25em;
  overflow-wrap: break-word;
}

.tmm-orphans {
  display: none;
}

.tmm-category {
  float: left;
  min-width: 100px;
  max-width: 15%;
}
.tmm-category.wide {
  max-width: 33.333%;
}

.tmm-category .panel-body {
  padding: 2px;
}

.tmm-obj {
  margin: 2px;
  padding: 1px 5px 1px 3px;
  border-top: 1px solid #e8e8e8;
  border-left: 5px solid #e0e0e0;
  border-right: 1px solid #d8d8d8;
  border-bottom: 1px solid #d0d0d0;
  border-radius: 4px;
  background-color: #f8f8f8;
}

.tmm-obj-place { /* multiclass */
  display: inline-block;
  border: none;
  padding: 0.4em 0 0.4em 0;
  margin: 0.1em;
  color: black;
  line-height: 1;
  font-size: 95%;
  font-weight: 400;
  white-space: nowrap;
}

.tmm-obj-place .level {
  margin: 0;
  border: 1px solid #777;

  border-top-left-radius: 0.4em;
  border-bottom-left-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-weight: 700;
}

.tmm-obj-place .category {
  margin: 0;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;

  padding: 0.2em 0.4em 0.2em 0.4em;
  font-weight: 200;
}

.tmm-obj-place .environment {
  margin: 0;
  border: 1px solid #777;

  border-top-right-radius: 0.4em;
  border-bottom-right-radius: 0.4em;
  padding: 0.2em 0.4em 0.2em 0.4em;
  font-weight: 500;
}

.tmm-L1 {
  background-color: #F4CCCC !important;
}
.tmm-L2 {
  background-color: #FCE5CD !important;
}
.tmm-L3 {
  background-color: #FFF2CC !important;
}
.tmm-L4 {
  background-color: #D9EAD3 !important;
}
.tmm-L5 {
  background-color: #CFE2F3 !important;
}

.tmm-obj-tag.label { /* multiclass */
  display: inline-block;
  margin: 2px;
  font-size: 95%;
}

.tmm-obj-zoom-placeholder {
  display: none;
}

.tmm-zoom-obj .table {
  margin-bottom: 0;
}

.tmm-uuid-footer {
  color: #ddd;
  padding-right: 2em;
}
