<template>
    <lightning-card title="Follow-ups" icon-name="custom:custom63">
        <div class="slds-button-group" role="group" slot="actions">
            <span class="slds-badge">{totalRows}</span>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="allAssigned" onclick={handleAssigned}>All</button>
            <button class="slds-button slds-button_neutral" value="assignedToMe" onclick={handleAssigned}>Assigned To Me</button>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="currentAll" onclick={handleAssignment}>All</button>
            <button class="slds-button slds-button_neutral" value="currentSalesforce" onclick={handleAssignment}>Salesforce</button>
            <button class="slds-button slds-button_neutral" value="currentAuditor" onclick={handleAssignment}>Auditor</button>
        </div>
        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
            <button class="slds-button slds-button_neutral" value="all" onclick={handleOpenClosed}>All</button>
            <button class="slds-button slds-button_neutral" value="open" onclick={handleOpenClosed}>Open</button>
            <button class="slds-button slds-button_neutral" value="new" onclick={handleOpenClosed}>New</button>
            <button class="slds-button slds-button_neutral" value="triaged" onclick={handleOpenClosed}>Triaged</button>
            <button class="slds-button slds-button_neutral" value="inProgress" onclick={handleOpenClosed}>In Progress</button>
            <button class="slds-button slds-button_neutral" value="readyForReview" onclick={handleOpenClosed}>Ready for Review</button>
            <button class="slds-button slds-button_neutral" value="closed" onclick={handleOpenClosed}>Closed</button>
            <button class="slds-button slds-button_neutral" value="followUp" onclick={handleOpenClosed}>Follow-up</button>
            <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" onclick={handleRefresh} class="slds-m-left_x-small"></lightning-button-icon>
        </div>
        <div class="slds-grid slds-m-around_medium slds-p-bottom_small slds-border_bottom">
            <div class="slds-grid slds-size--1-of-2">
                <div class="slds-col--padded">
                    <lightning-combobox
                    name="auditcycle"
                    label="Audit Cycle"
                    value={auditcycle}
                    placeholder="Select Audit Cycle"
                    options={auditCycleOptions}
                    onchange={handleAuditCycleChange}></lightning-combobox>
                </div>
                <div class="slds-col--padded">
                    <lightning-combobox
                    name="auditscope"
                    label="Audit Scope"
                    value={auditscope}
                    placeholder="Select Audit Scope"
                    options={auditScopeOptions}
                    onchange={handleAuditScopeChange}></lightning-combobox>
                </div>
                <div class="slds-col--padded">
                    <lightning-combobox
                    name="auditteam"
                    label="Audit Team"
                    value={auditteam}
                    placeholder="Select Audit Team"
                    options={auditTeamOptions}
                    onchange={handleAuditTeamChange}></lightning-combobox>
                </div>
            </div>
            <div class="slds-grid slds-size--1-of-2">
                <div class="slds-col--padded slds-size--3-of-8">
                    <lightning-input name="searchSubject" data-field="searchsubject" type="search" label="Search Followup Subject" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col--padded slds-size--3-of-8">
                    <lightning-input name="searchDesc" data-field="searchdesc" type="search" label="Search Description" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col--padded slds-align-bottom slds-size--2-of-8">
                    <button class="slds-button slds-button_brand slds-align_absolute-center" onclick={handleNew}>New Follow-up</button>
                </div>
            </div>
        </div>
        <div class="slds-card__body">
            <div if:true={saveButton} class="slds-box slds-box_small karl-save_hover">
                <lightning-button onclick={handleCancel} label="Cancel" title="Cancel" class="slds-m-left_x-small"></lightning-button>
                <lightning-button onclick={handleSave} variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
            </div>
            <template if:true={records}>        
                <c-karl_datatable_picklist
                    key-field="Id"
                    data={filteredData}
                    columns={columns} 
                    onheaderaction={handleHeaderAction}
                    onsave={handleSave}
                    oncancel={handleCancel}
                    draft-values={draftValues}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={doSorting}
                    oncellchange={handleCellChange}
                    onpicklistchanged={handlePicklistChange}
                    onrowaction={handleRowAction}
                    class="karl-datatable_zoom"
                    hide-checkbox-column>
                </c-karl_datatable_picklist>
                <div class="slds-m-around_medium slds-align_absolute-center">
                    <lightning-badge class="karl-badge_standard" label="End of Follow-up List"></lightning-badge>
                </div>
            </template>
            <!-- There is no data for this configuration -->
			<template if:false={records}>
                 <!-- Cycle and Scope Parameters Not Set -->
                <template if:false={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_default slds-m-around_medium">
                        <p>Select an Audit Cycle and Audit Scope configuration to populate the Follow-up data table.</p>
                    </div>
                </template>
                 <!-- Cycle and Scope Parameters Not Set -->
                <template if:true={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_weak slds-m-around_medium">
                        <p>There are no Follow-up records for the selected Audit Cycle and Scope based on your selected filters. This could be due to the following reasons:</p>
                        <ul class="slds-list_dotted">
                            <li>There are no records that match the selected filters</li>
                            <li>You do not have access to records associated with these filters</li>
                            <li>An error has occurred. If you believe an error has occurred, please reach out to the GRC ICD team for support.</li>
                        </ul>
                    </div>
                </template>
            </template>
            <template if:true={error}>
				<div class="slds-text-heading_small slds-text-color_error slds-m-around_medium">
					<p>An error occurred while loading the data table component. Please reach out to the GRC ICD team for support.</p>
				</div>
            </template>
            <div if:true={isLoading} class="slds-spinner_container">
                <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
                </lightning-spinner>
            </div>
        </div>
    </lightning-card>
    <!-- Create Followup -->
    <c-karl_followup_modal if:true={modalEditDetails} onclose={closeModals} onsuccess={handleModalSubmit}
        currentuser={userContactId}
        auditoruser={auditorUser}
        auditcycle={auditcycle}
        auditscope={auditscope}
        auditteam={auditteam}
        targetrecord={recordTarget}></c-karl_followup_modal>
</template>