/*
 * @author Ben Harvie
 * @email ben.harvie@salesforce.com
 * @desc CSS File for KARL LWC Component
 */

/* Import Standard KARL CSS */
@import 'c/karl_css';

:host c-karl_datatable_picklist {
    --sds-c-button-line-height: 1.5;
}

/* Unique KARL LWC CSS */
.karl-save_hover {
    position: fixed; 
    bottom: 5px; 
    right: 5px; 
    z-index: 50;
    background-color: #F3F2F2;
    border: 1px solid #1489EE;
    border-radius: 5px;
    box-shadow: 0 0 5px #9AC4ED;
}

.karl-datatable_zoom {
    zoom: 90%;
}