<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name="standard:process_exception" alternative-text="test" title="test" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">Audit Issues</h2>
                </div>
                <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                    <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" onclick={handleRefresh} class="slds-m-left_x-small"></lightning-button-icon>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <!-- Show Audit Issues Data  -->
			<template if:true={records}>
                <ul class="slds-has-dividers_around">
                    <template for:each={auditIssues} for:item="auditIssue">
                        <div key={auditIssue.Id} class="slds-item">
                            <c-karl_issues_tile record={auditIssue} onkarlrecordview={handleRecordView}></c-karl_issues_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:false={records}>
				<div class="slds-box slds-theme--success slds-text-title_bold slds-text-color_inverse">
					There are no audit issues for this audit scope!
				</div>
			</template>
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the Audit Issues LWC.
				</div>
			</template>
        </div>
    </article>
</template>