<template>
    <div if:false={isHidden} class="" style="height: 640px;">
        <c-busy-spinner></c-busy-spinner>
        <section role="dialog" tabindex="-1" aria-modal="true"
            aria-labelledby={htmlHeaderId}
            aria-describedby={htmlContentId} 
            class="slds-modal slds-fade-in-open">
            
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                        <lightning-button-icon variant="bare" 
                        class="slds-modal__close" icon-name="utility:close"  
                        alternative-text={label.close} onclick={hide}></lightning-button-icon>
                    <h2 id={htmlHeaderId} class="slds-text-heading_medium slds-hyphenate">
                        <p><slot name="headerContent"></slot></p>
                        <c-slds-message-toast message={message} type={messageType}></c-slds-message-toast>
                    </h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" id=htmlContentId>
                    <slot name="bodyContent"></slot>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button onclick={hide} label={label.close} title={label.close} class="slds-m-right_x-small"></lightning-button>
                    <slot name="footerActions"></slot>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </div>
</template>