/*
 * @author Ben Harvie
 * @email ben.harvie@salesforce.com
 * @desc Reusable KARL CSS LWC 
 */

:host {
    --sds-c-badge-color-background: #F3F2F2;
    --sds-c-badge-text-color: #111111;
    --sds-c-badge-radius-border: 4px;
}
  
/* Label colors */
.karl-badge_standard {
    --sds-c-badge-color-background: #d8d8d8;
    --sds-c-badge-text-color: #111111;
}

.karl-badge_new {
    --sds-c-badge-color-background: #94002f;
    --sds-c-badge-text-color: #F4F7F9;
}

.karl-badge_provided {
    --sds-c-badge-color-background: #009643;
    --sds-c-badge-text-color: #F4F7F9;
}

/* Used to force a space at the bottom of the Modal (for drop-down lookups/menus) */
.karl-modal_overflow {
    margin-bottom: 80px;
}

/* Used for Tile Onhover and Padding */
.karlTile {
    padding: 3px;
}

.karlTile:hover {
    cursor: pointer;
    background-color: #F3F2F2;
}

.karlTileWarning {
    padding: 3px;
    background-color: #fe9339;
    /*background-color: var(--lwc-paletteOrange80);*/
}

.karlTileWarning:hover {
    cursor: pointer;
    background-color: #f38303;
    /*background-color: var(--lwc-paletteOrange65);*/
}

.karlTileSuccess {
    padding: 3px;
    background-color: #45c65a;
    /*background-color: var(--lwc-paletteGreen80);*/
}

.karlTileSuccess:hover {
    cursor: pointer;
    background-color: #41b658;
    /*background-color: var(--lwc-paletteGreen65);*/
}

/* Used for styling Card Headers */
.slds-card__header{
    background-color: #F3F2F2;
    padding-bottom: 10px;
    border-bottom: 1px solid #DDDBDA;
    /*font-weight: bold;*/
}

.karl-faux_link {
    color: var(--lwc-brandPrimary);
}

.karl-hidden_button {
    visibility: hidden;
}