<template>
    <li class="karlTile" onclick={handleOpenRecordClick}>
        <div class="slds-media slds-tile">
            <div class="slds-media__figure" style="margin: auto;padding: 10px;">
                <template if:true={isCompleted}>
                  <lightning-icon  icon-name="standard:task2" alternative-text="Signed" title="Signed"></lightning-icon>
                </template>
                <template if:false={isCompleted}>
                    <lightning-icon  icon-name="standard:email_chatter" alternative-text="Signed" title="Signed"></lightning-icon>
                  </template>
            </div>
            <div class="slds-media__body">
                <template if:true={isCompleted}>
                    <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux"><b>Signed</b></span></p>
                </template>
                <template if:false={isCompleted}>
                    <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux"><b>Sent for Signature</b></span></p>
                </template>
               
                <div class="slds-tile__detail slds-text-body--small">
                    <p if:true={isCompleted} class="slds-truncate"><a href={hrefmailto}>{record.senderName}</a> sent an envelope</p>
                    <p if:false={isCompleted} class="slds-truncate">Envelope Completed</p>
                    <p class="slds-truncate">Status: {record.status}</p>
                    <p class="slds-truncate">Sent: {record.sentDateTime}</p>
                    <p class="slds-truncate">Completed: {record.completedDateTime}</p>
                </div>
            </div>
        </div>
    </li>
</template>