.THIS .slds-datepicker td.esa-p-small {
    padding: 5px;
}

.THIS .slds-datepicker a.esa-day {
    color: #ffffff;
}

.THIS .slds-datepicker td:focus a.slds-day.esa-day,
.THIS .slds-datepicker td:hover a.slds-day.esa-day,
.THIS .slds-datepicker td a.slds-day.esa-day:focus,
.THIS .slds-datepicker td a.slds-day.esa-day:hover {
    text-decoration:none;
    background:initial;
}

.THIS .slds-datepicker td.slds-is-selected:focus a.slds-day.esa-day,
.THIS .slds-datepicker td.slds-is-selected:hover a.slds-day.esa-day,
.THIS .slds-datepicker td.slds-is-selected a.slds-day.esa-day:focus,
.THIS .slds-datepicker td.slds-is-selected a.slds-day.esa-day:hover {
    color: #ffffff;    
    background-color: rgb(216, 237, 255);
}

.THIS .slds-datepicker td.slds-is-selected a.slds-day.esa-day.esa-day-booked {
    background-color: #706e6b;
}

.THIS .slds-datepicker td.slds-is-selected:focus a.slds-day.esa-day.esa-day-booked,
.THIS .slds-datepicker td.slds-is-selected:hover a.slds-day.esa-day.esa-day-booked,
.THIS .slds-datepicker td.slds-is-selected a.slds-day.esa-day.esa-day-booked:focus,
.THIS .slds-datepicker td.slds-is-selected a.slds-day.esa-day.esa-day-booked:hover {
    background-color: #f3f2f2;
}

.THIS .slds-pill {
    width: 150px;
}

.THIS .esa-timeslots-container .slds-popover {
    min-width: 350px;
}