<template>
        <c-busy-spinner></c-busy-spinner>
        <div if:true={isEmptyApprovalRequests} class="slds-box slds-theme_shade slds-align_absolute-center">
            <p>{label.emptyApprovals}</p>
        </div>
        <table if:false={isEmptyApprovalRequests} class="slds-table slds-table_cell-buffer slds-table_bordered slds-box slds-p-around_none">
            <thead>
                <tr class="slds-line-height_reset">
                    <template for:each={columns} for:index="idx" for:item="col">
                        <th key={col.label} class="" scope="col">
                            <div class="slds-truncate" title={col.label}>{col.label}</div>
                        </th>
                    </template>
                </tr>
            </thead>
            <tbody>
                <template for:each={approvalRequests} for:index="idx" for:item="item">
                    <tr key={item} class="slds-hint-parent">
                        <td data-label="">
                            <div class="slds-truncate" title="">{item.requestorName}</div>
                            <template if:true={item.beHalfOfName}>
                                <div title="">({label.onBehalfOf} {item.beHalfOfName})</div>
                            </template>
                        </td>
                        <td data-label="" >
                            <div class="slds-grid">
                                <div class="slds-truncate" title="">{item.securityRequest.Service_Item_Name__c}</div>
                                <c-slds-popover content={item.securityRequest.Approver_Info__c}>
                                    <span slot="trigger">
                                        <lightning-icon icon-name="utility:info" alternative-text="" size="small"></lightning-icon>
                                    </span>
                                </c-slds-popover>
                                <a class="slds-m-left_xx-small" href={detailsURL} target="_blank" onclick={setDetailsURL} title={label.recordPage}>
                                    <lightning-icon  icon-name="utility:new_window" size="x-small" alternative-text={label.recordPage} data-id={item.securityRequest.Id}></lightning-icon>
                                </a>
                                <!--
                                <lightning-button-icon class="slds-m-left_xx-small" icon-name="utility:new_window" variant="bare" alternative-text="" 
                                                        value={item.securityRequest.Id} onclick={showDetailsDialog}></lightning-button-icon>
                                -->
                            </div>
                        </td>
                        <td data-label="">
                            <lightning-formatted-number value={item.securityRequest.Tracked_Number_01__c} maximum-fraction-digits="2"></lightning-formatted-number>
                        </td>
                        <td data-label=""> 
                            <div class="slds-truncate" title="">
                                <lightning-formatted-rich-text value={item.securityRequest.Approval_Status__c}></lightning-formatted-rich-text>
                            </div>
                        </td>
                        <td data-label="">
                            <!-- Brand variant: Identifies the primary action in a group of buttons -->
                            <lightning-button variant="brand" label={label.approve} value={item.processWorkItem.Id} title={label.approve} onclick={handleApprove} class="slds-m-left_x-small"></lightning-button>
                            <!-- Destructive variant: Identifies a potentially negative action -->
                            <lightning-button variant="destructive" label={label.reject} value={item.processWorkItem.Id} title={label.reject} onclick={handleReject} class="slds-m-left_x-small"></lightning-button>
                        </td>
                    </tr>
                </template>
            </tbody>
        </table>

        <c-intake-approval-reject-dialog></c-intake-approval-reject-dialog>
        <!-- // Directly opening record page instead of details dialog
        <c-intake-request-details-dialog></c-intake-request-details-dialog>
        -->
    </template>