@media (min-width: 980px) {
/*    #id_tools_top_menu {
        margin-top: 100px;
    }
*/
    body {
      padding-top:100px;
    }
}

@media (max-width:994px) {
    #id_logo {
        padding-bottom:20px;
    }
}
.sec-navbar-menu {
    vertical-align: bottom;
}

.nav-list li.sub-nav {
  margin-left:20px;
}

#sec-news-well {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 2px;
}

.sec-navbar-menu {
    font-size: 18px;
}

#whats_up_carousel h2 {
    color: #0097d4;
    font-size:40px;
}

#whats_up_carousel h3 {
  margin-top: 10px;
  color: black;
}
#whats_up_carousel p {
  margin-top: 10px;
  font-family: georgia;
  font-size:1.3em;
  line-height:1.2;
  color: #878787;
}

.sec-tool-content {
  padding-top: 30px;
}

.sec-tool-description {
  font-size: 1.1em;
  color: #636363;
  font-family: georgia;
}


/* footer stuff */
* {
  margin:0;
}

html,body {
  height: 100%;
}

.container {
    margin: 0 auto -30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.container-fluid {
    margin: 0 auto -30px;
    min-height: 100%;
    height: auto !important;
    height: 100%;
}

.footer .push {
    height: 30px;
}

.sec-bottom-bar {
    border-top: 1px solid #E5E5E5;
    color: #878787;
    background-color: #F5F5F5;
}

.sec-bottom-bar div.row {
    padding-top:8px;
}

#sec-tool-nav {
    padding: 5px;
}
