/*
#EasingIndex ul li{
	margin: 0 5px;
	width:10px; 
	height:10px;
	background: url(../images/slider/dot.png) no-repeat;
	cursor:pointer;
}
#EasingIndex ul li.active{background-position:center bottom;}
*/
#SliderWrapper{
	height: 355px;
	position:relative;	
}
#EasingSlider{
	width:5628px;
	position:absolute;
	top: 0;
	z-index: 1;
}
#EasingSlider .slideItem{
	position:relative;
	width:938px;
	height:355px;
	float:left;
}
#EasingSlider .slideItem img{
	position:absolute;
	right: 10px;
	top:25px;
	vertical-align: text-bottom;
}
#EasingSlider .slideItem .text{
	position:absolute;
	top:10px;
	left:20px;
	/* width: 416px; */
        width: 380px;
	margin: 0 30px;
}
#EasingSlider .slideItem i{
	position: relative;
    z-index: 20000;
}
#EasingSlider .slideItem .helper{
	height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1000;
}
#EasingSlider .slideItem .background  img{height:330px; margin: 0 30px;}
#EasingSlider .slideItem .text h2{font-size:5em;color:#0097d4;margin-bottom:10px;text-shadow:1px 1px 1px #FFFFFF;letter-spacing:-2px;}
#EasingSlider .slideItem .text h3{font-size:1.8em;color:#000;}
#EasingSlider .slideItem .text>p{font-size:1.6em;color:#878787;font-family:georgia;margin:10px 0;letter-spacing:0.4px;}
#EasingSlider .slideItem .text img{position:static;}
#EasingSlider .slideItem .text a{color:#0097d4;text-decoration:none;background: url(../images/trust/link.png) no-repeat scroll right 6px;padding-right:8px;}
#EasingSlider .slideItem .text>small{font-weight:bold;font-size:1.2em;}

.column ul{padding:0 15px}
.column ul li{}

.details img{float:left;margin:0 10px 0 0;width:120px;}
.fadeMask{}
