div input[readonly] {
    padding-left: 1.75rem !important;
}

.slds-input {
    padding-left: 1.75rem !important;
}

.slds-input-has-icon .slds-input__icon {
    top: 56% !important;
}

.slds-icon_small,
.slds-icon--small {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 2;
}

.margin-auto {
    margin-top: auto;
    margin-bottom: auto;
}