/*
 * @author Ben Harvie
 * @email ben.harvie@salesforce.com
 * @desc CSS File for KARL LWC Component
 */

/* Import Standard KARL CSS */
@import 'c/karl_css';

/* Unique KARL LWC CSS */
.karl-btn-group .button {
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 50%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }