<template>
    <div class="slds-form-element__control">
        <c-karl_datatable_picklist_item label={typeAttributes.label} value={typeAttributes.value} field={typeAttributes.field}
            placeholder={typeAttributes.placeholder} options={typeAttributes.options} context={typeAttributes.context} selected={typeAttributes.selected}>
        </c-karl_datatable_picklist_item>
    </div>
</template>