<template>
    <div class="karl-btn-group" role="group">
        <button type="button">Update Description</button><br />
        <button type="button">Update Mappings</button><br />
        <button type="button">GUS Automation</button>
    </div>
</template>