<template>
    <template for:each={value} for:item="filedata">
        <div key={filedata.fileId} class="slds-truncate"><a target="_blank" href={filedata.fileLink}>{filedata.fileName}</a>
        </div>
    </template>
</template>