.THIS {
}

/** TODO hiding the misaligned icon for now */
.THIS .datePicker-openIcon {
    display:none;
}

.THIS .esa-has-error {
    border:1px solid red;
    
}

.THIS .slds-textarea {
	height: 5rem;
}

.THIS .esa-cursor-default {
    cursor:default;
}

.THIS .slds-vertical-tabs {
    overflow: initial;
}

.THIS .slds-vertical-tabs__nav-item.slds-is-active.slds-text-color_error,
.THIS .slds-vertical-tabs__nav-item.slds-is-active.slds-text-color_error a {
    color:rgb(194, 57, 52);
}

.THIS .file-pill .slds-pill__remove {
    display: none;
}