<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name={cardIcon} alternative-text="Reports" title="Reports" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">{tileName}</h2>
                </div>
                <div class="slds-no-flex">
                    <lightning-button if:false={isChildMaster} label={cardButton} onclick={openCreateModal}></lightning-button>
                    <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" onclick={handleRefresh} class="slds-m-left_x-small"></lightning-button-icon>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <!-- Primary Reports Data -->
			<template if:true={isPrimary}>
                <ul class="slds-has-dividers_around">
                    <template for:each={reportsData} for:item="reportItem">
                        <div key={reportItem.Id} class="slds-item">
                            <c-karl_scope_reports_tile reportitem={reportItem} 
                            associationtype={associationType} 
                            parentobject={objectApiName} 
                            onkarlrecordview={handleRecordView} 
                            onkarledit={openUpdateModal} 
                            onkarldelete={openDeleteModal}></c-karl_scope_reports_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:true={isParent}>
                <ul class="slds-has-dividers_around">
                    <template for:each={relatedData} for:item="reportItem">
                        <div key={reportItem.Id} class="slds-item">
                            <c-karl_scope_reports_tile reportitem={reportItem} 
                            associationtype={associationType} 
                            parentobject={objectApiName} 
                            onkarlrecordview={handleRecordView} 
                            onkarledit={openUpdateModal} 
                            onkarldelete={openDeleteModal}></c-karl_scope_reports_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:true={isChild}>
                <ul class="slds-has-dividers_around">
                    <template for:each={relatedData} for:item="reportItem">
                        <div key={reportItem.Id} class="slds-item">
                            <c-karl_scope_reports_tile 
                            reportitem={reportItem} 
                            associationtype={associationType} 
                            parentobject={objectApiName} 
                            onkarlrecordview={handleRecordView} 
                            onkarledit={openUpdateModal} 
                            onkarldelete={openDeleteModal}></c-karl_scope_reports_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:true={isPrimary}>
                <template if:false={primaryRecords}>
                    <div class="slds-text-color_weak">
                        This audit scope has no certification reports.
                    </div>
                </template>
            </template>
			<template if:true={isParent}>
                <template if:false={relatedRecords}>
                    <div class="slds-text-color_weak">
                        This audit scope is not included in any other certification reports.
                    </div>
                </template>
            </template>
			<template if:true={isChild}>
                <template if:false={relatedRecords}>
                    <div class="slds-text-color_weak">
                        This audit scope has no child audit scopes included in its audit reports.
                    </div>
                </template>
            </template>
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the Certification Reports component.
				</div>
			</template>
        </div>
    </article>
    <!-- Delete Record -->
    <c-karl_modal if:true={showDeleteModal} onclose={closeDeleteModal} onyes={deleteRecord}
        confirmation-message={deleteRecordConfirmationMsg}></c-karl_modal>
    <!-- Create Record -->
    <c-karl_scope_reports_modal if:true={showCreateModal} onclose={closeCreateModal} onsuccess={handleCreateSubmit}
        associationtype={associationType} parentrecord={recordId}></c-karl_scope_reports_modal>
    <!-- Edit Record -->
    <c-karl_scope_reports_modal if:true={showUpdateModal} onclose={closeUpdateModal} onsuccess={handleUpdateSubmit}
        associationtype={associationType} targetrecord={recordTarget}></c-karl_scope_reports_modal>
</template>