
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/sigma.core.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/conrad.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/utils/sigma.utils.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/utils/sigma.polyfills.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/sigma.settings.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/classes/sigma.classes.dispatcher.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/classes/sigma.classes.configurable.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/classes/sigma.classes.graph.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/classes/sigma.classes.camera.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/classes/sigma.classes.quad.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/classes/sigma.classes.edgequad.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/captors/sigma.captors.mouse.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/captors/sigma.captors.touch.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/sigma.renderers.canvas.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/sigma.renderers.webgl.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/sigma.renderers.svg.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/sigma.renderers.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/webgl/sigma.webgl.nodes.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/webgl/sigma.webgl.nodes.fast.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/webgl/sigma.webgl.edges.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/webgl/sigma.webgl.edges.fast.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/webgl/sigma.webgl.edges.arrow.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.labels.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.hovers.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.nodes.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edges.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edges.curve.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edges.arrow.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edges.curvedArrow.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edgehovers.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edgehovers.curve.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edgehovers.arrow.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.edgehovers.curvedArrow.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/canvas/sigma.canvas.extremities.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/svg/sigma.svg.utils.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/svg/sigma.svg.nodes.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/svg/sigma.svg.edges.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/svg/sigma.svg.edges.curve.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/svg/sigma.svg.labels.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/renderers/svg/sigma.svg.hovers.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/middlewares/sigma.middlewares.rescale.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/middlewares/sigma.middlewares.copy.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/misc/sigma.misc.animation.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/misc/sigma.misc.bindEvents.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/misc/sigma.misc.bindDOMEvents.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'src/misc/sigma.misc.drawHovers.js')}"/>

<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.parsers.json/sigma.parsers.json.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.renderers.edgeLabels/settings.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.def.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curve.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.renderers.edgeLabels/sigma.canvas.edges.labels.curvedArrow.js')}"/>

<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.layout.forceAtlas2/worker.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.layout.forceAtlas2/supervisor.js')}"/>
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'plugins/sigma.plugins.dragNodes/sigma.plugins.dragNodes.js')}"/>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<apex:includeScript value="{!URLFOR($Resource.CaseGraph , 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<style>
  #graph-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: 50px;
  }

  #graph-panel {
    width: 300px;
    margin: 20px;

    position: absolute;
    z-index: 2147483647;
  }

  #panelHideBtn
  {
    left: 88%;
    top: 18;
    position: absolute;
  }

  .panel-transparent {
        background: none;
        background: rgba(250, 250, 250, 0.8)!important;
    }

  .closebtn
  {
    color: grey;
    border: none;
    background: none;
  }

  .detailsTitle
  {
    position: block;
  }

  .panelBody
  {
    clear: left;
  }

</style>


<div id="container">
  <div class="panel panel-primary">
    <div class="panel-heading">
          CSIRT Alert: 3434344
    </div>

    
    <div id="graph-container"/>

    <div id="graph-panel" class="panel panel-default panel-transparent" style="display: none;">
      <div class="panelBg">
        <div class="panel-body">
            <div id="detailsTitle" style="float: left; width: 70%;">
              <b>Event</b><br/><br/>
            </div>
            <div id="panelHideBtn">
              <button type="button" class="glyphicon glyphicon-remove-circle closebtn" data-dismiss="modal" aria-hidden="true"></button>
            </div>
          <div class="panelBody">
            <div id="detailsbody"></div>
            <div id="detailsbodyRelatedEvents"></div>
         </div>
      </div>
      </div>
    </div>

    <!-- <div id="graph-panel" style="display:none">
      <div class="panel panel-success">

        <div class="panel-heading">
          Panel heading
          <div id="panelHideBtn" class="pull-right action-buttons">
            <button type="button" class="btn btn-success btn-xs"> X
            </button>
          </div>
        </div>

        <div class="panel-body">
          <p>...</p>
        </div>

        <ul class="list-group">
          <li class="list-group-item">Cras justo odio</li>
          <li class="list-group-item">Dapibus ac facilisis in</li>
          <li class="list-group-item">Morbi leo risus</li>
          <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li>
        </ul>
      </div>
    </div>
  </div> -->
  </div>
</div>

<script></script>
