.THIS {
}

.THIS.container {
    margin-left: 7rem;
    margin-right: 7rem;
}

.THIS .hide-label .slds-form-element__label {
    display : none;
}

.THIS .max-w-60 {
    max-width: 70px;
}

.THIS .slds-table thead th {    
    background-color: #f3f2f2;
    color: rgb(81, 79, 77);
    padding: .25rem .25rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    padding: 1rem 0px;
}

.THIS .slds-table tbody td {
    padding : .5rem 0rem;
}

.THIS .slds-table tbody td,
	.THIS .slds-table tbody th{
    	text-align: center; 	
}

.THIS .slds-table tbody td div:first-child {
    margin: 0% 2%;
}

.THIS .margin-between {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.THIS h3 {
    font-size: large;
    font-weight: 700;
}

.THIS .slds-has-error .slds-form-element__help {
    text-align: left;
    margin: 0% 2%;
}

.THIS .min-w-5 {
    min-width : 5rem;
}

.THIS table {
    border: 1px solid rgb(217, 219, 221);
}

.THIS .float-to-right {
    float : right;
}

.THIS .position-fixed {
    position : fixed;
}

.THIS .green {
    color : green;
    font-weight: 700;
}

.THIS .red {
    color : red;
    font-weight: 700;
}

.THIS .table-limiter {
    height: 400px;
    overflow-y: scroll;
    display: block;
}

.THIS .refreshButton {
    width: 100%;
    height: 2.6rem;
    text-align: end;
}

.THIS .error {
    font-size: 1.2rem;
    color : rgb(194, 57, 52);
}

.THIS .slds-page-header {
    padding: 1rem;
    border-bottom: 1px solid #dddbda;
    border-radius: .25rem;
    background: #f3f2f2;
    background-clip: padding-box;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.1);
    border: 1px solid #dddbda;
}

.THIS .slds-table td p {
    text-overflow: ellipsis;
    width: 30rem;
    overflow: hidden;
}

.THIS .fix-width {
    width: 7%;
}

.THIS .w-40 {
    width: 40%;
}

.THIS .w-f { 
    width : 100%;
}

.THIS .acc-email {
    white-space: normal;
    overflow-wrap: break-word;
}

.THIS .w-8 {
    width : 8%;
}