.THIS {
}

.THIS .esa-path__item+.slds-is-complete+.slds-is-incomplete:before {
    background-color: rgb(74, 203, 128);
}

.THIS .slds-path__scroller-container {
    max-width: 100%;
}

.THIS .esa-highlight {
    font-style: italic;
}