<template>
    <article class="slds-card" style="max-height: 500px;overflow: auto;">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name="standard:process_exception" alternative-text="test" title="test" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">DocuSign Envelope Status</h2>
                </div>
                <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                    <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" onclick={handleRefresh} class="slds-m-left_x-small"></lightning-button-icon>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <!-- Show Audit Issues Data  -->
			<template if:true={records}>
                <ul class="slds-has-dividers_around">
                    <template for:each={docusignEvelopeStatus} for:item="envelope">
                        <div key={envelope.Id} class="slds-item">
                            <c-karl_docusign_envelope_tile record={envelope} onkarlrecordview={handleRecordView}></c-karl_docusign_envelope_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:false={records}>
				<div class="slds-box slds-theme--success slds-text-title_bold slds-text-color_inverse">
					Send an envelope to view the status
				</div>
			</template>
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the Envelope status. Please contact your system administrator.
				</div>
			</template>
        </div>
    </article>
</template>