.THIS .esa-vertical-nav {    
    /*background-color: #f5f5f5;*/
}

.THIS .esa-vertical-nav .slds-nav-vertical__section:last-child {    
    padding-bottom: .5rem;
}

.THIS .esa-vertical-nav .slds-nav-vertical__section.slds-section.slds-is-open .slds-section__content {
    padding-top: 0;
}