<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
<head>
<c:CorpHeadSection ></c:CorpHeadSection>
</head>
<body class="" id="wrapper">
   <div class="" id="pagewrap">  
<c:SDLLiteBody ></c:SDLLiteBody>
            
            <div id="main">
            <div class="gs">
<div id="centerwrap">
<div id="container">
<div id="contentcontainer">
<div id="content4r"> <a
 id="top" name="top"></a>
<h1>&nbsp;</h1>


            
            
            
            <b>What is SDL-Lite?</b><br>
The SDL-Lite is a set of tools, processes and training that can be used during different stages of a standard development cycle.  Force.com developers can leverage our online training, secure coding libraries, and on-demand security source code scanner to build more secure applications while reducing development time.<br><br>
              SDL-Lite borrows from several other secure development methodologies and models such as Microsoft SDL, BSIMM, OpenSAMM, CLASP, and others. We commend their respective authors for their outstanding work.  SDL-Lite though takes a slightly different approach when compared to the others.  First, its primary focus is on the Force.com platform.  Second, you’ll notice the focus on “Lite”.  Security methodologies can be quite prescriptive and often are only really possible for large companies.  Salesforce.com has aimed to deliver something that focuses on the most ‘bang for the buck’, while still delivering good security coverage.  Depending on your sensitivity around security you can and probably should add to the resources we’ve provided.  Third, while we do outline where in the development lifecycle the resources should be used, there’s nothing set in stone.  Reasonable companies should adopt the resources that make the most sense to them at the time in the development lifecycle that makes the most sense.  Some companies will find that certain aspects of SDL-Lite don’t apply to them or add that much value.  That’s perfectly fine too.  You should use it in the way that adds the most value to your organization.<br><br> Check
out our <a href="/sdlliteguide">SDL-Lite Resources</a>
page for more information on what specific resources are available and
how you can use them.<br>
<br>
<b>Why
have a security lifecycle for Force.com?</b>
<br>
Significant security breaches due to software security vulnerabilities are in the news almost daily. Unfortunately though, it’s a sad state of the industry that most developers lack the training, expertise, and tools to build software securely. The goal of Force.com is a platform that is not only fast and easy to develop on, but a security conscious community in which all developers and partners value trust as their top priority. Together, our entire network of developers can help build a trusted Force.com ecosystem.<br>
<br>
Additionally, by adopting these approaches, companies will reduce the number of security issues in their applications and lower their total development cost. The National Institute of Standard and Technology states that eliminating vulnerabilities early in the development process can cost 30 times less than if you fixed them after the software has been released.<br>
<br>
<b>Who is the SDL-Lite aimed at?</b>
<br>
SDL-Lite is primarily aimed at members of development organizations,
but can be used to help drive improved security by anyone helping build
and support applications and services. Some large or security sensitive
organizations may find that they need to augment SDL-Lite to include
further requirements.<br>
<br>
<b>What&rsquo;s the future for
SDL-Lite look like?</b><br>
The salesforce.com team wants our community to be very open with
feedback. If there are areas you&rsquo;d like more information on,
better tools, more resources, whatever the case is, let us know. We
want to help you be successful and only through feedback and
transparency from our community will we be able to achieve this.
Feedback can be sent to us at sdllite [at] salesforce [dot] com.<br><br>
<b>By following SDL-Lite will I be 100% secure?</b><br>
There is no framework, lifecycle, methodology or model that will guarantee something to be completely secure.  The resources available here will help though in improving the security of your Force.com applications.<br>

            
            
   
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

            
                
                <span id="endofcontent"><!--**************--></span>
                
                
                                                    
            <div style="text-align:center">
            <c:CorpFooter ></c:CorpFooter>
            </div>
            </div>

    </body>  
  

</apex:page>