<apex:page standardController="Case" extensions="CSIRT_MassCloseEmailWithComment" recordSetVar="cases">
   <apex:form >
       <apex:pageBlock title="Reply to Selected Emails">
            <apex:pageBlockButtons >
                <apex:commandButton action="{!addComment}" value="Confirm"/>
            </apex:pageBlockButtons>
            <apex:pageBlockSection title="Add Comment" columns="1"> 
                <apex:inputCheckbox value="{!ispublic}" label="Is Public"/>
                <apex:inputTextarea style="width:500px;height:100px" value="{!closingComment}"/>             
             </apex:pageBlockSection>   
             <apex:pageBlockSection title="Optional Closing Status" columns="1"> 
             		<apex:selectList value="{!closingStatus}" multiselect="false" size="1">
                   <apex:selectOptions value="{!closedStates}"/>
                </apex:selectList>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Selected Email Details">
            <apex:pageBlockTable value="{!selected}" var="case">
                <apex:column value="{!case.casenumber}"/> 
                <apex:column value="{!case.Subject}"/>
                <apex:column value="{!case.Alert_Name__c}"/>
                <apex:column value="{!case.contact.Name}"/> 
                <apex:column value="{!case.contact.Email}"/> 
            </apex:pageBlockTable>  
            </apex:pageBlockSection>
        </apex:pageBlock> 
    </apex:form>    
</apex:page>