<apex:page standardController="Case"
           sidebar="false"
           showHeader="false"
           showChat="false">
<apex:pageMessage summary="The contact for this case is not a salesforce.com employee " 
                  severity="warning" 
                  strength="3"
                  rendered="{!IF(OR((contains(case.Contact.Email, "@salesforce.com")), (contains(case.Contact.Email, "@exacttarget.com"))), "False", "True")}"/>
<apex:pageMessage summary="The contact for this case is an ExactTarget employee. Please follow the guidelines in the Security@ExactTarget Email Handling document. " 
                  severity="info" 
                  strength="3"
                  rendered="{!IF(contains(case.Contact.Email, "@exacttarget.com"), "True", "False")}"/>
<apex:outputLink value="{!$Setup.Document_Links__c.ETEmailguide__c}" id="ETEmailHandlingGuidelines" target="_blank" rendered="{!IF(contains(case.Contact.Email, '@exacttarget.com'), 'True', 'False')}">ExactTarget EMail Handling Guidelines</apex:outputLink>
</apex:page>