<apex:page readOnly="true" StandardController="Detection_Security_Event_Criteria__c" extensions="DCEventDetailsController" showHeader="true" sidebar="false">
    
    <script>
        function retrieveChartData(callback) {

           Visualforce.remoting.Manager.invokeAction(
               '{!$RemoteAction.DCEventDetailsController.getChartData}',
               '{!$CurrentPage.parameters.id}',
               '{!dayRange}',
               function(result, event) {
                   if(event.status && result && (result.constructor === Array)) {
                       callback(result);
                       lineChart.show();
                   }
                   else if (event.type === 'exception') {
                       document.getElementById("remoteResponseErrors").innerHTML = event.message + 
                           '<br/>' + event.where;
                   }
                   else {
                       document.getElementById("remoteResponseErrors").innerHTML = event.message;
                   }                   
               },
               { escape: true }
           );
        }
    
    </script>

    <apex:pageBlock title="Charts">

            <b>In the past 24 Hours</b><br/>
            
        	<div>
            	<p>   
                    Event Count:<apex:outputLabel value="{!EventCount}" /> 
                    <br/>
                    Last Event: <apex:outputLabel value="{!LastEventDate}" />
                </p>
    		</div>  

        	<br/>
        
        	<hr/>
        
        	<br/>
        	<b>Graph Date Range</b><br/>
        
        	<apex:form >
                <apex:selectList id="select_list_dateRange" value="{!selected_list_dateRange}" required="false" size="1">
                    <apex:selectOption itemvalue="7" itemLabel="7 days"/>
            		<apex:selectOption itemvalue="14" itemLabel="14 Days"/>
                    <apex:selectOption itemvalue="30" itemLabel="30 Days"/>
                    <apex:selectOption itemvalue="90" itemLabel="90 Days"/>
                    <apex:selectOption itemvalue="-1" itemLabel="24 Hours"/>
                    <apex:actionSupport event="onchange" action="{!Change}"/>
                </apex:selectList>
            </apex:form>
        
			<br/>
        
            <apex:chart name="lineChart" hidden="true" height="400" width="700" data="retrieveChartData">
                <apex:axis type="Numeric" position="left" fields="data1"
                    title="Security Events" grid="true"/>
                
                <apex:axis type="Category" position="bottom" fields="name"
                    title="Previous Days"/>
                
                <apex:lineSeries title="total" axis="left" xField="name" yField="data1"
                    fill="true" markerType="cross" markerSize="4" markerFill="#FF0000"/>
            </apex:chart>
        
        	<span id="statusDisplay"></span>
            <span id="remoteResponseErrors"></span>
 
    </apex:pageBlock>
    
</apex:page>