<apex:page sidebar="false" showHeader="false" showChat="false">
  Profile Id:{!$Profile.Id}
  <br/>
  Profile Name:{!$Profile.Name}
  <br/>
  User Id:{!$User.Id}
  <br/>
  User UserName:{!$User.UserName}
  <br/>
  User Name:{!$User.FirstName}&nbsp;{!$User.LastName}
  <br/>
  User Type:{!TEXT($User.UserType)}
  <br/>
  Site Name:{!$Site.Name}
  <br/>
  Site Type:{!$Site.SiteType}
  <br/>
  Site CurrentSiteUrl:{!$Site.CurrentSiteUrl}
  <br/>
  Site BaseRequestUrl:{!$Site.BaseRequestUrl}
  <br/>
  Site Prefix:{!$Site.Prefix}
</apex:page>