<apex:page showHeader="false" standardStylesheets="false" sidebar="false" standardcontroller="Flow__c" extensions="FlowEditorController">
 <head>
  <apex:stylesheet value="{!URLFOR($Resource.EXT31,'ext-3.1.0/resources/css/ext-all.css')}" />
  <script type="text/javascript">
      var IMAGE_BASE='{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')}';
  </script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/wz_jsgraphics.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/mootools.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/moocanvas.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/draw2d.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/ContextmenuConnection.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/ArrowDecoratedConnection.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/FlowInputPort.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/ArrowOutputPort.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.EXT31,'ext-3.1.0/adapter/ext/ext-base.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.EXT31,'ext-3.1.0/ext-all-debug.js')}" />
  
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/XmlSerializer.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/FlowForms.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/FormShowerListener.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/Question.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/Variable.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/Decision.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/Url.js')}"></script>
  <script type="text/javascript" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/js/Start.js')}"></script>
  <style>
    #edit-form {
      position:fixed;
    }
    #objects {
      position: fixed;
    }
  </style>
 </head> 

<body>
  <div id="debug"></div>
  <apex:outputText value="{!debug}" id="debug" escape="false"/>
  <script type="text/javascript">
    
    Ext.ux.Image = Ext.extend(Ext.Component, {
        url  : Ext.BLANK_IMAGE_URL,  //for initial src value
        autoEl: {
                tag: 'img',
                src: Ext.BLANK_IMAGE_URL,
                cls: 'tng-managed-image',
        },
 
        //  Add our custom processing to the onRender phase.
        //  We add a ‘load’ listener to our element.
        onRender: function() {
            Ext.ux.Image.superclass.onRender.apply(this, arguments);
            this.el.on('load', this.onLoad, this);
            if(this.url){
                this.setSrc(this.url);
            }
        },
     
        onLoad: function() {
            this.fireEvent('load', this);
        },
     
        setSrc: function(src) {
            this.el.dom.src = src;
        }
    });
    Ext.reg('image', Ext.ux.Image);
  </script>
<script>

  function debug(msg)
{
  var console = document.getElementById("debug");
  console.innerHTML=console.innerHTML+"<br>"+msg;
}
  /**********************************************************************************
   * 
   * Do the Draw2D Stuff
   *
   **********************************************************************************/

  Ext.onReady(function() { 
   var panel = new Ext.Panel({
     titlebar:false
    ,id:'editorlayout'
    ,layout:'border'
    ,width:3000
    ,height:10000
    ,renderTo:Ext.getBody()
    ,items: [{
             region:'west',
             title:'Available Nodes',
             id:'objects',
             width: 302,
             autoWidth:false,
             labelwidth:70,
             titlebar: true,
             collapsible: true,
             //autoScroll:true,
             frame:true,
             border:true,
             layout:'anchor',
             items:[{
                 html:'<img id="dragVariable" style="cursor:move" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'Variable.png'}" /><br /><br />',
                 title:'Variable Node',
               },{
                 html:'<img id="dragQuestion" style="cursor:move" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'Question.png'}" /><br /><br />',
                 title:'Question Node',
               },{
                 html:'<img id="dragDecision" style="cursor:move" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'Decision.png'}" /><br /><br />',
                 title:'Decision Node',
               },{
                 html:'<img id="dragUrl" style="cursor:move" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'Url.png'}" /><br /><br />',
                 title:'Url Node',
               },{
                 html:'<img id="dragStart" style="cursor:move" src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'Start.png'}" /><br /><br />',
                 title:'Start Node'
               },{
                 xtype:'button',
                 text:'Upload Flow',
                 width:180,
                 height:70,
                 title:'Finish',
                 handler: function() {
                       var answer = confirm('This will replace the current flow.  Are you sure?');
                       if (answer) {
                         loadXML(draw2d.XMLSerializer_01.prototype.toXML(workflow));
                       }
                     }
               },{
                 html:'<br /><br /><br /><br />'
               },{
                 xtype:'form',
                 id:'edit-form'               
               }]
             },{
             region:'center',
             id:'paintarea',
             titlebar: true,
             //autoScroll:true,
             fitToFrame:true,
             border:true
            }]
    });
             
     
     var info = {!json};
     var workflow  = new draw2d.Workflow("paintarea");
     var newNodes = {}
     var start = null;
     var n_obj = null;
     for (var i=0;i<info.length;i++){
       var dict = info[i];
       n_obj = null;
       if (dict['type'] == 'Question') {
         n_obj = new draw2d.Question();
       } else if (dict['type'] == 'Variable') {
         n_obj = new draw2d.Variable();
       } else if (dict['type'] == 'Decision') {
         n_obj = new draw2d.Decision();
       } else if (dict['type'] == 'Url') {
         n_obj = new draw2d.Url();
       } else if (dict['type'] == 'Start') {
         n_obj = start = new draw2d.Start();
         start.setProperty('node_id',dict['node']);
       }
       for (var t=0;t<n_obj.serializeFields.length;t++) {
         var field = n_obj.serializeFields[t];
         n_obj.setProperty(field,dict[field]);
       }
       workflow.addFigure(n_obj, dict['x'],dict['y']);
       newNodes[dict['id']]=n_obj;
     }
     // put the start node up

     if (start != null) {
       workflow.addFigure(start,newNodes[start.getProperty('node_id')].getX()-100,newNodes[start.getProperty('node_id')].getY());
       var sn = new draw2d.ArrowDecoratedConnection();
       sn.setSource(start.getPort('node'));
       sn.setTarget(newNodes[start.getProperty('node_id')].getPort('input'));
       workflow.addFigure(sn);
     }
     
     //ok, so all the nodes are there.  Do the connections
     for (var i=0;i<info.length;i++){
       var dict = info[i];
       var node = newNodes[dict['id']];
       if ((dict['yesnext'] != '')&&(dict['yesnext'] != undefined)) {
         var c = new draw2d.ArrowDecoratedConnection();
         c.setSource(node.getPort('yesnext'));
         c.setTarget(newNodes[dict['yesnext']].getPort('input'));
         workflow.addFigure(c);
       }
       if ((dict['nonext'] != '')&&(dict['nonext'] != undefined)) {
         var c = new draw2d.ArrowDecoratedConnection();
         c.setSource(node.getPort('nonext'));
         c.setTarget(newNodes[dict['nonext']].getPort('input'));
         workflow.addFigure(c);
       }
       if ((dict['next'] != '')&&(dict['next'] != undefined)) {
         var c = new draw2d.ArrowDecoratedConnection();
         c.setSource(node.getPort('next'));
         c.setTarget(newNodes[dict['next']].getPort('input'));
         workflow.addFigure(c);
       }
     }
     
     //workflow.scrollArea = document.getElementById("paintarea");
     
     // listener to set up the edit forms
     var listener = new draw2d.FormShower(workflow);
     workflow.addSelectionListener(listener);

     
     //Ext.getDom('objects').innerHTML += '<br /><img src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'Question.png'}" id="dragMe" style="cursor:move"/><br /><br />';
     //Ext.getDom('objects').innerHTML += '<br /><img src="{!URLFOR($Resource.FlowIncl,'FlowIncl/img/')+'End.png'}" id="dragMe2" style="cursor:move"/><br /><br />';
     var dragsource=new Ext.dd.DragSource("dragVariable", {ddGroup:'TreeDD',dragData:{name: draw2d.Variable.prototype.type}});
     var dragsource=new Ext.dd.DragSource("dragQuestion", {ddGroup:'TreeDD',dragData:{name: draw2d.Question.prototype.type}});
     var dragsource=new Ext.dd.DragSource("dragDecision", {ddGroup:'TreeDD',dragData:{name: draw2d.Decision.prototype.type}});
     var dragsource=new Ext.dd.DragSource("dragUrl", {ddGroup:'TreeDD',dragData:{name: draw2d.Url.prototype.type}}); 
     var dragsource=new Ext.dd.DragSource("dragStart", {ddGroup:'TreeDD',dragData:{name: draw2d.Start.prototype.type}}); 
     var droptarget=new Ext.dd.DropTarget("paintarea",{ddGroup:'TreeDD'});
     droptarget.notifyDrop=function(dd, e, data){
       if(data.name){
         var xOffset    = workflow.getAbsoluteX();
         var yOffset    = workflow.getAbsoluteY();
         var scrollLeft = workflow.getScrollLeft();
         var scrollTop  = workflow.getScrollTop();
         scrollTop=0; // I don't know what scrollTop does, but it's broken on big workflows
         workflow.addFigure(eval("new draw2d."+data.name+"()"),e.xy[0]-xOffset+scrollLeft,e.xy[1]-yOffset+scrollTop);
         return true;
       }
      }
   });
</script>
</body>

<apex:form >
  <apex:actionFunction name="loadXML" action="{!loadXML}" oncomplete="alert('done')" rerender="debug">
    <apex:param name="xml" value="" assignTo="{!xml}" />
  </apex:actionFunction>
</apex:form>
</apex:page>