<apex:page controller="ignore_bugs" showheader="false" sidebar="false" >
 <apex:sectionHeader title="BUG REVIEW THIS WEEK"/>
    <!-- Note the "Scoping Class" is foo -->


    
    
    <apex:form >
         <apex:actionFunction name="refresh"/>

    <apex:pageBlock >
        <apex:panelGrid columns="2"  columnClasses="col1, col2">
            <apex:pageMessages id="msg"  />
             <apex:commandButton value="Sync with GUS" action="{!refresh_gus}" onclick="alert('Syncing with GUS. Refresh the page in few mins');" rerender="msg"/>
        </apex:panelGrid>
       
        <!--
        <apex:actionRegion >
        <apex:selectCheckboxes value="{!Selected_value}"  >
          <apex:selectOptions value="{!OptionsList}"></apex:selectOptions>
            <apex:actionSupport event="onchange" action="{!refresh}" reRender="table" status="status" />
            </apex:selectCheckboxes> </apex:actionRegion> -->
       
        <apex:pageBlockTable value="{!bug_list}" var="w" id="table">
         
        <apex:column headervalue="Work ID" style="width:5%"><apex:outputLink value="https://gus.my.salesforce.com/{!w.Gus_work_id__c}" target="_blank"> {!w.Name} </apex:outputLink> </apex:column>
        <apex:column headervalue="Bug Title" style="width:20%"> {!w.Bug_Title__c } <!--<apex:outputLink value="/{!w.work.Id}" target="_blank"> </apex:outputLink>--> </apex:column>
        <apex:column headervalue="Cloud" style="width:6%" value="{!w.Cloud_name__c}"/>
        <apex:column headervalue="Status" style="width:5%" value="{!w.Status__c}"/>
        <apex:column headervalue="Assigned To" style="width:6%" value="{!w.Assigned_to__c}"/>
            <apex:column headervalue="Priority" value="{!w.Priority__c}" style="width:3%" />
            <apex:column headerValue="Age" value="{!w.Age__c}" style="width:3%" />
            <apex:column headerValue="Action Item" style="width:15%"  > 
                <apex:outputText value="{!w.Action_item__c}" escape="false"/>
            </apex:column>
        <apex:column headerValue="Prodsec PoC"  style="width:6%" value="{!w.Prodsec_owner__c}" />
            <apex:column headerValue="Comments" style="width:15%"> <apex:outputText value="{!w.Comment__c}" escape="false"/> </apex:column>
            <apex:column headerValue="RF Blocker" style="width:6%" value="{!w.RF_Blocker__c}"/ >
        <apex:column headerValue="WRAP Escalation" style="width:6%" value="{!w.WROR__c}"/>
        <apex:column style="width:6%" >
            <apex:commandButton value="Update Status" action="{!comment_method}" reRender="tstpopup">
            <apex:param name="work id" value="{!w.id}" assignTo="{!wrap_ref}" /> <!--Passing wrapper to bug -->
            </apex:commandButton>
        </apex:column>
            
        <!--POP for Comment -->
          
            
            
             

    </apex:pageBlockTable>
    </apex:pageBlock>
        
   </apex:form>

    
      <apex:outputPanel id="tstpopup">
        <apex:outputPanel styleClass="popupBackground" layout="block" rendered="{!displayPopUp}"/>
            <apex:outputPanel styleClass="custPopup2" layout="block" rendered="{!displayPopUp}">
                <apex:form >
                    Comments: <br/>
                    <apex:inputTextarea style="width:200px; height:30px;" value="{!comment}"/> <br/> <br/>
                 RF Blocker: <apex:inputCheckbox value="{!input_RF}"/><br/>
                 WRAR ESCALATION: <apex:inputCheckbox value="{!input_wror}"/><br/> 
                 IGNORE BUG: <apex:inputCheckbox value="{!input_ignore}" /><br/> <br/>
                <apex:commandButton value="Update" action="{!close_update}" rerender="table,tstpopup,msg" /> &nbsp; &nbsp;
                <apex:commandButton value="Cancel" action="{!closePopup}" rerender="tstpopup"/>
                </apex:form>
            </apex:outputPanel>
        </apex:outputPanel>
    
    
    
    <style type="text/css">
        
        
        .custPopup2{
            background-color: white;
            border-width: 2px;
            border-style: solid;
            z-index: 9999;
            left: 50%;
            padding:10px;
            position: absolute;
            width: 200px;
            height: 170px;
            margin-left: -250px;
            top:100px;
        }
         .col1 {width:95%;}
    	  .col2 {width:10%; text-align:right;}
        
        
        
        .popupBackground{
            background-color:black;
            opacity: 0.20;
            filter: alpha(opacity = 20);
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 9998;
        }
        

    </style>
        
    <script>
        function test(){
            alert();
            }
        
        
    </script>

    
</apex:page>