<apex:page showHeader="false" standardController="Detection_Security_Event__c" extensions="jsonPrettyControllerExtension">
	<apex:outputtext value="{!buildTable}" escape="false" id="tblHTML"/>
</apex:page>