<apex:page sidebar="False" controller="ScorecardController" title="Quiz Scorecard" showHeader="false" action="{!init}">
<html>
 <head>
    <script src="{!$Resource.jquery14}" type="text/javascript"></script>
    <script>

      $(document).ready(function () {
        if(navigator.appName == 'Microsoft Internet Explorer')
        {
          $('#moreinfo').css('margin-top','-20px');
        }
        
        if (/safari/i.test(navigator.userAgent))
        { 
            $('#moreinfo').css('margin-top','-5px');   
        }
        
      });
    </script>
    <style>
body{
    font-family: Helvetica,Arial,sans-serif;
    margin: 0px 0px 0px 0px;
    font-size: 14px;
}

div.everything{
    margin-left:35%;
    margin-top:15%;
}
div.wrapper{
    background-image:url({!$Resource.register_bg}); /* our wrapper bg image */
    background-repeat:no-repeat; /*we dont want this image to repeat ever! */
    width:348px; /*width of the image */
    height:354px; /* height of image */
    margin-left:4px; /* margin from left side of screen*/
    padding-top:45px; /* used to position rest of content below ribbon */
}

div.ribbon{
    background-image:url({!$Resource.register_ribbon}); /* our ribbon image */
    background-repeat:no-repeat;    /* no repeating of image */
    width:358px;    /* width of image */
    height:45px;    /* height of image */
    float:left; /* float this image to the left */
    margin-top:-35px;    /* our margin from the top of the background */
    margin-left: -5px;
    padding-left:25px;  /* text padding left */
    padding-top:5px;    /* text padding above text */
    color:#ffffff;  /* text color */
    font-weight:bold; /*text weight */
}

div.logo{
    background:url({!$Resource.register_logo}) no-repeat; /* combined background attribute */
    width:250px;
    height:60px;
    margin-left:55px;
    margin-top:5px;
}

/** Login Block **/
div.loginwrapper{
    margin-left:40px;
}

div.userinfobox {
    margin-top:5px;
}

div.userinfobox ul {
    margin-top:3px;
}

span.usertext{
    color:#478fab;
    font-weight:bold;

}

div.notification{
    color:#A00000 ;
    font-weight:bold;
    margin-left:20px;
    width:300px;
}

input.textbox{
    background:url({!$Resource.register_text_field}) 0px -25px;
    width:264px;
    height:20px;
    border:0px;
    padding-top:5px;
    padding-left:4px;
}
input.textbox:hover{
    background:url({!$Resource.register_text_field}) 0px 0px;
    border:0px;
}

div.bottomwrapper{
    margin-left:40px;
    margin-top:40px;
}
/** Links CSS **/
a:link, a:visited{
    color:#ffffff;
    text-decoration:none;
}
a:hover{
    color:#95ddf9;
}

/** Button CSS **/
input.button{
    background:url({!$Resource.register_login_btn}) 0px 0px;
    width:92px;
    height:31px;
    border:0px;
    float:right;
    margin-right:20px;
    margin-top:5px;
    
}
input.button:hover{
    background:url({!$Resource.register_login_btn}) 0px -31px;
}
input.button:active{
    background:url({!$Resource.register_login_btn}) 0px -62px;
}
#moreinfo{
  /* margin-top: -2px; Chrome,Safari,IE */
  margin-left:13px;
  width:338px; /*width of the image */
}

a.floatlink {
  color: #000099;
}
</style>
</head>
<body>
    
    <div class="everything">
        <div id="wrapper" class="wrapper">
          <div id="ribbon" class="ribbon">Force.com security quiz results</div>
            <div class="logo"></div>
            <div class="loginwrapper">
                <div class="userinfobox">
                  <span class="usertext">Score:</span><br />
                  <apex:outputText styleClass="resultscore" value="{!percentCorrect} ({!correctCount } of {!answerCount})" /><br />
                </div>
                <div class="userinfobox" style="{!missedTopicStyle}">
                  <span class="usertext">Missed topics:</span><br />
                    <ul class="missed_topics">
                      <apex:repeat var="topic" value="{!incorrectTopics}">
                        <li><apex:outputText value="{!topic}" /></li>
                      </apex:repeat>
                    </ul>
                </div>
            </div>
            <div class="bottomwrapper">
                &nbsp;   
            </div>
            
            <apex:outputText value="{!debugField}" rendered="{!NOT(ISNULL(debugField))}" />
        </div>
        <div id="moreinfo">
              For more information on secure software development, see <a class="floatlink" href="http://salesforce.acrobat.com/writingsecureapps/">Writing Secure Apps</a> and <a class="floatlink" href="http://wiki.developerforce.com/index.php/Secure_Coding_Guideline">Secure Coding Guidelines</a>
        </div>
    </div>

</body>
</html>  
</apex:page>