<apex:page standardController="Training_Course__c" extensions="SC_BulkUnenrollController" lightningStylesheets="true">
    <apex:sectionHeader title="Bulk Email Unenroll" subtitle="{!Training_Course__c.Name}"/>

    <apex:form >
        <apex:pageMessages id="messages" showDetail="true"/>

        <apex:pageBlock >
            <apex:pageBlockSection columns="1" collapsible="false">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Prevent Future Enrollment and Escalations" for="excludeFutureEnrollment"/>
                    <apex:inputCheckbox id="excludeFutureEnrollment" value="{!excludeFutureEnrollment}"/>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Email(s)" for="emailText"/>
                    <apex:inputTextarea value="{!emailText}" id="emailText" rows="10" cols="60" title="New Line Separate" label="Email(s)" required="true" tabindex="1"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>

            <apex:pageBlockButtons location="bottom">
                <apex:commandButton value="Submit" action="{!processEmails}"/>
                <apex:commandButton value="Done" action="{!view}" immediate="true"/>
            </apex:pageBlockButtons>
        </apex:pageBlock>
    </apex:form>
</apex:page>