<apex:page showHeader="false">
<!--
 
Design by NodeThirtyThree <http://www.nodethirtythree.com>
Published by Free CSS Templates <http://www.freecsstemplates.org/>
Released for free under a Creative Commons Attribution 2.5 License
 
Title      : HyperGlass
Version    : 1.0
Released   : 20070718
Description: A two-column, fixed-width template featuring a blue glass effect ideal for 

1024x768 resolutions.
 
--> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
    <head> 
        
  <script type="text/javascript" 
src="{!$Resource.EXT}/ext-3.0.0/adapter/ext/ext-base.js"></script>
 <script type="text/javascript" src="{!$Resource.EXT}/ext-3.0.0/ext-all.js"></script>

<link rel="stylesheet" type="text/css" 
href="{!$Resource.EXT}/ext-3.0.0/resources/css/ext-all.css" />
<script type="text/javascript" src="{!$Resource.EXT}/ext-3.0.0/ext-all.js"></script>
<script language="javascript" src="{!$Resource.EXT}/ext-3.0.0/hello.js"></script>

<link rel="stylesheet" type="text/css" 
href="{!$Resource.EXT}/ext-3.0.0/examples/shared/examples.css" />

    <style type="text/css">
    .x-panel-body p {
        margin:10px;
        font-size:12px;
    }
    </style>

<script type="text/javascript" 
src="{!$Resource.EXT}/ext-3.0.0/examples/shared/examples.js"></script>




<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Scan</title><meta name="description" content="" /> 

        <meta name="keywords" content="" /><link href="http://saasscan.synthasite.com/index.php?

renderPaletteCSS=1239174961" rel="stylesheet" type="text/css" media="screen" /> 
        <link id="SYS_CSS_Text" rel="stylesheet" href="http://saasscan.synthasite.com/index.php?

renderTextCSS=1239174961" type="text/css" media="screen" />     
            
    </head> 
 
    <body> 
        <div id="sys_banner" name="banner" style="background:url

(http://saasscan.synthasite.com/templates/Hyperglass/resources/common/images/img02.jpg)
;"> 
            
                        
            <div id="head-space"> 
                &nbsp;
            </div> 
            
            <div id="logo"> 
                <h1><a href="http://security.force.com/sourcescanner">Force.com 
Security Source Code 

Scanner</a></h1> 
            </div> 
            <div id="menu"> 
                <ul> 
                                        
                                                

                                                
                                                

    
                                    
                                    </ul> 
            </div> 
            <div style="clear:left;height:1px;overflow:hidden;"></div> 
            
        </div> 
        
        <div id="page"> 
            <div id="bg"> 
                <div id="content"> 
                    <div id="content_inner"> 
                        <div id="" class="post" style="padding-

top: 57px;"> 
                                <div style="width: 100%; 

padding: 0px; margin: 0px" class="layout_1-column"> 
        <div id="layout_row1"> 
<div id="sys_region_1" style="margin:0px; padding:5px; vertical-align:top; line-

height:normal; min-width:100px" class="zone_top" >

<div style="display:none; color:red"  id="scan" name="scan">&nbsp;Thank you for 
submitting your code to 

scan.  You should receive results shortly.<br><br></div>

<div id="I4" style="display:block;" 

class="Text_Default"><div id="I4_sys_txt" class="sys_txt" style="margin:0px; 
padding:0px; 

color:; font:; background-color:;"><p> <b>Welcome to the Force.com Security Source Code 
Scanner!</b>  The 

world's first on-demand source code analysis tool built solely for a Platform as a 
Service.  This service 

provides developers of the Force.com platform information regarding the security of 
their code through 

next generation static analysis tools.<br><br>Upon submission your code will be queued 
and scanned on a 

first come, first serve basis.  A report with full details will be emailed to you upon 
completion of the 

scan.  &nbsp;&nbsp;<a href="/sourcescanner/ForceDotComScannerHelp">More Details...</a></p></div></div><div id="I5" 

style="display:block;" class="HTML_Default"><div id="I5_html">


<form action="https://www.salesforce.com/servlet/servlet.WebToCase?encoding=UTF-8" id="myform" name="myform"
method="POST">

<input type=hidden name="orgid" value="00D30000000Jsbi">
<input type=hidden name="retURL" 
value="http://security.force.com/sourcescanner/#complete">


<input  id="name" maxlength="80" name="name" size="20" type="hidden" value="Security 
Scan" />

<input  id="email" maxlength="80" name="email" size="20" type="hidden" 
value="secreview@salesforce.com" 

/>

<input  id="phone" maxlength="40" name="phone" size="20" type="hidden" 
value="222-222-2222" />

<input  id="subject" maxlength="80" name="subject" size="20" type="hidden" 
value="subject" />


Username:&nbsp;&nbsp;<input  id="00N300000044LDq" maxlength="255" 
name="00N300000044LDq" size="20" 

type="text" /><br>

<input type="hidden"  id="external" name="external" value="1" />


<input type="button"  id="show-btn" name="submitme" value="Submit"></form>



</div></div></div> 
        </div> 
    </div> 
    
    <div id="hello-win" class="x-hidden">

    <div class="x-window-header">Force.com Security Scanner</div>
    <div id="hello-tabs">
        <!-- Auto create tab 1 -->
        <div class="x-tab" title="Force.com Security Scanner">
            <p>Legal Text goes here...</p>
        </div>

    </div></div>
    
    <img 

src="https://na6.salesforce.com/servlet/servlet.ImageServer?id=01580000000eROL&oid=00D8
0000000KyM5&lastMo

d=1239236468000" align="right" onclick="window.location='http://www.checkmarx.com'" />
                            <br/><br/> 
                        </div> 
                    </div>          
                </div> 
                
                <div style="clear: both; height:20px;">&nbsp;</div> 
            </div> 
        </div>  
         
         <script>
         if(location.hash == '#complete')
         {
             document.getElementById('scan').style.display = 'block';
         }
         </script>

    </body> 
 
</html> </apex:page>