<apex:page sidebar="false" showHeader="false" standardStylesheets="false" controller="SecToolsUserEdPhishQuizController">
  <apex:composition template="Security_Tools_UserEd">
    <apex:define name="usered_tool_content">
        <apex:includeScript value="{!$Resource.SecurityStatics}/libs/fancybox/jquery.fancybox-1.3.4.js" />
        <apex:stylesheet value="{!$Resource.SecurityStatics}/libs/fancybox/jquery.fancybox-1.3.4.css" />
        

        <apex:form >
               <apex:actionFunction name="do_answer" action="{!submitAnswer}" rerender="id_usered_content">
                 <apex:param assignTo="{!answer}" name="param1" value="" />
               </apex:actionFunction>
           </apex:form>
              
        <apex:outputPanel id="id_usered_content" >
            <apex:pageBlock id="id_get_started" rendered="{!AND(NOT(is_started),NOT(is_DONE))}">
                 <fieldset>
                   <legend>Phishing Awareness Quiz</legend>
                   <br />
                   <p class="sec-tool-description">The Phishing Awareness Quiz is designed to help you identify and avoid malicious pages and emails intended to steal your salesforce.com information.  It consists of {!questionCount} questions that show real-world scenarios and ask you to identify if they're legitimate or phishing attempts.</p>
                   
                   
                   <apex:form >
                       <apex:commandButton styleClass="btn btn-primary" action="{!start}" value="Start" />
                   </apex:form>
                 </fieldset>
           </apex:pageBlock>
          
           
           
           <apex:pageBlock id="id_quiz_area" rendered="{!AND(is_started,NOT(is_done))}">
                <script type="text/javascript">
                    $('#sec-tool-nav').hide();
                </script>
                
                <div class="page-header">
                    <h4>Please select whether you believe this is a legitimate email or website or fraudulent.</h4>
                </div>
                <form class="form-inline" id="id_question_form">
                    <div class="control-group">
                        <div class="controls">
                          <label class="radio">
                            <input type="radio" name="answer_radio" id="id_fraud_option" value="Fraud" />
                            Fraud
                          </label>
                          <label class="radio">
                            <input type="radio" name="answer_radio" id="id_legitimate_option" value="Legitimate" />
                                Legitimate
                          </label>
                        </div>
                    </div>
                    <button type="button" class="btn btn-primary" data-loading-text="Submitting..." onclick="$(this).button('loading');do_answer($('#id_question_form input:checked').val())">Submit</button>
                </form>
                <img src="{!URLFOR($Resource.CoreImages)}/{!link}" />

           </apex:pageBlock>
          
           <apex:pageBlock id="id_scorecard" rendered="{!is_done==True}">
               <script type="text/javascript">
                    $('#sec-tool-nav').show();
               </script>
                  
               <h2><b>Results - </b><small>{!correctCount} of {!questionCount} ({!percentCorrect})</small></h2>
                 <div style="margin-top:50px;">
                   
                   <div class="container-fluid">
                    <apex:repeat var="info" value="{!theinfo}">
                      <div class="span2" style="height:115px;width:115;margin-bottom:5px;">
                        <a href="{!URLFOR($Resource.CoreImages)}/{!info.altlink}" rel="gallery">
                          <img src="{!URLFOR($Resource.CoreImages)}/{!info.link}" height="100px" width="100px" style="border:5px solid #e0ffff;"></img>
                        </a>
                        <img class="top" style="position:relative; left:-30px; top:-40px;" height="25" width="25" src="{!IF(info.correct = 'Correct', URLFOR($Resource.GreenCheck), URLFOR($Resource.RedX))}" />
                      </div>
                    </apex:repeat>
                   </div>
                   
                 </div>
               <div class="row" style="clear:both;">
                   <div class="offset1 span2"><h4 style="float:left;clear:none;margin-right:10px;">Correct - </h4><img src="{!$Resource.GreenCheck}" height="12" width="12"/></div>
                   <div class="span2"><h4 style="float:left;clear:none;margin-right:10px;">Incorrect - </h4><img src="{!$Resource.RedX}" height="12" width="12"/></div>
               </div>
               
               <script type="text/javascript">
                   $('a[rel="gallery"]').fancybox();
               </script>
           </apex:pageBlock>
      </apex:outputPanel>
    
      <script type="text/javascript">
       $(document).ready(function() { 
           $('#menu_usered_phish').addClass('active');
       });  
     </script>
     
    </apex:define>
  </apex:composition>
 </apex:page>