<apex:page sidebar="false" showHeader="false" action="{!redirect_to_ZAP}" standardStylesheets="false" controller="SecToolsWebAppScannerRequestController">
 <apex:composition template="Security_Tools_WebApp">
   <apex:define name="webapp_tool_content">
 
  <div class="page-header">
    <h2>Burp License Request</h2>
  </div>
    <p class="sec-tool-description">In an effort to assist salesforce.com ISV Partners develop trusted web applications that meet the highest security standards, we offer a free annual web-application scanning (Burp Suite Professional) license to qualifying partners.</p>

    <p class="sec-tool-description">Burp Suite is an integrated testing platform that allows you to combine manual and automated techniques to enumerate, analyze, scan, attack and exploit security vulnerabilities in web applications.  <a href="{!URLFOR($Page.Security_Tools_Webapp_BurpAbout)}">More Details...</a></p>

      <p class="sec-tool-description">You must meet the following criteria* to qualify for this benefit:</p>
      
      <div id="id_partner_qualifications">
          <ul>
              <li>Be enrolled in the AppExchange or OEM program, and have a <a target="_blank" href="https://partners.salesforce.com">Partner Community</a> login</li>
              <li>Be current with your AppExchange Listing Fees</li>
              <li>Application contains integrations with web-services not residing on the Force.com Platform. <strong>If your application completely resides on Force.com, please use the <a href="{!URLFOR($Page.Security_Tools_Forcecom_Scanner)}">Force.com Security Source Scanner</a> instead.</strong></li>
          </ul>
      </div>

    <p class="sec-tool-description">If you meet the above-mentioned criteria, please log a case in the Partner Community to request a free Burp Suite Professional License. Select case options AppExchange &amp; Feature Requests --&gt; Request Burp license. Processing times typically vary between 2-5 days.</p>


</apex:define>
</apex:composition>
</apex:page>