<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
<head>
<c:CorpHeadSection ></c:CorpHeadSection>
</head>
<body class="" id="wrapper">
   <div class="" id="pagewrap">  
<c:SDLLiteBody ></c:SDLLiteBody>
            
            <div id="main">
            <div class="gs">
<div id="centerwrap">
<div id="container">
<div id="contentcontainer">
<div id="content4r"> <a
 id="top" name="top"></a>
 <h1>&nbsp;</h1>
 
 
 <div border="1" bordercolor="black" id="col_one">
              <h2>(Secure) Testing</h2>
              <p>During this time, focus your efforts on ensuring that the requirements defined earlier have been appropriately followed and nothing slipped through the cracks.<br><br></p>
              
</div>
<div id="col_two">
              <h2>Resources</h2>
              <p> </p>
              <dl>
                <dt class="icn_dev">Force.com Security Source Scanner</dt>
                <dd>Through a partnership with Checkmarx, salesforce.com has built an on demand static source code analysis tool for the Force.com platform. Simply submit your information and you’ll soon receive back a customized report describing what, if any, security issues were identified and there recommended mitigations.<br><a href="http://security.force.com/sourcescanner">Try out the code scanner</a></dd>
                <dt class="icn_isv">Web Application Scanner</dt>
                <dd>Paid AppExchange partners are eligible to receive a FREE copy of Burp Suite Professional, a top notch web application security scanning tool.  Included in the package is several additional security tests written specifically for AppExchange partners.  Partners who would like to receive their own copy should… <todo where><br><a href="/todo">Get the Web Application Security Scanner</a></dd>
              </dl>
              
             
              
</div>
<div class="clear"></div>

 
 
 
 
 
 
 

   
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

            
                
                <span id="endofcontent"><!--**************--></span>
                
                
                                                    
            <div style="text-align:center">
            <c:CorpFooter ></c:CorpFooter>
            </div>
            </div>

    </body>  
  

</apex:page>