<apex:page showHeader="false" sidebar="false" standardStylesheets="false">
<head>
<c:CorpHeadSection ></c:CorpHeadSection>
</head>
<body class="" id="wrapper">
   <div class="" id="pagewrap">  
<c:SDLLiteBody ></c:SDLLiteBody>
            
            <div id="main">
            <div class="gs">
<div id="centerwrap">
<div id="container">
<div id="contentcontainer">
<div id="content4r"> <a
 id="top" name="top"></a>
 <h1>&nbsp;</h1>
 
 
 <div border="1" bordercolor="black" id="col_one">
              <h2>(Secure) Release</h2>
              <p>Now that you’re ready to release, you’ll need a plan to address any security flaws found internally and externally.<br><br></p>
              
</div>
<div id="col_two">
              <h2>Resources</h2>
              <p> </p>
              <dl>
                <dt class="icn_dev">AppExchange Security Review</dt>
                <dd>All AppExchange listings go through a required security review that assesses a company’s policies, network, and application security posture to ensure it meets our standard requirements.<br><a href="http://wiki.developerforce.com/index.php/Security_Review">Review the AppExchange security process</a></dd>
                <dt class="icn_isv">Incident Response</dt>
                <dd>Coming Soon.  Salesforce.com will be providing guidance to our partners and customers on how best to prepare, communicate and respond to potential and legitimate security issues, especially for applications built on Force.com.</dd>
              </dl>
              
             
              
</div>
<div class="clear"></div>

 
 
 
 
 
 
 

   
            </div>
            </div>
            </div>
            </div>
            </div>
            </div>

            
                
                <span id="endofcontent"><!--**************--></span>
                
                
                                                    
            <div style="text-align:center">
            <c:CorpFooter ></c:CorpFooter>
            </div>
            </div>

    </body>  
  

</apex:page>