<apex:page sidebar="false" showHeader="false" standardStylesheets="false" >
  <apex:composition template="BasePage">
    <apex:define name="content">
    
      <div class="row">
        <div class="span10 offset1">
          <div class="page-header">
            <h3>Internal Security Office Hours</h3>
          </div>
      
          <p>Everyone in our salesforce community is free to book office hours with our security team to discuss security topics such as:</p>
            <ul>
                <li>Threat Modeling of a new feature or product</li>
                <li>Questions about the some particular bugs reported</li>
                <li>Mitigation techniques or other general security questions</li>
            </ul>
          <p>This offering is first come, first served.  All of the appointments below are thirty minutes long.  Choose a blue cloud below and fill in the appropriate details to book a session.  You will be sent a meeting invitation, and one or more individuals from the salesforce.com security team will participate on the call at no charge to you.</p>
          <b>Please choose the cloud you belong to below.</b>
        </div>
      </div>
      
      
<div class="row">
  <div class="span10 offset1">

<table>
  <tr>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Sales Cloud" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=sales';"/></form>
    </td>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Services Cloud" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=service';"/></form>
    </td>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Collaboration Cloud" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=collaboration';"/></form>
    </td>
  </tr>
    <tr>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Marketing Cloud" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=marketing';"/></form>
    </td>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Platform" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=platform';"/></form>
    </td>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Core" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=core';"/></form>
    </td>
  </tr>
  <tr>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="TechOps" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=techops';"/></form>
    </td>
    <td>
      <img src="{!URLFOR($Resource.SecurityStatics,'/images/cloudsecuritylogo.png')}" alt="Cloud Security"></img> 
      <form><input type="button" value="Mobile" onclick="javascript:window.location='{!$site.CurrentSiteUrl}apex/internal_ohours?uCloud=mobile';"/></form>
    </td>
  </tr>
</table>
  </div>
</div>
  </apex:define>
</apex:composition>
</apex:page>