<apex:page >
  <!-- Begin Default Content REMOVE THIS -->
<head>
<style>

#chart svg {
  height: 400px;
}

</style>
<script src="{!URLFOR($Resource.d3js, 'd3.js')}"></script>
<script src="{!URLFOR($Resource.nvd3JS, 'novus-nvd3-0c03b27/nv.d3.js')}"></script>


</head>

<body>

<div id="chart">
  <svg></svg>
</div>


<script>
alert('script');
d3.json("{!$Resource.chartjson}",function(error,data) {
alert('in');
  nv.addGraph(function() {
alert('infunction');
      var chart = nv.models.linePlusBarChart()
            .margin({top: 30, right: 60, bottom: 50, left: 70})
            //We can set x data accessor to use index. Reason? So the bars all appear evenly spaced.
            .x(function(d,i) { return i })
            .y(function(d,i) {return d[1] })
            ;
 
      chart.xAxis.tickFormat(function(d) {
        var dx = data[0].values[d] && data[0].values[d][0];
        //return d3.time.format('%x')(new Date(dx))
        return dx;
        
      });
 
      chart.y1Axis
          .tickFormat(d3.format(',f'));
 
      chart.y2Axis
          .tickFormat(function(d) { return d3.format(',f')(d) });
 
      chart.bars.forceY([0]);
 
      d3.select('#chart svg')
        .datum(data)
        .transition()
        .duration(0)
        .call(chart);
 
      nv.utils.windowResize(chart.update);
 
      return chart;
  });
 
});
</script>
</body>
  <!-- End Default Content REMOVE THIS -->
</apex:page>