<apex:page showHeader="false" sidebar="false" controller="addscan" id="thepage" >

<head>

  <title>Force.com Security Source Scanner</title>

 <script src="http://www.developerforce.com/assets/developerforcesite/common/js/jqall.js" type="text/javascript"></script><script src="http://www.developerforce.com/assets/developerforcesite/common/js/sf.js" type="text/javascript"></script><link class="user" href="http://www.developerforce.com/assets/developerforcesite/common/css/styles.css" rel="stylesheet" type="text/css" /><link class="user" href="http://www.developerforce.com/assets/developerforcesite/common/css/styles_print.css" rel="stylesheet" type="text/css" /><link class="user" href="http://www.developerforce.com/assets/developerforcesite/common/css/ie6_2.css" rel="stylesheet" type="text/css" /><meta HTTP-EQUIV="PRAGMA" CONTENT="NO-CACHE" />


 <script type="text/javascript" 
src="{!$Resource.EXTJS2}/ext-3.0.0/adapter/ext/ext-base.js"></script>
 <script type="text/javascript" src="{!$Resource.EXTJS2}/ext-3.0.0/ext-all.js"></script>

<link rel="stylesheet" type="text/css" 
href="{!$Resource.EXTJS2}/ext-3.0.0/resources/css/ext-all.css" />
<script type="text/javascript" src="{!$Resource.EXTJS2}/ext-3.0.0/ext-all.js"></script>


<link rel="stylesheet" type="text/css" 
href="{!$Resource.EXTJS2}/ext-3.0.0/examples/shared/examples.css" />

    <style type="text/css">
    .x-panel-body p {
        margin:10px;
        font-size:12px;
    }
    </style>

<script type="text/javascript" 
src="{!$Resource.EXTJS2}/ext-3.0.0/examples/shared/examples.js"></script>


<script>

function showwin()
{
        var win;
    
        // create the window on the first click and reuse on subsequent clicks
        if(!win){
        
            win = new Ext.Window({
                applyTo:'hello-win',
                layout:'fit',
                width:500,
                height:300,
                closeAction:'hide',
                plain: true,
                defaults: {closeAction:'hide'},

                items: new Ext.TabPanel({
                    applyTo: 'hello-tabs',
                    autoTabs:true,
                    activeTab:0,
                    deferredRender:false,
                    border:false,
                    closeAction:'hide',
                    autoScroll:true,
                    defaults: {autoScroll:true}
                }),

                buttons: [{
                    text:'Agree',
                    handler: processJS
                },{
                    text: 'Disagree',
                    handler: function(){
                        location.href = location.href;
                        
                    }
                }]
            });
        }
        win.show(this);
        return false;
}

function myprocessJS()
{
    processJS();
}
function checkstatus()
{
    if(location.hash == '#complete')
    {
        document.getElementById('complete').style.display = 'block';
    }
    if(location.hash == '#invalid')
    {
        document.getElementById('bademail').style.display = 'block';
    }
}

</script>


  <meta http-equiv="PRAGMA"
 content="NO-CACHE">
  <meta http-equiv="Expires"
 content="Mon, 01 Jan 1990 12:00:00 GMT">
  <meta http-equiv="content-type"
 content="text/html; charset=utf-8">

<link href="http://www.developerforce.com/assets/css/gettingstarted/gs-aloha.css" rel="stylesheet" type="text/css" />
            <style type="text/css">
            div#content4r {
                padding:0 20px 40px;
            }
            div#content4r h2 {
                font-size:10pt;
                font-weight:bold;
            }
            div#content4r * {
                font-family:Verdana;
                font-size:9pt;
                line-height:normal;
            }           
            div#content4r h1, div#content4r h2, div#content4r h3, div#content4r h4, div#content4r h5, div#content4r h6 {
                color:black;
                font-family:Verdana;
                padding-bottom:0.17em;
                padding-top:0.5em;
            }
            
            div#content4r p {
                line-height:1.5em;
            }
            div#content4r td, div#content4r p, div#content4r ul, div#content4r ol, div#content4r li {
                color:#666666;
                font-family:'Verdana','Arial','Helvetica';
            }
            dt {
                font-weight:bold;
                margin-bottom:0.1em;
            }
            
            /* Jon added this to get these pages to work in Aloha -- 2009-April-28 */
            #col_two {
             width:355px;
            }
            .ovw #contentcontainer {
              float: left;
              margin: 0;
              padding: 0;
              position: relative;
            }
            .isv #contentcontainer {
              float: left;
              margin: 0;
              padding: 0;
              position: relative;
            }           
            .dev #contentcontainer {
              float: left;
              margin: 0;
              padding: 0;
              position: relative;
            }   
            .comm #contentcontainer {
              float: left;
              margin: 0;
              padding: 0;
              position: relative;
            }                       
            
        </style>

  <meta content="MSHTML 6.00.6000.16915"
 name="GENERATOR">
</head>

<body class="" id="wrapper" onload="checkstatus()">
   <div class="" id="pagewrap">  

<!--sdllitebody-->

<div id="header">
    
    <!--    <a href="http://security.force.com/sdllitehome"><img alt="sdllite" class="logo" height="58" src="https://na1.salesforce.com/servlet/servlet.ImageServer?id=015300000011WN3&oid=00D30000000Jsbi&lastMod=1264313999000" width="274" /></a>-->
       <!-- <a href="http://www.salesforce.com/platform/" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;" alt="Salesforce Application Development">
    <img src="http://www.salesforce.com/common/assets/images/logos_ext/cloud_plat_rgb.png" alt="Salesforce Application Development"  height="55" width="199" style='padding: 5px; border: none;'/></a>-->
    <span style="width:inherit; height:inherit; float:left; padding:2pt 0pt 0pt 0pt;"><img src="https://na1.salesforce.com/servlet/servlet.ImageServer?id=015300000011h1D&oid=00D30000000Jsbi&lastMod=1264743472000"  />
    <span style="font-family:calibri; font-size:350%; "><b>&nbsp;SDL </b></span><span style="font-family:monotype corsiva; font-size:350%; color:gray">Lite&nbsp;</span></span>
        

        
    </div></span>
                    
            <div id="content">
            
                <span id="j_id0:j_id1:j_id2:j_id3:j_id56">
 <div id="nav">
 <ul class="sf-menu" id="home">
  <li><a class="primary" href="http://security.force.com/sdllitehome"><span class="nav_text">Home</span><span class="nav_primary_top_right"></span></a>
  <ul>
   <li class="firstli"><span class="nav_top_left"></span>  <a  href="/sdlliteguide">SDL-Lite Resources</a><span class="nav_top_right"></span></li>
   <li class="lastli"><span class="nav_bot_left"></span> <a class="lasta" href="/about">About</a><span class="nav_bot_right"></span></li>

  </ul>
  </li>
  <li><a class="primary" href="/tools"><span class="nav_text">Tools</span><span class="nav_primary_top_right"></span></a>
  <ul>
   <li class="firstli"><span class="nav_top_left"></span> <a href="http://security.force.com/sourcescanner">Force.com Security Source Scanner</a>
   <span class="nav_top_right"></span></li>
   <li><a href="/todo">Secure Coding Library</a></li>
   <li class="lastli"><span class="nav_bot_left"></span><a class="lasta" href="/webappscanner">Web Application Security Scanner</a><span class="nav_bot_right"></span></li>
   
  </ul>
  </li>
  <li><a class="primary" href="/processes"><span class="nav_text">Processes</span><span class="nav_primary_top_right"></span></a>
  <ul>
   <li class="firstli"><span class="nav_top_left"></span> <a href="http://wiki.developerforce.com/index.php/Security_Review">AppExchange Security Review</a> <span class="nav_top_right ieadjust_top"></span></li>
   
   <li class="crc"><a href="/processes#officehours">Office Hours</a></li>
   
   <li class="lastli"><span class="nav_bot_left"></span> <a class="lasta" href="/processes#incidentresponse">Incident Response</a> <span class="nav_bot_right ieadjust_bot"></span></li>
  </ul>
  </li>
  <li><a class="primary" href="/training"><span class="nav_text">Training</span><span class="nav_primary_top_right"></span></a>
  <ul>
   <li class="firstli"><span class="nav_top_left"></span><a href="/todo">Force.com Security Training</a><span class="nav_top_right"></span></li>
   <li><a href="/todo">General Web Security Training</a></li>
   <li><a href="http://security.force.com/platformquiz">Developer Security Quiz</a></li>    
   <li><a href="/securecodingguide">Secure Coding Guidelines</a></li>  
   <li class="lastli"><span class="nav_bot_left"></span> <a class="lasta" href="/todo">Security Self Assessment</a><span class="nav_bot_right ieadjust_bot"></span></li>
 
  </ul>
  </li>
  <li><a class="primary" href="http://blog.sforce.com/sforce/security/"><span class="nav_text">Blog</span><span class="nav_primary_top_right"></span></a>

  </li>
  <li><a class="primary" href="/"><span class="nav_text">More</span><span class="nav_primary_top_right"></span></a>
  <ul>
   <li class="firstli"><span class="nav_top_left"></span> <a href="http://sites.force.com/appexchange/listingDetail?listingId=a0N300000018mjUEAQ">Security Health Check Tool</a> <span class="nav_top_right"></span></li>
      <li><a href="http://www.youtube.com/watch?v=-NU_ADSXIZc">Introduction to Salesforce Security (video)</a></li> 
      <li><a href="https://na1.salesforce.com/help/doc/en/salesforce_security_impl_guide.pdf">Salesforce Security Implementation Guide</a></li> 
       
         <li><a href="http://wiki.developerforce.com/images/f/fb/Salesforce_CRM_Security_Audit_Guide.PDF">Salesforce CRM Security Audit Guide</a></li>  
   <li class="lastli"><span class="nav_bot_left"></span> <a class="lasta" href="http://wiki.developerforce.com/images/1/16/Salesforce_CRM_Sharing_and_Data_Security.pdf">Security and Data Privacy in Salesforce</a> <span class="nav_bot_right"></span>
   </li>
  </ul>
  </li>
  </ul>
     </div>
 <!--******-->
</span>

            <div id="toplevelsidebar">
        
            <div class="sidenav"><span class="top"></span>
            
                
            <div class="middle">

            <h1>Most Popular</h1>
            <ul>
                <li><a href="/sdlliteguide">SDL-Lite Resources</a></li>
                <!--<li><a href="sdlliteoverview">SDL-Lite Overview</a></li>-->
                <li><a href="http://security.force.com/sourcescanner">Scan Your Code</a></li>
                <li><a href="/todo">Customized Guidance</a></li>
                <li><a href="http://wiki.developerforce.com/index.php/Security_Review">AppExchange Review</a></li>
                <li class="last"><a href="/todo">Online Training</a></li>    
            </ul>
            </div>
             <span class="bottom"></span></div>     
            </div>



<!--sdllitebody-->
<div id="main">
            <div class="gs">
<div id="centerwrap">
<div id="container">
<div id="contentcontainer">
<div id="content4r"> <a
 id="top" name="top"></a>
 
 
<h2>Force.com Security Source Code Scanner</h2>
<br>
<b>Welcome to the Force.com
Security Source Code Scanner!</b>
The first on-demand source code analysis tool built solely for
a Platform as a Service. This service provides<br> developers of the
Force.com platform information regarding the security of their code
through next generation static analysis tools.<br>
<br>
Upon submission your code will be queued and scanned on a first come,
first serve basis. A report with full details will be emailed to you
upon completion of the scan. &nbsp;&nbsp;<br><a href="/sourcescanner/ForceDotComScannerHelp">More Details...</a>


<br><br>At this time the Force.com Security Source Code Scanner is experiencing delays.  Expect delays as we work through this issue.<br>
<span id="complete" style="display:none">
<font color="red">
Thank you for submitting a request for code to be scanned.  You will receive a report to the email address we have on record.
</font>
</span>
<span id="bademail" style="display:none">
<font color="red">
The username submitted is not a valid Salesforce username.
</font>
</span>
<br>

<apex:form onsubmit="return showwin()" id="theform">


Username:&nbsp;&nbsp;<apex:inputText id="thetext" value="{!enteredText}" />&nbsp;&nbsp;
<apex:commandButton action="{!process}" id="showbtn" value="Submit"  />

<apex:actionFunction action="{!process}" name="processJS" ></apex:actionFunction>

</apex:form>




<div class="x-hidden" id="hello-win">
<div class="x-window-header">Force.com
Security Scanner</div>
<div id="hello-tabs">
<!--*******************-->
<div class="x-tab"
 title="Force.com Security Scanner">
<p><br>SALESFORCE.COM TERMS OF USE FOR THE FORCE.COM SECURITY SCANNER</b><br><br>
<b>By checking the box below, you agree to the terms below (“Terms”) governing your use of the Force.com Security Scanner (the “Security Scanner”) with the salesforce.com service.  If you are accepting these Terms on behalf of a company or other organization, you represent that you have the authority to bind that organization to these Terms, and the words “you” and “your” will refer to that organization.  If you do not have that authority, or you do not agree to these Terms, you should not check the box below and you may not use Security Scanner with the salesforce.com service.</b>  <br><br>

Security Scanner Is Not Part of the Salesforce.com Service.  Security Scanner, including any successor applications thereto, is provided by Cherkmarx Ltd., not by salesforce.com, and is not part of the salesforce.com Service (as “Service” is defined in your master subscription agreement with salesforce.com).  Salesforce.com does not support or maintain Security Scanner. <br>
Security Scanner May Become Unavailable.  The availability of Security Scanner with the salesforce.com Service, and of the salesforce.com Service features that interoperate with Security Scanner, depend on the continuing availability to salesforce.com of Security Scanner and certain related technologies for use with the salesforce.com Service.  If Cherkmarx Ltd. ceases to make the Security Scanner and those related technologies available on reasonable terms for the salesforce.com Service, you may no longer be able to use Security Scanner with the salesforce.com Service.  If this happens, you will not be entitled to any refund, credit, or other compensation.<br><br>
Salesforce.com Not Responsible for Data Entered Into Security Scanner.  Salesforce.com is not responsible for the security or privacy of any data, including any code, submitted to Security Scanner, and shall not be liable for any loss, corruption or unauthorized use or disclosure of such data.  You agree not to enter into Security Scanner any data that infringes the intellectual property rights, or otherwise violates the legal rights, of a third party. <br><br>
Your Compliance with Laws.  You agree to comply with all applicable laws and regulations in using Security Scanner, including but not limited to U.S. export laws and regulations.<br><br>
Your Indemnification of Salesforce.com.  You shall defend salesforce.com against any claim by a third party to the extent the claim alleges facts that, if true, would constitute a breach by you of these Terms, and you shall indemnify salesforce.com from and against any damages, costs, losses and expenses (including attorneys' fees and costs) arising out of or in connection with any such claim.<br><br>
No Warranties.  SALESFORCE.COM MAKES NO REPRESENTATION, WARRANTY, OR GUARANTY AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY, ACCURACY OR COMPLETENESS OF SECURITY SCANNER. SALESFORCE.COM DOES NOT REPRESENT OR WARRANT THAT (A) SECURITY SCANNER WILL BE AVAILABLE, SECURE, TIMELY, UNINTERRUPTED OR ERROR-FREE OR OPERATE IN COMBINATION WITH THE SALESFORCE.COM SERVICE OR ANY OTHER APPLICATION, SOFTWARE, HARDWARE, SYSTEM OR DATA, (B) SECURITY SCANNER WILL MEET YOUR REQUIREMENTS OR EXPECTATIONS, (C) ANY DATA, INCLUDING CODE, SUBMITTED TO SECURITY SCANNER WILL BE ACCURATE, RELIABLE, OR SECURE, (D) ERRORS OR DEFECTS IN SECURITY SCANNER WILL BE CORRECTED, OR (E) SECURITY SCANNER IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. AS BETWEEN YOU AND SALESFORCE.COM, SECURITY SCANNER IS PROVIDED TO YOU STRICTLY ON AN "AS IS" BASIS.  TO THE MAXIMUM EXTENT PERMITTED BY LAW, SALESFORCE.COM DISCLAIMS ALL CONDITIONS, REPRESENTATIONS AND WARRANTIES, WHETHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, WITH RESPECT TO SECURITY SCANNER, INCLUDING, WITHOUT LIMITATION, ANY IMPLIED WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF THIRD PARTY RIGHTS.<br><br>
Salesforce.com Not Liable Regarding Security Scanner.  IN NO EVENT SHALL SALESFORCE.COM HAVE ANY LIABILITY TO YOU FOR ANY LOST PROFITS OR FOR ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES RELATED TO SECURITY SCANNER, HOWEVER CAUSED AND, WHETHER IN CONTRACT, TORT OR UNDER ANY OTHER THEORY OF LIABILITY, WHETHER OR NOT YOU HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.
Who You Are Contracting With, Governing Law, and Jurisdiction.  Who you are contracting with, what law will apply in any lawsuit under these Terms, and which courts can adjudicate any such lawsuit, depend on where you are domiciled.<br><br>
<table>
 <tr>
  <td><b>If you are domiciled in:</b></p>
  </td>
  <td>
  <p><b>You are contracting with:</b></p>
  </td>
  <td>
  <p><b>The governing law is:</b></p>
  </td>
  <td>
  <p ><b>The courts having exclusive jurisdiction are:</b></p>
  </td>
 </tr>
 <tr>
  <td>
  <p>A Country in
  North, South or Central America or the Caribbean</p>
  </td>
  <td>
  <p>salesforce.com,
  inc.</p>
  </td>
  <td>
  <p>California and controlling United States federal law</p>
  </td>
  <td>
  <p><span>San Francisco, California, U.S.A.</span></p>
  </td>
 </tr>
 <tr>
  <td>
  <p>A Country in Europe,
  the Middle East or Africa</p>
  </td>
  <td>
  <p>salesforce.com
  Sàrl</p>
  </td>
  <td>
  <p>Switzerland</p>
  </td>
  <td>
  <p>Switzerland</p>
  </td>
 </tr>
 <tr>
  <td>
  <p>Japan</p>
  </td>
  <td >
  <p>Salesforce.com Kabushiki Kaisha</p>
  </td>
  <td >
  <p>Japan</p>
  </td>
  <td >
  <p >Tokyo, Japan  </p>
  </td>
 </tr>
 <tr>
  <td>
  <p >A Country in
  Asia or the Pacific region, other than Japan</p>
  </td>
  <td >
  <p >Salesforce.com Singapore Pte Ltd</p>
  </td>
  <td >
  <p >Singapore</p>
  </td>
  <td >
  <p >Singapore</p>
  </td>
 </tr>
</table><br><br>
You agree to the applicable governing law above without regard to choice or conflicts of law rules, and to the exclusive jurisdiction of the applicable courts above.<br><br>
Entire Agreement.  These Terms are the complete agreement, and supersede all prior and contemporaneous agreements, proposals or representations, written or oral, between you and salesforce.com, concerning their subject matter.  <br>

</p>
</div>
</div>
</div>
<img
 onclick="window.location='http://www.checkmarx.com'"
 src="{!$Resource.CheckmarxLogo}"
 align="right">
<br>
<br><br><br><br>

</div></div></div></div></div></div>

            
<span id="endofcontent"><!--**************--></span>

<div style="text-align:center">
            <c:CorpFooter ></c:CorpFooter>
            </div>
            </div>

</body>

</apex:page>