<apex:page docType="html-5.0" showHeader="false" sidebar="false" standardStylesheets="false" applyBodyTag="false" controller="TM_Matrix_Beta">

    <head>
        <meta charset="UTF-8" />
        <title>Trust Maturity</title>
 
        <apex:includeScript value="{!URLFOR($Resource.TM_Deps_Beta, '/TM_Deps/vendor/jquery.min.js')}" />
        <apex:stylesheet value="{!URLFOR($Resource.TM_Deps_Beta, '/TM_Deps/vendor/bootstrap/css/bootstrap.min.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.TM_Deps_Beta, '/TM_Deps/vendor/bootstrap/js/bootstrap.min.js')}" />
        <apex:includeScript value="{!URLFOR($Resource.TM_Deps_Beta, '/TM_Deps/dist/vendor.js')}" />
        
        <apex:stylesheet value="{!URLFOR($Resource.TM_App_Beta, '/TM_App/css/tmm.css')}" />
        <apex:includeScript value="{!URLFOR($Resource.TM_App_Beta, '/TM_App/dist/main.js')}" />
    </head>
    <body>
        <div id="content">Reticulating splines...</div>
        <div id="aftercontent"></div>
        <script type="text/javascript">   
        $(function() { // jQuery document ready
            tmmMain({
                baseUrl: '{!JSENCODE(baseURL)}',
                isAuthenticated: '{!isAuthenticated}',
                visibleBizUnits: JSON.parse('{!JSENCODE(visibleBizUnits)}'),
                controller: TM_Matrix_Beta,
            });
        });
        </script>
    </body>
</apex:page>