<apex:page showHeader="false" standardStylesheets="false" sidebar="false" controller="TRAC_Metrics_Controller">

  <apex:includeScript value="{!URLFOR($Resource.jquery_1_8_3)}" />
  <apex:includeScript value="{!URLFOR($Resource.HighStock_1_3_2,'js/highstock.js')}" />
  <apex:includeScript value="/soap/ajax/15.0/connection.js" />
  <apex:includeScript value="/soap/ajax/15.0/apex.js" />
  <apex:includeScript value="{!URLFOR($Resource.Flensed,'flensed.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.Flensed,'flXHR.src.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.Flensed,'jquery.flXHRproxy.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.SecurityBootstrap,'bootstrap/js/bootstrap.min.js')}" />
  <apex:includeScript value="{!URLFOR($Resource.moment_js)}" />
  <apex:stylesheet value="{!URLFOR($Resource.SecurityBootstrap,'bootstrap/css/bootstrap.min.css')}" />
  <apex:stylesheet value="{!URLFOR($Resource.SecurityBootstrap,'bootstrap/css/bootstrap-responsive.min.css')}" />
    
  <head>
      <script type="text/javascript">
          function populate_fields_given_fields(result,event) {
              $.each(result,function(index,value) {
                  $('<option />').text(value).attr('value',value).appendTo('#field1_select, #field2_select');
              }); 
          }
          
          function populate_fields_for_object() {
          
              $('#field_select').find('option').remove().end();
              TRAC_Metrics_Controller.fieldsForObject($('#object_select option:selected').first().val(),populate_fields_given_fields);
          }
          
          function update_chart() {
              var obj = $('#object_select option:selected').first().val();
              var field1 = $('#field1_select option:selected').first().val();
              var field2 = $('#field2_select option:selected').first().val();
              TRAC_Metrics_Controller.meanTimeOverTime(obj,field1,field2, $('#period_select option:selected').first().val(),$('#precision_select option:selected').first().val(),handle_result);
          }
          
          function handle_result(result,event) {
              /*
              result.sort(function(a,b) {
                return a[0] - b[0];
              });
              */
              result = handleMeansArray(result);
              
              $('#container').highcharts('StockChart', {
                                rangeSelector : {
                                    selected : 1
                                },
                                
                                title : {
                                    text : $('#object_select option:selected').first().val()+' - Mean time from '+$('#field1_select option:selected').first().val()+' to '+$('#field2_select option:selected').first().val()+ ' each '+$('#period_select option:selected').first().val().substring(0,$('#period_select option:selected').first().val().length-2)+', measured in '+$('#precision_select option:selected').first().val()
                                },
                                xAxis : {
                                    title : {text:$('#period_select option:selected').first().val()}
                                },
                                yAxis : {
                                    title : {text:$('#precision_select option:selected').first().val()},
                                },
                                series : [{
                                    data : result,
                                    name : $('#precision_select option:selected').first().val(),
                                    tooltip: {
                                        valueDecimals: 2,
                                    }
                                }]
                            }); // highcharts()
          }
          
          function handleSLAArray(result) {
              // results looks like {012021312392: {'sla level1':{in_sla:4,out_sla:6,total:10}}}
              var res = {'total':[]} // to look like {'sla_level1':[{x:123123123,y:.43,in_sla:4,out_sla:6,total:10},{x:98347928347,'y':.34,in_sla:4,out_sla:6,total:10}}
              var levels;
              
              for (var timeslot in result) {
                  var time_total=0;
                  var time_total_in_sla=0;
                  levels = result[timeslot];
                  var timeslotDate = Number(timeslot);
                  for (var level in levels) {
                      if (typeof res[level] == 'undefined') {
                          res[level] = [];
                      }
                      var stats = levels[level];
                      stats.x = timeslotDate;
                      if (parseInt(stats.total) == 0) {
                          // no data for this point
                          continue;
                      }
                      stats.y = parseFloat(stats.in_sla) / parseFloat(stats.total);
                      time_total += parseInt(stats.total);
                      time_total_in_sla += parseInt(stats.in_sla);
                      res[level].push(stats);
                  }
                  if (time_total != 0) {
                      res.total.push({x:timeslotDate,y:time_total_in_sla/time_total,total:time_total,in_sla:time_total_in_sla,out_sla:time_total-time_total_in_sla});
                  }
                  
              }
              for (var level in res) {
                  res[level].sort(function(a,b) {return a.x - b.x});
              }
              if (res.total.length == 0) {
                  delete res.total;
                  res['No Data']=[];
              }
              return res;
          }
          
          function handleCountsArray(result) {
              // results looks like {012021312392: {'P1':2,'P2':343}}
              var res = {'total':[]} // to look like {'P0':[{x:123123123,y:3323},{x:98347928347,'y':323}],'Total':[{x:123123123,y:2342}]}
              var levels;
              
              // getTime() number
              for (var timeslot in result) {
                  var time_total=0;
                  // {"P0":324,"P1":33}
                  levels = result[timeslot];
                  var timeslotDate = Number(timeslot);
                  for (var level in levels) {
                      if (typeof res[level] == 'undefined') {
                          res[level] = [];
                      }
                      var stats = {y:parseInt(levels[level])};
                      stats.x = timeslotDate;
                      
                      time_total += parseInt(levels[level]);
                      res[level].push(stats);
                  }
                  if (time_total != 0) {
                      res.total.push({x:timeslotDate,y:time_total});
                  }
                  
              }
              for (var level in res) {
                  res[level].sort(function(a,b) {return a.x - b.x});
              }
              if (res.total.length == 0) {
                  delete res.total;
                  res['No Data']=[];
              }
              return res;
          }
          function handleMeansArray(result) {
              // results looks like {012021312392: {'P1':{'mean':.2,'records':234},'P2':{'mean':.343,'records':23432}}
              var res = {'total':[]} // to look like {'P0':[{x:123123123,y:.3323},{x:98347928347,'y':.323}],'Total':[{x:123123123,y:.2342}]}
              var levels;
              
              // getTime() number
              for (var timeslot in result) {
                  var time_total=0;
                  var time_weighted_sum=0;
                  // {'P1':{'mean':.2,'records':234},'P2':{'mean':.343,'records':23432}
                  levels = result[timeslot];
                  var timeslotDate = Number(timeslot);
                  for (var level in levels) {
                      if (typeof res[level] == 'undefined') {
                          res[level] = [];
                      }
                      var stats = levels[level];
                      stats['y'] = stats['mean'];
                      stats.x = timeslotDate;
                      
                      time_total += parseInt(levels[level]['records']);
                      time_weighted_sum += parseFloat(stats.mean) * parseInt(levels[level]['records']);
                      res[level].push(stats);
                  }
                  if (time_total != 0) {
                      res.total.push({x:timeslotDate,y:parseFloat(time_weighted_sum) / time_total,mean:parseFloat(time_weighted_sum) / time_total, records:time_total});
                  }
                  
              }
              for (var level in res) {
                  res[level].sort(function(a,b) {return a.x - b.x});
              }
              if (res.total.length == 0) {
                  delete res.total;
                  res['No Data']=[];
              }
              return res;
          }
          function plotTo(el,title,xlabel,ylabel,result) {
              result.sort(function(a,b) {
                return a[0] - b[0];
              });
              
              $(el).highcharts('StockChart', {
                                rangeSelector : {
                                    selected : 1
                                },
                                
                                title : {
                                    text : title
                                },
                                xAxis : {
                                    title : {text: xlabel},
                                },
                                yAxis : {
                                    title : {text: ylabel},
                                },
                                series : [{
                                    name : ylabel,
                                    data : result,
                                    tooltip: {
                                        valueDecimals: 2,
                                    }
                                }]
                            }); // highcharts()
          }
          
          function htmlEscape(stuff) {
              return $('<div />').text(stuff).html();
          }
          function multiPlotTo(el,title,xlabel,ylabel,results) {
              var data = [];
              for (var seriesName in results) {
                  data.push({name:seriesName,data:results[seriesName],
                             tooltip: { valueDecimals: 2
                                      }
                           });
              }
              $(el).highcharts('StockChart', {
                                rangeSelector : {
                                    selected : 1
                                },
                                legend : {
                                    enabled: true
                                },
                                title : {
                                    text : title
                                },
                                xAxis : {
                                    title : {text: xlabel},
                                },
                                yAxis : {
                                    title : {text: ylabel},
                                },
                                tooltip: {formatter:function() {
                                            var s = '<b>'+ Highcharts.dateFormat('%b %Y', this.x) +'</b>';

                                            $.each(this.points, function(i, point) {
                                                s += '<br/>'+htmlEscape(this.series.name)+ ' : '+ point.y.toFixed(2);
                                                if (typeof point.point.in_sla != 'undefined') {
                                                    s+=' [In SLA: '+point.point.in_sla+', Total: '+point.point.total+']';
                                                } else if (typeof point.point.mean != 'undefined') {
                                                    s+= ' [Total Records: '+point.point.records+']';
                                                }
                                            });
                                        
                                            return s;
                                            //return this.series.name+' : '+this.series.x+' (In SLA: '+this.in_sla+', Total: '+this.total+')';
                                       }
                                },
                                series : data
                            }); // highcharts()
          }
          Visualforce.remoting.timeout = 120000; // Set timeout at page level
          
          $(document).ready(function() {
              $('#all_tabs a:first').tab('show');
          });
          
      </script>
      
      <script type="text/javascript">
          registery_with_jquery($);
          $.ajaxSetup({transport:'flXHRproxy'});
          $.flXHRproxy.registerOptions('https://gus.my.salesforce.com/services/Soap',{xmlResponseText:false,loadPolicyURL:'https://gus.my.salesforce.com/services/Soap/crossdomain.xml'});
          $.flXHRproxy.registerOptions('https://security.my.salesforce.com/services/Soap',{xmlResponseText:false,loadPolicyURL:'https://security.my.salesforce.com/services/Soap/crossdomain.xml'});
          
          var GUS_SESSION = null;
          var GUS_SERVERURL = null;
          
          function gusHack() {
              this.sessionId = GUS_SESSION;
              this.serverUrl = GUS_SERVERURL;
          }
          
          gusHack.prototype.login = function(un,pw,callback) {
              if (GUS_SESSION != null) {
                  // we probably logged in on another tab
                  callback();
                  return;
              }
              
              var payload = this._make_login_payload(un,pw);
              var parent = this;
              $.ajax({url:'https://gus.my.salesforce.com/services/Soap/u/28.0/',
                      headers: {'SOAPAction':'login',
                                'content-type':'text/xml; charset=UTF-8'},
                      data: payload,
                      type:'POST',
                      success: function(response, textStatus, jqXHR){ 
                              var matchRes = response.match(/<serverUrl>([^<]+)<\/serverUrl>/);
                              if (matchRes) {
                                  parent.serverUrl = GUS_SERVERURL = matchRes[1];
                              }
                              matchRes = response.match(/<sessionId>([^<]+)<\/sessionId>/);
                              if (matchRes) {
                                  parent.sessionId = GUS_SESSION = matchRes[1];
                              }
                              callback();
                      },
                      error: function(jqXHR, textStatus, errorThrown) {
                                  $('.login_button').button('reset'); 
                                  alert('login failed'); 
                      },
                      dataType: 'flXHRproxy',
                     }); 
                              
         };
         gusHack.prototype.meanTimeToClose = function(callback) {
              return this._run_code(this._baseCode+this._meanTimeToCloseCode, callback);
         };
         gusHack.prototype.closedWithinSLA = function(callback) {
              return this._run_code(this._baseSLACode+this._closedWithinSLACode, callback);
         };
         gusHack.prototype.bugCountByMonth = function(callback) {
             return this._run_code(this._baseCode+this._bugCountByMonthCode,callback);
         }
         gusHack.prototype.bugsRemainingOpenByMonth = function(callback) {
             return this._run_code(this._baseCountCode+this._bugsRemainingOpenByMonthCode,callback);
         }
         
         gusHack.prototype.datacommarketing_meanTimeToClose = function(callback) {
              return this._run_code(this._baseCode+this._datacomMarketing_meanTimeToCloseCode, callback);
         };
         gusHack.prototype.datacommarketing_closedWithinSLA = function(callback) {
              return this._run_code(this._baseSLACode+this._datacomMarketing_closedWithinSLACode, callback);
         };
         gusHack.prototype.datacommarketing_bugCountByMonth = function(callback) {
             return this._run_code(this._baseCode+this._datacomMarketing_bugCountByMonthCode,callback);
         }
         gusHack.prototype.datacommarketing_bugsRemainingOpenByMonth = function(callback) {
             return this._run_code(this._baseCountCode+this._datacomMarketing_bugsRemainingOpenByMonthCode,callback);
         }
         
         gusHack.prototype._make_login_payload = function(un,pw) {
              return '<se:Envelope xmlns:se="http://schemas.xmlsoap.org/soap/envelope/"><se:Header xmlns:sfns="urn:partner.soap.sforce.com"/><se:Body><login xmlns="urn:partner.soap.sforce.com" xmlns:ns1="sobject.partner.soap.sforce.com"><username>'+this._encode_xml(un)+'</username><password>'+this._encode_xml(pw)+'</password></login></se:Body></se:Envelope>';
         };
         gusHack.prototype._extract_response = function(response) {
              var excBlockRes = response.match(/<exceptionMessage>([\s\S]+<\/exceptionMessage>)/m);
              if (!excBlockRes) {
                  //success or compile failure?
                  return null;
              }
              var matchRes = excBlockRes[1].match(/: ([\s\S]*)<\/exceptionMessage>/m);
              if (matchRes) {
                  var unenc = this._unencode_xml(matchRes[1]);
                  return JSON.parse(unenc);
              } else {
                  return null;
              }
         };
         gusHack.prototype._make_anon_payload = function(code) {
              if (!this.sessionId) { 
                  alert('Please log in first');
                  return;
              }
              // debug header version
              //return '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:apx="http://soap.sforce.com/2006/08/apex"><soapenv:Header><apx:DebuggingHeader><apx:debugLevel>Detail</apx:debugLevel></apx:DebuggingHeader><apx:SessionHeader><apx:sessionId>'+this.sessionId+'</apx:sessionId></apx:SessionHeader></soapenv:Header><soapenv:Body><apx:executeAnonymous><apx:String>'+this._encode_xml(code)+'</apx:String></apx:executeAnonymous></soapenv:Body></soapenv:Envelope>';
              return '<soapenv:Envelope xmlns:soapenv="http://schemas.xmlsoap.org/soap/envelope/" xmlns:apx="http://soap.sforce.com/2006/08/apex"><soapenv:Header><apx:SessionHeader><apx:sessionId>'+this.sessionId+'</apx:sessionId></apx:SessionHeader></soapenv:Header><soapenv:Body><apx:executeAnonymous><apx:String>'+this._encode_xml(code)+'</apx:String></apx:executeAnonymous></soapenv:Body></soapenv:Envelope>';
         };
         gusHack.prototype._run_code = function(code,callback) {
              var payload = this._make_anon_payload(code);
              parent = this;
              $.ajax({url:'https://gus.my.salesforce.com/services/Soap/s/28.0',
                      headers: {'SOAPAction':'""',
                                'content-type':'text/xml; charset=UTF-8'},
                      data: payload,
                      type:'POST',
                      success: function(response, textStatus, jqXHR){ 
                              var res = parent._extract_response(response);
                              callback(res);
                      },
                      error: function(jqXHR, textStatus, errorThrown) { 
                                  debugger;
                                  $('#gus_login_button').button('reset'); 
                                  alert('GUS runCode failed'); 
                      },
                      dataType: 'flXHRproxy',
                     });

         }
         gusHack.prototype._encode_xml = function(stuff) {
              return stuff.replace(/&/gm,'&amp;').replace(/"/gm,'&quot;').replace(/</gm,'&lt;').replace(/>/gm,'&gt;').replace(/'/gm,'&apos;');
         };
         gusHack.prototype._unencode_xml = function(stuff) {
             // the escaping is needed due to VF apparently screwing with the characters as they're saved
              return stuff.replace(/\x26quot;/gm,'"').replace(/\x26lt;/gm,'<').replace(/\x26gt;/gm,'>').replace(/\x26apos;/gm,"'").replace(/\x26amp;/gm,'&');
         };
         gusHack.prototype._baseCode = "public class ChartMeanTimeOverTimeException extends Exception{}{!JSENCODE(chartMeanTimeOverTimeCode)}",
         gusHack.prototype._baseCountCode = "public class CharterCountsException extends Exception{}{!JSENCODE(charterCountsCode)}",
         gusHack.prototype._baseSLACode = "public class CharterException extends Exception{}{!JSENCODE(charterSLAsCode)}",
         
         gusHack.prototype._meanTimeToCloseCode = "ChartMeanTimeOverTime charter = new ChartMeanTimeOverTime();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.fieldName2 = 'Closed_On__c';charter.precision = 'days';charter.period    = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z AND Scrum_Team__r.Cloud__c != \\'IT\\' AND Scrum_Team__r.Cloud__c != \\'Other\\' AND Scrum_Team__r.Cloud__c != \\'Data.com - San Mateo\\' AND Scrum_Team__r.Cloud__c != \\'Marketing\\' AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))'; return charter.meanTimeByFieldValueOverTimeLong('Priority__c');"
         gusHack.prototype._closedWithinSLACode = "Map<String,Integer> SLAs = new Map<String,Integer>{'P0'=>7,'P1'=>30,'P2'=>60};CharterSLAs charter = new CharterSLAs();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.fieldName2 = 'Closed_On__c';charter.precision = 'days';charter.period = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z  AND Scrum_Team__r.Cloud__c != \\'IT\\' AND Scrum_Team__r.Cloud__c != \\'Other\\' AND Scrum_Team__r.Cloud__c != \\'Data.com - San Mateo\\' AND Scrum_Team__r.Cloud__c != \\'Marketing\\' AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))';return charter.percentageWithinSLAOverTimeLong(SLAs,'Priority__c');";
         gusHack.prototype._bugCountByMonthCode = "ChartMeanTimeOverTime charter = new ChartMeanTimeOverTime();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.precision = 'days';charter.period = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z  AND Scrum_Team__r.Cloud__c != \\'IT\\' AND Scrum_Team__r.Cloud__c != \\'Other\\' AND Scrum_Team__r.Cloud__c != \\'Data.com - San Mateo\\' AND Scrum_Team__r.Cloud__c != \\'Marketing\\' AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))';return charter.countByFieldValueOverTimeLong('Priority__c');";
         gusHack.prototype._bugsRemainingOpenByMonthCode = "CharterCounts charter = new CharterCounts();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.fieldName2='Closed_On__c';charter.period = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z  AND Scrum_Team__r.Cloud__c != \\'IT\\' AND Scrum_Team__r.Cloud__c != \\'Other\\' AND Scrum_Team__r.Cloud__c != \\'Data.com - San Mateo\\' AND Scrum_Team__r.Cloud__c != \\'Marketing\\' AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))';return charter.countByDateSpanValueOverTimeLong('Priority__c');";
         
         gusHack.prototype._datacomMarketing_meanTimeToCloseCode = "ChartMeanTimeOverTime charter = new ChartMeanTimeOverTime();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.fieldName2 = 'Closed_On__c';charter.precision = 'days';charter.period    = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z AND (Scrum_Team__r.Cloud__c = \\'Data.com - San Mateo\\' OR Scrum_Team__r.Cloud__c = \\'Marketing\\') AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))'; return charter.meanTimeByFieldValueOverTimeLong('Priority__c');"
         gusHack.prototype._datacomMarketing_closedWithinSLACode = "Map<String,Integer> SLAs = new Map<String,Integer>{'P0'=>7,'P1'=>30,'P2'=>60};CharterSLAs charter = new CharterSLAs();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.fieldName2 = 'Closed_On__c';charter.precision = 'days';charter.period = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z  AND (Scrum_Team__r.Cloud__c = \\'Data.com - San Mateo\\' OR Scrum_Team__r.Cloud__c = \\'Marketing\\') AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))';return charter.percentageWithinSLAOverTimeLong(SLAs,'Priority__c');";
         gusHack.prototype._datacomMarketing_bugCountByMonthCode = "ChartMeanTimeOverTime charter = new ChartMeanTimeOverTime();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.precision = 'days';charter.period = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z AND (Scrum_Team__r.Cloud__c = \\'Data.com - San Mateo\\' OR Scrum_Team__r.Cloud__c = \\'Marketing\\') AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))';return charter.countByFieldValueOverTimeLong('Priority__c');";
         gusHack.prototype._datacomMarketing_bugsRemainingOpenByMonthCode = "CharterCounts charter = new CharterCounts();charter.objectName = 'ADM_Work__c';charter.fieldName1 = 'CreatedDate';charter.fieldName2='Closed_On__c';charter.period = 'monthly';charter.resultsAsException=true; charter.extraWhere = 'RecordType.DeveloperName = \\'Bug\\' AND CreatedDate > 2011-01-01T00:00:00Z  AND Scrum_Team__r.Cloud__c != \\'IT\\' AND Scrum_Team__r.Cloud__c != \\'Other\\' AND (Scrum_Team__r.Cloud__c = \\'Data.com - San Mateo\\' OR Scrum_Team__r.Cloud__c = \\'Marketing\\') AND (Priority__c = \\'P0\\' OR Priority__c = \\'P1\\' OR Priority__c = \\'P2\\') AND (Impact__r.Name = \\'Security\\' OR Attributes__c INCLUDES (\\'Security\\'))';return charter.countByDateSpanValueOverTimeLong('Priority__c');";
         
          var gus;
          
          function render_meanTimeToClose(data) {
              multiPlotTo($('#rd_meanTimeToClose'),'Mean Time To Close P0-P2', 'monthly','days',handleMeansArray(data));
          }
          function render_closedWithinSLA(data) {
              multiPlotTo($('#rd_closedWithinSLA'),'Closed Within SLA P0-P2', 'monthly','percentage',handleSLAArray(data));
             
              // It helps if this is here and not parallel to the other requests. Not sure why. 
              gus.bugCountByMonth(render_bugCountByMonth);              
          }
          function render_bugCountByMonth(data) {
              multiPlotTo($('#rd_bugCountByMonth'),'P0-P2 Bugs Opened', 'monthly','bugs',handleCountsArray(data));
              gus.bugsRemainingOpenByMonth(render_bugsRemainingOpenByMonth);
          }
          function render_bugsRemainingOpenByMonth(data) {
              $('#gus_login_button').button('reset');
              multiPlotTo($('#rd_bugsRemainingOpenByMonth'),'P0-P2 Bugs Remaining Open', 'monthly','bugs',handleCountsArray(data));
          }
          
          function render_datacommarketing_meanTimeToClose(data) {
              multiPlotTo($('#dcm_meanTimeToClose'),'Mean Time To Close P0-P2', 'monthly','days',handleMeansArray(data));
          }
          function render_datacommarketing_closedWithinSLA(data) {
              multiPlotTo($('#dcm_closedWithinSLA'),'Closed Within SLA P0-P2', 'monthly','percentage',handleSLAArray(data));
             
              // It helps if this is here and not parallel to the other requests. Not sure why. 
              gus.datacommarketing_bugCountByMonth(render_datacommarketing_bugCountByMonth);
          }
          function render_datacommarketing_bugCountByMonth(data) {
              multiPlotTo($('#dcm_bugCountByMonth'),'P0-P2 Bugs Opened', 'monthly','bugs',handleCountsArray(data));
              gus.datacommarketing_bugsRemainingOpenByMonth(render_datacommarketing_bugsRemainingOpenByMonth);
          }
          function render_datacommarketing_bugsRemainingOpenByMonth(data) {
              $('#gus_dcm_login_button').button('reset');
              multiPlotTo($('#dcm_bugsRemainingOpenByMonth'),'P0-P2 Bugs Remaining Open', 'monthly','bugs',handleCountsArray(data));
          }
          
          function get_data() {
              gus.meanTimeToClose(render_meanTimeToClose);
              gus.closedWithinSLA(render_closedWithinSLA);
              
          }
          
          function get_dcm_data() {
              gus.datacommarketing_meanTimeToClose(render_datacommarketing_meanTimeToClose);
              gus.datacommarketing_closedWithinSLA(render_datacommarketing_closedWithinSLA);
          }
          function gus_metrics() {
              $('#gus_login_button').button('loading');
              gus = new gusHack();
              var un = $('#gus_un').val();
              var pw = $('#gus_pw').val();
              gus.login(un,pw,get_data);
          }
          function gus_dcm_metrics() {
              $('#gus_dcm_login_button').button('loading');
              gus = new gusHack();
              var un = $('#gus_dcm_un').val();
              var pw = $('#gus_dcm_pw').val();
              gus.login(un,pw,get_dcm_data);
          }          
      </script>   
      
      <script type="text/javascript">
          Object.size = function(obj) {
                var size = 0, key;
                for (key in obj) {
                    if (obj.hasOwnProperty(key)) size++;
                }
                return size;
            };
            
          function ITMetrics() {
          
          };
          
          ITMetrics.create_tabs = function(data) {
              $.each(data,function(index,val) {
                 var linkId = 'id_it_'+String(parseInt(index))+'_tab_link';
                  $('#all_tabs').append('<li><a data-id="'+String(parseInt(index))+'" href="#id_it_'+String(parseInt(index))+'_tab" id="'+linkId+'" class="it_tab" data-toggle="tab">'+htmlEscape(val)+'</a></li>');
                  $('div.tab-content').append('<div class="tab-pane" id="id_it_'+String(parseInt(index))+'_tab"><div class="ItMeanTimeToClosure" style="width:50%;float:left;" /><div class="closedWithinSLA" style="width:50%;float:left;" /><div class="ticketsOpenedByMonth" style="width:50%;float:left;" /><div class="ticketsRemainingOpenByMonth" style="width:50%;float:left;" /></div>');
                  $('#'+linkId).on('click',function(event) {
                      var tab = this;
                      $.ajax('https://tc.sfdcsec.com/unauthedapi/all_issues/'+$(tab).attr('data-id'),
                         { dataType:'json',
                          success:function(data,textStatus,jqXHR) {
                              $.each(data,function(index,val) {
                                  if (typeof val['date_opened'] == 'undefined') {
                                      val['date_opened'] = null;
                                  }
                                  if (typeof val['date_closed'] == 'undefined') {
                                      val['date_closed']=null;
                                  }
                                  if (typeof val['severity'] == 'undefined') {
                                      val['severity']=null;
                                  }
                                  if (typeof val['current_status'] == 'undefined') {
                                      val['current_status']=null;
                                  }
                                  
                                  // apex datetime parsing sucks. 
                                  if ((typeof val['date_opened'] != 'undefined') && (val['date_opened'] != null)) {
                                      val['date_opened'] = moment(val['date_opened']).utc()._d.toUTCString();
                                  }
                                  if ((typeof val['date_closed'] != 'undefined') && (val['date_closed'] != null)) {
                                      val['date_closed'] = moment(val['date_closed']).utc()._d.toUTCString();
                                  }
                              });
                                 
                              TRAC_Metrics_Controller.ItClosedWithinSLA(data,function(result,event) {
                                  var extra = '';
                                  if (Object.size(result) == 0) {extra = ' (No Data)';}
                                  multiPlotTo($($(tab).attr('href')).children('.closedWithinSLA').filter(':first'),'Closed Within SLA'+extra, 'monthly','percentage',handleSLAArray(result));
                              });
                                
                              TRAC_Metrics_Controller.ItMeanTimeToClosure(data,function(result,event) {
                                  var extra = '';
                                  if (Object.size(result) == 0) {extra = ' (No Data)';}
                                  multiPlotTo($($(tab).attr('href')).children('.ItMeanTimeToClosure').filter(':first'),'Mean Time To Closure'+extra, 'monthly','Days',handleMeansArray(result));
                              });

                              TRAC_Metrics_Controller.ItTicketsOpenedByMonth(data,function(result,event) {
                                  var extra = '';
                                  if (Object.size(result) == 0) {extra = ' (No Data)';}
                                  multiPlotTo($($(tab).attr('href')).children('.ticketsOpenedByMonth').filter(':first'),'Tickets Opened By Month'+extra, 'monthly','tickets',handleCountsArray(result));
                              });
                              TRAC_Metrics_Controller.ItTicketsRemainingOpenByMonth(data,function(result,event) {
                                  var extra = '';
                                  if (Object.size(result) == 0) {extra = ' (No Data)';}
                                  multiPlotTo($($(tab).attr('href')).children('.ticketsRemainingOpenByMonth').filter(':first'),'Tickets Remaining Open By Month'+extra, 'monthly','tickets',handleCountsArray(result));
                              });
                              
                          },
                          error: function(jqXHR,textStatus,errorThrown) {
                              alert('error: '+errorThrown);
                          }
                         }
                       );    
                      
                      
                      
                  }); 
              });
          };
          
          
          
          $(document).ready(function() {
              $.ajax('https://tc.sfdcsec.com/unauthedapi/all_products',
                     { dataType:'json',
                      success:function(data,textStatus,jqXHR) {
                          ITMetrics.create_tabs(data);
                      },
                      error: function(jqXHR,textStatus,errorThrown) {
                          alert('error: '+errorThrown);
                      }
                     }
                   );    
              
          });

          
      </script> 
      
  </head>
  <body>
     <ul class="nav nav-tabs" id="all_tabs" >
      <li><a href="#id_csirt_tab" id="id_csirt_tab_link" data-toggle="tab">CSIRT</a></li>
      <li><a href="#id_rd_tab" id="id_rd_tab_link" data-toggle="tab">R&amp;D</a></li>
      <li><a href="#id_dcm_tab" id="id_dcm_tab_link" data-toggle="tab">Data.com &amp; Marketing Cloud</a></li>
    </ul>
    
    <div class="tab-content">
      <div class="tab-pane" id="id_csirt_tab">
            <div id="meanTimeToDiscovery" style="width:50%;float:left;" />
            <div id="meanTimeToResponse" style="width:50%;float:left;" />
            <div id="meanTimeToResolution" style="width:50%;float:left;" />
            <div id="meanTimeToClosure" style="width:50%;float:left;" />
            <div id="respondedWithinSLA" style="width:50%;float:left;" />
            <div id="resolvedWithinSLA" style="width:50%;float:left;" />
            <div id="closedWithinSLA" style="width:50%;float:left;" />
            
            <div id="ad-hoc" style="float:left;clear:both;margin-top:40px;width:100%">
                <h3>Ad Hoc Charting</h3>
                <select id="object_select">
                    <option value="Case">Case</option>
                    <apex:repeat var="obj" value="{!availableObjects}">
                        <option value="{!obj}">{!obj}</option>
                    </apex:repeat>
                </select>
                
                <select id="field1_select" >
                </select>
                <select id="field2_select" >
                </select>
                <select id="period_select">
                    <option value="hourly">Hourly</option>
                    <option value="daily">Daily</option>
                    <option value="weekly">Weekly</option>
                    <option value="monthly" selected="selected">Monthly</option>
                    <option value="yearly">Yearly</option>
                </select>
                <select id="precision_select">
                    <option value="milliseconds">Milliseconds</option>
                    <option value="seconds">Seconds</option>
                    <option value="hours">Hours</option>
                    <option value="days" selected="selected">Days</option>
                    <option value="weeks">Weeks</option>
                </select>
                <button type="button" onclick="update_chart()">Update</button>
                
                <div id="container" style="width:80%;"/> 
              </div> <!-- adhoc -->
              
              <script type="text/javascript">
                  var CSIRT_rendered = false;
                  $('#id_csirt_tab_link').on('show',function(e) {
                      if (CSIRT_rendered) {
                          return;
                      }
                      
                      TRAC_Metrics_Controller.meanTimeToDiscovery(function(result,event) {
                          multiPlotTo($('#meanTimeToDiscovery'),'Mean Time To Discovery', 'monthly','hours',handleMeansArray(result));
                      });
                      TRAC_Metrics_Controller.meanTimeToResponse(function(result,event) {
                          multiPlotTo($('#meanTimeToResponse'),'Mean Time To Response', 'monthly','hours',handleMeansArray(result));
                      });
                      TRAC_Metrics_Controller.meanTimeToResolution(function(result,event) {
                          multiPlotTo($('#meanTimeToResolution'),'Mean Time To Resolution', 'monthly','hours',handleMeansArray(result));
                      });
                      TRAC_Metrics_Controller.meanTimeToClosure(function(result,event) {
                          multiPlotTo($('#meanTimeToClosure'),'Mean Time To Closure', 'monthly','days',handleMeansArray(result));
                      });
                      
                      TRAC_Metrics_Controller.respondedWithinSLA(function(result,event) {
                          multiPlotTo($('#respondedWithinSLA'),'Responded Within SLA', 'monthly','percentage',handleSLAArray(result));
                      });
                     
                      TRAC_Metrics_Controller.resolvedWithinSLA(function(result,event) {
                          multiPlotTo($('#resolvedWithinSLA'),'Resolved Within SLA', 'monthly','percentage',handleSLAArray(result));
                      });
                      
                      TRAC_Metrics_Controller.closedWithinSLA(function(result,event) {
                          multiPlotTo($('#closedWithinSLA'),'Closed Within SLA', 'monthly','percentage',handleSLAArray(result));
                      });
                      
                      TRAC_Metrics_Controller.fieldsForObject('Case',populate_fields_given_fields);
                      
                      CSIRT_rendered = true;
                  });
                  
                  $(document).ready(function() {
                      $('#object_select').bind('change',populate_fields_for_object);
                      $('#field_select').find('option').remove().end();
                      
                  });
              </script>
      </div> <!-- id_csirt_tab -->
          
      <div class="tab-pane" id="id_rd_tab">
          <form class="form-inline">
              <input type="text" id="gus_un" class="input" placeholder="GUS Username" />
              <input type="password" id="gus_pw" class="input" placeholder="Password" />
              <button type="button" class="btn login_button" id="gus_login_button" onclick="gus_metrics();" data-loading-text="Loading...(slowly)">Login</button>
          </form>
            <div id="rd_meanTimeToClose" style="width:50%;float:left;" />
            <div id="rd_closedWithinSLA" style="width:50%;float:left;" />
            <div id="rd_bugCountByMonth" style="width:50%;float:left;" />
            <div id="rd_bugsRemainingOpenByMonth" style="width:50%;float:left;" />
      </div> <!-- id_rd_tab -->
      
      <div class="tab-pane" id="id_dcm_tab">
          <form class="form-inline">
              <input type="text" id="gus_dcm_un" class="input" placeholder="GUS Username" />
              <input type="password" id="gus_dcm_pw" class="input" placeholder="Password" />
              <button type="button" class="btn login_button" id="gus_dcm_login_button" onclick="gus_dcm_metrics();" data-loading-text="Loading...(slowly)">Login</button>
          </form>
            <div id="dcm_meanTimeToClose" style="width:50%;float:left;" />
            <div id="dcm_closedWithinSLA" style="width:50%;float:left;" />
            <div id="dcm_bugCountByMonth" style="width:50%;float:left;" />
            <div id="dcm_bugsRemainingOpenByMonth" style="width:50%;float:left;" />
      </div> <!-- id_dcm_tab -->
      
      
    </div> <!-- tab content -->
    
    
     
  
      
      
      
  </body>
</apex:page>