<apex:page showHeader="false" sidebar="false" standardStylesheets="false" controller="WebAppScanner">
<head>


<title>Force.com Secure Cloud Development</title>
  <script src="http://www.developerforce.com/assets/developerforcesite/common/js/jqall.js"
 type="text/javascript"></script>
  <script src="http://www.developerforce.com/assets/developerforcesite/common/js/sf.js"
 type="text/javascript"></script>
  <link class="user"
 href="http://www.developerforce.com/assets/developerforcesite/common/css/styles.css" type="text/css"
 rel="stylesheet" />
  <link class="user"
 href="http://www.developerforce.com/assets/developerforcesite/common/css/styles_print.css"
 type="text/css" rel="stylesheet" />
  <link class="user"
 href="http://www.developerforce.com/assets/developerforcesite/common/css/ie6_2.css" type="text/css"
 rel="stylesheet" />
 <script type="text/javascript" 
src="{!$Resource.EXTJS2}/ext-3.0.0/adapter/ext/ext-base.js"></script>
 <script type="text/javascript" src="{!$Resource.EXTJS2}/ext-3.0.0/ext-all.js"></script>

<link rel="stylesheet" type="text/css" 
href="{!$Resource.EXTJS2}/ext-3.0.0/resources/css/ext-all.css" />
<script type="text/javascript" src="{!$Resource.EXTJS2}/ext-3.0.0/ext-all.js"></script>


<link rel="stylesheet" type="text/css" 
href="{!$Resource.EXTJS2}/ext-3.0.0/examples/shared/examples.css" />

    <style type="text/css">
    .x-panel-body p {
        margin:10px;
        font-size:12px;
    }
    </style>

<script type="text/javascript" 
src="{!$Resource.EXTJS2}/ext-3.0.0/examples/shared/examples.js"></script>

  <meta http-equiv="PRAGMA"
 content="NO-CACHE" />
  <meta http-equiv="Expires"
 content="Mon, 01 Jan 1990 12:00:00 GMT" />
  <meta http-equiv="content-type"
 content="text/html; charset=utf-8" />

  <style>.cal_date {
WIDTH: 0px; HEIGHT: 0px
}
.cal_day {
MARGIN-TOP: 10px; PADDING-TOP: 0px
}
.cal_month {
MARGIN-TOP: 20px; MARGIN-BOTTOM: 0px; PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
* HTML .separator {
PADDING-BOTTOM: 0px; PADDING-TOP: 0px
}
.more_button .container {
MARGIN: 0px
}
#toplevelsidebar_wide #sidenav .inner {
WIDTH: 225px
}
#sidenav UL.links LI A {
FONT-SIZE: 11px
}
#signup_area {
  float:left;
}

#signup_form {
  margin-top:40px;
}

#howto_video {
  float:left;
  margin-left:100px;
}

#signup_spacer {
  clear:both;
  margin-top:20px;
}

.area_title {
  font-size:150%;
  font-weight:bold;
}

#video_embed {
  padding-top:0px;
}

  </style>




</head>
<body class="" id="wrapper" onload="checkStatus()">
   <div class="" id="pagewrap">  
            
            <!--<div id="main">
            <div class="gs">
<div id="centerwrap">
<div id="container">
<div id="contentcontainer">
<div id="content4r"> <a
 id="top" name="top"></a>-->
 
 <div id="header"><a
 href="http://developer.force.com/security"><img
  alt="developerforce"
 src="http://www.salesforce.com/common/assets/images/logos_ext/sf-logo-trans-new.png"></img></a>  <!--removed class="logo" because of IE8 bug-->
<div class="nav"><span
 id="j_id0:j_id1:j_id2:j_id44:j_id45:j_id51"><br>
</span></div>
</div>
</span>
<br/>
<div id="content"><span
 id="j_id0:j_id1:j_id2:j_id57"><!--******--></span>
<!--start content-->


<h1>Web Application Security Scanner</h1>


In an effort to assist salesforce.com ISV Partners develop trusted web applications that meet the highest security standards, we offer a free annual web-application scanning (Burp Suite Professional) license to qualifying partners.<br><br>

Burp Suite is an integrated testing platform that allows you to combine manual and automated techniques to enumerate, analyze, scan, attack and exploit security vulnerabilities in web applications.  <a href="/webappscannerdetails">More Details...</a><br><br>

You must meet the following criteria* to qualify for this benefit:<br>
•   Be enrolled in the AppExchange or OEM program<br>
•   Be current with your <a href="http://wiki.developerforce.com/index.php/Security_Review_Costs">AppExchange Listing Fees</a> <br>
•   Application contains integrations with web-services not residing on the Force.com Platform. If your application completely resides on Force.com, please use the <a href="/sourcescanner">Force.com Security Source Scanner</a> instead.
<br><br>

If you meet the above-mentioned criteria, please complete this form to request a free Burp Suite Professional License. Processing times typically vary between 2-5 days.<br><br>

<div class="notification"><font color="red">{!notification}</font></div>

<div id="signup_spacer"></div>

<div id="signup_area">
<p class="area_title">Free License Request Form</p>
<div id="signup_form">
<apex:form id="myform">

<table><tr><td>
Full Name:</td><td><apex:inputText id="myuser" value="{!fullname}" /></td><td></td></tr>
<tr><td>Company Email Address:</td><td><apex:inputText id="myemail" value="{!email}" /></td><td></td></tr>
<tr><td>Company Name:</td><td><apex:inputText id="mycompany" value="{!company}" /><br></td><td></td></tr>
<tr><td>Application Name:</td><td><apex:inputText id="myapp" value="{!appname}" /><br></td><td></td></tr>
<tr><td>ISV Program:</td><td> <apex:selectList id="myprogram" value="{!program}" size="1" >
            <apex:selectoption itemLabel="AppExchange" itemValue="appexchange"></apex:selectoption>
            <apex:selectoption itemLabel="OEM" itemValue="oem"></apex:selectoption>
     </apex:selectList></td><td></td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp; </td><td> </td><td></td></tr>
<tr><td>&nbsp;&nbsp;&nbsp;&nbsp; </td><td> </td><td></td></tr>
<tr><td colspan="3"><apex:inputCheckbox id="mycheckbox" value="{!checked}" />&nbsp;&nbsp;&nbsp;By checking this box I agree to the Terms and Conditions below.</td></tr>
<tr><td>&nbsp;</td><td></td><td</td></tr>
<tr><td></td><td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<apex:commandButton action="{!process}" id="showbtn" value="Submit"  /></td><td></td></tr></table>

</apex:form>
</div>
</div>
<div id="howto_video">
    <p class="area_title">Burp Suite Tutorial</p>
    <object width="400" height="250" id="video_embed">
    <param name="allowfullscreen" value="true" />
    <param name="allowscriptaccess" value="always" />
    <param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11553558&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" />
    <embed src="http://vimeo.com/moogaloop.swf?clip_id=11553558&server=vimeo.com&show_title=1&show_byline=1&show_portrait=0&color=&fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="250">
    </embed>
  </object>
</div>
<br><br>
      
      
<span id="complete" style="display:none">
<font color="red">
Thank you for submitting.  Our team will be in contact with you soon.
</font>
</span>
<span id="bademail" style="display:none">
<font color="red">
Please enter a valid email address and/or name.
</font>
</span>
<span id="unchecked" style="display:none">
<font color="red">
Please agree to the Terms and Conditions prior to submitting.
</font>
</span><br/>

        <iframe src="{!URLFOR($Page.WebAppScannerTerms)}" height="100%" width="100%"></iframe>    
        <br/><br/>
        <font color="gray">*Salesforce.com reserves the right to discontinue this offering.  We are evaluating its efficiency during this time.</font>


            
            
   
            </div>
           <!-- </div>
            </div>
            </div>
            </div>
            </div>-->

            
                
                <span id="endofcontent"><!--**************--></span>
                
                
                                                    
            <div style="text-align:center">
            <c:CorpFooter ></c:CorpFooter>
            </div>
            </div>

    </body>  
  

</apex:page>