.THIS .action-plan .slds-form-element__label,.THIS .business-justifcation .slds-form-element__label, .THIS .milestone-popup .slds-form-element__label{
    display : none;
}
.THIS .slds-modal__container{
    max-width: 70rem !important;
    width:70% !important;
}
.THIS .required{
    font-size: .75rem;
    margin-top: .125rem;
    display: block;
    color:rgb(194, 57, 52);
    font-weight: unset;
}