<template> 
    <div class="backdrop slds-spinner_container" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <lightning-input if:false={notKarlStandardUser}
        type="checkbox" 
        label="Auditor Readiness Confirmation" 
        name="auditorReadinessConfirmation" 
        checked={recordInfoWrapper.auditorReadinessConfirmation}
        data-field="Auditor_Readiness_Confirmation__c"
        onchange={handleChange}
    >
    </lightning-input>
    <lightning-input if:false={notKarlStandardUser} 
        class="slds-m-top_medium"
        type="checkbox" 
        label="Management Responses Approved" 
        name="managementResponseApproved" 
        checked={recordInfoWrapper.managementResponseApproved}
        data-field="Management_Responses_Approved__c"
        onchange={handleChange}
    >
    </lightning-input>
    <lightning-input if:false={notKarlStandardUser} 
        class="slds-m-top_medium"
        type="checkbox" 
        label="Audit Report Final Draft Confirmed" 
        name="auditReportFinalDrafConfirmed" 
        checked={recordInfoWrapper.auditReportFinalDrafConfirmed}
        data-field="Audit_Report_Final_Draft_Confirmed__c"
        onchange={handleChange}
    >
    </lightning-input>
    <lightning-input if:true={isKarlAdmin} 
        class="slds-m-top_medium"
        type="checkbox" 
        label="Approved by Legal" 
        name="approvedByLegal" 
        checked={recordInfoWrapper.approvedByLegal}
        data-field="Approved_by_Legal__c"
        onchange={handleChange}
    >
    </lightning-input>
    <lightning-input if:true={isKarlAdmin}
        class="slds-m-top_medium"
        type="checkbox" 
        label="Audit Letter Temps. Formatted" 
        name="auditLetterTempsFormatted" 
        checked={recordInfoWrapper.auditLetterTempsFormatted}
        data-field="Audit_Letter_Temps_Formatted__c"
        onchange={handleChange}
    >
    </lightning-input>
    <lightning-input if:false={notKarlStandardUser}
        class="slds-m-top_medium"
        type="checkbox" 
        label="Basis of Assertion (BOA)" 
        name="basisOfAssertionBOA" 
        checked={recordInfoWrapper.basisOfAssertionBOA}
        data-field="Basis_of_Assertion_BOA__c"
        onchange={handleChange}
    >
    </lightning-input>
</template>