<template>
    <div class="slds-form-element">        
        <div class="slds-form-element__control">
            <div class="slds-combobox_container">
                <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                    <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right" role="none">
                        <template if:true={iconFlag}>
                            <!-- <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right">
                                <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:search" size="x-small" alternative-text="icon" ></lightning-icon>
                            </span>  -->
                            <!-- <lightning-icon class="btnIconOverlay" icon-name="utility:search" size="x-small" alternative-text="icon"></lightning-icon> -->
                            <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon">
                                <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:search" size="x-small" alternative-text="icon" ></lightning-icon>
                                <span class="slds-assistive-text">Search</span></button>
                        </template>
                        <lightning-input required={required} read-only={inputReadOnly} data-id="userinput" label={Label} name="searchText" onchange={searchField} value={selectRecordName} disabled={disable} class="leftspace"></lightning-input>
                        <template if:true={clearIconFlag}>
                            <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon" onclick={resetData}>
                            <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:clear" size="x-small" alternative-text="icon" ></lightning-icon>
                            <span class="slds-assistive-text">Clear</span></button>
                        </template>
                    </div>
                
                    <!-- Second part display result -->
                    <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                        <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                            <template for:each={searchRecords} for:item="serecord">
                                <li role="presentation" class="slds-listbox__item" key={serecord.id}>
                                    
                                    <div data-id={serecord.id} data-desc={serecord.descOrComm} data-name={serecord.name} onclick={setSelectedRecord} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                        <span class="slds-media__figure">
                                            <span class="slds-icon_container slds-icon-standard-account">
                                                <lightning-icon icon-name={iconName} class="slds-icon slds-icon slds-icon_small slds-icon-text-default" size="x-small"></lightning-icon>
                                            </span>
                                        </span>
                                        <span class="slds-media__body">
                                            <span class="slds-listbox__option-text slds-listbox__option-text_entity">{serecord.name}</span>
                                            <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{objectName} • {serecord.name}</span>
                                        </span>
                                    </div>
                                </li>
                            </template>
                        </ul>
                    </div> 
                    <div if:true={messageFlag}>
                        No result found.
                    </div>
                    <div if:true={LoadingText}>
                        Loading...
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>