<template>
    <lightning-layout horizontal-align="center">
        <template if:true={notFirst}>
            <lightning-layout-item class="slds-m-right_x-small">
                <lightning-button label="First" onclick={firstHandler} class="slds-m-right_x-small"></lightning-button>
                <lightning-button label="Previous" icon-name="utility:chevronleft" onclick={previousHandler}></lightning-button>
            </lightning-layout-item>
        </template>
        <!--<lightning-layout-item flexibility="grow"></lightning-layout-item>-->
        <template if:true={pagelinks}>
            <div lwc:dom="manual"></div>
            <lightning-button-group>
                <template for:each={pageList} for:item="pageNum">
                    <button class="slds-button slds-button_neutral" key={pageNum} data-id={pageNum} value={pageNum} onclick={pageHandler} >{pageNum}</button>
                </template>
            </lightning-button-group>
        </template>
        <template if:true={notLast}>
            <lightning-layout-item class="slds-m-left_x-small">
                <lightning-button label="Next" icon-name="utility:chevronright" icon-position="right" onclick={nextHandler}></lightning-button>
                <lightning-button label="Last" onclick={lastHandler} class="slds-m-left_x-small"></lightning-button>
            </lightning-layout-item>
        </template>
    </lightning-layout>
</template>