<template>
    <li class="karlTile">
        <div class="slds-grid slds-has-flexi-truncate slds-var-p-around_x-small">
            <div class="slds-tile slds-col slds-medium-size--5-of-6" onclick={handleOpenRecordClick}>
                <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux"><strong>{requirementitem.Area_of_Compliance__c}:</strong> {requirementitem.Requirement_ID__c}</span></p>
                <div class="slds-tile__detail slds-text-body--small">
                    <!-- <p class="slds-truncate">{controlitem.Full_Control_Scope__c}</p> -->
                    <ul class="slds-text-body--small slds-wrap">
                        <li if:true={requirementitem.KARL_Area_Title__c} class="slds-truncate slds-list__item"><strong>{requirementitem.KARL_Area_Title__c}</strong></li>
                        <li if:true={requirementitem.Area_Requirement__r.Description__c} class="slds-truncate slds-list__item">{requirementitem.Area_Requirement__r.Description__c}</li>
                    </ul>
                </div>
            </div>
            <div class="slds-tile__detail slds-col slds-medium-size--1-of-6">
                <div class="slds-float--right" style="width: 95px;">
                    <lightning-button-group>
                        <lightning-button-icon icon-name="utility:new_window" alternative-text="New Window" title="New Window" onclick={handleOpenRecord}></lightning-button-icon>
                        <lightning-button-icon icon-name="utility:settings" alternative-text="Settings" title="Settings" disabled={notKarlStandardUser} onclick={handleEditClick}></lightning-button-icon>
                        <lightning-button-icon icon-name="utility:delete" alternative-text="Delete" class="slds-m-left_xx-small" title="Delete" disabled={notKarlStandardUser} onclick={handleDeleteClick}></lightning-button-icon>
                    </lightning-button-group>
                </div>
            </div>
        </div>
    </li>
</template>