<template>
    <div class="slds-box slds-theme_default slds-theme_backgroundColor-white">
    <div class="slds-text-heading_small">Create a New Data Lineage</div>
    <br>
     <lightning-record-edit-form object-api-name={datalineageObject} onsuccess={openModal}>
            <lightning-messages></lightning-messages>
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-2">

                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Asset</label>
                    <lightning-input-field field-name={dataassetField} variant="label-hidden"></lightning-input-field>
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Source Data Asset</label>
                    <lightning-input-field field-name={sourceField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Integration Type</label>
                    <lightning-input-field field-name={integrationtypeField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Ingestion Mode</label>
                    <lightning-input-field field-name={ingestionmodeField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Service</label>
                    <lightning-input-field field-name={serviceField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Crypto Algorithm</label>
                    <lightning-input-field field-name={cryptoField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Time Unit</label>
                    <lightning-input-field field-name={timeunitField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Refresh Cadence</label>
                    <lightning-input-field field-name={refreshcadenceField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Comments</label>
                    <lightning-input-field field-name={commentsField} variant="label-hidden"></lightning-input-field>	
                    <br>
                    <div class="slds-m-top_medium">
                        <lightning-button variant="brand" type="submit" name="save" label="Submit"></lightning-button>
                        </div>
                 
                </div>


             </div>
        </lightning-record-edit-form>

    </div>
    <template if:true={bShowModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
           <div class="slds-modal__container">
              <!-- modal header start -->
              <!-- modal body start -->
              <div class="slds-modal__content slds-p-around_medium" >
                <div class="slds-align_absolute-center" style="height:5rem">
                    <p>Form Submitted Successfully</p>
                  </div> 
              </div>
              <!-- modal footer start-->
              <footer class="slds-modal__footer">
                 <button class="slds-button slds-button_neutral" onclick={closeModal}>Ok</button>
              </footer>
           </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
     </template>
    </template>