<template>
    <li class="karlTile" onclick={handleOpenRecordClick}>
        <div class="slds-media slds-tile">
            <div class="slds-media__figure">
            </div>
            <div class="slds-media__body">
                <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux">{record.Stakeholder__r.Name}</span></p>
                <div class="slds-tile__detail slds-text-body--small">
                    <p class="slds-truncate">{record.Stakeholder__r.Email}</p>
                    <p class="slds-truncate">{record.Audit_Firm__r.Name}</p>
                </div>
            </div>
        </div>
    </li>
</template>