/*adjusting help text position*/
.THIS {
    background-color: white;
    height: 100%;
  }
.THIS .customIcon div{
    vertical-align: top !important;
}
.slds-modal__container{
  max-width: 105rem !important;
  width:90% !important;
  
}