<template>
    <template if:true={records}>
        <template if:false={recordInfoWrapper.statusPending}>
            <div class="backdrop slds-spinner_container" if:true={showSpinner}>
                <div class="spinner">
                    <lightning-spinner alternative-text="Loading..."></lightning-spinner>
                </div>
            </div>
            <lightning-card>
                <h3 slot="title">
                    <lightning-icon icon-name="standard:approval" size="small" class="slds-m-right_small"></lightning-icon>
                    GRC VP Approval
                </h3>
                <p class="slds-p-horizontal_small">
                    <lightning-input
                    type="checkbox" 
                    label="Approved by GRC VP?" 
                    name="vpApproved" 
                    checked={recordInfoWrapper.vpApproved}
                    data-field="VP_Approved__c"
                    onchange={handleChange}>
                    </lightning-input>
                </p>
            </lightning-card>
        </template>
    </template>
</template>