<template>
    <article class="slds-card slds-card_boundary slds-m-bottom_medium">
        <div class="slds-card__header slds-grid slds-p-bottom_small" style="background: rgb(221, 219, 218); margin: 0;">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon icon-name="standard:avatar" alternative-text="Avatar" title="Avatar" size="large"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h3 class="slds-card__header-title">
                        <span style="font-size: larger;"><b>Employee Capacity</b></span>
                    </h3>
                </div>
                <div class="slds-col slds-size_1-of-4 slds-m-right_xx-large">
                    <lightning-input type="search" variant='label-hidden' placeholder='Search employee...' oncommit={handleSearch} ></lightning-input>
                </div>
                <div class="slds-no-flex">
                    <span class="slds-m-right_medium">
                        <lightning-button-group>
                            <lightning-button class="button__type" label="Employee" onclick={handleCategory}></lightning-button>
                            <lightning-button class="button__type" label="Project" onclick={handleCategory}></lightning-button>
                        </lightning-button-group>
                    </span>
                    <span>
                        <lightning-button-group>
                            <lightning-button class="button__period" label="Week" onclick={handlePeriod}></lightning-button>
                            <lightning-button class="button__period" label="Month" onclick={handlePeriod}></lightning-button>
                            <lightning-button class="button__period" label="Fiscal Quarter" onclick={handlePeriod}></lightning-button>
                            <lightning-button class="button__period" label="Fiscal Year" onclick={handlePeriod}></lightning-button>
                        </lightning-button-group>
                    </span>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-grid slds-wrap" style="background: #f3f2f2; margin: 0;">
            <div class="slds-col slds-size_1-of-1 slds-p-around_small">
                <span style="font-size: large; font-weight: bold;">Advanced Search</span> 
            </div>
            <template for:each={filterValues} for:item="item">
                <div key={item.Id} class="slds-col slds-size_1-of-4 slds-p-horizontal_small slds-p-bottom_small">
                    <lightning-combobox name={item.name} label={item.name} value={item.currentValue} options={item.options} onchange={handleFilters} ></lightning-combobox>
                </div>                        
            </template>
        </div>
    </article>

    <template if:true={staffPart}>
        <article class="slds-card slds-card_boundary slds-p-top_small">
            <div class="spinner">
                <template if:true={isLoading}>
                     <lightning-spinner alternative-text="Loading" variant="brand" size="large">
                     </lightning-spinner>
                </template>
            </div>
            <div class="slds-grid slds-p-horizontal_small">
                <div class="slds-col slds-size_2-of-5">
                    <div class="slds-grid slds-p-horizontal_small">
                        <div class="slds-m-right_medium slds-p-top_x-small">
                            <span>Color Key</span>
                        </div>
                        <template for:each={capacityRange} for:item="item">
                            <div key={item.Id} class="slds-m-right_small slds-p-top_x-small">
                                <span style={item.backgroundColor}></span>
                                <span>{item.range}</span>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-5">
                    <div class="slds-grid slds-grid_align-center slds-p-horizontal_small">
                        <div>
                            <span><lightning-button variant="base" label="< Previous" onclick={handlePrevious}></lightning-button></span>
                        </div>
                        <div class="slds-m-left_small">
                            <span><lightning-button variant="base" label="Next >" onclick={handleNext}></lightning-button></span>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-5"></div>
            </div>
            <div class="slds-card__body">
                <div>
                    <template for:each={columnHeadings} for:item='item'>
                        <ul key={item.Id}>
                            <div class="slds-grid" style="background: #f3f2f2;">
                                <div class="slds-col slds-size_2-of-12 slds-p-around_small">
                                    <span><b>{item.staffColHeading}</b></span>
                                </div>
                                <div class="slds-col slds-size_9-of-12">
                                    <div class="slds-grid slds-grid_align-space header-columns">
                                        <template for:each={item.dataColHeading} for:item='value'>
                                            <div key={value.Id} class="slds-col slds-p-around_small flex-column__data">
                                                <span>{value}</span>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-12 slds-p-around_small">
                                    <span style="font-size: 12px;">{item.totalColHeading}</span>
                                </div>
                            </div>
                        </ul>
                    </template>
                </div>
                <div>
                    <template if:true={staffCapacity}>
                        <template for:each={staffCapacity} for:item='item'>
                            <ul key={item.Id}>
                                <div class="slds-grid">
                                    <div class="slds-col slds-size_2-of-12 slds-p-around_small slds-border_bottom slds-border_right">
                                        <span>{item.staffName}</span>
                                    </div>
                                    <div class="slds-col slds-size_9-of-12">
                                        <div class="slds-grid slds-grid_align-space data-columns">
                                            <template for:each={item.capacityPercentData} for:item='value'>
                                                <div key={value.Id} data-staff={item.staffName} data-assignments={value.assignmentIds} class="slds-col slds-p-around_small slds-border_bottom slds-border_right flex-row__data" style={value.capacityCSS} onclick={handlePercentClick}>
                                                    <span>{value.capacityPercent}</span>
                                                </div>
                                            </template>
                                        </div>
                                    </div>
                                    <div class="slds-col slds-size_1-of-12 slds-p-around_small slds-border_bottom">
                                        <span>{item.totalCapacity}</span>
                                    </div>
                                </div>
                            </ul>
                        </template>
                    </template>
                </div>
            </div>
        </article>
    
        <template if:true = {assignmentData}>
            <article class="slds-card slds-card_boundary" style="background-color: rgb(215, 218, 233, 1);">
                <div class="slds-card__header slds-grid">
                    <header class="slds-media slds-media_center slds-has-flexi-truncate">
                        <div class="slds-media__figure">
                            <lightning-icon icon-name="action:user" alternative-text="User" title="User" size="small"></lightning-icon>
                        </div>
                        <div class="slds-media__body">
                            <h2 class="slds-card__header-title">
                                <span><b>{staffName}</b></span>
                            </h2>
                        </div>
                    </header>
                </div> 
                <div class="slds-card__body" style="margin-bottom: 0px">
                    <lightning-datatable data={assignmentData} 
                                        columns={assignmentDataColumns} 
                                        show-row-number-column
                                        row-number-offset={rowOffset}
                                        hide-checkbox-column
                                        key-field="Id">
                    </lightning-datatable>
                </div>
            </article>
        </template>
    </template>

    <template if:true={projectPart}>
        <article class="slds-card slds-card_boundary slds-p-top_small">
            <div class="spinner">
                <template if:true={isLoading}>
                     <lightning-spinner alternative-text="Loading" variant="brand" size="large">
                     </lightning-spinner>
                </template>
            </div>
            <div class="slds-grid slds-p-horizontal_small">
                <div class="slds-col slds-size_2-of-5">
                    <div class="slds-grid slds-p-horizontal_small">
                        <div class="slds-m-right_medium slds-p-top_x-small">
                            <span>Color Key</span>
                        </div>
                        <template for:each={capacityRange} for:item="item">
                            <div key={item.Id} class="slds-m-right_small slds-p-top_x-small">
                                <span style={item.backgroundColor}></span>
                                <span>{item.range}</span>
                            </div>
                        </template>
                    </div>
                </div>
                <div class="slds-col slds-size_1-of-5">
                    <div class="slds-grid slds-grid_align-center slds-p-horizontal_small">
                        <div>
                            <span><lightning-button variant="base" label="< Previous" onclick={handlePrevious}></lightning-button></span>
                        </div>
                        <div class="slds-m-left_small">
                            <span><lightning-button variant="base" label="Next >" onclick={handleNext}></lightning-button></span>
                        </div>
                    </div>
                </div>
                <div class="slds-col slds-size_2-of-5"></div>
            </div>
            <div class="slds-card__body">
                <div>
                    <template for:each={columnHeadings} for:item='item'>
                        <ul key={item.Id}>
                            <div class="slds-grid" style="background: #f3f2f2;">
                                <div class="slds-col slds-size_2-of-12 slds-p-around_small">
                                    <span><b>Projects</b></span>
                                </div>
                                <div class="slds-col slds-size_9-of-12">
                                    <div class="slds-grid slds-grid_align-space header-columns">
                                        <template for:each={item.dataColHeading} for:item='value'>
                                            <div key={value.Id} class="slds-col slds-p-around_small flex-column__data">
                                                <span>{value}</span>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-12 slds-p-around_small">
                                    <span style="font-size: 12px;">Average Hours</span>
                                </div>
                            </div>
                        </ul>
                    </template>
                </div>
                <div>
                    <template if:true={projectData}>
                        <template for:each={projectData} for:item='item' for:index='indexVar'>
                            <div key={item.Id} class="slds-grid slds-wrap">
                                <div class="slds-col slds-size_2-of-12 slds-p-around_medium slds-border_bottom slds-border_right cell-height-4">
                                    <lightning-button-icon icon-name="utility:chevronright" variant="bare" value={indexVar} onclick={toggleAccordian}></lightning-button-icon>
                                    <span>{item.projectName}</span>
                                </div>
                                <div class="slds-col slds-size_9-of-12">
                                    <div class="slds-grid slds-grid_align-space data-columns">
                                        <template for:each={item.capacityPercentData} for:item='value'>
                                            <div key={value.Id} class="slds-col slds-p-around_small slds-border_bottom slds-border_right flex-row__data cell-height-4 slds-align_absolute-center" style={value.capacityCSS}>
                                                <span>{value.capacityPercent}</span>
                                            </div>
                                        </template>
                                    </div>
                                </div>
                                <div class="slds-col slds-size_1-of-12 slds-p-around_small slds-border_bottom cell-height-4 slds-align_absolute-center">
                                    <span>{item.totalHours}</span>
                                </div>
                                <template if:true={item.expanded}>
                                    <template for:each={item.employeeData} for:item='empData'>
                                        <div key={empData.Id} class="slds-col slds-size_2-of-12 slds-p-top_medium slds-p-right_small slds-p-left_xx-large slds-border_bottom slds-border_right cell-height-4 ">
                                            <span>{empData.staffName}</span>
                                        </div>
                                        <div key={empData.Id}  class="slds-col slds-size_9-of-12">
                                            <div class="slds-grid slds-grid_align-space data-columns">
                                                <template for:each={empData.capacityPercentData} for:item='empValue'>
                                                    <div key={empValue.Id} class="slds-col slds-p-around_small slds-border_bottom slds-border_right flex-row__data cell-height-4 slds-align_absolute-center" style={empValue.capacityCSS}>
                                                        <span>{empValue.capacityPercent}</span>
                                                    </div>
                                                </template>
                                            </div>
                                        </div>
                                        <div key={empData.Id}  class="slds-col slds-size_1-of-12 slds-p-around_small slds-border_bottom cell-height-4 slds-align_absolute-center">
                                            <span>{empData.totalCapacity}</span>
                                        </div>
                                    </template>
                                </template>
                            </div>
                        </template>
                    </template>
                </div>
            </div>
        </article>
    </template>
</template>