<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name="standard:record_lookup" alternative-text="test" title="test" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">Auditor Evidence Processing</h2>
                </div>
                <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                    <lightning-button-icon icon-name="utility:refresh" variant="border-filled" alternative-text="Refresh" title="Refresh" onclick={handleRefresh} class="slds-m-left_x-small"></lightning-button-icon>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <!-- Show Cycle Request data when REQ is loaded -->
			<template if:true={records}>
                <ul class="slds-has-dividers_around">
                    <template for:each={aReqs} for:item="aReq">
                        <div key={aReq.Id} class="slds-item">
                            <c-karl_ari_tile areq={aReq} onkarlrecordview={handleRecordView}></c-karl_ari_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:false={records}>
				<div class="slds-text-color_weak">
					This request is not being processed by any Audit Teams.
				</div>
			</template>
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the Auditor Processing (ARI) List.
				</div>
			</template>
        </div>
    </article>
</template>