/** @author Ben Harvie
 * @email ben.harvie@salesforce.com
 * @desc Rendering of the combobox drop-down needs overlay features
 */
:host .combobox-container-edited {
    border: 1px solid #1489EE;
    border-radius: 5px;
    box-shadow: 0 0 5px #9AC4ED;
}