<template>
    <div class={warningClass}>
        <div class="slds-media">
            <div class="slds-media__figure">
                <lightning-icon slot="media" icon-name={iconDisplay} alternative-text="Notice" size="small" variant={iconClass}></lightning-icon>
            </div>
            <div class="slds-media__body">
                <lightning-formatted-rich-text value={textField}></lightning-formatted-rich-text>
            </div>
        </div>
    </div>
</template>