<template>
    <article class="slds-card slds-card_boundary slds-p-horizontal_medium">
        <div class="slds-card__body">
            <template if:true={StatusPicklistValues.data}>
                <div style="pointer-events:none;" class="slds-m-bottom_medium">
                    <lightning-progress-indicator current-step={currentStatus} type="path" variant="base">
                        <template for:each={StatusPicklistValues.data.values} for:item="step">
                            <lightning-progress-step label={step.label} value={step.value} key={step.label}></lightning-progress-step>
                        </template>
                    </lightning-progress-indicator>
                </div>
            </template>
            <lightning-layout horizontal-align = "space">
                <lightning-layout-item size="6" padding="around-small">
                    <c-prt_v2momreq_custom_lookup object-name="V2MOM_c__x" field-name="Name__c" select-record-id={v2momId} -label="V2MOM" required={req}
                                            select-record-name={v2momName} onselected={selectedV2MOM} onreset={resetV2MOM} disable={disabled}
                                            icon-flag={v2momIconFlag}></c-prt_v2momreq_custom_lookup>
                </lightning-layout-item>
                <lightning-layout-item size="6" padding="around-small">
                    <c-prt_v2momreq_custom_lookup object-name="Portfolio__c" field-name="Name" select-record-id={selectedPortofolioId} -label="Portfolio Name"
                                            select-record-name={selectedPortfolioName} onselected={selectedPortfolio} onreset={resetPortfolio} required={req} disable={disabled}
                                            icon-flag={portfolioIconFlag} clear-icon-flag={portfolioClear} input-read-only={portfolioRead}></c-prt_v2momreq_custom_lookup>
                </lightning-layout-item>
            </lightning-layout>
            <template if:true={methodAndTheirMeasures}>
                <lightning-accordion allow-multiple-sections-open>
                    <template for:each={methodAndTheirMeasures} for:item="methodData">
                        <ul key={methodData.methodId}>
                            <lightning-accordion-section name={methodData.methodName} label={methodData.methodName}>
                                <template if:true={methodData.relatedMeasures}>
                                    <ul class="slds-list_dotted"> 
                                        <template for:each={methodData.relatedMeasures} for:item="measureData">
                                            <li key={measureData.Id}>{measureData.Name}</li>
                                        </template>
                                    </ul>
                                </template>
                                <template if:false={methodData.relatedMeasures}>
                                    <li>No measures present for this method.</li>
                                </template>
                            </lightning-accordion-section>
                        </ul>
                    </template>
                </lightning-accordion>
            </template>
            <template if:true={methodOrMeasureChange}>
                <template for:each={methodOrMeasureChange} for:item="data">
                    <div class="slds-m-top_small slds-border_top" key={data.index}>
                        <lightning-layout horizontal-align="space">
                            <lightning-layout-item size="6" padding="around-small">
                                <div if:true={showRadioGroup}>
                                    <lightning-radio-group name={data.radioGroup1}
                                        label="Do you want to:"
                                        options={options1}
                                        value={data.value1}
                                        onchange={handleChange1}
                                        type="radio"
                                        data-id={data.index}
                                        required></lightning-radio-group>
                                </div>
                            </lightning-layout-item>
                            <lightning-layout-item size="6" padding="around-small">
                                <lightning-radio-group name={data.radioGroup2}
                                        label="Want to change:"
                                        options={options2}
                                        value={data.value2}
                                        onchange={handleChange2}
                                        type="radio"
                                        data-id={data.index}
                                        required></lightning-radio-group>
                            </lightning-layout-item>
                        </lightning-layout>
                    </div>
                    <div if:true={data.isMethod} class="slds-m-top_medium" key={data.index}>
                        <template if:true={data.isInsert}>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-input type="text" label="Method Name" data-id={data.index} maxlength="80" value={methodNameI} oncommit={methodChange} required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-input type="date" label="Target Date of Change" data-id={data.index} required value={methodDateI} onchange={methodDateChange}></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>  
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Method Description" data-id={data.index} required value={methodDescI} onchange={methodDescChange}></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Detailed Justification" data-id={data.index} required value={methodJustifyI} onchange={methodJustifyChange}></lightning-textarea>
                                </lightning-layout-item>
                            </lightning-layout>
                        </template>
                        <template if:false={data.isInsert}>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="6" padding="around-small">
                                    <c-prt_v2momreq_custom_lookup object-name="V2MOM_Method_c__x" field-name="Name__c" select-record-id={data.methodOrMeasureId} -label="Method Name" required={req}
                                                    select-record-name={data.methodOrMeasureName} onselected={selectedMethod} v2mom-id={v2momId} onreset={resetMethod} data-id={data.index}
                                                    icon-flag={methodIconFlag} clear-icon-flag={methodClear} input-read-only={methodRead}></c-prt_v2momreq_custom_lookup>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-input type="date" label="Target Date of Change" data-id={data.index} value={methodDateU} onchange={methodDateChange} required></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="4" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Method Description" data-id={data.index} value={data.currentDescOrComm} disabled></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Updated Description" data-id={data.index} required value={data.updatedDescOrComm} onchange={methodDescChange}></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Detailed Justification" data-id={data.index} required value={methodJustifyU} onchange={methodJustifyChange}></lightning-textarea>
                                </lightning-layout-item>
                            </lightning-layout>
                        </template>
                    </div>
                    <div if:false={data.isMethod} class="slds-m-top_medium" key={data.index}>
                        <template if:true={data.isInsert}>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="text" label="Method Name" data-id={data.index} maxlength="80" value={methodNameI} oncommit={relatedMethodChange} required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="text" label="Measure Name" data-id={data.index} maxlength="255" value={measureNameI} oncommit={measureChange} required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="number" label="Measure Target Value" data-id={data.index} value={targetValueI} oncommit={targetValueChange}></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="date" label="Target Date of Change" data-id={data.index} value={measureDateI} onchange={measureDateChange} required></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Measure Comment" data-id={data.index} value={measureCommI} onchange={measureCommChange} required></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="6" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Detailed Justification" data-id={data.index} value={measureJustifyI} onchange={measureJustifyChange} required></lightning-textarea>
                                </lightning-layout-item>
                            </lightning-layout>
                        </template>
                        <template if:false={data.isInsert}>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="3" padding="around-small">
                                    <c-prt_v2momreq_custom_lookup object-name="V2MOM_Method_c__x" field-name="Name__c" select-record-id={data.relatedMethodId} -label="Method Name" required={req}
                                                    select-record-name={data.relatedMethodName} onselected={selectedRelatedMethod} v2mom-id={v2momId} onreset={resetRelatedMethod} data-id={data.index}
                                                    icon-flag={data.relatedMethodIcon} clear-icon-flag={data.relatedMethodClear} input-read-only={data.relatedMethodRead}></c-prt_v2momreq_custom_lookup>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <c-prt_v2momreq_custom_lookup object-name="Measure_c__x" field-name="MeasureName_c__c" select-record-id={data.methodOrMeasureId} -label="Measure Name" required={req}
                                                    select-record-name={data.methodOrMeasureName} onselected={selectedMeasure} v2mom-id={v2momId} method-id={data.relatedMethodId} onreset={resetMeasure} data-id={data.index}
                                                    icon-flag={measureIconFlag} clear-icon-flag={measureClear} input-read-only={measureRead}></c-prt_v2momreq_custom_lookup>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="number" label="Measure Target Value" data-id={data.index} value={targetValueU} oncommit={targetValueChange}></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="date" label="Target Date of Change" data-id={data.index} value={measureDateU} onchange={measureDateChange} required></lightning-input>
                                </lightning-layout-item>
                            </lightning-layout>
                            <lightning-layout horizontal-align = "space">
                                <lightning-layout-item size="4" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Measure Comment" data-id={data.index} value={data.currentDescOrComm} disabled></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Updated Comment" data-id={data.index} value={data.updatedDescOrComm} onchange={measureCommChange} required></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="4" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Detailed Justification" data-id={data.index} value={measureJustifyU} onchange={measureJustifyChange} required></lightning-textarea>
                                </lightning-layout-item>
                            </lightning-layout>
                        </template>
                    </div>
                </template>
            </template>
            <div>
                <lightning-button variant="brand" label="Add additional changes" title="Add" onclick={handleAdditionalChanges} class="slds-m-left_x-small"></lightning-button>
                <template if:true={showDeleteButton}>
                    <lightning-button variant="neutral" label="Remove additional changes" title="Remove" onclick={handleRemoveChanges} class="slds-m-left_x-small"></lightning-button>
                </template>
            </div>
        </div> 
        <footer class="slds-card__footer">
            <div class="slds-card__footer_action">
                <lightning-button variant="brand" label="Save" title="Save" onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
            </div>
        </footer>
    </article> 
    <template if:true={changerequestId}>
        <article class="slds-card slds-card_boundary slds-p-horizontal_medium">
            <div class="slds-card__header slds-grid">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__body">
                        <h2 class="slds-card__header-title">
                            <span>Edit Method And Measure Changes</span>
                        </h2>
                    </div>
                    <div class="slds-no-flex">
                        <button class="slds-button slds-button_neutral" onclick={handleUpdate}>Save</button>
                    </div>
                </header>
            </div>
            <div class="slds-card__body">
                <template if:true={methodAndMeasureData}>
                    <template for:each={methodAndMeasureData} for:item="data">
                        <lightning-layout horizontal-align = "space" key={data.recordId} class="slds-m-top_small">
                            <template if:true={data.isMethod}>
                                <lightning-layout-item size="2" padding="around-small">
                                    <lightning-input type="text" label="Method Name" data-id={data.recordId} maxlength="80" value={data.methodOrMeasureName} disabled required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-input type="date" label="Target Date of Change" data-id={data.recordId} value={data.targetDateOfChange} onchange={methodDateUpdated} required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Method Description" data-id={data.recordId} value={data.descOrComment} onchange={methodDescUpdated} required></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Detailed Justification" data-id={data.recordId} value={data.detailedJustification} onchange={methodJustifyUpdated} required></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="1" padding="around-small" class="slds-m-top_large">
                                    <lightning-button variant="destructive" data-id={data.recordId} label="Delete" title="Delete" onclick={handleDelete}></lightning-button>
                                </lightning-layout-item>
                            </template>
                            <template if:false={data.isMethod}>
                                <lightning-layout-item size="2" padding="around-small">
                                    <lightning-input type="text" label="Measure Name" data-id={data.recordId} maxlength="80" value={data.methodOrMeasureName} disabled required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="2" padding="around-small">
                                    <lightning-input type="number" label="Target Value" data-id={data.recordId} value={data.measureTargetValue} onchange={measureValueUpdated}></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="2" padding="around-small">
                                    <lightning-input type="date" label="Target Date of Change" data-id={data.recordId} value={data.targetDateOfChange} onchange={measureDateUpdated} required></lightning-input>
                                </lightning-layout-item>
                                <lightning-layout-item size="3" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Measure Comment" data-id={data.recordId} value={data.descOrComment} onchange={measureCommUpdated} required></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="2" padding="around-small">
                                    <lightning-textarea class="increaseHeight" label="Detailed Justification" data-id={data.recordId} value={data.detailedJustification} onchange={measureJustifyUpdated} required></lightning-textarea>
                                </lightning-layout-item>
                                <lightning-layout-item size="1" padding="around-small" class="slds-m-top_large">
                                    <lightning-button variant="destructive" data-id={data.recordId} label="Delete" title="Delete" onclick={handleDelete}></lightning-button>
                                </lightning-layout-item>
                            </template>
                        </lightning-layout>
                    </template>
                </template>
                <!-- <template if:true={noDataPresent}>
                    <div class="slds-p-left_small slds-p-vertical_medium">
                        {noDataPresent}
                    </div>
                </template> -->
            </div>  
        </article>
    </template>
</template>