.THIS{
    background:white;
    padding: 1rem;
}
.THIS .background-card {
    background: silver;
}
.THIS .profile-image {
    width: 4rem;
    border-radius: 50%;
}

.THIS .card-header {
    background: #f3f1f2!important;
    border-radius: 5px!important;
    padding: 1rem 0rem 1rem 0rem!important;
}
.THIS .header-Submit-Button{
    text-align: end;
}

.THIS .color-normal {
    color: #706e6f
}

.THIS .border {
    border: 1px #ebe9ea solid!important;
    border-radius: 5px;
}

.THIS h2 {
    font-size: 1.1rem!important;
}

.THIS h3 {
    font-size: 1rem!important;
}

.THIS .border-top {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.THIS .p-left {
    padding-left: 2.7rem;
}

.THIS .cancelled {
    border-left: 0.5rem solid #c03931;
}

.THIS .progress {
    border-left: .5rem solid #fdb75b;
}

.THIS .completed {
    border-left: 0.5rem solid #4bcb81;
}

.THIS .w-50 {
    width: 50%!important;
}

.THIS .card-sub-header {
    background: #f3f1f2!important;
    border-radius: 5px!important;
    padding: 0.3rem!important;
}

.THIS .td-accordion {
    width: 100%;
    background: #f3f1f2;
    padding: 0.5rem;
}

.THIS .padding-unset {
    padding: unset!important;
}

.THIS .slds-accordion {
    background: white;
    border-radius: 5px;
}

.THIS .no-clicks {
    pointer-events: none!important;
}

.THIS .slds-accordion__content {
    margin-top: 1rem;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    height: auto;
}

.THIS .slds-grid {
    width: 99%!important;
}
.THIS .accordianFunction input:checked + label {
	background: #ccc;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	color: white;
	margin-bottom: 0;
}
.THIS .accordianFunction input:checked ~ article {
	border-bottom-left-radius: .25em;
	border-bottom-right-radius: .25em;
	height: auto;
	margin-bottom: .125em;
}
.THIS .custom_class{
    background: white;
    align-items: center;
    width: 100%;
}
.THIS .searchbox{
    width: 40%;
    position: absolute;
    right: 1rem;
    top: .4rem;
    z-index: 1;
}
.THIS.backgroundInverse {
    position: relative;
    background-color: #16325c;
    height: 80px;
}