<template>
    <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_x-small"
        aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
        <div class="slds-modal__container">
            <header class="slds-modal__header">
                <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                    alternative-text="close" disabled={isDisabled}>
                </lightning-button-icon>
            </header>
            <div class="slds-modal__content slds-p-around_medium">
                <p class="slds-text-align_center slds-text-heading_medium" style="font-weight: 500;">
                    {confirmationMessage}
                </p>
            </div>
            <footer class="slds-modal__footer">
                <lightning-button variant="neutral" label={noLabel} title={noLabel} onclick={closeModal}
                    class="slds-m-left_x-small" disabled={isDisabled}></lightning-button>
                <lightning-button variant="brand" label={yesLabel} title={yesLabel} onclick={handleYes}
                    class="slds-m-left_x-small" disabled={isDisabled}>
                </lightning-button>
            </footer>
        </div>
    </section>
    <div class="slds-backdrop slds-backdrop_open"></div>
</template>