<template>
    <div class="backdrop slds-spinner_container" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <template if:true={showPageOnLoad}>
    <article class="slds-card">
        <div class="slds-grid slds-wrap slds-gutters slds-m-around_medium">
            <div class="slds-col slds-size_1-of-2">
            </div>
            <div class="slds-col slds-size_1-of-2">
                <!-- <lightning-button class="slds-float_right" variant="brand" label="Request Access"  onclick={handleRequestAccess}></lightning-button> -->
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-gutters slds-m-around_medium">
            <div class="slds-col slds-size_1-of-2">
                <!-- <p>User Id:</p>
                {userId} -->

                <h2>Request Name : &nbsp;</h2>
                <p>{evidenceDetails.KARL_Request_Name__c}</p>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <h2>Request Type : &nbsp;</h2>
                <template if:true={evidenceDetails.KARL_Cycle_ARL_Item__c}>
                    <p>{evidenceDetails.KARL_Cycle_ARL_Item__r.Request_Type__c}</p>
                </template>
            </div>
        </div>
        <div class="slds-grid slds-wrap slds-gutters slds-m-around_medium slds-border_bottom">
            <div class="slds-col slds-size_1-of-2">
                <h2>Request Details :</h2>
                <template if:true={evidenceDetails.KARL_Cycle_ARL_Item__c}>
                    <lightning-formatted-text value={evidenceDetails.KARL_Cycle_ARL_Item__r.Request_Tech_Details__c}></lightning-formatted-text>
                </template>
            </div>
            <div class="slds-col slds-size_1-of-2">
                <h2>Acceptance Criteria (Completeness & Accuracy):</h2>
                <ul>
                    <li>1) ALL screenshots and system output must include a timestamp (date + time)</li>
                    <li>2) If output is generated (e.g. via a script or report):</li>
                    <li>
                        <ul class="slds-is-nested"> 
                            <li><b>Scripts</b>: please provide the script (if possible) (a link to Git is sufficient)</li>
                            <li><b>Reports</b>: please provide parameters/query for generating the report (screenshot is sufficient)</li>
                        </ul>
                    </li>
                    <li>3) If a sample is requested, please ensure that all members of the sample are included in evidence.</li>
                </ul>
                <p>Refer to <a href="http://sfdc.co/CnA" target="_blank">http://sfdc.co/CnA</a> for additional guidance.</p>
            </div>
        </div>

        <div class="slds-align_absolute-center slds-m-bottom_medium">
            <div if:true={submitted} style="width: 100%;" class="slds-box slds-theme_success slds-text-align_center">
                Evidence has been submitted to GRC!
            </div>
        </div>
        <div class="slds-align_absolute-center slds-m-bottom_medium">
            <lightning-file-upload label="Upload Evidence Files" name="evidenceFile" record-id={recordId}
                onuploadfinished={handleUploadFinished} multiple>
                <!--if:false={submitted}-->
            </lightning-file-upload>
        </div>

        <div class="slds-card__body slds-card__body_inner">
            <div class="slds-table_edit_container slds-is-relative">
                <!-- Files List Start Here  -->
                <table aria-multiselectable="true" class="slds-table slds-no-cell-focus slds-table_bordered slds-table_edit slds-table_fixed-layout
                    slds-table_resizable-cols slds-max-medium-table_stacked-horizontal" role="grid"
                    style="width: 100%;">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <template for:each={columnConfiguration} for:item="column">
                                <th key={column.fieldApiName} scope="col" style={column.style}>
                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                        <div class="slds-text-body_medium slds-p-around_xx-small column-padding" style="word-break: break-word;
                                            white-space: initial;">
                                            {column.heading}</div>
                                    </div>
                                </th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={data} for:item='item' for:index="index">
                            <tr class="slds-hint-parent" key={item.Id}>
                                <td data-label="ATTACHMENT" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        <a class="slds-form-element__control" data-id={item.contentDocId}
                                            onclick={handleDownloadFile}>
                                            {item.docNameWithExtension}
                                        </a>
                                        <lightning-button-icon icon-name="utility:delete" variant="bare"
                                            alternative-text="Delete File" class="slds-m-left_xx-small"
                                            title="Delete File" data-index={index} onclick={openDeleteModal}
                                            data-id={item.contentDocId} if:true={item.showDeleteIcon}>
                                            <!--disabled={submitted}-->
                                        </lightning-button-icon>
                                    </div>
                                </td>
                                <td data-label="EVIDENCE NOTES" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        <lightning-textarea name="evidenceNotes" value={item.evidenceNotes}
                                            onchange={handleChange} data-index={index}
                                            disabled={item.evidenceNotesDisabled}>
                                        </lightning-textarea>
                                    </div>
                                </td>
                                <td data-label="ASSIGNEE NOTES" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        {item.assigneeNotes}
                                    </div>
                                </td>
                                <td data-label="STATUS" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        {item.status}
                                    </div>
                                </td>
                                <td data-label="UPLOADED BY" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class=""> {item.uploadedBy} </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div if:true={isTableEmpty} class="slds-p-top_small slds-text-align_center slds-align_absolute-center">
                    <span class="slds-m-around_small status slds-text-color_weak">No records have been submitted
                        yet.</span>
                </div>
                <!-- Files List End Here  -->
            </div>

            <!--Confirmation checkbox on submission of evidence-->
            <div class="slds-grid slds-gutters slds-m-around_xx-small">
                <div class="slds-col slds-size_1-of-1  slds-m-top_small">
                    <lightning-input type="checkbox" label={ARL_Evidence_File_Submit_Checkbox_Text}
                        name="agreedTermsAndConditions" checked={agreedTermsAndConditions} required
                        onchange={handleChange}></lightning-input>
                    <!--disabled={submitted}-->
                </div>
            </div>

            <div class="slds-m-top_medium slds-clearfix">
                <lightning-button variant="brand" label="Submit" onclick={openSubmitModal}
                    class="slds-m-left_x-small slds-float_right">
                    <!--disabled={submitted}-->
                </lightning-button>
                <lightning-button variant=" brand" label="Save" onclick={handleSaveClick}
                    class="slds-m-left_x-small slds-float_right">
                    <!--disabled={submitted}-->
                </lightning-button>
            </div>
        </div>

    </article>
</template>
    <!-- Submit File -->
    <c-karl_modal if:true={showSubmitModal} onclose={closeModal} onyes={handleSubmitClick}
        confirmation-message={submitConfirmationMsg}></c-karl_modal>
    <!--is-disabled={submitted}-->

    <!-- Delete File -->
    <c-karl_modal if:true={showDeleteModal} onclose={closeDeleteModal} onyes={deleteFile}
        confirmation-message={deleteFileConfirmationMsg}></c-karl_modal>
        <template if:true={errorLandingPage}>
            <c-karl_access_not_granted title="Access Denied" subtitle = "You have Insufficient Access on this Record"></c-karl_access_not_granted>
            <div class="slds-align_absolute-center slds-m-top_small"><lightning-button  variant="brand" label="Request Access"  onclick={handleRequestAccess}></lightning-button></div>
        </template>

    <c-karl_request_access_modal 
        if:true={showRequestAccessModal} 
        onclose={closeRequestAccessModal} 
        onyes={handleRequestAccessYesClick}
        confirmation-message={submitRequestAccessMsg}
        selected-request-item={evidenceRequestInfo}
        >
    </c-karl_request_access_modal>
</template>