<template>
    <template if:true={isPrimary}>
        <lightning-record-edit-form record-id={targetrecord} object-api-name="KARL_Audit_Scope_Reports__c">
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_x-small"
                aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                            alternative-text="close">
                        </lightning-button-icon>
                        <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Add New Certification Report</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                        <lightning-messages>
                        </lightning-messages>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="KARL_Audit_Scope__c" value={parentrecord}></lightning-input-field>
                                <lightning-input-field field-name="KARL_Report_Type__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="KARL_Audit_Firm__c"></lightning-input-field>
                                <lightning-input-field field-name="KARL_Audit_Frequency__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-box slds-theme_shade slds-box_x-small">
                            <p class="slds-text-heading_small"><strong>Additional Report Information</strong></p>
                            <p class="slds-text-body_small">Refer to the&nbsp;
                                <lightning-formatted-url value="https://sfdc.co/KARL-Guide" tooltip="Go to the User Guide" 
                                label="user guide for more information" target="_blank"></lightning-formatted-url>.</p>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="KARL_Type_I__c"></lightning-input-field>
                                <lightning-input-field field-name="KARL_Committed_Date__c"></lightning-input-field>
                                <lightning-input-field field-name="KARL_Expiry_Date__c"></lightning-input-field>
                                <lightning-input-field field-name="KARL_Fee_Amount__c"></lightning-input-field>
                            </div>
                            <div class="slds-col slds-size_1-of-2">
                                <lightning-input-field field-name="KARL_Cycle_Alignment__c"></lightning-input-field>
                                <lightning-input-field field-name="KARL_Offcycle_Report__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-grid">
                            <div class="slds-col slds-size_1-of-1">
                                <lightning-input-field field-name="KARL_Comments__c"></lightning-input-field>
                            </div>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                        <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </lightning-record-edit-form>
    </template>
    <template if:true={isParent}>
        <lightning-record-edit-form record-id={targetrecord} object-api-name="KARL_Audit_Scope_In_Report__c">
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_x-small"
                aria-labelledby="modal-heading-02" aria-modal="true" aria-describedby="modal-content-id-2">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                            alternative-text="close">
                        </lightning-button-icon>
                        <h2 id="modal-heading-02" class="slds-modal__title slds-hyphenate">Map to another Certification Report</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                        <lightning-messages>
                        </lightning-messages>
                        <div class="slds-box slds-theme_shade slds-box_x-small">
                            <p class="slds-text-heading_small"><strong>Map to Existing Report</strong></p>
                            <p class="slds-text-body_small">If this Audit Scope is included in another Audit Scopes report (for example, 
                                Industries Managed Package included in the Salesforce Services Report), then it should be mapped here.</p>
                            <p class="slds-text-body_small">Refer to the&nbsp;
                                <lightning-formatted-url value="https://sfdc.co/KARL-Guide" tooltip="Go to the User Guide" 
                                label="user guide for more information" target="_blank"></lightning-formatted-url>.</p>
                        </div>
                        <div class="slds-grid">
                            <lightning-input-field field-name="KARL_Parent_Audit_Scope__c" value={parentrecord}></lightning-input-field>
                            <lightning-input-field field-name="KARL_Audit_Scope_Report__c"></lightning-input-field>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                        <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </lightning-record-edit-form>
    </template>
    <template if:true={isChild}>
        <lightning-record-edit-form record-id={targetrecord} object-api-name="KARL_Audit_Scope_In_Report__c">
            <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_x-small"
                aria-labelledby="modal-heading-03" aria-modal="true" aria-describedby="modal-content-id-3">
                <div class="slds-modal__container">
                    <header class="slds-modal__header">
                        <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                            alternative-text="close">
                        </lightning-button-icon>
                        <h2 id="modal-heading-03" class="slds-modal__title slds-hyphenate">Map to another Certification Report</h2>
                    </header>
                    <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                        <lightning-messages>
                        </lightning-messages>
                        <div class="slds-box slds-theme_shade slds-box_x-small">
                            <p class="slds-text-heading_small"><strong>Map to Existing Report</strong></p>
                            <p class="slds-text-body_small">If this Audit Scope is included in another Audit Scopes report (for example, 
                                Industries Managed Package included in the Salesforce Services Report), then it should be mapped here.</p>
                            <p class="slds-text-body_small">Refer to the&nbsp;
                                <lightning-formatted-url value="https://sfdc.co/KARL-Guide" tooltip="Go to the User Guide" 
                                label="user guide for more information" target="_blank"></lightning-formatted-url>.</p>
                        </div>
                        <div class="slds-grid">
                            <lightning-input-field field-name="KARL_Parent_Audit_Scope__c"></lightning-input-field>
                            <lightning-input-field field-name="KARL_Audit_Scope_Report__c" value={parentrecord}></lightning-input-field>
                        </div>
                    </div>
                    <footer class="slds-modal__footer">
                        <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                        <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                    </footer>
                </div>
            </section>
            <div class="slds-backdrop slds-backdrop_open"></div>
        </lightning-record-edit-form>
    </template>
</template>