.THIS .slds-align_absolute-center.slds-p-around_medium{
    display: flex;
    margin-right: 13px;
    justify-content: center;
    padding: var(--lwc-spacingXSmall,0.5rem) 0;
    position: sticky;
    width: 100%;
    bottom: 0;
    right: 0;
    background: var(--lwc-colorBackground,rgb(243, 242, 242));
    z-index: var(--lwc-zIndexOverlay,8000);
}