body {
  padding-top: 10px;
  margin: 20px;
  padding-bottom: 20px;
}


h4 {
  margin-top: 25px;
}

p { 
    font-family: "sfdcSans";
}

.row {
  margin-bottom: 20px;
}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}

[class*="col-"] {
  padding-top: 10px;
  padding-bottom: 15px;

}

hr {
  margin-top: 40px;
  margin-bottom: 40px;
}

#sec-news-well {
  padding-top: 5px;
  padding-left: 10px;
  padding-bottom: 2px;
}


.sec-tool-content {
  padding-top: 30px;
}

.sec-tool-description {
  font-size: 1em;
  font-family: "sfdcSans";
}


.sec-tool-link{
  font-size: 1.1em;
  color: #1f68ad;
  font-family: "sfdcSans";
}

.sec-tool-legend{
  font-size: 1.1em;
  color: #1f68ad;
  font-family: "sfdcBold";

}

.sec-tool-title{
  font-size: 1.3em;
  color: #00050c;
  font-family: "sfdcBold";

}


/* footer */

.footer .push {
    height: 30px;
}



