<template>
    <lightning-card title="Cycle Audit Reports" icon-name="custom:custom63">
        <div class="slds-button-group" role="group" slot="actions">
            <span class="slds-badge slds-m-right_x-small" if:true={totalRows}>{totalRows}</span>
            <span class="slds-button-group slds-m-right_x-small" data-toggle="buttons" role="group" slot="actions">
                <button class="slds-button slds-button_neutral" value="allReports" onclick={handleMyreports}>All</button>
                <button class="slds-button slds-button_neutral" value="myReports" onclick={handleMyreports}>My Reports</button>
            </span>
            <span class="slds-button-group slds-m-left_small" data-toggle="buttons" role="group" slot="actions">
                <button class="slds-button slds-button_neutral" value="all" onclick={handleStatusChange}>All</button>
                <button class="slds-button slds-button_neutral" value="pending" onclick={handleStatusChange}>Pending</button>
                <button class="slds-button slds-button_neutral" value="readyToSign" onclick={handleStatusChange}>Ready to Sign</button>
                <button class="slds-button slds-button_neutral" value="inProgress" onclick={handleStatusChange}>In Progress with DocuSign</button>
                <button class="slds-button slds-button_neutral" value="docusignComplete" onclick={handleStatusChange}>DocuSign Complete</button>
                <button class="slds-button slds-button_neutral" value="auditorsFinalizing" onclick={handleStatusChange}>Auditor Issuing</button>
                <button class="slds-button slds-button_neutral" value="finalReview" onclick={handleStatusChange}>Final Review</button>
                <button class="slds-button slds-button_neutral" value="published" onclick={handleStatusChange}>Published</button>
                <lightning-button-icon 
                icon-name="utility:refresh" 
                variant="border-filled" 
                alternative-text="Refresh" 
                title="Refresh" 
                onclick={handleRefresh} 
                class="slds-m-left_small ">
                </lightning-button-icon>
            </span>
        </div>
        <div class="slds-grid slds-m-around_medium slds-p-bottom_small slds-border_bottom">
                <div class="slds-col--padded slds-size_3-of-12">
                    <lightning-combobox
                    name="auditcycle"
                    label="Audit Cycle"
                    value={auditcycle}
                    placeholder="Select Audit Cycle"
                    options={auditCycleOptions}
                    onchange={handleAuditCycleChange}></lightning-combobox>
                </div>
                <!--<div class="slds-col--padded">
                    <lightning-combobox
                    name="auditscope"
                    label="Audit Scope"
                    value={auditscope}
                    placeholder="Select Audit Scope"
                    options={auditScopeOptions}
                    onchange={handleAuditScopeChange}></lightning-combobox>
                </div>-->
                <!-- <div class="slds-col--padded slds-size_3-of-12">
                    <lightning-combobox
                    name="status"
                    label="Status"
                    value={reportStatusFilter}
                    placeholder="Select Status"
                    options={statusOptions}
                    onchange={handleStatusOptionChange}></lightning-combobox>
                </div> -->
                <div class="slds-col--padded slds-size--4-of-12">
                    <lightning-input name="searchReport" data-field="searchReport" type="search" label="Search Reports" onchange={handleSearch}>
                    </lightning-input>
                </div>
                <div class="slds-col--padded slds-size--4-of-12 slds-align_absolute-center">
                </div>
        </div>
        <div class="slds-card__body">
            <template if:true={records}>        
                <c-karl_car_datatable_picklist
                    key-field="Id"
                    data={filteredData}
                    columns={columns} 
                    onheaderaction={handleHeaderAction}
                    onsave={handleSave}
                    oncancel={handleCancel}
                    draft-values={draftValues}
                    sorted-by={sortBy}
                    sorted-direction={sortDirection}
                    onsort={doSorting}
                    oncellchange={handleCellChange}
                    onpicklistchanged={handlePicklistChange}
                    onrowaction={handleRowAction}
                    class="karl-datatable_zoom"
                    hide-checkbox-column>
                </c-karl_car_datatable_picklist>
                <div class="slds-m-around_medium slds-align_absolute-center">
                    <lightning-badge class="karl-badge_standard" label="End of Cycle Audit Report List"></lightning-badge>
                </div>
            </template>
            <!-- There is no data for this configuration -->
			<template if:false={records}>
                 <!-- Cycle and Scope Parameters Not Set -->
                <template if:false={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_default slds-m-around_medium">
                        <p>Select an Audit Cycle to populate the Cycle Audit Report data table.</p>
                    </div>
                </template>
                 <!-- Cycle and Scope Parameters Not Set -->
                <template if:true={paramsSet}>
                    <div class="slds-text-heading_small slds-text-color_weak slds-m-around_medium">
                        <p>There are no Cycle Audit Report records for the selected Audit Cycle and Status based on your selected filters. This could be due to the following reasons:</p>
                        <ul class="slds-list_dotted">
                            <li>There are no records that match the selected filters</li>
                            <li>You do not have access to records associated with these filters</li>
                            <li>An error has occurred. If you believe an error has occurred, please reach out to the GRC ICD team for support.</li>
                        </ul>
                    </div>
                </template>
            </template>
            <template if:true={error}>
				<div class="slds-text-heading_small slds-text-color_error slds-m-around_medium">
					<p>An error occurred while loading the data table component. Please reach out to the GRC ICD team for support.</p>
				</div>
            </template>
            <div if:true={isLoading} class="slds-spinner_container">
                <lightning-spinner alternative-text="Loading" variant="brand" size="medium">
                </lightning-spinner>
            </div>
        </div>
    </lightning-card>
</template>