.THIS .esa-fixed {
    position: fixed;
    z-index: 1000;
    margin-top: -12px;   
}

.THIS .slds-button.esa-link-button {
    line-height: 1rem;
}

.THIS .slds-button.esa-link-button:focus {
    text-decoration:none;
}

.THIS .highlight {
  background-color: yellow;
}

.THIS pre {
    font: inherit;
}