<template>
    <div class="slds-form-element">
        <label class="slds-form-element__label" for="textarea-id-comment">{label}</label>
        <div class="slds-form-element__control">
            <textarea id="textarea-id-comment" maxlength={maxLength} class="slds-textarea" rows="6" placeholder={placeholder} oninput={updateValue}>{value}</textarea>
        </div>
    </div>
</template>