<template>
    <c-slds-modal>
        <span slot="headerContent">{label.details}</span>
        <span slot="bodyContent">
            <lightning-record-form if:true={id} record-id={id} object-api-name="ESA_Security_Request__c" 
                layout-type="Full"
                columns="2"
                mode="readonly"></lightning-record-form>
        </span>
        <span slot="footerActions">
            <lightning-button variant="brand" label={label.recordPage} icon-name="utility:open" onclick={navigateToRecordPage} class="slds-m-left_x-small"></lightning-button>
        </span>
    </c-slds-modal>
</template>