<template>
    <template if:true={showSpinner}>
      <div class="backdrop">
          <div class="spinner">
              <lightning-spinner alternative-text="Loading..."></lightning-spinner>
          </div>
      </div>
  </template>
    <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
        <div class="slds-modal__container">
          <header class="slds-modal__header">
            <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                    alternative-text="close" disabled={isDisabled}>
                </lightning-button-icon>
            <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Service Desk - Evidence Request</h2>
          </header>
          <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
            <c-karl_custom_lookup_cmp 
                label="Request Name" 
                parent-request-item-list={selectedRequestItem} 
                onrecordselect={handleRecordSelect} 
                objectname="KARL_Evidence_Request__c"
                filter-field="Name"
                secondary-label="KARL_Request_Name__c"
                isdisabled
            >
            </c-karl_custom_lookup_cmp>
            <lightning-textarea name="describeAccessRequest" label="Describe Access Request" value={serviceDeskWrapper.describeAccessRequest} onchange={handleChange} required></lightning-textarea> 
          </div>
          <footer class="slds-modal__footer">
            <lightning-button variant="neutral" label="Cancel" title="Cancel" onclick={closeModal}
                    class="slds-m-left_x-small" disabled={isDisabled}></lightning-button>
                <lightning-button variant="brand" label="Submit" title="Submit" onclick={handleYes}
                    class="slds-m-left_x-small" disabled={isDisabled}>
                </lightning-button>
                <a class="slds-float_left slds-m-top_xx-small" target="_blank" href={instructionlinkhref}>Instructions</a>
                <!-- <lightning-button variant="brand" label="Instructions" title="Instructions" onclick={handleinstructionClick}
                    class="slds-float_left" disabled={isDisabled}>
                </lightning-button> -->
          </footer>
        </div>
      </section>
      <div class="slds-backdrop slds-backdrop_open"></div>
</template>