.picklist-container,
.lookup-container{
    margin: 0 auto;
}

.picklist-container .slds-dropdown,
.lookup-container .slds-dropdown{
    position: relative !important;
    z-index: 90 !important;
    overflow: visible;
}

/*[lightning-combobox_combobox-host]{
    margin-bottom: 17px;
}*/

th.slds-has-focus, td.slds-has-focus{
    box-shadow: none !important;
}

/*.slds-table_edit thead th:first-child{
    width: 60px;
}*/