<template>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
        <thead>
          <tr class="slds-line-height_reset">
              <template for:each={headerItems} for:item="item">
                <th key={item} class="" scope="col">
                  <div class="slds-truncate" title={item}>{item}</div>
                </th>
              </template>
          </tr>
        </thead>
        <!-- tbody cannot contain anything other than tr so, instead use individual tbody for each row -->
        <slot>Can you still see me?</slot>
      </table>
</template>