<template>
    <lightning-record-edit-form record-id={targetrecord} object-api-name="KARL_Cycle_Follow_up__c">
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_medium"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                        alternative-text="close">
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Follow-up</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <!-- Note removed overflow: initial to allow for scrollable -->
                    <lightning-messages>
                    </lightning-messages>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Name"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Follow_up_Type__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Current_Assignment__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Follow_up_Status__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Age__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Followup_Audit_Cycle__c" value={auditcycle}></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Followup_Audit_Team__c" value={auditteam}></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Audit_Scope__c" value={auditScope}></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Followup_SCEA_POC__c" value={grcUser}></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Followup_Auditor_POC__c" value={auditUser}></lightning-input-field>
                            </div>
                        </div>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Follow-up Details</strong></p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-1">
                            <lightning-input-field field-name="KARL_Followup_Description__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-1">
                            <lightning-input-field field-name="KARL_Evidence_Link__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Quick Comments</strong></p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="KARL_Salesforce_Comments__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="KARL_Auditor_Comments__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Data Relationships</strong></p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <lightning-input-field field-name="KARL_Followup_Control__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <lightning-input-field field-name="Related_Walkthrough__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <lightning-input-field field-name="KARL_Request_Master_Data__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Flags</strong></p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Requires_follow_up_with_Business__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Potential_issue__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="New_Request_Required__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Configuration_Deadline__c"></lightning-input-field>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </lightning-record-edit-form>
</template>