<template>
    <div if:true={apiIsCalling}>
        <lightning-spinner alternative-text="Loading" size="large"></lightning-spinner>
    </div>
    <div if:true={isShowMethods} class="slds-accordion slds-m-top_small" if:false={apiIsCalling} for:each={methods} for:item="method" key={method.methodName} for:index="index">
                <div class="slds-accordion__list-item border border-top">
                    <div data-index={index} >
                        <!-- Header of the main method -->
                        <div class="slds-accordion__summary card-header">
                            <div aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action mouse-hand" data-index={index} onclick={openMethod}>
                                <lightning-icon icon-name="utility:chevrondown" size="xx-small" alternative-text="Indicates approval" class="slds-m-horizontal_small no-clicks" if:true={method.isOpen}></lightning-icon>
                                <lightning-icon icon-name="utility:chevronright" size="xx-small" alternative-text="Indicates approval" class="slds-m-horizontal_small no-clicks" if:false={method.isOpen}></lightning-icon>
                                <div class="no-clicks">
                                    <div class="d-flex">
                                        <span class={method.className}></span>
                                        <h2 class="color-normal" title="Accordion summary">{method.methodName}</h2>
                                    </div>
                                    <p class="color-normal">{method.description}</p>
                                </div>
                            </div>
                        </div>
                        <!-- Content of the accordion -->
                        <div class="slds-accordion__content slds-is-open" id="accordion-details-01" if:true={method.isOpen}>
                            <div class="p-left slds-m-right_x-small">
                                <!-- ************************** -->
                                <!-- Start of the labels -->
                                <!-- ************************** -->
                                <div class="slds-grid slds-wrap slds-p-top_x-small">
                                    <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
                                        <div class="slds-form-element">
                                            <label class="slds-form-element__label color-normal" for="text-input-id-1">
                                                Priority
                                            </label>
                                            <div class="slds-form-element__control">
                                                {method.priority}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- ************************** -->
                                <!-- End of the labels -->
                                <!-- ************************** -->
                                <!-- Start of the project table -->
                                <!-- ************************** -->
                                <label class="slds-form-element__label color-normal slds-m-top_x-small" for="text-input-id-1">
                                    Projects
                                </label>
                                <table>
                                    <thead>
                                        <tr class="slds-line-height_reset">
                                            <th class="slds-text-align_right project-header" for:each={method.projectHeaders} for:item="projectHeader" key={projectHeader.key}>
                                                <a class="slds-th__action slds-text-link_reset">
                                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate mouse-hand" data-key={projectHeader.key} data-method-index={index} onclick={sortMethodProjects}>
                                                        <span class="slds-truncate no-clicks" title="Name">{projectHeader.label}</span>
                                                        <span class="slds-icon_container slds-icon-utility-arrowdown slds-p-left_xx-large no-clicks" if:true={projectHeader.isSort}>
                                                            <lightning-icon icon-name="utility:arrowup" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small no-clicks" if:true={projectHeader.isAscending}></lightning-icon>
                                                            <lightning-icon icon-name="utility:arrowdown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small no-clicks" if:true={projectHeader.isDescending} ></lightning-icon>
                                                        </span>
                                                    </div>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="color-normal">
                                        <tr for:each={method.projectList} for:item="project" key={project.id} if:false={method.notProject} class={project.className}>
                                            <td class={project.overallStatus} key={project.id}>
                                                <span class={project.className}>
                                                </span>
                                                {project.name}
                                            </td>
                                            <td key={project.id}>
                                                {project.startDate}
                                            </td>
                                            <td key={project.id}>
                                                {project.endDate}
                                            </td>
                                            <td key={project.id}>
                                                {project.status}
                                            </td>
                                            <td key={project.id}>
                                                {project.overallStatus}
                                            </td>
                                        </tr>                                
                                        <tr if:true={method.notProject}>
                                            <td colspan="5">
                                                <div class="center">
                                                    <div class="slds-notify_alert alert-p" role="alert">                                                        
                                                        <p class="error">
                                                            <i>No Projects Aligned</i>
                                                        </p>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- ************************** -->
                                <!--  End of projects table -->
                                <!-- ************************** -->
                                <!-- Start of V2MOM -->
                                <!-- ************************** -->
                                <label class="slds-form-element__label color-normal slds-m-bottom_xx-small slds-m-top_x-small" for="text-input-id-1">
                                        V2MOM
                                </label>
                                <table class="slds-m-bottom_medium">
                                    <thead>
                                        <tr class="slds-line-height_reset">
                                            <th class="slds-text-align_right w-50">
                                                <a class="slds-th__action slds-text-link_reset">
                                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                        <span class="slds-truncate" title="Name">Contact Name</span>
                                                        <span class="slds-icon_container slds-icon-utility-arrowdown slds-p-left_xx-large">
                                                            <lightning-icon icon-name="utility:arrowdown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small" ></lightning-icon>                                                                                                
                                                        </span>
                                                    </div>
                                                </a>
                                            </th>
                                            <th class="w-50">
                                                <a class="slds-th__action slds-text-link_reset">
                                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                                        <span class="slds-truncate" title="Name"> V2MOM</span>
                                                        <span class="slds-icon_container slds-icon-utility-arrowdown slds-p-left_xx-large">
                                                            <lightning-icon icon-name="utility:arrowdown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small" ></lightning-icon>                                                                                                
                                                        </span>
                                                    </div>
                                                </a>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody class="color-normal">
                                            <tr  key={contact.id} for:each={method.v2momContacts} for:item="contact" for:index="contactIndex" if:false={method.noContact}>
                                                <td key={contact.id} data-contact-index={contactIndex} data-method-index={index} class="no-clicks">
                                                    {contact.name}
                                                </td>
                                                <td key={contact.id}>
                                                    <a data-v2mom={contact.v2momId} onclick={openV2mom}>
                                                        {contact.v2mom}                                                
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr if:true={method.noContact}>
                                                <td colspan="5">
                                                    <div class="center">
                                                        <div class="slds-notify_alert alert-p" role="alert">                                                        
                                                            <p class="error">
                                                                <i>No Users Aligned</i>
                                                            </p>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                    </tbody>
                                </table>
<!-- ********************************* -->
<!-- End or V2MOM table -->
<!-- ********************************* -->
<!-- Start Measure accordian cards -->
<!-- ********************************* -->
<!-- Content of the accordion -->
<div class="border slds-m-bottom_medium" for:each={method.measures} for:item="measure" for:index="measureIndex" key={measure.measureName}>
    <div class="slds-accordion__summary card-sub-header ">
        <div aria-controls="accordion-details-01" aria-expanded="true" class="slds-button slds-button_reset slds-accordion__summary-action">
            <lightning-icon if:false={measure.isOpen} icon-name="utility:chevronright" size="xx-small" alternative-text="Indicates approval" class="slds-m-horizontal_small"></lightning-icon>
            <lightning-icon if:true={measure.isOpen} icon-name="utility:chevrondown" size="xx-small" alternative-text="Indicates approval" class="slds-m-horizontal_small"></lightning-icon>
            <div data-measure-index={measureIndex} data-method-index={index} onclick={openMeasure} class="mouse-hand">
                <div class="d-flex no-clicks">
                    <span class={measure.className}></span>
                    <h3 class="color-normal no-clicks" title="Accordion summary">{measure.measureName}</h3>
                </div>
                <p class="color-normal no-clicks">{measure.description}</p>
            </div>
        </div>
    </div>
    <div class="slds-m-top_medium p-left slds-m-right_x-small" if:true={measure.isOpen}>
        <!-- ************************** -->
        <!-- Start of the labels -->
        <!-- ************************** -->
        <div class="slds-grid slds-wrap">
            <div class="slds-col slds-size_1-of-1 slds-medium-size_6-of-12 slds-large-size_4-of-12">
                <div class="slds-form-element">
                    <label class="slds-form-element__label color-normal" for="text-input-id-1">
                                                        Priority
                                                    </label>
                    <div class="slds-form-element__control">
                        {measure.priority}
                    </div>
                </div>
            </div>
        </div>
        <!-- ************************** -->
        <!-- End of the labels -->
        <!-- ************************** -->
        <!-- ************************** -->
        <!-- Start of the project table -->
        <!-- ************************** -->
        <label class="slds-form-element__label color-normal slds-m-top_x-small" for="text-input-id-1">
                                            Projects
                                        </label>
        <table>
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="slds-text-align_right project-header" for:each={measure.projectHeaders} for:item="projectHeader" key={projectHeader.key}>
                        <a class="slds-th__action slds-text-link_reset">
                            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate mouse-hand" data-key={projectHeader.key} data-measure-index={measureIndex} data-method-index={index} onclick={sortMeasureProjects}>
                                <span class="slds-truncate no-clicks" title="Name">{projectHeader.label}</span>
                                <span class="slds-icon_container slds-icon-utility-arrowdown slds-p-left_xx-large no-clicks" if:true={projectHeader.isSort}>
                                                                    <lightning-icon icon-name="utility:arrowup" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small no-clicks" if:true={projectHeader.isAscending}></lightning-icon>
                                                                    <lightning-icon icon-name="utility:arrowdown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small no-clicks" if:true={projectHeader.isDescending} ></lightning-icon>
                                                                </span>
                            </div>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="color-normal">
                <tr for:each={measure.projectList} for:item="project" key={project.name} if:false={measure.notProject} class={project.className}>
                    <td  >
                        <span class={project.className}>
                        </span>
                        {project.name}
                    </td>
                    <td>
                        {project.startDate}
                    </td>
                    <td>
                        {project.endDate}
                    </td>
                    <td>
                        {project.status}
                    </td>
                    <td key={project.id}>
                        {project.overallStatus}
                    </td>
                </tr>
                <tr if:true={measure.notProject}>
                    <td colspan="5">
                        <div class="center">
                            <div class="slds-notify_alert alert-p" role="alert">                                                        
                                <p class="error">
                                    <i>No Projects Align</i>
                                </p>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- ************************** -->
        <!--  End of projects table -->
        <!-- ************************** -->
        <!-- Start of V2MOM -->
        <!-- ************************** -->
        <label class="slds-form-element__label color-normal slds-m-bottom_xx-small slds-m-top_x-small" for="text-input-id-1">
                                            V2MOM
                                        </label>
        <table class="">
            <thead>
                <tr class="slds-line-height_reset">
                    <th class="slds-text-align_right w-50">
                        <a class="slds-th__action slds-text-link_reset">
                            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                <span class="slds-truncate" title="Name">Contact Name</span>
                                <span class="slds-icon_container slds-icon-utility-arrowdown slds-p-left_xx-large">
                                                                <lightning-icon icon-name="utility:arrowdown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small" ></lightning-icon>                                                                                                
                                                            </span>
                            </div>
                        </a>
                    </th>
                    <th class="w-50">
                        <a class="slds-th__action slds-text-link_reset">
                            <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                <span class="slds-truncate" title="Name"> V2MOM</span>
                                <span class="slds-icon_container slds-icon-utility-arrowdown slds-p-left_xx-large">
                                                                <lightning-icon icon-name="utility:arrowdown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small" ></lightning-icon>   
                                                            </span>
                            </div>
                        </a>
                    </th>
                </tr>
            </thead>
            <tbody class="color-normal slds-m-bottom_medium">
                <template for:each={measure.v2momContacts} for:item="measureContact" for:index="contactIndex" if:false={measure.noContact}>
                    <tr key={measureContact.id}>
                        <td data-contact-index={contactIndex} data-measure-index={measureIndex} data-method-index={index} onclick={openContactFields} class="mouse-hand">
                            <span class="slds-icon_container slds-icon-utility-arrowdown no-clicks">
                                <lightning-icon if:false={measureContact.isOpen} icon-name="utility:chevronright" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small no-clicks" ></lightning-icon>
                                <lightning-icon if:true={measureContact.isOpen} icon-name="utility:chevrondown" size="xx-small" alternative-text="Indicates approval" class="slds-m-right_small no-clicks" ></lightning-icon>
                            </span> 
                            {measureContact.name}
                        </td>
                        <td class="no-clicks">
                            {measureContact.v2mom}
                        </td>
                    </tr>                                                
                    <tr if:true={measureContact.isOpen} key={measureContact.id}>
                        <td colspan="2" class="padding-unset">
                            <!-- ********************************* -->
                            <!-- *************HELLO THERE********* -->
                            <!-- ********************************* -->
                            <c-v2mom_method user-id={measureContact.id}></c-v2mom_method>
                        </td>
                    </tr>
                </template>
<tr if:true={measure.noContact}>
    <td colspan="5">
        <div class="center">
            <div class="slds-notify_alert alert-p" role="alert">
                <p class="error">
                    <i>No Users Aligned</i>
                </p>
            </div>
        </div>
    </td>
</tr>

</tbody>
</table>
<!-- ********************************* -->
<!-- End or V2MOM table -->
<!-- ********************************* -->
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div if:false={isShowMethods}>
    <div class="center">
        <div class="slds-notify_alert slds-p-bottom_small" role="alert">
            <p class="error">
                <i>No Methods/V2MOM available for user</i>
            </p>
        </div>
    </div>
</div>
</template>