<template>
    <lightning-record-edit-form record-id={targetrecord} object-api-name="Request_Item_Control__c">
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_x-small"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                        alternative-text="close">
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">Requests Control Mapping</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium" style="overflow: initial;">
                    <lightning-messages>
                    </lightning-messages>
                    <div>
                        <lightning-input-field field-name="Request__c" value={parentrecord}></lightning-input-field>
                        <lightning-input-field field-name="Test__c"></lightning-input-field>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Playbook Data Management</strong></p>
                        <p class="slds-text-body_small">Complete the following information to have this request 
                            accurately reflected within your walkthrough playbooks. Refer to the&nbsp;
                            <lightning-formatted-url value="https://sfdc.co/KARL-Guide" tooltip="Go to the User Guide" 
                            label="user guide for more information" target="_blank"></lightning-formatted-url>.</p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="KARL_Playbook_Order__c"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="KARL_Offline__c"></lightning-input-field>
                            <lightning-input-field field-name="KARL_Hide__c"></lightning-input-field>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </lightning-record-edit-form>
</template>