<template>
    <div class="slds-box slds-theme_default slds-theme_backgroundColor-white">
    <div class="slds-text-heading_small">Create a New Data Store Deployment</div>
    <br>
    <br>
     <lightning-record-edit-form object-api-name='{datastoredeploymentobject}' onsuccess={openModal}>
            <lightning-messages></lightning-messages>
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-2">
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Center</label>
                    <lightning-input-field field-name='{datacentervalueField}' variant="label-hidden"></lightning-input-field>
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Store</label>
                    <lightning-input-field field-name='{datastorevalueField}' variant="label-hidden"></lightning-input-field>
                  <br>
                    <div class="slds-m-top_medium">
                        <lightning-button variant="brand" type="submit" name="save" label="Submit"></lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                
                    
                </div>
             </div>
        </lightning-record-edit-form>
    </div>
    <template if:true={bShowModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-2" class="slds-modal slds-fade-in-open">
           <div class="slds-modal__container">
              <!-- modal header start -->
              <!-- modal body start -->
              <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-2">
                <div class="slds-align_absolute-center" style="height:5rem">
                    <p>Form Submitted Successfully</p>
                  </div>
              </div>
              <!-- modal footer start-->
              <footer class="slds-modal__footer">
                 <button class="slds-button slds-button_neutral" onclick={closeModal}>Ok</button>
              </footer>
           </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
     </template>
    </template>