.THIS {
    min-width: 24px;
}

.THIS .esa-no-wrap {
    white-space: nowrap;
}

.THIS .slds-progress-ring__content:hover .esa-show-on-hover,
.THIS .slds-progress-ring__content:focus .esa-show-on-hover {
    display: block;
}