<template>
        <div class="slds-p-around_none slds-m-top_x-small slds-m-bottom_medium slds-m-horizontal_none" role="group" slot="actions">
            <lightning-layout horizontal-align="center">
                <lightning-layout-item flexibility="no-flex" size="3" padding="around-small">
                    <lightning-card title="Auditor Status" icon-name="action:goal">
                        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                            <button class="slds-button slds-button_neutral" value="ariFollowups" onclick={openAriModal}>{ariTotalRows} Follow-ups</button>
                        </div>
                    </lightning-card>
                </lightning-layout-item>
                <lightning-layout-item flexibility="no-flex" size="3" padding="around-small">
                    <lightning-card title="GUS Status" icon-name="action:priority">
                        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                            <button class="slds-button slds-button_neutral" value="gusReady" onclick={openGusModal}>{gusTotalRows} Tickets Ready</button>
                        </div>
                    </lightning-card>
                </lightning-layout-item>
                <lightning-layout-item flexibility="no-flex" size="3" padding="around-small">
                    <lightning-card title="Evidence Status" icon-name="action:record">
                        <div class="slds-button-group" data-toggle="buttons" role="group" slot="actions">
                            <button class="slds-button slds-button_neutral" value="evidenceReady" onclick={openEvidenceModal}>{evidenceTotalRows} Uploads Ready</button>
                        </div>
                    </lightning-card>
                </lightning-layout-item>
            </lightning-layout>
        </div>

    <template if:true={showModal} onclose={closeModal}>
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
        aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                        alternative-text="close">
                    </lightning-button-icon>
                    <h2 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalTitle}</h2>
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <div class="slds-box slds-theme_shade slds-box_x-small slds-m-bottom_x-small">
                        <p class="slds-text-heading_small"><strong>{modalTitle}</strong></p>
                        <p class="slds-text-body_small">{modalText}</p>
                    </div>
                    <div class="karl-action_modal">
                        <lightning-datatable
                        key-field="id"
                        data={modalData}
                        columns={modalCols}
                        onrowaction={handleRowAction}
                        class="karl-datatable_zoom"
                        hide-checkbox-column>
                        </lightning-datatable>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Close" title="Close" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </template>
</template>