/*
 * @author Ben Harvie
 * @email ben.harvie@salesforce.com
 * @desc CSS File for KARL LWC Component
 */

/* Import Standard KARL CSS */
@import 'c/karl_css';

.karl-datatable_zoom {
    zoom: 90%;
}

.karl-action_modal {
    max-height: 80%;
}