.THIS .esa-layoutitem-lhs {
    min-width: 400px;
    -webkit-transition: width 0.5s;
    transition: width 0.5s;
}

.THIS  .esa-layoutitem-rhs[class*=slds-size_],
.THIS  .esa-layoutitem-rhs[class*=slds-size--] {
    flex-shrink:initial;
}

.THIS .esa-layoutitem-lhs.esa-is-closed {
    min-width: 0px;
    width:20px;
}

.THIS .slds-split-view.slds-box {
    border-right: 0px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.THIS .slds-split-view_container.slds-is-closed {
    height: 50%;
}

.THIS .slds-split-view_container .slds-split-view__toggle-button {
    border-radius: .25rem;
}

.THIS .slds-split-view_container.slds-is-open .slds-split-view__toggle-button {
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
}