.THIS .slds-global-header.esa-header {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: inherit;
    box-shadow: none;
}

.THIS .slds-global-header__logo.esa-logo {
    margin-right: 5px;
    width: 60px;
    background-image: none;
}
    
.THIS .slds-global-header.esa-header .esa-header-text {
    white-space: nowrap;
    width: 100%;
    font-weight: 300;      
}
    
.THIS .esa-header-text::first-letter { 
    text-decoration: underline;
}

.THIS .esa-history-text {
    font-size: .75rem;
}

.THIS .esa-block {
    display: block;
}