<template>
    <article class="slds-card slds-card_boundary slds-p-horizontal_medium" style="background-color: rgb(238, 238, 238, 1);">
        <div class="slds-card__body">
            <div class="slds-form-element">
                <div class="slds-form-element__control">
                    <div class="slds-combobox_container">
                        <div class={txtclassname} data-id="resultBox" aria-expanded="false" aria-haspopup="listbox" role="combobox">
                            <div class="slds-form-element__control slds-input-has-icon slds-input-has-icon_right" role="none">
                                <lightning-input style="font-weight: bold" required={required} read-only={inputReadOnly} data-id="userinput" label={Label} name="searchText" onchange={searchField} value={selectRecordName} placeholder={inputPlaceholder} class="leftspace"></lightning-input>
                                
                                <div if:true={iconFlag}>
                                    <span class="slds-icon_container slds-icon-utility-search slds-input__icon slds-input__icon_right iconheight">
                                        <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:search" size="x-small" alternative-text="icon" ></lightning-icon>
                                    </span> 
                                </div>
                                <div if:true={clearIconFlag}>
                                    <button class="slds-input__icon slds-input__icon_right slds-button slds-button_icon iconheight" onclick={resetData}>
                                        <lightning-icon class="slds-icon slds-icon slds-icon_small slds-icon-text-default" icon-name="utility:clear" size="x-small" alternative-text="icon" ></lightning-icon>
                                        <span class="slds-assistive-text">Clear</span></button>
                                </div>
                            </div>
                        
                            <!-- Second part display result -->
                            <div id="listbox-id-1" class="slds-dropdown slds-dropdown_length-with-icon-7 slds-dropdown_fluid" role="listbox">
                                <ul class="slds-listbox slds-listbox_vertical" role="presentation">
                                    <template for:each={searchRecords} for:item="serecord">
                                        <li role="presentation" class="slds-listbox__item" key={serecord.Id}>
                                            
                                            <div data-id={serecord.Id} data-name={serecord.Name} onclick={setSelectedRecord} class="slds-media slds-listbox__option slds-listbox__option_entity slds-listbox__option_has-meta" role="option">
                                                <span class="slds-media__figure">
                                                    <span class="slds-icon_container slds-icon-standard-account">
                                                        <lightning-icon icon-name={iconName} class="slds-icon slds-icon slds-icon_small slds-icon-text-default" size="x-small"></lightning-icon>
                                                    </span>
                                                </span>
                                                <span class="slds-media__body">
                                                    <span class="slds-listbox__option-text slds-listbox__option-text_entity">{serecord.Name}</span>
                                                    <span class="slds-listbox__option-meta slds-listbox__option-meta_entity">{objectName} • {serecord.Name}</span>
                                                </span>
                                            </div>
                                        </li>
                                    </template>
                                </ul>
                            </div> 
                            <div if:true={messageFlag}>
                                No result found.
                            </div>
                            <div if:true={LoadingText}>
                                Loading...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <template if:true={data}>
                <div class="slds-m-top_medium">
                    <article class="slds-card slds-card_boundary">
                        <div class="slds-card__header slds-grid" style="background-color: rgb(215, 218, 233, 1); padding-bottom: 10px;">
                            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                                <div class="slds-media__body">
                                    <h2 class="slds-card__header-title">
                                        <a href="/lightning/o/SLA_Metric__c/list" class="slds-card__header-link slds-truncate" title="SLA Metric">
                                            <span>SLA Metric Entry</span>
                                        </a>
                                    </h2>
                                </div>
                                <div class="slds-no-flex">
                                    <lightning-button label="Save" onclick={handleCreate}></lightning-button>
                                </div>
                            </header>
                        </div>
                        <div class="slds-card__body" style="margin-bottom: 0px">
                            <template for:each={data} for:item='item'>
                                <ul key={item.Id}>
                                    <lightning-layout horizontal-align="space">
                                        <lightning-layout-item size="3" padding="horizontal-small">
                                            <lightning-input type="text" label="SLA" placeholder="Enter SLA Name..." disabled value={item.SLA__r.Name} oncommit={slaChange}></lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="3" padding="horizontal-small">
                                            <lightning-input type="date" name="DueDate" label="Due Date" disabled value={item.Due_Date__c}></lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="2" padding="horizontal-small">
                                            <lightning-input type="number" name="valueInput" data-id={item.Id} label="Value" placeholder="Ex: 23" value={valueInput} oncommit={valueChange}></lightning-input>
                                        </lightning-layout-item>
                                        <lightning-layout-item size="4" class="slds-p-left_small slds-p-right_small slds-p-bottom_small">
                                            <lightning-textarea name="commentInput" label="Comments" data-id={item.Id} placeholder="Type comment here..." value={commentInput} onchange={commentChange}></lightning-textarea>
                                        </lightning-layout-item>
                                    </lightning-layout>
                                </ul>
                            </template>
                        </div>
                    </article>
                </div>
            </template>
            <div class="slds-m-top_medium">
                <article class="slds-card slds-card_boundary" style="background-color: rgb(215, 218, 233, 1);">
                    <div class="slds-card__header slds-grid">
                        <header class="slds-media slds-media_center slds-has-flexi-truncate">
                            <div class="slds-media__body">
                                <h2 class="slds-card__header-title">
                                    <a href="/lightning/o/SLA_Metric__c/list" class="slds-card__header-link slds-truncate" title="SLA Metric">
                                        <template if:false={slaMetricData}>
                                            <span>SLA Metric Records</span>
                                        </template>
                                        <template if:true={slaMetricData}>
                                            <span>SLA Metric Records - #{metricDataLength}</span>
                                        </template>
                                    </a>
                                </h2>
                            </div>
                            <template if:true={slaMetricData}>
                                <div class="slds-no-flex">
                                    <lightning-button-icon  icon-name="utility:refresh" alternative-text="Refresh" class="slds-p-around_xx-small" onclick={refreshTable}></lightning-button-icon>
                                </div>
                            </template>
                        </header>
                    </div> 
                    <div class="slds-card__body" style="margin-bottom: 0px">
                        <lightning-datatable data={slaMetricData} 
                                            columns={slaMetricColumns} 
                                            show-row-number-column
                                            row-number-offset={rowOffset}
                                            hide-checkbox-column
                                            key-field="Id">
                        </lightning-datatable>
                    </div>
                </article>
            </div>
        </div>
    </article>
</template>