<template>
    <div class="background-white">
        <div class="card-header padding-unset" if:true={userData}>
            <c-lwc_custom_lookup object-name="User" field-name="Name" select-record-name={userData.Name.value} select-record-id={userId} icon-name = "action:new_account" onselected={selectedUser}></c-lwc_custom_lookup>
            <div class="slds-card__header slds-grid card-header border">
                <header class="slds-media slds-media_center slds-has-flexi-truncate">
                    <div class="slds-media__figure">
                        <img class="profile-image slds-m-left_medium" src={userData.MediumPhotoUrl.value} />
                    </div>
                    <div class="slds-media__body">
                        <p class="color-normal">{userData.Name.value}</p>
                        <h2 class="slds-card__header-title slds-p-top_xx-small">
                            <div  class="slds-card__header-link slds-truncate" title="Accounts">
                                <!-- <span>V2MOM - Methods &amp; Measures</span> -->
                            </div>
                        </h2>
                    </div>
                </header>
            </div>
        </div>
        <c-v2mom_method user-id={userId}></c-v2mom_method>
    </div>
</template>