.profile-image {
    width: 4rem;
    border-radius: 50%;
}

.card-header {
    background: #f3f1f2!important;
    border-radius: 5px!important;
    padding: 1rem 0rem 1rem 0rem!important;
}

.color-normal {
    color: #706e6f
}

.border {
    border: 1px #ebe9ea solid!important;
    border-radius: 5px;
}

h2 {
    font-size: 1.1rem!important;
}

h3 {
    font-size: 1rem!important;
}

.border-top {
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.p-left {
    padding-left: 2.7rem;
}

thead {
    background: #fafafa!important;
    border-bottom: 1px #e4e2e3 solid!important;
}

tr {
    border-bottom: 1px #e4e2e3 solid!important;
}

td {
    padding: 0.3rem;
}

.cancelled {
    border-left: .5rem solid #c03931;
}

.progress {
    border-left: .5rem solid #fdb75b;
}

.completed {
    border-left: .5rem solid #4bcb81;
}

.w-50 {
    width: 50%!important;
}

.card-sub-header {
    background: #f3f1f2!important;
    border-radius: 5px!important;
    padding: 0.3rem!important;
}

tbody {
    background: #ffffff!important
}

.td-accordion {
    width: 100%;
    background: #f3f1f2;
    padding: .5rem;
}

.padding-unset {
    padding: unset!important;
}

.slds-accordion {
    background: white;
    border-radius: 5px;
}

.no-clicks {
    pointer-events: none!important;
}

.slds-accordion__content {
    margin-top: 1rem;
    overflow: visible;
    visibility: visible;
    opacity: 1;
    height: auto;
}

.background-white {
    background: white;
    border-radius: 5px;
}