<template>
    <lightning-record-edit-form record-id={targetrecord} object-api-name="Request_Item__c">
        <section role="dialog" tabindex="-1" class="slds-modal slds-fade-in-open slds-modal_large"
            aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1">
            <div class="slds-modal__container">
                <header class="slds-modal__header">
                    <lightning-button-icon icon-name="utility:close" class="slds-float_right" onclick={closeModal}
                        alternative-text="close">
                    </lightning-button-icon>
                    <template if:true={records}>
                        <div id="modal-heading-01" class="slds-hyphenate">
                            <a href={recordLink} target="_blank">Open {recordName}</a>
                            <!--<lightning-output-field field-name="Name" field-class="slds-modal__title" variant="label-hidden"></lightning-output-field>-->
                        </div>
                    </template>
                </header>
                <div class="slds-modal__content slds-p-around_medium">
                    <!-- Note removed overflow: initial to allow for scrollable -->
                    <lightning-messages>
                    </lightning-messages>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Request_Name__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Type__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Primary_Scope__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Collection_Method__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Metricstream_ID__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Priority__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Self_Collect_Link__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Internal_Self_Collect__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Areas_of_Compliance__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_GRC_Assignee__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_ICT_Assignee__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Active__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Quality_Review_Required__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Update_Current_Audit_Cycle_s__c"></lightning-input-field>
                            </div>
                        </div>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Request Details</strong></p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field data-field="requestDescription" field-name="Request_Description__c" class="karl_textarea"></lightning-input-field>
                        </div>
                        <div class="slds-col slds-size_1-of-2">
                            <lightning-input-field field-name="Request_Tech_Details__c"></lightning-input-field>
                        </div>
                    </div>
                    <div class="slds-box slds-theme_shade slds-box_x-small">
                        <p class="slds-text-heading_small"><strong>Automation Configuration</strong></p>
                    </div>
                    <div class="slds-grid">
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Create_GUS_Case__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Evidence_Submission_Workflow__c"></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Suggested_Product_Tag__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Suggested_Product_Tag_Deprecated__c" disabled></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Automatic_Product_Tag_Assignment__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="Inactive_Product_Tag__c" disabled></lightning-input-field>
                            </div>
                        </div>
                        <div class="slds-col slds-size_1-of-3">
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="EPIC_Type__c"></lightning-input-field>
                            </div>
                            <div class="slds-form-element__control">
                                <lightning-input-field field-name="KARL_Previous_GUS_ID__c"></lightning-input-field>
                            </div>
                        </div>
                    </div>
                </div>
                <footer class="slds-modal__footer">
                    <lightning-button label="Cancel" title="Cancel" onclick={closeModal} class="slds-m-left_x-small"></lightning-button>
                    <lightning-button variant="brand" label="Save" title="Save" type="submit" class="slds-m-left_x-small"></lightning-button>
                </footer>
            </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
    </lightning-record-edit-form>
</template>