<template>
    <div class={containerClass}>
        <lightning-combobox name="picklist" label={label} value={value} placeholder={placeholder} options={options} onchange={handleChange}
        variant="label-hidden"></lightning-combobox>
    </div>
</template>