.THIS .slds-context-bar--tabs.esa-tabs {
    background-color: #f5f5f5;
    padding: 0 0 0 0;
}

.THIS .slds-scope .slds-grid--align-space .slds-col.esa-tab-item {
    flex-grow: 1;
}

.THIS .slds-context-bar--tabs.esa-tabs .slds-context-bar__item.esa-tab-item:hover {
    background-color: #ffffff;
}

.THIS .slds-page-header.esa-page-header {
   padding:0;
}

.THIS .esa-page-header .esa-col {
    border-right: 2px solid #e7e7e7;
}

.THIS .esa-page-header .esa-col:last-child {
    border-right: 0px;
}

.THIS .slds-popover.esa-absolute-center {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
}

.THIS .esa-rich-text ul, 
.THIS .esa-rich-text ol {
    margin: initial;
    padding: initial;
    padding-left: 40px;
}

.THIS .esa-rich-text ul {
    list-style: disc inside;
}

.THIS .esa-rich-text ol {
    list-style: decimal inside;
}