#footer{margin:0px auto;width:982px;text-align:center;color:#666;background-color:#E3E3E3;padding:0 0 50px 0;}
#footer a{color:#666;}
#footer a:hover{color:#f10;}
#footertop{width:982;background-color:#99908C;font: bold 10px/12px Verdana, Arial; color:#FFF; padding:4px 0px 5px 0px;}
#footertop a{font: bold 10px/12px Verdana, Arial; color:#FFF; }
#footerbundlecontainer{padding:20px 0 0 0; background: #E3E3E3 url(images/bg_container_footer.gif) top center no-repeat; margin:0;}
.footerbundle{float:left;width:170px;margin:0 0 0 20px;padding:0;text-align:left;}
.footerbundle ul{list-style:none; margin:0; padding:0;}
.footerbundle li a{font:normal 10px/12px Verdana, Arial;color:#666;}
.footerbundle li a:hover {color:#F10;}
#footerworldwide {border-top:1px solid #D7D7D7; padding:4px 0 12px 0;}
