img{border:0}

/*NO TREATMENT*/
.lpadding,.rpadding{float:left;margin:10px;border:0;}
.rpadding{float:right;}
.noborder{margin:12px;}
.ltop{float:left;margin:0 12px 8px 0;}
.rtop{float:right;margin:0 0 8px 12px;}
.lbottom,.rbottom,.lbottomborder{ float:left; vertical-align:bottom; margin: 0 12px 8px 0}
.rbottom{float:right}
.lbottomborder{border:1px solid #99908c; }

/*BORDER ONLY*/
.lborder,.rborder{float:left;margin:20px;border:1px solid #99908c}
.rborder{float:right}
.ltopborder{float:left;margin:0 12px 8px 0;border:1px solid #99908c}
.rtopborder{float:right;margin:0 0 8px 12px;border:1px solid #99908c}
.rbottomborder{float:right;vertical-align:bottom; margin: 0 0 8px 12px;border:1px solid #99908c;}

/*BORDER AND SHADOW ONLY*/
.ltopborder80,.lbottomborder80{ float:left; border:0; margin: 0 10px 0 0; padding: 1px 1px 9px 1px; background:transparent url(images/img80_shadow.gif) top center no-repeat; }
.lbottomborder80 {vertical-align:bottom;margin:0 10px 8px 0}
.ltopborder160,.lbottomborder160{float:left; border:0px; margin: 0 10px 8px 0; padding: 1px 1px 9px 1px; background:url(images/img160_shadow.gif) top center no-repeat; }
.lbottomborder160{vertical-align:bottom}
.ltopborder240,.lbottomborder240{float:left; border:0px; margin: 0 10px 8px 0; padding: 1px 1px 9px 1px; background:url(images/img240_shadow.gif) top center no-repeat; }
.lbottomborder240{vertical-align:bottom;} 
.ltopborder540,.lbottomborder540{float:left; border:0px; margin: 0 10px 8px 0; padding: 1px 1px 9px 1px; background:url(images/img540_shadow.gif) top center no-repeat; }
.lbottomborder540{vertical-align:bottom;} 

.rtopborder80,.rbottomborder80{float:right; border:0; margin: 0 0 8px 10px; padding: 1px 1px 9px 1px; background:url(images/img80_shadow.gif) top center no-repeat; }
.rbottomborder80, .rbottomborder160, .rbottomborder240, .rbottomborder540{vertical-align:bottom}
.rtopborder160,.rbottomborder160{background:url(images/img160_shadow.gif) top center no-repeat; }
.rtopborder240,.rbottomborder240{background:url(images/img240_shadow.gif) top center no-repeat; }
.rtopborder540,.rbottomborder540{background:url(images/img540_shadow.gif) top center no-repeat; }
.rtopborder160,.rbottomborder160, .rtopborder240,.rbottomborder240, .rtopborder540,.rbottomborder540{float:right; border:0; margin: 0 0 8px 10px; padding: 1px 1px 9px 1px;  }



.quote3{float:left;width:540px;border:4px solid #99908c;padding:0;background:#fff url(images/bg_contentbox3_bottom.gif) no-repeat; }

/* democenter landing page */
#div_swf_right{float:right;width:300px; margin:10px 10px 0 0;}
a.ldemolanging {display:block;margin:0;background:#fff url("images/democta_back.gif") no-repeat top left;width:234px;height:87px; margin:0 10px 10px 10px;float:left}
a.ldemolanging:hover{display:block;margin:0;background:#fff url("images/democta_back_over.gif") no-repeat top left; margin:0 10px 10px 10px;}
a.ldemolanging img,a.ldemolanging:hover img{margin:2px 3px 3px 3px;}
#ldemoBG {display:block;margin:0;background:#fff url("images/democta_back.gif") no-repeat top left;width:234px;height:87px; margin:0 0px 10px 10px;float:left}