/* CSS Document */

/*COMMON*/
body { text-align:center; margin: 0px; background: #E3E3E3; width:100%; font:normal 11px Verdana, Arial, sans-serif;color:#000}
body.none { text-align:left; margin: 0px; background: #fff; width:100%; }

h1, h2, h3, h4, h5, h6,p,ul,li{margin:0;padding:0}

a{color:#000; text-decoration:none;}
a:hover {color:#F10;}

h6{font-weight:bold;}

.dashline{width:100%;height:1px;border-top:1px dotted #ccc;}
.dashlinelight{width:100%;height:1px;border-top:1px dotted #eee;margin-bottom:10px;}
hr { border:0; border-top:1px dotted #ccc; }
hr.adn { border-top:1px solid #fff; }

blockquote { border:0; margin:0px; padding:0 0 0 30px; }

input.red {background-color: #F10; font: bold 11px/11px; color: white;}
input.search {font: bold 11px/11px}
textarea {font: bold 11px/11px}

.hide { display:none; }
.grayborder { border:1px solid #D7D7D7; }
.red{color:#F10}
.disclaimer { text-align:left; font:normal 9px/10px Verdana, Arial; color:#666;}

/* Float clearing, margins and centering classes */
.spacer { clear:both; margin:0px; padding:0px; }
.clearmb { clear:both; margin:0 0 5px 0; padding:0px; }
.clearmb2 { clear:both; margin:5px 0 5px 0; padding:0px; }
.clearmb_fd{clear:both; height:40px; background-color:transparent}
.mb {margin:0 0 5px 0; padding:0px; }
.nomargin{margin:0;padding:0}
.centercontent{text-align:center}
.bottom { vertical-align:bottom; }
.hfill {height:150px;}
.right{float:right;}
.productfan{float:right;margin:10px 10px 0 20px}


#searchresults { float:left; width:540px; margin:0 20px 0 0; }
#searchpromos { float:left; width:200px; }

#promolink {float:right;width:160px;margin:-30px -5px 15px 15px !important;margin:-30px 0px 15px 15px;}
#promolink.adn { float:left; margin:0 px 0 15px 10px; }
#promolink p{padding:5px;text-align:center;width:150px !important; width:160px;}
#promolink img{margin:0}

#promolink  a.promob {display:block;margin:0;background:#fff url("images/cta_back.gif") no-repeat top left;width:172px;height:63px; margin-bottom:10px}
#promolink  a.promob:hover{display:block;margin:0;background:#fff url("images/cta_back_over.gif") no-repeat top left; margin-bottom:10px}
#promolink  a.promob img{margin:3px}
#promolink  a.promob:hover img{margin:3px}

#centerwrap{border-left:1px solid #BEB9B7;border-right:1px solid #BEB9B7}

/* CONTAINER */

#container {margin-left: auto; margin-right:auto; text-align:left; width:980px ; padding:0; clear:both;background:#eee url(images/bg_container_wide.gif) top center repeat-y }
div#container.nomargin{margin:0;padding:0;}

/*LEFT*/

#left { float:left; width:196px;margin:0; background:#eee; }
#left.nobg { background: #FFF; }
#left h2.logostitle{margin:25px 5px 10px 5px;font-weight:bold;}

.leftonly {text-align:left;}

/*MISC*/
#banner { float:left; padding:0; margin:0 0 20px 0 !important;margin:0 0 15px 0}
#banner img{border-bottom:1px solid #99908c;}
#banner3 { float:left; padding:0; margin:20px 0 20px 0 !important;margin:20px 0 15px 0}
#banner3 img{ }
#bannerlanding{padding:0;margin:0}
#bannerlanding img{border-bottom:1px solid #999;margin:0}
#img2 { padding: 0 0 20px 0; }
#quote1,#quote2,#quote3 {margin:0 0 20px 0; border-bottom: 1px solid #CCC;  }
#ban_forms { float:left; clear:left; width:980px; }

#tilessection,#tilessection_sem,#tilessection4,#tilessection5 {width:520px; height:20px; margin:0; padding: 3px 10px 5px 10px; background: #FFF url(images/bg_tilesection.gif) top left no-repeat; font: bold 11px/11px Verdana, Arial; color:#000; } 
#tilessection_sem {color:#f00; text-align:center;} 
#tilessection4 {width:723px;background: #FFF url(images/bg_tilesection4.gif) top left no-repeat;} 
#tilessection5 {float:left; clear:left; width:940px;background: #FFF url(images/bg_tilesection5.gif) top left no-repeat;} 
#tilessection a, #tilessection4 a, #tilessection5 a { float:right; text-align:right; color:#015ba7; white-space:nowrap; }
#content4r div#tilessection4{margin-left:10px;}

#breadcrumb1 { float:left; width:744px !important;width:744px; height:20px; margin:0px; padding: 20px 20px 5px 20px; background: #F3F3ec; font: normal 10px/10px Verdana, Arial; color:#000; }
#breadcrumb1 a {color:#000; }

#customerflash {float:left; padding:0; margin:0 0 0px 0 !important;margin:0 0 0px 0; border-bottom:1px solid #99908c; }

/*CONTENT*/
#contentwrapper { float:left; width:980px; background:#FFF; }
#contentcontainer, #contentcontainer2, #contentcontainer3 { float:left;  width:784px; background: #FFF; margin:0; padding:0px;}
#contentcontainer2 {width:980px;}
#contentcontainer3 {width:588px;}
#contentcontainer2.bg { background: #FFF url(images/ban4_customer_phbg.gif) top left repeat-x; }


#content {float:left;width:548px; padding:0px 0px 40px 20px; background: #FFF; margin:0;}
#content.col4 {width:764px;}
.col4fulltext {width:744px;}
#content.col5 {width:940px}
#content.rightline {width:547px; border-right: 1px dotted #D7D7D7; }
#content.investor {width:auto; padding:0px;}
#content img.leftborder, #content img.rightborder{float:left;border:0;margin:0 0 8px 5px;padding:1px 1px 9px 1px;background:url(images/img_lg_shadow.gif) top center no-repeat;}



#content h1,h2,h3,h4,h5{font-weight:bold;}
#content h1{ font-size:18px;color:#F10;margin-bottom:10px}
#content h1.black{color:#000;}
#content h2,h3,h4 {font-size:14px;margin-bottom:5px; line-height:16px;}
#content h2 a.search {font-weight: normal;text-decoration:underline;}
#content h4 {color:#F10;}
#content h5{font-size:12px;line-height:14px}
#content p{margin-bottom:7px}
#content a{color:#015ba7}
#content a:hover {color:#F10}
#content a span{color:#000;}
#content ul{list-style:none;margin-left:20px;}
#content li{font: normal 11px ; padding: 5px 0 5px 0;}
#content li.bullet{background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px;}
#content li.indent{padding: 5px 0 5px 20px;}
#content ul.list, #content ul.listawards{margin:0 0 0 15px;padding0;width:70%}
#content ul.list li{margin:0;padding:0}
#content ul.listawards li{padding:0;_padding:2px 0}
#content li ul li, #content li.bullet ul li, #content li.indent ul li {background: url(images/dot.gif) transparent top left no-repeat; padding: 5px 0 5px 20px; }
#content a.promob {margin:0 20px /*20px*/0 0}
#content div.promod {float:left;}

/* ref to content5 block should be removed from search.jsp and replaced with content class=col5 */
#content5 { float:left; width:940px; padding:0px 20px 40px 20px; background: #FFF; margin:0;}
#content5.rightline { width:547px; border-right: 1px dotted #D7D7D7; }
#content5 img.imgtopleft { float:left; padding: 0 15px 10px 0; }
#content5 img.imgtopright { float:right; padding: 0 0 10px 15px; }
#content5 img.imginsideleft { float:left; padding: 10px 15px 10px 0; }
#content5 img.imginsideright{ float:right; padding: 10px 0 10px 15px; }
#content5 h1 { font: bold 18px/18px Verdana, Arial; color:#F10; margin: 0px 0 10px 0; }
#content5 h1.black { color:#000; }
#content5 h1.1col { width: 196px; padding:5px; }
#content5 h1.line { border-bottom:1px solid #D7D7D7; padding:0 0 2px 0; }
#content5 h2 { font: bold 14px/14px Verdana, Arial; padding:0;margin:0 0 5px 0; text-decoration:underline;}
#content5 h2.gray { color:#99908c; font: normal 12px/12px Verdana, Arial; }
#content5 h2 a { font: bold 14px/14px Verdana, Arial; padding:0; color:#000; }
#content5 h3 { font: bold 12px/12px Verdana, Arial; color:#000; padding: 10px 0 0px 0; }
#content5 h3.1col { float:left; width: 196px; padding:5px; }
#content5 h5 { font: bold 16px/16px Verdana, Arial; color:#000; padding: 10px 0 10px 0; }
#content5 p { margin:0 20px 0 0; }
#content5 img { float:none; }
#content5 img.left { float:left; }
#content5 img.right { float:right; }
#content5 ul { list-style:none;  padding: 6px 0 6px 0px; }
#content5 li { font: normal 11px/11px ; padding: 5px 0 5px 0;  }
#content5 li.bullet { background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px;  }
#content5 li.indent { padding: 5px 0 5px 20px;  }
#content5 a { list-style:none; padding:0; text-decoration: none; color:#015ba7; }
#content5 a.content { list-style:none; padding:0; text-decoration: none; color:#000; }
#content5 a:hover { padding:0; text-decoration:none; color:#F10; }
#content5 a span { color:#000; }
#content5 a:hover span { color:#F10; }


/* removed all of content4r*/
/*removed contentbox4container*/
/*contentbox4 */


/*CONTENT BOX*/

#quicklinkscontainer { float:left; width:155px; margin:0px; padding:0 5px 0 10px; }
#quicklinkscontainer.mod { background:url(images/bg_quicklinks_mod.gif) top right no-repeat; }
#quicklinks { float:left; width:160px; clear:left; }	
#quicklinks h2 { float:left; clear:left; width:160px; font: bold 14px/14px Verdana, Arial; color:#000; padding:3px 3px 4px 0px; border-bottom:1px solid #CCC; }
#quicklinks img { float:left; border:0; vertical-align:middle; }
#quicklinks ul { list-style:none; margin:10px 0 10px 0; }
#quicklinks li { margin:4px 0 4px 0; }
#quicklinks li.hdr { font-weight:bold; }
#quicklinks p { float:left; clear:left; padding: 10px 0px 10px 0px; margin:0px; }

#quicklinks a { color:#000;  padding: 4px 0 4px 0; }
#quicklinks a:hover { color:#F10;  }
#quicklinks a.hdr { color:#000; font-weight:bold; margin:8px 0px 0px 0px; }

#contentbox3container { float:left; width:540px; margin:0; padding:0; }
#contentbox3 { float:left; background:#f3f3ec url(images/bg_contentbox3.gif) repeat-x; width:540px;padding:4px 0 0 0;}
#contentbox3 p { float:left; margin:0 0 0 20px !important; margin:0 0 0 10px; width:160px}
#contentbox3 ul { float:left; margin:8px 0 10px 20px !important; margin:0 0 0px 10px; width:160px}
#contentbox3 ul li{margin:0;padding:0}
#contentbox3 ul li a {color:#000;}
#contentbox3 ul li a.hdr {font-weight:bold;}
#contentbox3_bottom { float:left; padding:10px 0 0 0; width:540px; background:#fff url(images/bg_contentbox3_bottom.gif) no-repeat; }
#contentbox3 div#eventagenda table ul {margin:0; width:300px}
#contentbox3 div#eventagenda table td{vertical-align:top}








/*MODULES*/

#modulecontainer { float:left; width: 540px; padding:0; margin:0 0 10px 0; }
#modulecontainer ul.list li{margin:0;padding:0}
#modulecontainer.fix { margin:0 0 20px 20px; }

#modulecontainerline {float:left; width: 540px; padding:0; margin:15px 0 20px -20px; _margin:15px 0 20px -10px;background:#FFF url(images/bg_moduleline.gif) top right no-repeat; }
#modulecontainerline h1, #modulecontainerline2 h1, #modulecontainerline4 h1   { font: bold 14px/14px Verdana, Arial; color:#000; padding:15px 3px 6px 30px; }
#modulecontainerline h3 { font: normal 14px/14px Verdana, Arial; color:#F10; padding:15px 3px 6px 0px; }
#modulecontainerline2,#modulecontainerline4  { float:left; width: 520px; padding:0; margin:15px 0 10px 0px; background:#FFF url(images/bg_moduleline2.gif) top center no-repeat; }
#modulecontainerline4 { width: 723px;background:#FFF url(images/bg_moduleline4.gif) top center no-repeat; }
#modulecontainersmall {float:left; width: 540px; padding:10px 10px 10px 10px; margin:15px 0 20px 0px; _margin:15px 0 20px 0px;background:#FFF url(images/bg_moduleline.gif) top right no-repeat; }


#trustcontainer {float:left; width: 550px; padding:10px 0px 10px 0px; margin:0px 0 10px 0px; background:#FFF url(images/trust_bg_box.gif) top right no-repeat; }




#copyimgleft { width: 540px; }
#copyimgleft img { float:left; border:1px solid #CCC; }
#copyimgleft p { margin: 0 0 0 180px; }


#coltile1crm,#coltile1cust,#coltile1x { float:left; width:160px; margin: 0px 20px 20px 0; padding: O 20px 0 10px; background:url(images/bg_ev_crm.gif) top right no-repeat; }
#coltile1cust {background:url(images/bg_ev_cust.gif) top right no-repeat; }
#coltile1x {background:url(images/bg_ev_x.gif) top right no-repeat; }




#textcta { float:left; width:450px; margin: 0 0 0 0px}
#textcta.nocta { width:450px; }

#textcta h2 { margin: 0 20px 0px 0px; }
#textcta h5 { margin: 0 20px 0px 0px; }
#textcta.nocta h2 { margin: 0 0px 0 0px; }

#textcta h3 { margin: 0 20px 5px 0px; }
#textcta.nocta h3 { margin: 0 0px 5px 0px; }

#textcta p { margin: 0 20px 0 0px; }
#textcta.nocta p { margin: 0 0px 0 0px; }

#textcta a { margin:10px 0 0 0; }
#textcta a.list { padding:0px 0 0 0; }




#img60text { float:left; width:540px; margin:0}
#img60text.divideline { border-bottom:1px dotted #D7D7D7; }
#img60text h2,#img60text h5 { margin: 0 0 0 70px; }
#img60text p { margin: 0 10px 0 70px; }
#img60text a { margin:8px 0 0 0; }
#img60text a.list { padding:6px 0 0 0; }
#img60text h3{ margin: 0 0 0 70px; color:#000;font-weight:bold }
#img60text h3 a{color:#000;font:bold 14px/14px Verdana, Arial;}
#img60text h3 a:hover{ color:#f10;font-weight:bold }
#img60text img { float:left; border:0px; margin: 10px 0 0 20px; }

#img60text.nocta { width:540px; }
#img60text.nocta h2,#img60text.nocta h3 {margin:0}
#img60text.nocta p { margin: 0 10px 0 0px; }

#img80text { float:left; width:540px; margin:0}
#img80text h2 { float:left; margin:0;}
#img80text h3 { margin:0 0 5px 100px;}
#img80text h5,#img80text p {margin:0 0 0 100px;}
#img80text li {margin:0 20px 0 100px;}
#img80text a { margin:10px 0 0 0;}

#img80textcta { float:left; width:450px; margin: 0 0 0 10px}
#img80textcta h2,#img80textcta h5 {margin: 0 20px 0px 100px;}
#img80textcta h3 { margin: 0 20px 5px 100px; }
#img80textcta p { margin: 0 20px 0 100px; }
#img80textcta a { margin:10px 0 0 0; }
#img80textcta a.list { padding:0; }

#img80textcta.nocta h3 { margin: 0 0px 5px 0px; }
#img80textcta.nocta { width:540px; }
#img80textcta.nocta h2 { margin:0}
#img80textcta.nocta p { margin: 0 0px 0 100px; }

#thumblistleft3, #thumblistleft6  { float:left; width:540px; margin:0; border-bottom:1px dotted #D7D7D7; }
#thumblistleft3 h2 { margin: 8px 0px 0 170px; }
#thumblistleft3.nocta h2, #thumblistleft6.nocta h2 { margin: 0}
#thumblistleft3 h3 {margin: 0 0 0 170px; }
#thumblistleft3.nocta h3, #thumblistleft6.nocta h3 {margin:0}
#thumblistleft3 p { margin: 0 10px 8px 170px; }
#thumblistleft3 ul { margin: 0 0 0 170px; }
#thumblistleft3.nocta p, #thumblistleft6.nocta p  { margin: 0 10px 0 0; }
#thumblistleft3 a, #thumblistleft6 a  { margin:8px 0 0 0; }
#thumblistleft3 a.list, #thumblistleft6 a.list  { padding:6px 0 0 0; }
#thumblistleft3 img,#thumblistleft6 img { float:left; border:0; margin: 10px 10px 4px 0; padding: 1px 1px 9px 1px; background:none; }

#thumblistleft6 h2 { margin: 8px 0px 0 100px; }
#thumblistleft6 h3 { margin: 0 0 0 100px; }
#thumblistleft6 p { margin: 0 10px 8px 100px; }
#thumblistleft6 img {background:url(images/th_shadow.gif) top center no-repeat; }



#thumbpromoright { float:left; width:260px; margin: 15px 20px 0px 0px }
#thumbpromoright.nopad {  margin: 15px 0px 0px 0px }
#thumbpromoright h2, #thumbpromoright h3, #thumbpromoright p, #thumbpromoright2 h2,#thumbpromoright2 h3, #thumbpromoright2 p { margin: 0 90px 0 0px; padding: 0px; }
#thumbpromoright img, #thumbpromoright2 div.complogo{ float:right; border:0; margin: 0 0 8px 5px; padding: 1px 1px 9px 1px; background:url(images/th_shadow.gif) top center no-repeat;  }

#thumbpromoright2 { float:left; width:351px !important; width:341px; margin: 15px 10px 0 15px}
#thumbpromoright2.nopad {margin: 15px 0 0 0}



#button_left { float:left; padding: 2px 4px 2px 4px; }
#button_right { float:right; padding: 2px 4px 2px 4px; margin: 10px 0 0 0; }

#button_gray { font: bold 10px/10px Verdana, Arial; color:#FFF; background:url(images/butbg_gray.gif) top left no-repeat;  }
#button_gray a:link, #button_gray a:visited { display:block; font: bold 10px/10px Verdana, Arial; color:#FFF; background:url(images/butbg_gray.gif) top left no-repeat; padding:5px 20px 12px 20px; }
#button_gray a:hover {display:block; color:#FFF; background: url(images/butbg_red.gif) top left no-repeat; padding:5px 20px 12px 20px; }



#half3columns {float:left; width: 260px; margin:0;}
#half3columns.right {margin:0 0 0 20px;}

#half3columns p {margin:0 0 10px 0;}
#half3columns h2 {font: bold 12px/14px Verdana, Arial; padding:0;}
#half3columns li{list-style:none}
#half3columns ul{margin:0}
#iconlistleft {float:left; width:510px; margin:10px 0 0 0;}
#iconlistleft h2,#iconlistleft p{ margin:0 0 0 30px;}
#iconlistleft img {float:left;margin:0; border:0;}



/*RIGHT*/
#right,#rightshort{float:right; width:196px;background: #FFF; padding: 20px 0 0 0; margin:0;}
#rightshort{float:left;}
#right.nobg{background:none;}
#right2 {float:left; width:392px; height: 100%; background: #FFF; padding: 20px 0 0 0; margin:0; }
#right2 img.right { float:right; border-bottom: 1px solid #CCC; }


#ctacontainer {float:left; width:174px; margin: 0px 0px 10px 0px; }
#ctacontainer a.promob{margin: 0 0px 10px 10px; }
#ctacontainer a.promoblarge{margin: 0 0px 10px 10px; }


/*DETAILNAV*/

#detailnavcontainer { width:176px; text-align:left; margin: 0px 10px 5px 9px; }
#detailnav_top { width:176px; height:7px; background:url(images/bg_detailnav_top.gif) top left no-repeat; }
#detailnav_bottom { width:176px; height:7px; background:url(images/bg_detailnav_bottom_wh.gif) top left no-repeat; }
#detailnav_bottom.bg { background:url(images/bg_related_bottom_tan.gif) top left no-repeat; }
#detailnav { background: url(images/bg_detailnav_center.gif) top left no-repeat; margin: 0px; }
#detailnav h2 { padding:6px 1px 3px 1px; background: url(images/bg_detailnav_center.gif) top left no-repeat; }
#detailnav h3 { font: bold 14px/14px Verdana, Arial; color:#000; padding:3px 3px 4px 10px; border-bottom:1px solid #CCC; }
#detailnav ul { list-style: none; padding: 0px 1px 6px 1px; }
#detailnav li { padding: 2px 0px 2px 0px;}
#detailnav img.icon { padding: 0 5px 0 0; border:0; }


#detailnav a { font: normal 11px/11px Verdana, Arial; color:#000; }
#detailnav a:hover { font: normal 11px/11px Verdana, Arial; color:#F10; text-decoration: none; }
#detailnav a span { display:block; color:#000; }
#detailnav a:hover span { color:#F10; background-color:#FFF; }
#detailnav a.on, #detailnav li.on, #detailnav ul.on { color:#F10; background:#FFF url(images/bg_detailnav_center_on.gif) top center; }
#detailnav h2.on { color:#F10; background:#FFF url(images/bg_detailnav_center_on.gif) top center; }
#detailnav li.on span { color:#F10; background-color:#FFF; }
#detailnav h2.subon { color:#000; background:#FFF url(images/bg_detailnav_center_on.gif) top center; }
#detailnav ul.on { background:#FFF url(images/bg_detailnav_center_on.gif) top center; padding:0 1px 10px 1px; border-bottom:1px solid #99908c; }
#detailnav h2 span { font: bold 11px/14px Verdana, Arial; padding: 8px 15px 4px 15px; }
#detailnav li span { padding: 4px 15px 4px 15px; }
#detailnav a span { display:block; padding:2px 10px 2px 15px; }
#detailnav a:hover span { color:#F10; background-color:#FFF; padding:2px 10px 2px 15px; }


/*BUTTON*/


/*CONTEXTUALNAV*/

#contextualnav { float:right; width:154px; margin: 0 10px 0 20px; }
#contextualnav h1 { font: normal 14px/14px Verdana, Arial; color: #F10; padding:15px 0 5px 0; }
#contextualnav h2 { font: bold 12px/12px Verdana, Arial; color: #000; padding: 2px 0 0 0; }

#contextualnav ul { list-style: none; }
#contextualnav li { background:none; list-style:none; font: normal 11px/11px Verdana, Arial; padding: 0px 8px 4px 0px; }

#contextualnav a:link, #contextualnav a:visited { text-decoration: none; background:none; list-style:none; }
#contextualnav a:hover { text-decoration:none; color:#F10; background-color:#f3f3ec; }
#contextualnav a span { display:block; color:#015ba7;  }
#contextualnav a:hover span { color:#F10; background-color:#f3f3ec; }


/*LINKBUNDLE*/

#linkbundle,#linkbundle2,#linkbundle.padtop{ float:right; width:170px; margin:0 10px 20px 10px;}
#linkbundle2{margin: 0 10px 10px 0;}
#linkbundle.padtop{margin: 20px 10px 0 10px; _margin: 20px 0 0 10px;}

#linkbundle h2, #linkbundle2 h2{ font: bold 10px/10px Verdana, Arial; color: #333; padding:2px 10px 5px 10px; background:#F3F3ec; border-bottom:0px dotted #D7D7D7; }
#linkbundle ul, #linkbundle2 ul{ list-style: none; }
#linkbundle li, #linkbundle2 li { clear:both; list-style-image:none;list-style-type:none;font: normal 11px/11px Verdana, Arial; padding: 4px 8px 4px 0px; }
#linkbundle a, #linkbundle2 a { padding:0; text-decoration: none; color:#000; list-style:none; }
#linkbundle a:hover, #linkbundle2 a:hover { padding:0; text-decoration:none; color:#F10; }
#linkbundle img.icon, #linkbundle2 img.icon{ border:0; vertical-align:middle; margin: 0px 5px 0px 10px; }


/*LINKBUNDLE*/


/*applications tier4 header swf or image*/
#div_scrn_swf {margin:0;height:150px;width:545px;overflow:hidden}
#div_scrn_img img{width:544px;height:143px;margin:0 !important; margin:0 0 20px 0;}





/* Filter bar ul */
ul#expand, ul#expand1, ul#expand2, ul#expand3, ul#expand4, ul#expand5  {padding: 0;margin:-3px 0 0 0;list-style: none;}
ul#expand li, ul#expand1 li, ul#expand2 li, ul#expand3 li, ul#expand4 li, ul#expand5 li{margin:0;float: left;position: relative;font-weight:bold ;list-style:none}
ul#expand li:hover, ul#expand1 li:hover, ul#expand2 li:hover, ul#expand3 li:hover, ul#expand4 li:hover, ul#expand5 li:hover{cursor:pointer}
ul#expand li ul, ul#expand1 li ul, ul#expand2 li ul, ul#expand3 li ul, ul#expand4 li ul, ul#expand5 li ul {margin:0;display: none;position: absolute; top: 20px;left: -3px; padding:2px;background:#eee;border: solid 1px #999;width:164px !important;width:160px}
ul#expand li > ul, ul#expand1 li > ul, ul#expand2 li > ul, ul#expand3 li > ul, ul#expand4 li > ul, ul#expand5 li > ul {top: auto;left: auto;}
ul#expand li:hover ul, ul#expand li.over ul, ul#expand1 li:hover ul, ul#expand1 li.over ul, ul#expand2 li:hover ul, ul#expand2 li.over ul, ul#expand3 li:hover ul, ul#expand3 li.over ul, ul#expand4 li:hover ul, ul#expand4 li.over ul, ul#expand5 li:hover ul, ul#expand5 li.over ul{ display: block; cursor:pointer}
ul#expand li a, ul#expand1 li a, ul#expand2 li a, ul#expand3 li a, ul#expand4 li a, ul#expand5 li a{font-weight:bold;color:#000}
ul#expand li a:hover , ul#expand1 li a:hover , ul#expand2 li a:hover , ul#expand3 li a:hover , ul#expand4 li a:hover , ul#expand5 li a:hover {color:#000}
ul#expand li li, ul#expand1 li li, ul#expand2 li li, ul#expand3 li li, ul#expand4 li li, ul#expand5 li li{margin:0;padding:0;width:156px !important;width:160px;}
ul#expand li li a, ul#expand1 li li a, ul#expand2 li li a, ul#expand3 li li a, ul#expand4 li li a, ul#expand5 li li a{display: block;padding: 3px 5px;border-bottom:1px dotted #ccc;width:156px !important;width:160px;}
ul#expand li li a:hover , ul#expand1 li li a:hover , ul#expand2 li li a:hover , ul#expand3 li li a:hover , ul#expand4 li li a:hover , ul#expand5 li li a:hover {padding: 3px 5px;border-bottom:1px dotted #ccc;color:#f10;background:#fff;width:156px !important;width:160px;}


/*APPEXCHANGE*/

#ptilescontainer { float:left; width:542px; }

#ptiles { float:left; width:542px; height:139px; text-align:center;  margin:0px 1px 0px 1px; padding:0px 0px 0px 0px; }
#ptiles img { clear:left; ; margin:5px 5px 10px 5px; padding:0px; }
#ptiles img.applogo { border:1px solid #CCC }
#ptiles img.stars { border:none; }

#ptiles ul { list-style:none; margin: 0px; padding:0px;  }
#ptiles li { float:left; display:inline; width:125px; height:139px; text-align:left; background:none; padding:10px 5px 5px 5px; }
#ptiles li { }

#ptiles a { padding: 30px; background:none; }
#ptiles a span { clear:both; font: normal 11px/13px Verdana, Arial; color:#000;  }
#ptiles a:hover { }
#ptiles a:hover span {color:#F10; padding:90px 0px 100px 0px; }

/*AE SEARCH BOX*/
#aesearchcontainer { width:176px; text-align:left; margin: 10px 4px 8px 9px; }

#aesearch { margin: 0px; }
#aesearch h3 { font: bold 14px/14px Verdana, Arial; color:#000; padding:3px 10px 3px 10px; border-bottom:0px solid #CCC; margin: 0px; }
#aesearch img.icon { padding: 0 0px 0 0; border:0; }


/* DemoCenter landing page */

#demolanding { float:left; width:650px; margin: 0 0 0 10px}
#demolanding h2,#demolanding h5,#demolanding p  { margin: 0 20px 0px 260px; }
#demolanding h3 { margin: 0 20px 5px 260px; font: bold 14px/14px Verdana, Arial; }

div#intro_text{ float:left; width:400px; margin-top:10px;}
div#intro_text h2{ color:#999; font-size:32px; margin-bottom:5px; font-family:"Times New Roman", Times, serif; line-height:36px; font-weight:normal;}
#content4r em{color:#99908c;}
#tilessectiondemolanding { width:520px;  margin:0 0 10px 0; padding: 3px 10px 5px 10px; background: #FFF url(images/bg_tilesection.gif) top left no-repeat; font: bold 11px/11px Verdana, Arial; color:#000; } 
/* End of DemoCenter landing page */

/* moved ul and li styles to fix inheritence issues */
div#but_sm ul {margin:0; padding:0; }
div#tilesection ul{padding:0:margin:0}


