/*buttons, text red versions and circle links */
#but_lgcontainer,#butcontainer,#but_smcontainer {float:left; width:540px; margin:0;padding:0; text-align:left;}
#butcontainer{font: bold 10px/10px Verdana, Arial;}


#but_lg {float:left; height:100%; white-space:nowrap; margin:5px;}
#but_lg.right,#but_sm.right,#but_circ30.right,#but_circ15.right {float:right;}

#but_lg ul{margin:0; padding:0;list-style:none;} 
#but_lg li,#but_sm li {display:inline; margin:0; padding:0;}

#but_lg a{float:left;background:url(images/but_lg_left.gif) no-repeat left top; margin:0; padding:0 0 0 6px;text-decoration:none;}
#but_lg a span { float:left; display:block; background:url(images/but_lg_right.gif) no-repeat right top; padding:9px 15px 12px 6px; margin:0 10px 0px 6px; font: bold 13px/13px Verdana, Arial; color:#FFF !important; white-space:nowrap; }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#but_lg a span {float:none;}
    /* End IE5-Mac hack */
#but_lg a:hover { background-position:0% -34px;padding:0 0 0 6px; }
#but_lg a:hover span { color:#FFF !important; background-position:100% -34px;  font: bold 13px/13px Verdana, Arial; white-space:nowrap; }


#but_sm,#but_circ30,#but_circ15{ float:left; margin:5px;}
#but_sm a {display:block;height:24px;color:#FFF; float:left; background:url(images/but_sm_left.gif) no-repeat left top; margin:0; padding:0; text-decoration:none; }
#but_sm a span {color:#FFF; float:left; display:block; background:url(images/but_sm_right.gif) no-repeat right top; padding:5px 15px 8px 5px; margin:0 5px 0px 6px; font: bold 10px/10px Verdana, Arial; color:#FFF !important; white-space:nowrap; }
	/* Commented Backslash Hack hides rule from IE5-Mac \*/
#but_sm a span {float:none; color:#FFF;}
    /* End IE5-Mac hack */

#but_sm a:hover {background-position:0% -24px;}
#but_sm a:hover span {color:#FFF !important; background-position:100% -24px; font: bold 10px/10px Verdana, Arial; white-space:nowrap;}

#but_circ30 img,#but_circ15 img{border:0; padding:0; margin:0;}
#but_circ30 a,#but_circ15 a{float:left; margin:0;padding:0;text-decoration:none; }
#but_circ30 a span{float:left; display:block; background:url(images/but_circle30.gif) no-repeat left top;padding:0;margin:0;}
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#but_circ30 a span,#but_circ15 a span {float:none; }
    /* End IE5-Mac hack */

#but_circ30 a:hover,#but_circ15 a:hover { }
#but_circ30 a:hover span { !important; background-position:100% -32px; }

#but_circ15 a span{ float:left; display:block; background:url(images/but_circle15.gif) no-repeat left top; padding:0; margin:0;}
#but_circ15 a:hover span { !important; background-position:100% -16px; }
/* !!!!!!need to test if this is correct as was a repeated style but the last one #but_circ15 a:hover span { !important; background-position:100% -32px; }*/

#circlelinks a,#circlelinks a:hover { display:block; padding:0 3px 3px 20px; vertical-align:middle; background:url(images/but_circle15_off.gif) top left no-repeat; }
#circlelinks a:hover {background:url(images/but_circle15_hov.gif) top left no-repeat;}


/*NEW CTA PROMOS*/

a.promoblarge {display:block;margin:0;background:url("images/promo1_150h_back.gif") no-repeat top left;width:172px;height:157px;}
a.promoblarge:hover {display:block;margin:0;background:url("images/promo1_150h_over.gif") no-repeat top left;}
a.promoblarge img,a.promoblarge:hover img,a.promob img,a.promob:hover img {margin:3px;}
a.promob {display:block;margin:0;background:#fff url("images/cta_back.gif") no-repeat top left;width:172px;height:63px;}
a.promob:hover {display:block;margin:0;background:#fff url("images/cta_back_over.gif") no-repeat top left;}