#centerwrap{margin:0 auto;width:980px}

#hdrwrapper{clear:both;}
#hdrcontainer, #hdrcontainerlanding, #hdrcontainerfreetrial {height:95px;*height:95px;_height:95px; background: transparent url(images/hdr_sfdc.gif) top left no-repeat;}
#hdrcontainerlanding,#hdrcontainerfreetrial{height:108px;*height:110px;height:108px;border-bottom:4px solid #999;margin:0}
#hdrcontainer.succ{height:95px;background:transparent url(images/hdr_succ.gif) top left no-repeat;}
#hdrcontainer.adn{height:101px;background:transparent url(images/hdr_apexdn.gif) top left no-repeat;}
#hdrcontainersfdcnoglobalnav{margin-left:auto;margin-right:auto;text-align:left;width:980px;height:72px;background: #EEE url(images/hdr_sfdc_noglobalnav.gif) top left no-repeat;}

#hdrlogo{float:left;margin:16px 0 0 12px; !important;margin:16px 0 0 2px }
#hdrlogo img{width:227px;height:58px}

#hdrlogoRt{float:right;margin:0px 0 0 0px; !important;margin:16px 0 0 2px }
#hdrlogoRt img{width:150px;height:60px}

#sfdclogo{float:right;margin:0 0 0 0 !important;margin:0 0 0 0px }

/*GLOBAL NAV*/
#globalnav{float:right;text-align:right;width:680px;height:20px;margin:0 0 5px 0;padding:0 10px 0 0;}
#globalnav ul {list-style:none; margin:8px 0 0 55px; padding: 0px; text-align:right; }
#globalnav li {float:left; text-align:left; white-space:nowrap; display:inline; font: normal 11px/13px Verdana, Arial; padding:0 0 3px 0;width:200px; vertical-align:middle;}
#globalnav img.x{float:left;text-decoration:none;border:0;vertical-align:middle;}
#globalnav a span{display:block; color:#000;}
#globalnav a:hover span{color:#F10;background-color:#FFF;}

/*TOOLS*/
#toolscontainer{float:right;clear:right;width:680px;text-align:right;margin:3px 0 0 0;}
#sublogo{margin:11px 0 0 0; _margin:0;}
#sublogolanding{margin:11px 0 0 0}
#sublogofreetrial{margin:11px 0 0 0;_margin:0}
#sublogo_ae {float:right;}
#tools{float:right;width:250px;text-align:left;}
#language{margin:0 0 0 10px;text-align:left;width:100%;}
#search{float:right;margin:9px 0 0 5px !important; margin:-2px 0 0 5px; text-align:left; width:215px; *width:210px; _width:215px }
#search input{padding: 0 2px 0 4px; margin:0 0 0 5px !important;}
#formpad{margin:0 10px 0 0; padding:3px 5px 2px 10px;}


/*TABS*/
#tabnavcontainer{clear:both;margin:0;padding:0;text-align:left;background:#e9e9e9;}
#tabnavnotabs{float:left; width:980px; *width:979px; margin:19px 0 0 0; border-bottom:4px solid #99908C;}
#tabnav{position: relative;background:#e9e9e9;float:left;width:980pxfont: normal 11px/13px Verdana, Arial; border-bottom:4px solid #99908C;}
#tabnav ul{margin:0;padding:0;list-style:none;} 
#tabnav li{display:inline;margin:0;padding:0;}
#tabnav a,#tabnavlogin a {float:left; background:url(images/tab_left.gif) no-repeat left top; margin:0; padding:0 0 0 7px;text-decoration:none;}
#tabnavlogin a {background:url(images/tab_left_login.gif) no-repeat left top;}
#tabnav a span,#tabnavlogin a span{float:left;display:block;background:url(images/tab_right.gif) no-repeat right top; padding:5px 15px 3px 6px; color:#000; }
#tabnavlogin a span{background:url(images/tab_right_login.gif) no-repeat right top;color:#FFF;}
#tabnavww a{float:right;margin:0;padding:0 10px 0 7px;text-decoration:underline;background:none;}
#tabnavww a span { float:right;display:block;padding:5px 15px 3px 6px; color:#000; text-decoration:underline; background:none;}

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabnav a span {float:none;}
#tabnavlogin a span {float:none;}
    /* End IE5-Mac hack */


#tabnav a:hover,#tabnavlogin a:hover { background-position:0% -42px; }
#tabnav a.on,#tabnavlogin a.on { background-position:0% -84px; }
#tabnav a:hover span,#tabnavlogin a:hover span { color:#F10; background-position:100% -42px; }
#tabnavlogin a:hover span {color:#FFF;}
#tabnav a.on span,#tabnavlogin a.on span { color:#FFF; background-position:100% -84px; }
#tabnavww a:hover,#tabnavww a:hover span {color:#F10;}