/*REGPG FORM*/
div#msa{border:1px solid #999;width:538px;height:182px;overflow:scroll;}
div#msa h2,div#msa h3{font: bold 12px/12px Verdana, Arial;}

#regpg table{margin:0px 1px;border:0}
#regpg td{border:0}
#regpg td.col1,#regpg td.col1wide{width:120px;text-align:right; padding:2px 0px}
#regpg td.col1wide{width:200px}
#regpg td.col2{width:169px;padding:2px 5px;}
#regpg td.col3{width:110px;text-align:right;padding:2px 0px;}
#regpg td.col4{width:169px;padding:2px 0;}
#regpg td.colspan3{padding:2px 5px; width:60%}
#regpg td.fullspan{text-align:center}
#regpg input.std,#regpg select.std,#regpg textarea.std{font-size:11px;width:160px; margin:1px 2px;}
#regpg textarea.std{font-weight:normal;}
#regpg td.section3l{width:274px;text-align:right; padding:2px 0px;}
#regpg td.section3r{width:274px;padding:2px 5px;}
#regpg td.col5 { width:246px; text-align:right; padding:2px 5px; }
#regpg td.col6 { width:246px; padding:2px 5px;}
#regpg td.col7 { width:528px; padding:2px 5px;}


/*buttons not in use yet*/
#submitlarge{color:#fff; font: bold 13px/13px Verdana, Arial; ;border:0;background:transparent url("images/submitlarge.gif") top left no-repeat;display:block;height:34px;width:78px;}
#submitlarge:hover{cursor:pointer;border:0;background:transparent url("images/submitlarge_over.gif") top left no-repeat;display:block;height:34px;width:78px;);
#submitnormal{border:0;background:transparent url("/commom/assets/images/submitlarge.gif");display:block;height:34px;width:78px;);

/*FORMCONTAINER*/
#formcontainer{float:left; width:250px; font: normal 11px/13px Verdana, Arial; margin:15px 0 10px 0; padding: 0; }
#formcontainer label {display:block;float:left;width:90px;text-align:left;margin:0 0 10px 0; padding:0; }
#formcontainer input,#formcontainer select{ display:block;float:left;width:140px;margin:0 0 10px 0; padding:0;}
#formcontainer select{margin:0 10px 10px 0;}
#formcontainer br{clear: left;}
#formbutton {float:left;clear:left;width:540px;text-align:center;margin:0 0 5px 0;padding:0;}

/*PARTNER PORTAL TABLE*/
#partportallogin table{width:290px;}
#partportallogin td{border:0;}
#partportallogin td.col1{width:100px;}
#partportallogin td.col2{width:190px;}

#eventform{width:520px;height:100%;padding:10px;margin:15px 0 10px 0;font:normal 11px/13px Verdana, Arial; border:1px solid #D7D7D7;}
#eventform table{border:0; padding:0;}
#eventform td {vertical-align:top;border:0;}
#eventform td.col1{width:110px;}
#eventform td.col2{width:300px;}
#eventform label,#eventform input,#eventform select{}

/*FREE TRIAL FORM*/
#freetrial table{width:538px; margin:0 1px}
#freetrial td{border-right:1px solid #fff;}
#freetrial td.col1,#freetrial td.col3,#freetrial td.col5{width:110px; text-align:right;padding:2px 5px}
#freetrial td.col5{width:246px;}
#freetrial td.col2,#freetrial td.col4{width:136px; padding:2px 5px}
#freetrial td.col6{width:246px; padding:2px 5px}
#freetrial td.col7{width:528px; padding:2px 5px}

#tilessection_sem{width:520px;height:20px;margin:0;padding:3px 10px 5px 10px;background: #FFF url(images/bg_tilesection.gif) top left no-repeat; font: bold 11px/11px Verdana, Arial; color:#f00; text-align:center; } 


/*TO BE MOVED AGENDA1*/
#agenda1container{width:176px;text-align:left;margin:10px 4px 5px 9px}
#agenda1_top{width:176px; height:7px; background:url(images/bg_subnav_top.gif) top left no-repeat;}
#agenda1_top.nobg,#agenda1_bottom.nobg,#agenda1.nobg {background:none;}
#agenda1_bottom{width:176px; height:19px; background:url(images/bg_subnav_bottom_wh.gif) top left no-repeat;}
#agenda1_bottom.bg{background:url(images/bg_subnav_bottom_tan.gif) top left no-repeat;}
#agenda1 { background: url(images/bg_subnav_center.gif) top left repeat-y;margin:0;}
#agenda1 h2{ font: bold 13px/13px Verdana, Arial; text-align:center; margin:0 1px; padding:5px 10px 5px 10px; }
#agenda1 h3{ font: bold 11px/11px Verdana, Arial; text-align:center; margin:0 1px; padding:5px 10px 2px 10px; }
#agenda1 ul{ list-style: none;margin:0 1px; padding:0 10px 15px 10px;}
#agenda1 ul.on{ background:#FFF url(images/bg_detailnav_center_on.gif) top center repeat-y; padding: 3px 0 15px 10px; border-bottom:1px solid #99908c; }
#agenda1 li{list-style:none;font:normal 11px/11px;text-align:left;padding:5px 0 5px 10px; } 
#agenda1 li.bullet{ background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px;  }
#agenda1 a{ font:normal 11px/11px Verdana, Arial;}
#agenda1 a:hover{color:#F10;text-decoration:none;padding:0;}