#content4hm{float:left; width:744px; padding:20px 20px 0 20px; background: #FFF; margin:0;}
#content4hm h1{font:bold 18px/18px Verdana, Arial; color:#000; margin: 0 0 10px 0;}
#content4hm h2{font:bold 12px/14px Verdana, Arial; padding:0;}
#content4hm h2.gray{color:#99908c; font: normal 12px/12px Verdana, Arial;}
#content4hm h2 a{font: bold 12px/14px Verdana, Arial;padding:0;color:#000;}
#content4hm h3{font: bold 12px/12px Verdana, Arial;color:#000;padding:10px 0 0 0;}
#content4hm h5{font: bold 16px/16px Verdana, Arial;color:#000;padding:10px 0 10px 0;}
#content4hm p{margin:0 20px 0 0;}
#content4hm img{float:none;}
#content4hm img.left{float:left;}
#content4hm img.right{float:right;}
#content4hm ul{list-style:none;padding:6px 0 6px 0;}
#content4hm li{font:normal 12px/12px ;padding:5px 0}
#content4hm li.bullet{background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px;}
#content4hm li.indent{padding:5px 0 5px 20px;}
#content4hm a{list-style:none;padding:0;text-decoration: none; color:#015ba7;}
#content4hm a.content{ list-style:none; padding:0; text-decoration: none; color:#000;}
#content4hm a:hover {padding:0;text-decoration:none; color:#F10;}
#content4hm a span {color:#000;}
#content4hm a:hover span {color:#F10;}

#summcontainer{float:left;width:340px;margin:0 10px 0 0;padding:0;}

/* HIGHLIGHTS */
#highlightcontainer{float:left;width:559px;height:610px; margin:0;padding:0px 1px 1px 1px; background:url(images/img457_shadow.gif) top left no-repeat;  }
#highlight{ vertical-align:top;width:558px;height:575px; padding: 0px 0px 0px 0px; background:#fff;} 
#highlight_promo{float:left; width:334px; margin:0 0 10px 0;}
#highlight_promo h2{margin:0 90px 0 0;padding:0;}
#highlight_promo p{width:538px;margin:0px 10px 0px 10px;padding:0;}
#highlight_promo img{float:left;margin:0;padding:0px 0px 0px 0px;}
#highlight2, #highlight3{display:none;}

/* HIGHLIGHT BUTTONS */

#but_smhl{width:355px;height:auto;padding:5px; background:#f3f3ec;}
#but_smhl li{display:inline;margin:0;padding:0;}
#but_smhl a{color:#015ba7; float:left; background:url(images/but_sm_lefthl.gif) no-repeat left top; margin:0; padding:0; text-decoration:none; }
#but_smhl a span{float:left; display:block; background:url(images/but_sm_righthl.gif) no-repeat right top; padding:5px 15px 8px 5px; margin:0 5px 0px 9px; font: normal 10px/10px Verdana, Arial; color:#015ba7; !important; white-space:nowrap; }

    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#but_smhl a span {float:none; color:#015ba7;}
    /* End IE5-Mac hack */

#but_smhl a:hover {background-position:0% -24px;}
#but_smhl a:hover span {color:#FFF !important; background-position:100% -24px; font: normal 10px/10px Verdana, Arial; white-space:nowrap;}
#but_smhl a#hlink1 span {color:#000;}


#summ_quicklinkscontainer { float:left; width:723px; margin:0px; padding:0 0 0 0px; }
#summ_quicklinks { float:left; width:132px; display:inline; margin:5px 15px 0px 0; padding:0 0 0 0px; }
#summ_quicklinks.short { width:120px; }
#summ_quicklinks h2 { float:left; width:132px; font: bold 14px/14px Verdana, Arial; color:#000; margin:15px 0 0 0; padding:3px 0px 4px 0px; border-bottom:1px solid #CCC; }
#summ_quicklinks h2 span.headhomeblog{padding-left:20px;background:url(../images/icons/icon_blog.gif) no-repeat;background-position:0px 3px;}
#summ_quicklinks h2 span.headhomerss{padding-left:20px;background:url(../images/icons/icon_rss.gif) no-repeat;background-position:0px 3px;}
#summ_quicklinks p { float:left; width:132px; padding: 5px 0px 0px 0px; margin:0px 0 0 0px; }
#summ_quicklinks a { color:#015ba7;  margin: 8px 0 8px 0; }
#summ_quicklinks a.hdr{color:#000; font-weight:bold; margin:8px 0px 0px 0px; }



/* CUST_SUCCESSBAND */

#cust_successband{width:980px; height:100px; margin:0; background:#fff;}
#cust_successband.multicontent { width:940px; height:auto; margin: 0; padding:10px 20px 10px 20px; background:#fff; }
#cust_successband h2{float:left; width:940px; font: bold 14px/14px Verdana, Arial; color:#000; margin:15px 0 0 0; padding:3px 0px 4px 0px; border-bottom:1px solid #CCC; }
#cust_successband img{margin: 0px 20px 0px 20px;}

/* CSS for the standalone homepage for nl, fi, kr, cn */
div#sfdcfeatures{background: url(images/sfdcfeaturesback.jpg) transparent top left no-repeat;float:left;width:371px;margin-left:-2px;}
div#sfdcfeatures div.inner{margin:0 20px;}
p#subheading_standalone{font-size:20px;text-align:center;}
div#clearfeatures{clear:both;background: url(images/sfdcfeatures_btm.jpg) transparent top left no-repeat;height:38px;}
div#header_standalone{border-bottom:2px solid #ccc7c5;}
div#content4hm{padding:20px 0 0 20px;}