/*SEARCH*/
/*input#searchgo{margin-bottom:-3px !important;margin-bottom:-1px}*/

#quotecontainer { width:176px; text-align:left; margin: 10px 4px 5px 5px; }

/*SUBNAV*/
#subnavcontainer { width:176px; text-align:left; margin: 10px 4px 5px 9px; }
#subnav_top { width:176px; height:7px; background:url(images/bg_subnav_top.gif) top left no-repeat;}
#subnav_bottom {  width:176px; height:19px; background:url(images/bg_subnav_bottom_wh.gif) top left no-repeat;}
#subnav_bottom.bg { background:url(images/bg_subnav_bottom_tan.gif) top left no-repeat; }
#subnav { background: url(images/bg_subnav_center.gif) top left repeat-y; margin: 0px; }
#subnav_top.nobg,#subnav_bottom.nobg,#subnav.nobg { background:none; }
#subnav h2 { font: bold 14px/14px Verdana, Arial; color:#000; margin:0px; padding:3px 10px 4px 15px; border-bottom:1px solid #CCC; }
#subnav h3 { font: normal 11px/13px Verdana, Arial; margin:0 1px 0 1px;}
#subnav h3.on { font: bold 12px/12px Verdana, Arial; color:#000;background:#FFF url(images/bg_detailnav_center_on.gif) top center repeat-x; padding: 10px 1px 4px 1px; border-top:1px solid #CCC; }
#subnav ul { list-style: none; margin: 0px 1px 0px 1px; padding: 0px 0px 15px 0px; }
#subnav ul.on { background:#FFF url(images/bg_detailnav_center_on.gif) top center repeat-y; padding: 3px 0px 15px 10px; border-bottom:1px solid #99908c; }
#subnav li {  padding:0px 0px 0px 10px; } 
#subnav a { font: normal 11px/11px Verdana, Arial; }
#subnav a:hover { color:#F10; text-decoration: none; padding:0px;  }
#subnav h1 span { padding: 0px 0px 0px 0px;  }
#subnav li span { padding:3px 10px 3px 15px; }
#subnav li.on span { color:#F10; padding:0px 10px 0px 15px; }
#subnav a span { display:block; padding:3px 10px 3px 15px; }
#subnav a.on span { display:block; padding:3px 10px 3px 15px; color:#F10; background:#fff url("images/arrow10x10.gif") 6px 5px no-repeat;}
#subnav a:hover span { color:#F10; background-color:#FFF;  }

/*EXTRANAV*/
#extranavcontainer { width:176px; text-align:left; margin: 10px 10px 10px 9px; }
#extranav_top { width:176px; height:7px; background:url(images/bg_extranav_top.gif) top left no-repeat; margin: 0px; }
#extranav_nextsteps {text-align:center;font:bold 12px/12px Verdana, Arial;color:#fff;width:176px;height:20px; background:url(images/bg_extranav_nextsteps.gif) top left no-repeat; margin: 0px;padding-top:5px;}
#extranav_nextstepsred { text-align:center;font:bold 12px/12px Verdana, Arial;color:#fff;width:176px; height:20px; background:url(images/bg_extranav_nextstepsred.gif) top left no-repeat; margin: 0px; padding-top:5px;}
#extranav_bottom { width:176px; height:19px; background:url(images/bg_extranav_bottom_wh.gif) top left no-repeat; margin: 0px;}
#extranav_bottom.bg { background:url(images/bg_extranav_bottom_tan.gif) top left no-repeat; }
#extranav { background: url(images/bg_extranav_center.gif) top left repeat-y;  }
#extranav h1 { font: normal 14px/14px Verdana, Arial; color:#F10; }
#extranav h3 { font: bold 14px/14px Verdana, Arial; color:#000; padding:3px 3px 4px 0px; border-bottom:1px solid #CCC; }
#extranav ul { list-style: none; padding:0 1px 0 1px; color:#000; }
#extranav li { padding: 4px 0px 4px 0px; border-bottom:0px; }
#extranav p { padding: 4px 15px 4px 15px; }
#extranav img.icon {margin:3px 5px 0 15px;vertical-align:middle;}
#extranav a:link, #extranav a:visited { }
#extranav a.blue,  { text-decoration: none; color:#015ba7; }
#extranav a:hover { color:#F10; text-decoration:none; }
#extranav a:hover.blue { color:#F10; text-decoration:none; }
#extranav a span { display:block; color:#000; border-bottom:0px; }
#extranav a:hover span { color:#F10; background-color:#FFF; border-bottom:0px; }


/*JUMPNAV*/
#jumpnavcontainer { width:176px; text-align:left; margin: 10px 10px 20px 9px; }
#jumpnav_top { width:176px; height:7px; margin:0}
#jumpnav_nextsteps { width:176px; height:20px;margin:0}
#jumpnav_bottom { width:176px; height:7px;margin:0}
#jumpnav {}
#jumpnav h1 {font: normal 14px/14px Verdana, Arial; color:#F10; }
#jumpnav h3 {font: bold 14px/14px Verdana, Arial; color:#000; padding:3px 3px 4px 0; border-bottom:1px solid #CCC; }
#jumpnav ul {list-style: none; padding:0 1px; color:#000; }
#jumpnav li {padding: 4px 0; border-bottom:0; }
#jumpnav p {padding: 4px 15px 4px 15px; }
#jumpnav img.icon { border:0; vertical-align:middle; padding: 0 5px 0 15px} 
#jumpnav a:link, #extranav a:visited { }
#jumpnav a.blue{ text-decoration: none; color:#015ba7; }
#jumpnav a:hover,#jumpnav a:hover.blue { color:#F10; text-decoration:none; }
#jumpnav a span { display:block; color:#000; border-bottom:0px; }
#jumpnav a:hover span { color:#F10; background-color:#FFF; border-bottom:0px; }

#related ul {padding: 0px 1px 20px 1px; margin:0;list-style:none}
#related li {clear:both; font: normal 11px Verdana, Arial; padding: 4px 0px 4px 0px;}

/*RELATED NAV*/
#relatedcontainer { width: 176px; margin: 15px 9px 5px 9px; }
/*div#content.col4 #relatedcontainer{margin:15px 0 5px 9px;}*/
#relatedcontainer.right { float:right; }
#related_top { width:176px; height:7px; background:url(images/bg_related_top.gif) top left no-repeat; }
#related_bottom { width:176px; height:19px; background:url(images/bg_related_bottom_wh.gif) top left no-repeat; }
#related_bottom.bg { background:url(images/bg_related_bottom_tan.gif) top left no-repeat; }
#related {  background: url(images/bg_related_center.gif) top left repeat-y; }
#related h3,#related h4 { font: bold 12px/12px Verdana, Arial; color:#000; padding:3px 3px 4px 10px; border-bottom:1px solid #CCC; }
#related img.icon { border:0; vertical-align:middle; padding:3px 5px 4px 10px; float:left }
#related a:link, #related a:visited { text-decoration: none; color:#333; line-height:13px }
#related a:hover { color:#F10; text-decoration:none; }
#related li span { padding: 4px 15px 4px 15px; }
#related a span { display:block; padding:0 10px 0 15px; margin: 0 1px;color:#333}
#related a:hover span { color:#F10; background-color:#FFF; padding:0 10px 0 15px; margin: 0 1px}
#relatedvideo { width: 176px; margin: 15px 9px 5px 9px; }
#relatedobjects { float: right; }




/*CONTENTTABS*/
#contenttabscontainer { float:left; width:540px; margin:0 0 0 0; padding:0px; text-align:left; }
#contenttabs { float:left; width:540px; height:100%; font: normal 11px/13px Verdana, Arial; background:#FFF url(images/bg_contenttab.gif) bottom left repeat-x;  }
#contenttabs ul { margin:0 0 0 0; padding:0px 0px 0 0px; list-style:none; } 
#contenttabs li { display:inline; margin:0; padding:0; }
#contenttabs a { float:left; background:url(images/contenttab_left.gif) no-repeat left top; margin:0; padding:0 0 0 4px;  text-decoration:none; bottom-border:1px solid #b5b5a2; }
#contenttabs a span { float:left; display:block; background:url(images/contenttab_right.gif) no-repeat right top; padding:5px 15px 3px 6px; margin:0 0 0 1px; color:#000; text-decoration:none; bottom-border:1px solid #b5b5a2; }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#contenttabs a span {float:none;}
    /* End IE5-Mac hack */
#contenttabs a:hover span { color:#F10; }
#contenttabs a:hover { background-position:0% -42px; }
#contenttabs a.on { background-position:0% -84px; }
#contenttabs a:hover span { background-position:100% -42px; }
#contenttabs a.on span { background-position:100% -84px; font-weight:bold; }
#contenttabs img.icon { border:0px; padding:0 0 0 10px; }

/*CONTENTTABS HOME*/
#contenttabshome { float:left; width:560px; font: normal 11px/13px Verdana, Arial;background:#FFF url(images/bg_contenttabhome.gif) bottom left repeat-x;}
#contenttabshome ul {margin:0 0 0 10px; padding:0; list-style:none;} 
#contenttabshome li { display:inline; margin:0; padding:0;}
#contenttabshome a { float:left; background:url(images/contenttab_left.gif) no-repeat left top; margin:0; padding:0 0 0 0px; text-decoration:none; bottom-border:1px solid #b5b5a2; }
#contenttabshome a span { float:left; display:block; background:url(images/contenttab_right_home.gif) no-repeat right top; padding:5px 15px 3px 6px; margin:0 0 0 1px; color:#000; text-decoration:none; bottom-border:1px solid #999/*#b5b5a2*/; }
    /* Commented Backslash Hack hides rule from IE5-Mac \*/
#contenttabshome a span {float:none;}
    /* End IE5-Mac hack */
#contenttabshome a:hover span { color:#F10; }
#contenttabshome a:hover { background-position:0% -42px; }
#contenttabshome a.on { background-position:0% -84px;}
#contenttabshome a:hover span { background-position:100% -42px; }
#contenttabshome a.on span { background-position:100% -84px; font-weight:bold; }
#contenttabshome img.icon { border:0px; padding:0 0 0 10px; }