#content5login{float:left;width:940px;padding:30px 20px 0px 20px;margin:0;}
#content5login h1{font:bold 18px/18px Verdana, Arial; color:#000; margin:0 0 10px 0}
#content5login h1.red{color:#F10}
#content5login h2{font: bold 12px/14px Verdana, Arial; padding:0; }
#content5login h2.gray{color:#99908c; font: normal 12px/12px Verdana, Arial; }
#content5login h2 a{font: bold 12px/14px Verdana, Arial; padding:0; color:#000; }
#content5login h3{font: bold 12px/12px Verdana, Arial; color:#000; padding: 10px 0 0px 0; }
#content5login h5{font: bold 14px/14px Verdana, Arial; color:#000; padding: 10px 0 10px 0; }
#content5login p{margin:0 20px 0 0}
#content5login img.left{float:left;}
#content5login img.right{float:right;}
#content5login ul{list-style:none;  padding: 6px 0 6px 0}
#content5login li{font: normal 12px/12px ; padding: 5px 0 5px 0}
#content5login li.bullet{background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px}
#content5login li.indent{padding: 5px 0 5px 20px}
#content5login a { list-style:none; padding:0; text-decoration: none; color:#015ba7}
#content5login a.content { list-style:none; padding:0; text-decoration: none; color:#000}
#content5login a:hover { padding:0; text-decoration:none; color:#F10}
#content5login a span{color:#000}
#content5login a:hover span{color:#F10}

#content5loginbottom { padding:10px 20px 10px 20px; margin:0; }
#content5loginbottom p { color:#99908c; font-size:9px;  }
#content5loginbottom a { color:#015ba7; font-size:9px; }

#loginbox { width:744px; margin:0px 98px 0 98px;}
#loginboxextras {width:744px;margin:0px 18px 200px 178px;}
#loginboxextras li{padding:0;font: normal 11px/12px}
#loginboxextras p{width:450px;}
#loginboxextras #desctext{margin-left:60px;}
#loginboxextras #desctext table{width:270px}
#logintext {width:330px; margin: 5px 0 0 10px;border-left:8px solid #fff;padding-left:20px;float:left}

/*LOGIN FIELDS*/
#loginfields{margin:5px 0 0 10px;width:340px;float:left}
#loginfields table {width:300px;border:0}
#loginfields td {border:0}
#loginfields td.col1 { width: 40%;text-align:right; padding:5px 0}
#loginfields td.col2 { width: 60%;padding:5px 0px 5px 5px}
#loginfields td.colspan1 {padding:5; width:100%}

#promotable{margin:50px 220px 0 220px;text-align:center;width:500px;}
#promotable table{float:none;}
.promotabitem{width:450px;text-align:left;height:100px}
#promotable div.promotabitem img{ float:right; border:1px solid #999; margin:10px 0 10px 20px;}
#promotable div.promotabitem div#but_sm{margin:-4px 0 10px 0}

/* LOGIN PROMO CONTENT */
#loginpromo { float:left; width:940px;padding:20px 20px 0px 20px; background:url(images/bg980_login_apex.gif) #e7f0f7; margin:0;}
#loginpromo h1 { font: bold 18px/18px Verdana, Arial; color:#000; margin: 0px 0 10px 0; }
#loginpromo h2 { font: bold 12px/14px Verdana, Arial; padding:0; }
#loginpromo h2.gray { color:#99908c; font: normal 12px/12px Verdana, Arial; }
#loginpromo h2 a { font: bold 12px/14px Verdana, Arial; padding:0; color:#000; }
#loginpromo h3 { font: bold 12px/12px Verdana, Arial; color:#000; padding: 10px 0 0px 0; }
#loginpromo h5 { font: bold 12px/12px Verdana, Arial; color:#000; padding: 10px 0 10px 0; }
#loginpromo p { margin:0 20px 0 0;width:250px;}
#loginpromo img { float:none; }
#loginpromo img.left { float:left; }
#loginpromo img.right { float:right; }
#loginpromo ul { list-style:none;  padding: 6px 0 6px 0px; }
#loginpromo li { font: normal 12px/12px ; padding: 5px 0 5px 0;  }
#loginpromo li.bullet { background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px;  }
#loginpromo li.indent { padding: 5px 0 5px 20px;  }
#loginpromo a { list-style:none; padding:0; text-decoration: none; color:#015ba7; }
#loginpromo a.content { list-style:none; padding:0; text-decoration: none; color:#000; }
#loginpromo a:hover { padding:0; text-decoration:none; color:#F10; }
#loginpromo a span { color:#000; }
#loginpromo a:hover span { color:#F10; }

#summcontainer { float:left; width:340px; margin: 0 10px 0 0; padding:0}

/* QUICKLINKS */
#successbandcontainer { float:left; }
#successbandcontainer h2 { float:left; width:940px; font: bold 14px/14px Verdana, Arial; color:#000; margin:15px 0 0 0; padding:3px 0px 4px 0px; border-bottom:1px solid #CCC; }
#successbandcontainer a { color:#015ba7; }
#successbandcontainer a:hover { color:#f10; }
#successband_quicklinks {float:left; width:120px; margin:10px 0px 0 0px;padding:0; }
#successband_quicklinks.first {width:190px;margin-right:10px;}
#successband_quicklinks.last{width:190px;margin-left:10px;}
#successband_quicklinks p{padding:0; margin:0}
#successband_quicklinks ul{list-style:none; margin:0;}
#successband_quicklinks li{margin:0}
#successband_quicklinks a{color:#015ba7;margin: 8px 0 8px 0}
#successband_quicklinks a:hover{ color:#F10; }
#successband_quicklinks a.hdr{ color:#000; font-weight:bold; margin:8px 0px 0px 0px; }
div#successband_quicklinks.middle{margin:10px 20px 0 20px;padding:0;}
div#successband_quicklinks_img {float:left;padding:0;margin:10px 0px 8px 0px; padding: 1px 1px 9px 1px; background:url(images/th_shadow.gif) top center no-repeat;}
div#successband_quicklinks_img img{margin:0;}
div#successband_quicklinks_img.first{margin:10px 10px 0 0}


#warning{float:left;}
#warning img {float:left;width:40px;padding:0;margin:0}
#warning h2 {width:300px; margin:0 0 0 50px;padding:8px 0 0 0;color:#f10;}
input#password,input#username{width:160px}
