/* CSS Document */

#filterbar {width:540px;float:left; height:24px; padding:5px 0 0 5px; margin:0px; font: bold 11px/11px Verdana, Arial; color:#000; background:url(images/bg_filter.gif) top left repeat-x; vertical-align:middle; }
#filterbar a.content {font: bold 11px/11px Verdana, Arial; color:#000; }


#textlist { float:left; width:540px; margin:0; }
#textlist p {padding: 5px 0 5px 10px; border-bottom:1px dotted #D7D7D7; }
#textlist a {color:#000; }

#textlist4 {float:left; width:740px; margin:0; }
#textlist4 p {padding: 5px 0 5px 10px; border-bottom:1px dotted #D7D7D7; }

#textlist4 a {color:#000;}

.filterhovercss{ position:absolute; padding:4px; visibility: hidden; width: 205px; border:1px solid #99908c; border-bottom: 0; font: normal 11px/11px Verdana, Arial; line-height: 18px; z-index: 100; background-color: #eee; }
.filterhovercss a {color:#000;width:100%;display:block;text-indent:3px;border-bottom:1px dotted #d7d7d7;padding:0;text-decoration: none;font-weight:bold;text-indent: 5px;}
.filterhovercss a:hover{background-color:#FFF;color:#F10;}

table{float:left; font: normal 11px/13px Verdana, Arial; vertical-align:top; color:#000; border:0px; padding:0px; margin:0px; cellpadding:0; cellspacing:0; }
tr { /*height:100%;*/ margin:0px; padding:0px; }
td { /*height: 100%;*/ padding:6px 5px 2px 0; color:#000; }
td.col1,td.col2,td.col3,td.col4,td.col5,td.col6{ width:100%;}

/*LISTCHARTDEFAULT*/

#listchartdefault table { width:100%; }
#listchartdefault tr { border-bottom:1px dotted #d7d7d7; }
#listchartdefault td { font: normal 11px/11px Verdana, Arial; color:#000; text-align:left; padding:3px 5px 3px 5px; }

/*TABLECHARTDEFAULT - EVENT AGENDA TABLE*/

#tablechartdefault table,#eventagenda table { width:100%; }
#tablechartdefault tr,#eventagenda tr { margin:0px; padding:0px 5px 0px 5px; font: normal 11px/11px Verdana, Arial; color:#000; }
#tablechartdefault tr.hdr,#eventagenda tr.hdr { background:#dcdcc0; font: bold 11px/11px Verdana, Arial; color:#000; }
#tablechartdefault td { padding:5px; border-bottom:2px solid #fff; border-right:2px solid #fff; }
#tablechartdefault td.hdr,#eventagenda td.hdr  { font: bold 11px/11px Verdana, Arial; }
#tablechartdefault td ul,#eventagenda td ul { list-style-type:none; padding:0; margin:0;}
#tablechartdefault td li,#eventagenda td li { font: normal 11px/11px; background: url(images/bullet_4sq.gif) transparent top left no-repeat; padding: 5px 0 5px 20px; margin:2px 0 2px 0px;} 
#eventagenda td { padding:5px}





/*TABLECHART4COL*/

#tablechart4col table{width:730px;border:1px solid #f3f3ec;background:url(images/bg_contentbox3.gif) #f3f3ec repeat-x top left; padding-top:10px;}
#tablechart4col	tr{margin:0px; padding:0px 5px;}
#tablechart4col tr.hdr  td{ font: bold 11px/11px Verdana, Arial; background:#dcdcc0;}
#tablechart4col td{ background:#f3f3ec; padding:5px; border-bottom:2px solid #fff; border-right:2px solid #fff;}


/*STOCKQUOTE*/

#stockquote table { width:190px; }
#stockquote tr { margin:0px; padding:0px 5px 0px 5px; font: normal 11px/11px Verdana, Arial; color:#000; }
#stockquote td.hdr1,#stockquote td.hdr2 { width:80px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#stockquote td.hdr2 {width:110px;}
#stockquote td {padding:5px; border-bottom:2px solid #fff; border-right:1px solid #fff;}

/*EVENT LIST*/

#eventlist table { width:720px; }
#eventlist tr { border-bottom:1px dotted #d7d7d7; }
#eventlist td { padding:3px 5px 3px 5px; }
#eventlist td.hdr1 { width:270px !important; width:280px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif);}
#eventlist td.hdr2 { width:140px !important; width:150px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif);}
#eventlist td.hdr3 { width:120px !important; width:130px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif);}
#eventlist td.hdr4 { width:140px !important; width:150px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif);}

#eventlist td.col1 { width:270px !important; width:280px;}
#eventlist td.col2 { width:140px !important; width:150px;}
#eventlist td.col3 { width:120px !important; width:130px;}
#eventlist td.col4 { width:140px !important; width:150px;}




/*EDU CLASS*/

#educlass table { width:720px; }
#educlass td.hdr1 { width:220px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#educlass td.hdr2 { width:140px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#educlass td.hdr3 { width:160px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#educlass td.hdr4 { width:110px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#educlass td.hdr5 { width:60px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }


#educlass td.col1 { width:220px; }
#educlass td.col2 { width:140px; }
#educlass td.col3 { width:160px; }
#educlass td.col4 { width:110px; }
#educlass td.col5 { width:60px; }


/*EDU CLASS ROLES*/

#educlassroles table { width:540px; }

#educlassroles td.hdr1 {width:100; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#educlassroles td.hdr2 {width:320px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }
#educlassroles td.hdr3 {width:100px; font: bold 11px/11px Verdana, Arial; color:#000; text-align:left; background:url(images/bg_filter.gif); }

#educlassroles td.col1 { width:100px; }
#educlassroles td.col2 { width:320px; }
#educlassroles td.col3 { width:100px; }


/*CUSTOMER FILTER LIST*/

#custfilter table { width:520px; }
#custfilter td.hdr1 { width:120px; }
#custfilter td.hdr2 { width:400px; }
#custfilter td.hdr5 { width:500px; }

/*SUPPORT INDEX CHART LIST*/

#suppindex table,#supppremier table,#platitsucc table { width:538px; margin:0 1px}
#suppindex tr.white,#supppremier tr.white,#platitsucc tr.white {background:#FFF;}
#suppindex td,#supppremier td,#platitsucc td {border-right:1px solid #FFF;}
#suppindex td.hdr1 { width:134px; margin:4px 0 0 0; padding: 5px; background:#dcdcc0;  }
#suppindex td.hdr2,#suppindex td.hdr3,#suppindex td.hdr4   { width:120px; margin:4px 0 0 0; text-align:center; padding:5px; background:#dcdcc0;  }
#suppindex td.col1 { width:134px; padding:5px}
#suppindex td.col2,#suppindex td.col3,#suppindex td.col4 { width:120px; text-align:center; padding:5px;}


/*SUPPORT PREMEIER CHART LIST*/


#supppremier td.hdr1,#supppremier td.hdr3 { width:316px; margin:4px 0 0 0; padding: 4px 5px; background:#dcdcc0; }
#supppremier td.hdr3 {width:200px;text-align:center;}
#supppremier td.col1{ width:316px;padding: 4px 5px;}
#supppremier td.col3{ width:200px;text-align:center;padding: 4px 5px;}



/*PLATFORM IT SUCCESS CHART LIST*/
#platitsucc td.hdr1,#platitsucc td.hdr3 { width:216px; margin:4px 0 0 0; padding: 4px 5px; background:#dcdcc0; }
#platitsucc td.hdr3 {width:300px;}

#platitsucc td.col1 {width:216px; padding: 4px 5px}
#platitsucc td.col3 {width:300px; padding: 4px 5px}