<template>
        <c-slds-modal>
            <span slot="headerContent">{actionConfig.label}</span>
            <span slot="bodyContent">
                <p><lightning-formatted-rich-text value={approvalInfo}></lightning-formatted-rich-text></p>
                <br/>
                <c-slds-input-textarea max-length=255 label={label.comment} placeholder="" value={userComment} onchange={updateComment}></c-slds-input-textarea>
            </span>
            <span slot="footerActions">
                <lightning-button variant={actionConfig.variant} label={actionConfig.label} title={actionConfig.label} onclick={processAction} class="slds-m-left_x-small"></lightning-button>
            </span>
        </c-slds-modal>
</template>