<template>
    <div class="backdrop slds-spinner_container" if:true={showSpinner}>
        <div class="spinner">
            <lightning-spinner alternative-text="Loading..."></lightning-spinner>
        </div>
    </div>
    <article class="slds-card slds-m-top_medium">
        <div class="slds-align_absolute-center slds-m-top_medium">
            <lightning-button variant="brand" label="Download All" onclick={handleDownloadAll}
                class="slds-m-left_x-small">
            </lightning-button>
        </div>

        <div class="slds-card__body slds-card__body_inner">
            <div class="slds-table_edit_container slds-is-relative">
                <!-- Files List Start Here  -->
                <table aria-multiselectable="true" class="slds-table slds-no-cell-focus slds-table_bordered slds-table_edit slds-table_fixed-layout
                    slds-table_resizable-cols slds-max-medium-table_stacked-horizontal" role="grid"
                    style="width: 100%;">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <template for:each={columnConfiguration} for:item="column">
                                <th key={column.fieldApiName} scope="col" style={column.style}>
                                    <div class="slds-grid slds-grid_vertical-align-center slds-has-flexi-truncate">
                                        <div class="slds-text-body_medium slds-p-around_xx-small column-padding" style="word-break: break-word;
                                            white-space: initial;">
                                            {column.heading}</div>
                                    </div>
                                </th>
                            </template>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={data} for:item='item' for:index="index">
                            <tr class="slds-hint-parent" key={item.Id}>
                                <td data-label="ATTACHMENT" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        <div class="slds-form-element__control" data-id={item.contentDocId}
                                            style="cursor: pointer;" onclick={handleDownloadFile}>
                                            <h4 style="color: #2574A9">
                                                {item.docName}
                                            </h4>
                                        </div>
                                    </div>
                                </td>
                                <td data-label="EVIDENCE NOTES" role="gridcell"
                                    style="word-break:break-word;white-space: normal;">
                                    <div class="">
                                        {item.evidenceNotes}
                                    </div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
                <div if:true={isTableEmpty} class="slds-p-top_small slds-text-align_center slds-align_absolute-center">
                    <span class="slds-m-around_small status slds-text-color_error">No Records Found!</span>
                </div>
                <!-- Files List End Here  -->
            </div>
        </div>

    </article>
</template>