<template>
    <div class={containerClass}>
      <div class="slds-text-heading--medium slds-p-around_small tcolor slds-align_absolute-center">
        <h2>{title}</h2>
      </div>
      <div class="slds-text-heading--small slds-p-around_small tcolor slds-align_absolute-center">
        {subtitle}
      </div>
    </div>
  </template>