#social_logins {
    list-style: none;
}

#social_logins li {
    margin-top:5px;
    width: 360px;
    height: 34px;
}

#social_preload {
    width: 0px;
    height: 0px;
    background: url('sfdc_hover.png'),url('sfdc_click.png'),url('facebook_hover.png'),url('facebook_click.png'),url('linkedin_hover.png'),url('linkedin_click.png'),url('google_hover.png'),url('google_click.png');
}

#social_sfdc {
    background-image: url('sfdc.png');
    background-repeat: no-repeat;
}
#social_sfdc:hover {
    background-image: url('sfdc_hover.png');
}
#social_sfdc:active {
    background-image: url('sfdc_click.png');
}

#social_fb {
    background-image: url('facebook.png');
    background-repeat: no-repeat;
}
#social_fb:hover {
    background-image: url('facebook_hover.png');
}
#social_fb:active {
    background-image: url('facebook_click.png');
    background-repeat: no-repeat;
}

#social_linkedin {
    background-image: url('linkedin.png');
    background-repeat: no-repeat;
}
#social_linkedin:hover {
    background-image: url('linkedin_hover.png');
}
#social_linkedin:active {
    background-image: url('linkedin_click.png');
}

#social_google {
    background-image: url('google.png');
    background-repeat: no-repeat;
}
#social_google:hover {
    background-image: url('google_hover.png');
}
#social_google:active {
    background-image: url('google_click.png');
}