<apex:component >

<span id="j_id0:j_id1:j_id2:j_id3:j_id73">
<div id="footer">
<div class="nav"><span>United
States </span>|<a
 href="http://www.salesforce.com">1-800-no-software</a>|<a
 href="http://www.salesforce.com/company/privacy.jsp">Privacy
Statement</a>|<a
 href="http://www.salesforce.com/company/security.jsp">Security
Statement</a> <br>
</div>
<div class="fineprint">
<div class="bottom">
<div class="copyright">&copy;
Copyright 2000-2009 salesforce.com, inc. Web-based Customer
Relationship Management (CRM) Software-as-a-Service (SaaS).
<br>
All rights reserved Various trademarks held by their respective owners.
</div>
<div class="address">
Salesforce.com, inc. The Landmark @ One Market, Suite 300, San
Francisco, CA, 94105, United States
<br>
General Enquiries: 415-901-7000 | Fax: 415-901-7040 | Sales:
1-800-no-software
</div>
</div>
</div>
</div>
</span>    
       

</apex:component>