<template>
    <template if:true={showSpinner}>
        <div class="backdrop">
            <div class="spinner">
                <lightning-spinner alternative-text="Loading..."></lightning-spinner>
            </div>
        </div>
    </template>

    <h1>Service Desk - Request Master Data Tickets </h1>

    <h2 class="slds-m-top_small slds-m-bottom_small">Please provide information below:</h2>
    <!-- <template if:true={showRequestNameLookup}>
        <c-karl_custom_lookup_cmp label="Request Name" parent-request-item-list={selectedRequestItem}
            onrecordselect={handleRecordSelect} objectname={objectname} filter-field={filterfield}
            secondary-label={secondaryfield} isrequired={showRequestNameLookup}>
        </c-karl_custom_lookup_cmp>
    </template> -->

    
    <lightning-input name="requestNameText" label="Request Name"
    value={serviceDeskWrapper.requestNameText} onchange={handleChange} required></lightning-input>

    <lightning-textarea name="dataUpdateReason" label="Describe Data Update Reason"
        value={serviceDeskWrapper.dataUpdateReason} onchange={handleChange}></lightning-textarea>
    <lightning-textarea name="requestDescription" label="Request Description"
        value={serviceDeskWrapper.requestDescription} onchange={handleChange} required></lightning-textarea>
    <lightning-combobox name="type" label="Type" value={serviceDeskWrapper.type} placeholder="Select Type"
        options={typeOptions} onchange={handleChange} required>
    </lightning-combobox>
    <lightning-dual-listbox 
        name="areaOfCompliance"
        label="Area of Compliance"
        source-label="Available"
        selected-label="Selected"
        field-level-help="Select your preferred languages"
        value={serviceDeskWrapper.areaOfCompliance}
        options={areaOfComplianceOptions}
        onchange={handleChange}>
    </lightning-dual-listbox>

    <lightning-combobox 
        name="businessUnit" 
        label="Business Unit" 
        value={serviceDeskWrapper.businessUnit}
        placeholder="Select Type"
        options={businessUnitOptions} 
        onchange={handleChange} 
        required>
    </lightning-combobox>
    <template if:true={isdatafetch}>
        <c-karl_multiselect_custom_lookup object-name="Control_Test__c"  label = "Control Number" onselected={selectedControlUnitRecords} parentrecords={serviceDeskWrapper.controltestlist}></c-karl_multiselect_custom_lookup>
        <c-karl_multiselect_custom_lookup object-name="Area_Requirement__c" label = "Area Requirement" onselected={selectedAreaUnitRecords} parentrecords={serviceDeskWrapper.arearequirmentlist}></c-karl_multiselect_custom_lookup>
    </template>
    

    <div class="slds-m-top_small slds-clearfix">
        <lightning-button class="slds-float_left" label="Cancel" variant="Neutral" onclick={handlePrevious} ></lightning-button>
        <lightning-button class="slds-float_right slds-m-left_small" label="Submit" variant="brand" onclick={handleNext} ></lightning-button> 
        <lightning-button class="slds-float_right" label="Save" variant="brand" onclick={handleNext} ></lightning-button> 
    </div>

    <c-karl_modal if:true={isShowPreviousModal} onclose={handlePreviousModalNoClick} onyes={handlePreviousModalYesClick}
        confirmation-message="Do you want to cancel the Service Desk Request?"></c-karl_modal>
</template>