div.heatmapLabelContainer {
  float:left; 
  width: 100px;
  vertical-align: text-middle;
}
div.heatmapIndicatorContainer {
  float:left; 
  max-width: 400px;
  vertical-align: text-middle;
}
div.heatmapSummaryContainer {
  float:left; 
  max-width: 400px;
  min-width: 175px;
}
@media only screen and (max-device-width: 320px) {
  div.heatmapTableRow {
    clear: both; float: left; display: inline-block; position: relative;
     border-width: 2px;
     border-bottom-width:2px;
     border-bottom-color: #dddddd;
     border-bottom-style: dashed;
     width: 310px;
  }
}
@media (min-width: 720px) {
  div.heatmapTableRow {
    clear: both; float: left; display: inline-block; position: relative;
     border-width: 2px;
     border-bottom-width:2px;
     border-bottom-color: #dd0000;
     border-bottom-style: dashed;
  }
}
.heatmapTable {
  white-space:nowrap;
}
.column_one {
  float: left;
  font-weight: bold;
  padding-top: 17px;
  min-width: 90px;
  font-size: 12px;
}
.column_indicator {
  float: left;
  display: inline-block;
  width: 35px;
}
.column_summary {
  float: left;
  white-space:normal;
  display: inline-block;
  font-size: 11px;
}
.tmm_heatmap_header {
  float: left;
  position: relative;
  top: 0px;
  left: 55px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
  height: 120px;
  -ms-transform:skew(-45deg,0deg);
  -moz-transform:skew(-45deg,0deg);
  -webkit-transform:skew(-45deg,0deg);
  -o-transform:skew(-45deg,0deg);
  transform:skew(-45deg,0deg);
  overflow: hidden;  word-wrap: break-word;
  width: 35px;
  padding:  0px; margin: 0px;
}
div.tmm_heatmap_header span {
  -ms-transform:skew(45deg,0deg) rotate(315deg);
  -moz-transform:skew(45deg,0deg) rotate(315deg);
  -webkit-transform:skew(45deg,0deg) rotate(315deg);
  -o-transform:skew(45deg,0deg) rotate(315deg);
  transform:skew(45deg,0deg) rotate(315deg);
  position: absolute;
  bottom: 28px; /* 40 cos(45) = 28 with an additional 2px margin*/
  left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
  display: inline-block;
  // width: 100%;
  width: 85px;
  text-align: left;
  // white-space: nowrap; /*whether to display in one line or not*/
  border-bottom: 1px dashed #ccc;
  padding:  0px; margin: 0px;
  font-weight: bold;
  font-size: 12px;
}

