.chart-mobile-max {
    max-width: 700px;
}

svg .tooltip { opacity: 1; }

#fork {
position: absolute;
top: 0;
right: 0;
border: 0;
}
.legend {
width: 10em;
border: 1px solid black;
}
.legend .title {
display: block;
margin: 0.5em;
border-style: solid;
border-width: 0 0 0 1em;
padding: 0 0.3em;
font-size: 10px;
}
.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}
  .huge {
    font-size: 30px;
    padding-bottom: 10px;
}
.CSSTableGenerator {
  margin:0px;padding:0px;
  border:1px solid #ffffff;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;padding:0px;
  text-align: center;
}.CSSTableGenerator tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
  background-color:#cccccc;
    

}
.CSSTableGenerator td{
  vertical-align:middle;
  
  background-color:#e8edf2;

  border:1px solid #ffffff;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:5px;
  font-size:10px;
  font-family:Verdana;
  font-weight:normal;
  color:#000000;
}.CSSTableGenerator tr:last-child td{
  border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
  border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
    background:-o-linear-gradient(bottom, #c9d7e5 5%, #c9d7e5 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c9d7e5), color-stop(1, #c9d7e5) );
  background:-moz-linear-gradient( center top, #c9d7e5 5%, #c9d7e5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9d7e5", endColorstr="#c9d7e5");  background: -o-linear-gradient(top,#c9d7e5,c9d7e5);

  background-color:#c9d7e5;
  border:0px solid #ffffff;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:12px;
  font-family:Verdana;
  font-weight:bold;
  color:#000000;
}
.CSSTableGenerator tr:first-child:hover td{
  background:-o-linear-gradient(bottom, #c9d7e5 5%, #c9d7e5 100%);  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #c9d7e5), color-stop(1, #c9d7e5) );
  background:-moz-linear-gradient( center top, #c9d7e5 5%, #c9d7e5 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#c9d7e5", endColorstr="#c9d7e5");  background: -o-linear-gradient(top,#c9d7e5,c9d7e5);

  background-color:#c9d7e5;
}
.CSSTableGenerator tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}