
body {
  font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  font-weight: 400;
}

p, span, a, ul, li, button {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

strong {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5em;
  font-weight: 300; 
}

strong {
  font-weight: 400;
}

.tile {  
  width: 100%;
  display: inline-block;
  background: #fff;   
  padding: 5px;
  padding-bottom: 10px;
  margin: 5px;
}

.tile_footer {  
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  background: #fff;   
  margin-bottom: 30px;
  padding: 5px;
  padding-left: 20px;
  height: 30px;
}


.tile title {
    margin-top: 0px;
  }
  
  @media print {
    .tile.green {
      background: #27ae60;
     -webkit-print-color-adjust: exact; 
    }
  }

  .purple, .blue, .red, .orange, .green {
    color: #fff;
  }
  
  .tile.purple {
    background: #5133AB;
   -webkit-print-color-adjust: exact; 
  }

  .red {
    background: #AC193D;

    &:hover {
      background: darken(#AC193D, 10%);
    }   
  }

  .green {
    background: #27ae60;
  }
  
  .yellow {
    background: #f1c40f;
  }

  .blue {
    background: #2672EC;
  }
  
  .orange {
    background: #DC572E;
  }
