.timeline-black text {
  font-family: "Helvetica";
  font-size: 9px;
  font-weight: 200;
  letter-spacing: 1px;
      fill: #000;
    stroke: #000;

  }
  .timeline-yellow text {
  font-family: "Helvetica";
  font-size: 9px;
  font-weight: 200;
  letter-spacing: 1px;
      fill: #f69f15;
    stroke: #f69f15;
  }
  .timeline-red text {
  font-family: "Helvetica";
  font-size: 9px;
  font-weight: 200;
  letter-spacing: 1px;
      fill: #F00;
    stroke: #F00;
  }
  .timeline-green text {
  font-family: "Helvetica";
  font-size: 9px;
  font-weight: 200;
  letter-spacing: 1px;
      fill: #27ae60;
    stroke: #27ae60;
  }
  .timeline-blue text {
  font-family: "Helvetica";
  font-size: 9px;
  font-weight: 300;
  letter-spacing: 1px;
      fill: #00F;
    stroke: #00F;
  }  