<template>
    <article class="slds-card">
        <div class="slds-card__header slds-grid">
            <header class="slds-media slds-media_center slds-has-flexi-truncate">
                <div class="slds-media__figure">
                    <lightning-icon slot="media" icon-name="standard:data_model" alternative-text="Controls" title="Controls" size="small"></lightning-icon>
                </div>
                <div class="slds-media__body">
                    <h2 class="slds-card__header-title">Associated Controls</h2>
                </div>
                <div class="slds-no-flex">
                  <button class="slds-button slds-button_neutral" disabled={isExternalAuditor} onclick={openCreateModal}>Map Control</button>
                </div>
            </header>
        </div>
        <div class="slds-card__body slds-card__body_inner">
            <!-- Show Cycle Request data when REQ is loaded -->
			<template if:true={records}>
                <ul class="slds-has-dividers_around">
                    <template for:each={controlsData} for:item="controlItem">
                        <div key={controlItem.Id} class="slds-item">
                            <c-karl_mapping_controls_tile controlitem={controlItem} onkarlrecordview={handleRecordView} onkarledit={openUpdateModal} onkarldelete={openDeleteModal}></c-karl_mapping_controls_tile>
                        </div>
                    </template>
                </ul>
			</template>
			<template if:false={records}>
				<div class="slds-box slds-theme--warning slds-text-title_bold slds-text-color_weak">
					This evidence request is not currently mapped to any controls.
				</div>
			</template>
			<!-- Data failed to load -->
			<template if:true={error}>
				<div class="slds-text-color_error">
					An error occurred while loading the Associated Controls component.
				</div>
			</template>
        </div>
    </article>
    <!-- Delete Record -->
    <c-karl_modal if:true={showDeleteModal} onclose={closeDeleteModal} onyes={deleteRecord}
        confirmation-message={deleteRecordConfirmationMsg}></c-karl_modal>
    <!-- Create Record -->
    <c-karl_mapping_controls_modal if:true={showCreateModal} onclose={closeCreateModal} onsuccess={handleCreateSubmit}
        parentrecord={parentId}></c-karl_mapping_controls_modal>
    <!-- Edit Record -->
    <c-karl_mapping_controls_modal if:true={showUpdateModal} onclose={closeUpdateModal} onsuccess={handleUpdateSubmit}
        targetrecord={recordTarget}></c-karl_mapping_controls_modal>
</template>