<template>
    <div class="slds-box slds-theme_default slds-theme_backgroundColor-white">
    <div class="slds-text-heading_small"><b>Create a New Data Asset</b></div>
     
    <br>
     <lightning-record-edit-form object-api-name={dataassetobj} onsuccess={openModal}>
            <lightning-messages></lightning-messages>
            <div class="slds-grid">
                <div class="slds-col slds-size_1-of-2">
                    <br>
                    <Section><p><b>Basic Information</b></p>
                    <br>
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Asset Name</label>
                    <!--<lightning-helptext class="customIcon" content= "Information that is treated as an asset of the company. This can be at the object/entity level or at an attribute level. Data asset is a logical concept and can be located in multiple data centers across multiple geo locations" ></lightning-helptext>-->
                    <lightning-input-field field-name={dataassetobjname} variant="label-hidden" required={makerequired}></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Asset Description</label>
                    <!-- <lightning-helptext class="customIcon" content= "Describe the asset and how it is used" ></lightning-helptext> -->
                    <lightning-input-field field-name={dataassetobjdescription} variant="label-hidden"></lightning-input-field>

                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Is it Parent Data Asset?</label>
                    <lightning-input-field field-name={isParent} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Parent Data Asset</label>
                    <!-- <lightning-helptext class="customIcon" content= "If applicable, for an attribute or another data asset specify the parent asset" ></lightning-helptext> -->
                    <lightning-input-field field-name={parentDataAsset} variant="label-hidden"></lightning-input-field>
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Asset Type</label>
                    <lightning-input-field field-name={dataassettype} variant="label-hidden"></lightning-input-field>
                   
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Store</label>
                    <!-- <lightning-helptext class="customIcon" content= "Where is the Data Stored? If it is not listed here, please add it" ></lightning-helptext> -->
                    <lightning-input-field field-name={datastore} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Gus Team</label>
                    <lightning-input-field field-name={gusteam} variant="label-hidden"></lightning-input-field>
                    </Section>
                    <br>
                    <hr>
                    <Section><p><b>Data Classification Details</b></p>   
                    <br>    
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Classification</label>
                    <!-- <lightning-helptext class="customIcon" content= "To comply with both sfdc policies and the external accrediations like ISO 27001, SOC and FedRAMP, all data written into persistent storage must be classified" ></lightning-helptext> -->
                    <lightning-input-field field-name={dataclassification} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Category</label>
    
                    <!-- <lightning-helptext class="customIcon" content= "The data types are a discrete taxonomy from corporate data classification taxonomy. They are based on the ISO standard for data classifiction, 19944. We need them because the 5 catagories from corporate taxonomy dont't distinguish between applogs, infrastructure logs, platform secrets and some other scenarios" ></lightning-helptext> -->
                   
                    <lightning-input-field field-name={datacategory} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Identification Category</label>
                    <lightning-input-field field-name={dataidentificationcategory} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">IsEncrypted</label>
                    <lightning-input-field field-name={isencrypted} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Crypto Algorithm</label>
                    <lightning-input-field field-name={cryptoAlgo} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Customer Data Category</label>
                    <lightning-input-field field-name={customerdatacategory} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Is Personal Data Limited To purpose</label>
                    <lightning-input-field field-name={datalimitedtopurpose} variant="label-hidden"></lightning-input-field>
                    <abbr title="required" class="slds-required">*</abbr>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Status</label>
                    <lightning-input-field field-name={statusField} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Comments</label>
                    <lightning-input-field field-name={comments} variant="label-hidden"></lightning-input-field>
                </Section>
                <br>
                <hr>
                <Section><p><b>Legal Basis</b></p>  
                    <br>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Basis For Processing</label>
                    <lightning-input-field field-name={basisForProcessing} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Link To Balancing Argument document</label>
                    <lightning-input-field field-name={linktobalancing} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Link To Exception For Basis For Processing</label>
                    <lightning-input-field field-name={linktoexception} variant="label-hidden"></lightning-input-field>
                </Section>
                <br>
                <hr>
                <Section><p><b>Data Retention Details</b></p> 
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Time Unit</label>
                    <lightning-input-field field-name={timeUnit} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Retention Process</label>
                    <!-- <lightning-helptext class="customIcon" content= "How retention is implemented, (manual,daily automated job, continuous rollover etc) an automated method is preferrable but if the process is not automated just enter 'manual' " ></lightning-helptext> -->
                    <lightning-input-field field-name={retentionProcess} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Data Retention Period</label>
                    <lightning-input-field field-name={dataRetentionPeriod} variant="label-hidden" ></lightning-input-field>
                </Section>
              <br>
              <hr>
              <Section><p><b>Compliance Miscellaneous</b></p> 
                <br>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Has DPIA Been Performed</label>
                    <lightning-input-field field-name={hasdpiaperformed} variant="label-hidden"></lightning-input-field>
                    <label class="slds-form-element__label" style="margin-right: 0.5rem;">Can Consumers Access Data</label>
                    <lightning-input-field field-name={canconsumersaccessdata} variant="label-hidden"></lightning-input-field>
              </Section>
                 <br>
                    <div class="slds-m-top_medium">
                        <lightning-button variant="brand" type="submit" name="save" label="Submit"></lightning-button>
                        </div>
                    
                </div>
             </div>
        </lightning-record-edit-form>
    </div>
    <template if:true={bShowModal}>
        <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true" aria-describedby="modal-content-id-1" class="slds-modal slds-fade-in-open">
           <div class="slds-modal__container">
              <!-- modal header start -->
              <!-- modal body start -->
              <div class="slds-modal__content slds-p-around_medium" >
                <div class="slds-align_absolute-center" style="height:5rem">
                    <p>Form Submitted Successfully</p>
                  </div> 
              </div>
              <!-- modal footer start-->
              <footer class="slds-modal__footer">
                 <button class="slds-button slds-button_neutral" onclick={closeModal}>Ok</button>
              </footer>
           </div>
        </section>
        <div class="slds-backdrop slds-backdrop_open"></div>
     </template>
    </template>