.THIS .slds-leftpad{
	padding-left: 2rem;
}
.THIS .iconheight{
    top: 42%;
}
.THIS .slds-grow
{
    padding-left: 21%;
}
.THIS .user-result{
    left:51%;
}
.THIS label{
    font-weight: bold;
}
.THIS .slds-grow{
    padding-left:unset;
}
.THIS.slds-icon{
    fill: darkgray !important;
}