.THIS {
}

.THIS .esa-theme-shade-dark {
   background-color: token(esaColorBackgroundShadeDark);
}

.THIS .esa-hide-label label {
    display:none;
}

.THIS .esa-block {
    display: block;
}

.THIS .esa-inline {
    display: inline;
}

.THIS .esa-inline-block {
    display: inline-block;
}

.THIS .esa-no-wrap {
    white-space: nowrap;
}

.THIS .esa-wrap {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    word-break: break-word;
}

.THIS .esa-overlay {
    z-index: 1000;
}

.THIS .esa-richtext ol, 
.THIS .esa-richtext ul {
    padding-left: 1.5em;
    list-style: inherit;
}

.THIS .esa-no-left-border,
.THIS .esa-no-left-border .slds-input {
    border-left: 0;
}

.THIS .esa-no-right-border,
.THIS .esa-no-right-border .slds-input {
    border-right: 0;

}

.THIS .esa-no-left-border-radius,
.THIS .esa-no-left-border-radius .slds-input {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.THIS .esa-no-right-border-radius,
.THIS .esa-no-right-border-radius .slds-input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.THIS ::-webkit-input-placeholder { /* Edge */
    opacity: 0.8;
  }
  
.THIS  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    opacity: 0.8;
  }
  
.THIS  ::placeholder {
    opacity: 0.8;
  }