<template>
    <li class="karlTile">
		<template if:true={isPrimary}>
            <div class="slds-grid slds-has-flexi-truncate slds-var-p-around_x-small">
                <div class="slds-tile slds-col slds-medium-size--5-of-6" onclick={handleOpenRecordClick}>
                    <p class="slds-tile__title slds-text-heading_small slds-truncate"><strong><span class="karl-faux_link">{reportitem.KARL_Report_Type__c}</span> <span if:true={reportitem.KARL_Type_I__c}>Type I</span></strong></p>
                    <div class="slds-tile__detail slds-text-body--small">
                        <ul class="slds-list_horizontal slds-has-dividers_left slds-text-body--small slds-wrap">
                            <li class="slds-truncate slds-list__item"><strong>Auditor:</strong>&nbsp;{reportitem.KARL_Audit_Firm__r.Name}</li>
                            <li class="slds-truncate slds-list__item"><strong>Audit Cycles:</strong>&nbsp;{reportitem.KARL_Cycle_Alignment__c}</li>
                            <li if:true={KARL_Expiry_Date__c} class="slds-truncate slds-list__item"><strong>Expires:</strong>&nbsp;{reportitem.KARL_Expiry_Date__c}</li>
                        </ul>
                    </div>
                </div>
                <div class="slds-tile__detail slds-col slds-medium-size--1-of-6">
                    <div class="slds-float--right" style="width: 70px;">
                        <lightning-button-icon icon-name="utility:settings" alternative-text="Settings" title="Settings" onclick={handleEditClick}></lightning-button-icon>
                        <lightning-button-icon icon-name="utility:delete" alternative-text="Delete" class="slds-m-left_xx-small" title="Delete" onclick={handleDeleteClick}></lightning-button-icon>
                    </div>
                </div>
            </div>
        </template>
		<template if:true={isParent}>
            <div class="slds-grid slds-has-flexi-truncate slds-var-p-around_x-small">
                <div class="slds-tile slds-col slds-medium-size--5-of-6" onclick={handleOpenRecordClick}>
                    <p class="slds-tile__title slds-text-heading_small slds-truncate"><strong><span class="karl-faux_link">{reportitem.KARL_Audit_Scope_Report__r.KARL_Triggered_Report_Name__c}</span></strong></p>
                    <div class="slds-tile__detail slds-text-body--small">
                        <ul class="slds-list_horizontal slds-has-dividers_left slds-text-body--small slds-wrap">
                            <li class="slds-truncate slds-list__item"><strong>Auditor:</strong>&nbsp;{reportitem.KARL_Audit_Scope_Report__r.KARL_Audit_Firm__r.Name}</li>
                            <li class="slds-truncate slds-list__item"><strong>Audit Cycles:</strong>&nbsp;{reportitem.KARL_Audit_Scope_Report__r.KARL_Cycle_Alignment__c}</li>
                        </ul>
                    </div>
                </div>
                <div class="slds-tile__detail slds-col slds-medium-size--1-of-6">
                    <div class="slds-float--right" style="width: 70px;">
                        <lightning-button-icon icon-name="utility:settings" alternative-text="Settings" title="Settings" onclick={handleEditClick}></lightning-button-icon>
                        <lightning-button-icon if:true={isKarlAdmin} icon-name="utility:delete" alternative-text="Delete" disabled={notKarlAdmin} class="slds-m-left_xx-small" title="Delete" onclick={handleDeleteClick}></lightning-button-icon>
                    </div>
                </div>
            </div>
        </template>
		<template if:true={isChild}>
            <div class="slds-grid slds-has-flexi-truncate slds-var-p-around_x-small">
                <div class="slds-tile slds-col slds-medium-size--5-of-6" onclick={handleOpenRecordClick}>
                    <p class="slds-tile__title slds-text-heading_small slds-truncate"><strong><span class="karl-faux_link">{reportitem.KARL_Parent_Audit_Scope__r.Name}</span></strong></p>
                    <div if:true={inclusionText} class="slds-tile__detail slds-text-body--small">
                        <ul class="slds-list_horizontal slds-has-dividers_left slds-text-body--small slds-wrap">
                            <li class="slds-truncate slds-list__item"><strong>Included in report</strong>&nbsp;{reportitem.KARL_Report_Type__c}</li>
                        </ul>
                    </div>
                </div>
                <div class="slds-tile__detail slds-col slds-medium-size--1-of-6">
                    <div class="slds-float--right" style="width: 35px;">
                        <lightning-button-icon if:false={isChildMaster} icon-name="utility:delete" alternative-text="Delete" class="slds-m-left_xx-small" title="Delete" onclick={handleDeleteClick}></lightning-button-icon>
                    </div>
                </div>
            </div>
        </template>
    </li>
</template>