<template>
    <li class="karlTile" onclick={handleOpenRecordClick}>
        <div class="slds-media slds-tile">
            <div class="slds-media__figure">
                <lightning-icon slot="media" icon-name={iconFullStatus} variant={iconShortStatus} alternative-text={areq.KARL_Status__c} title={areq.KARL_Status__c} size="small"></lightning-icon>
            </div>
            <div class="slds-media__body">
                <p class="slds-tile__title slds-truncate"><span class="karl-faux_link slds-text-link_faux">{areq.KARL_Audit_Team__r.Name}</span></p>
                <div class="slds-tile__detail slds-text-body--small">
                    <p class="slds-truncate">{areq.KARL_Status__c}</p>
                    <p class="slds-truncate">{areq.Name}</p>
                </div>
            </div>
        </div>
    </li>
</template>